
<h3>Installatron: <span lng>web application installer</span></h3>

<div>
   <div class="text-center">
     <button class="btn btn-success" ng-click="start()" lng>Start superuser session</button>
   </div>
</div>
