<!-- note ng-repeat here, it was needed for angular to rerender this DOM block so then even the currentTitle was retranslated by the lng directive -->
    <li ng-repeat="acurrent in [current]"  ng-if="current"  metis-menu>
        <a href="#" class="bold"><span lng="{{currentTitle}}"></span> <span class="fa arrow"></span></a>
        <ul class="nav nav-third-level">
            <li ng-repeat="(key,title) in acurrent"><a href ng-click="jump(key)" lng="{{::title}}"></a></li>
        </ul>
    </li>

    <li  ng-repeat="(category,menus) in others" metis-menu>
        <a href="#"><span lng="MENU_CATEGORY_{{::category}}"></span> <span class="fa arrow"></span></a>
        <ul class="nav nav-third-level">
          <li ng-repeat="(key,title) in menus"><a href ng-click="jump(key)" lng="{{::title}}"></a></li>
        </ul>
    </li>

