<script type="text/ng-template" id="itemsWithDisabled.html">
  <a >
      <span ng-class="{disabledRow:match.model.paramsMissing}" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>
        <!--  -->
<div class="input-group custom-search-form">
  <input type="text"
          lng-placeholder="Admin control by name (context aware)"
          ng-model="stateSearch"
          select-on-click
          class="form-control"
          uib-typeahead="state as state.title for state in getStates($viewValue)"        
          autocomplete="off" 
          typeahead-editable="false"
          typeahead-template-url="itemsWithDisabled.html"
          typeahead-on-select="onSelect($item, $model, $label)"/>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>

