<form ng-if="hasAnything" class="well form-inline">
  <div ng-if="isSuperuser" class="form-group">
    <mc-state-search></mc-state-search>
  </div>

  <div ng-if="current" class="form-group inline-padding">

    <div class="dropdown">
       <a href class="dropdown-toggle" data-toggle="dropdown"><span lng="{{currentTitle}}"></span> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="(key,title) in current"><a href ng-click="jump(key)" lng="{{::title}}"></a></li>
        </ul>
    </div>

  </div>

  <div ng-repeat="(category,menus) in others" class="form-group inline-padding">

    <div class="dropdown">
       <a href class="dropdown-toggle" data-toggle="dropdown"><span lng="MENU_CATEGORY_{{::category}}"></span> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="(key,title) in menus"><a href ng-click="jump(key)" lng="{{::title}}"></a></li>
        </ul>
    </div>

  </div>

</form>
