<h3 lng>Scheduled operations</h3>  

<table  mc-grid="crontabs" class="margintop lastColumnThin">
  <caption lng>Scheduled operations</caption>
      <thead>
        <tr>
          <th st-sort="u_name" lng>Account</th>
          <th st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="cronExpression" lng>Time expression</th>
          <th st-sort="type" lng>Type</th>
          <th st-sort="data" lng>Operation</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="cron in displayedCollection">
  <td><a href mc-switch-user-superuser="{{:: cron.user_id }}">{{ cron.u_name || cron.user_id }}</a></td>
  <td>{{:: cron.wh_name }} ({{::cron.wh_id }})</td>

  <td>{{ cron.cronExpression }}</td>
  <td>{{ cron.type }}</td>

  <td>{{ cron.data }}</td>

  <td>
    <button class="btn btn-warning" ng-click="delete(cron)" lng>Delete</button>
  </td>
</tr>


</tbody>
</table>

