/* Styles go here */
.padding-small {
   padding: 10px;
}

.form-group .help-block {
  display: none;
}
 
.form-group.has-error .help-block {
  display: block;
}

.bold {
  font-weight: bold;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.editAccountTelTable thead th:nth-child(3), .editAccountTelTable thead th:nth-child(4) {
  width: 10%;
}
.editAccountTelTable tbody td:nth-child(3) {
  text-align: center;
}

.colon::after { 
    content: ":";
}

/* maybe moving to separate file? */
.editSuperuserAccountTable thead th:nth-child(4) {
  width: 10%;
}
.editSuperuserAccountTable tbody td:nth-child(4) {
  text-align: center;
}
.editAccountDomainTable thead th:nth-child(2) {
  width: 10%;
}
.editAccountDomainTable tbody th:nth-child(2) {
  text-align: center;
}

.marginbottom {
  margin-bottom: 10px;
}

.capcha-img {
   border: 1px solid #f2dede;
}

[mc-sorter] .sorter {
  visibility: hidden;
}
[mc-sorter]:hover .sorter {
  visibility: visible;
}

.loginlog-table td:last-child {
   width: 12%;
   text-align: center;
   vertical-align: center;
}

.dns-admin-list thead th:nth-child(2), .twoColumnTable thead th:nth-child(2), .lastColumnThin thead th:last-child {
  width: 10%;
}
.dns-admin-list tbody td:nth-child(2), .twoColumnTable tbody td:nth-child(2), .lastColumnThin tbody td:last-child {
  text-align: center;
}

.protected-dir-table thead th:nth-child(2) {
  width: 10%;
}

.wh-docroot-table thead th:nth-child(3) {
  width: 10%;
}

.courier-rows td {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace
}


#dropfiles.hover { border: 10px dashed #ccc;  }

#aceEditor {
        height: 50vh;
/*
        position: absolute;
*/
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
}

.disabledRow {
  font-style: italic;
}
.disabledRow:hover {
    cursor: not-allowed;
}

.form-inline .inline-padding {
    margin-left: 5px;
}

form[novalidate] div:not([show-errors]) > label.control-label {
    font-style: italic;

}

.mc-margin-top {
  margin-top: 10px;
}

.help-container {
    position: relative;
}
.help-container div {
   display: hidden;
}
  .help-container div {
    display: block;
  }
  .webmail-email1 {
    position: absolute;
    top: 246px;
    left: 222px;
    font-size: 8pt;
  }
  .webmail-webmail1 {
    position: absolute;
    top: 54px;
    left: 112px;
    font-size: 8pt;
  }
  .webmail-webmail2 {
    position: absolute;
    top: 40px;
    left: 86px;
    font-size: 8pt;
  }
  .outlook-email3 {
    position: absolute;
    top: 184px;
    left: 155px;
    font-size: 8pt;
  }
  .outlook-email4 {
    position: absolute;
    top: 184px;
    left: 155px;
    font-size: 8pt;
  }
  .outlook-email61 {
    position: absolute;
    top: 172px;
    left: 204px;
    font-size: 8pt;
  }
  .outlook-email62 {
    position: absolute;
    top: 318px;
    left: 204px;
    font-size: 8pt;
  }  
  .outlook-server61 {
    position: absolute;
    top: 244px;
    left: 204px;
    font-size: 8pt;
  }  
  .outlook-server62 {
    position: absolute;
    top: 268px;
    left: 204px;
    font-size: 8pt;
  }  
  .thunderbird-email3 {
    position: absolute;
    top: 94px;
    left: 114px;
    font-size: 8pt;
  }
  .thunderbird-email4 {
    position: absolute;
    top: 94px;
    left: 114px;
    font-size: 8pt;
  }  
  .thunderbird-server61 {
    position: absolute;
    top: 226px;
    left: 178px;
    font-size: 8pt;
  }  
  .thunderbird-server62 {
    position: absolute;
    top: 248px;
    left: 178px;
    font-size: 8pt;
  }  

  .thunderbird-email61 {
    position: absolute;
    top: 80px;
    left: 94px;
    font-size: 8pt;
  }  
  .thunderbird-email62 {
    position: absolute;
    top: 272px;
    left: 178px;
    font-size: 8pt;
  }  
  .thebat-user1 {
    position: absolute;
    top: 182px;
    left: 164px;
    font-size: 8pt;
  }  
  .thebat-email2 {
    position: absolute;
    top: 238px;
    left: 164px;
    font-size: 8pt;
  }
  .thebat-email4 {
    position: absolute;
    top: 172px;
    left: 272px;
    font-size: 8pt;
  }
  .thebat-server31 {
    position: absolute;
    top: 254px;
    left: 164px;
    font-size: 8pt;
  }
  .thebat-server32 {
    position: absolute;
    top: 300px;
    left: 164px;
    font-size: 8pt;
  }  
  .thebat-server61 {
    position: absolute;
    top: 78px;
    left: 304px;
    font-size: 8pt;
  }
  .thebat-server62 {
    position: absolute;
    top: 168px;
    left: 304px;
    font-size: 8pt;
  }
  .thebat-email6 {
    position: absolute;
    top: 198px;
    left: 304px;
    font-size: 8pt;
  }
  .android-email1 {
    position: absolute;
    top: 148px;
    left: 20px;
    font-size: 12pt;
  }
  .android-server3 {
    position: absolute;
    top: 212px;
    left: 28px;
    font-size: 12pt;
  }
  .android-email3 {
    position: absolute;
    top: 112px;
    left: 28px;
    font-size: 12pt;
  }
  .android-server4 {
    position: absolute;
    top: 112px;
    left: 28px;
    font-size: 12pt;
  }
  .android-email4 {
    position: absolute;
    top: 296px;
    left: 28px;
    font-size: 12pt;
  }
  .iphone-server2 {
    position: absolute;
    top: 155px;
    left: 14px;
    font-size: 12pt;
  }
  .iphone-email2 {
    position: absolute;
    top: 238px;
    left: 14px;
    font-size: 12pt;
  }  
  .iphone-server3 {
    position: absolute;
    top: 140px;
    left: 14px;
    font-size: 12pt;
  }
  .iphone-email3 {
    position: absolute;
    top: 218px;
    left: 14px;
    font-size: 12pt;
  }
  .iphone-email4 {
    position: absolute;
    top: 120px;
    left: 14px;
    font-size: 12pt;
  }
  
@media (min-width:1000px) {
}

.helptable .row {  padding: 4px; font-weight: bold;  }
.helptable img {
  max-width: 690px;
  max-height: 500px;
  margin-top: 8px;
  margin-bottom: 8px;
  
}

th[st-sort]:not(.st-sort-ascent):not(.st-sort-descent):after {
    content: "\25FD";
    float: right;
    color: rgba(50, 50, 50, 0.5);
}

  .st-sort-ascent:before {
    content: '\25B4';
    float: right;    
  }

  .st-sort-descent:before {
    content: '\25BE';
    float: right;    
  }

sb2-root h2, sb2-root h3:not(.panel-title) {
margin: 40px 0 20px;
border-bottom: 1px solid #eee;
}


.inner-padding {
    padding: 10px;
}

.monospace {
    font-family: monospace;
}
