<h3 lng>Changing password for e-mail account</h3>



 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" >
        <label class="control-label colon" lng>E-mail address</label>
        <input type="email" class="form-control" ng-readonly="true" name="ea_email" ng-model="eaEmail" >
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password</label>
        <input type="password" class="form-control" name="ea_password" ng-model="account.ea_password" required ng-minlength=8 >
        <p class="help-block"  ng-if="dataForm.ea_password.$error.required" lng>Please enter the password</p>
        <p class="help-block"  ng-if="dataForm.ea_password.$error.minlength" lng>The password is inappropriate (should be at least 8 characters long)</p>
        <p class="help-block"  ng-if="dataForm.ea_password.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password again</label>
        <input type="password" class="form-control" name="c_password_repeat" required ng-model="tmp.c_password_repeat" same-as="account.ea_password" cleanpassword >        
        <p class="help-block"  ng-if="dataForm.c_password_repeat.$error.required" lng>Please repeat the password</p>

        <p class="help-block"  ng-if="dataForm.c_password_repeat.$error['same-as']" lng>The passwords you entered don't match</p>
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>
