  <td class="colon" ><abbr lng-title="Greylisting could improve the efficiency of spam filtering at the cost of increased receive time of e-mails from recipients contacting you the first time" lng>Greylisted status of the domain</abbr></td>
  <td>
     <span ng-show="lookup && !lookup.active" lng>Activate domain first</span>
     <span ng-show="lookup && lookup.active && lookup.greylist" lng>Enabled</span>
     <span ng-show="lookup && lookup.active && !lookup.greylist" lng>Disabled</span>
  </td>
  <td>
      <button ng-show="lookup && lookup.active && !lookup.greylist" class="btn btn-default" ng-click="toGreylistOn()" lng>Turn on</button>
      <button ng-show="lookup && lookup.active && lookup.greylist" class="btn btn-default" ng-click="toGreylistOff()" lng>Turn off</button>
  </td>
