<h3 lng>Cleaning up old e-mails</h3>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" >
        <label class="control-label colon" lng>E-mail address</label>
        <input type="email" class="form-control" ng-readonly="true" name="ea_email" ng-model="eaEmail" >
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Remove messages older than (days)</label>
        <input type="number" class="form-control" name="ea_autoexpunge_days" ng-model="account.ea_autoexpunge_days" min="1"  >
        <p class="help-block"  ng-if="dataForm.ea_autoexpunge_days.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Start</button>
          </div>

        </fieldset>
     </form>
