<h3 lng>E-mail summary</h3>


<div class="table-responsive" ng-if="result">
<table class="table table-striped table-hover margintop">
      <thead>
        <tr>
          <th ng-if="showWebhosting" lng>Webhosting</th>
          <th lng>Type</th>
          <th lng>Entity</th>
          <th lng>Details</th>
        </tr>
      </thead>
      <tbody ng-repeat="(whId, aDomains) in result.domains">

<tr ng-repeat-start="domain in aDomains" class="bold">
  <td ng-if="showWebhosting">{{whId}}</td>
  <td lng>Domain</td>
  <td>{{ domain.do_domain_name }}</td>
  <td>
    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Manage</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a  href ng-click="doAccounts(domain)" lng>E-mail accounts</a></li>
        <li role="menuitem" ><a  href ng-click="doAliases(domain)" lng>E-mail aliases</a></li>
        <li role="menuitem" ><a  href ng-click="doBccs(domain)" lng>E-mail BCCs</a></li>
        <li role="menuitem" ><a  href mc-sref="mc-amavisd-dkim" mc-sref-params="{server:server,whId:whId,domain:domain.do_domain_name}" lng>Domain keys (DKIM)</a></li>
        <li role="menuitem" ><a  href mc-sref="mc-postfix-mailq" mc-sref-params="{server:server,domain:domain.do_domain_name}" lng>Mail queue</a></li>
      </ul>
    </div>

  </td>
</tr>

<tr ng-if="result.accounts[whId][domain.do_domain_name]" ng-repeat="account in result.accounts[whId][domain.do_domain_name]" ng-class="{'danger':account.warning}">
  <td ng-if="showWebhosting">{{whId}}</td>
  <td lng>E-mail account</td>
  <td>{{ account.ea_email }}</td>
  <td>{{ account.tally_bytes_human }} / {{ account.ea_quota_bytes_human }}</td>
</tr>

<tr ng-if="result.aliases[whId][domain.do_domain_name]" ng-repeat="alias in result.aliases[whId][domain.do_domain_name]">
  <td ng-if="showWebhosting">{{whId}}</td>
  <td lng>E-mail alias</td>
  <td>{{ alias.el_alias }}</td>
  <td>{{ alias.el_destination }}</td>
</tr>

<tr ng-if="result.bccs[whId][domain.do_domain_name]" ng-repeat="bcc in result.bccs[whId][domain.do_domain_name]">
  <td ng-if="showWebhosting">{{whId}}</td>
  <td lng>E-mail BCC</td>
  <td>{{ bcc.bc_alias }}</td>
  <td>{{ bcc.bc_destination }}</td>
</tr>

<tr ng-repeat-end></tr>

</tbody>


</table>


</div>

<mc-alert-box ng-show="!result" alert-type="warning" message="The query is in progress..."></mc-alert-box>

<div id="subControls"></div>
