
 <mc-alert-box alert-type="info" message="Our e-mail servers accept connections via POP3 and IMAP protocols, including their secure. SMTP with password based authentication is supported for outgoing emails. TLS protected version of the protocols are supported as well. The hostname to be used for connections: <b>{hostname}</b>" params="{hostname:hostname}"></mc-alert-box>

  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span><span class="colon" lng="You can find our guide about configuring the most popular e-mail clients on the following page" ></span> <a target="_blank" mc-sref="mc-email-help" mc-sref-params="{server:server,email:email}"  lng>E-mail guide</a></span>
  </div>


 
<div ng-if="config.email_webmail_url">

  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span><span class="colon" lng="You can also access your emails through our webmail interface, where among others, you can change the password of the e-mail account or configure out-of-office notifications." ></span> <a target="_blank" href="{{::config.email_webmail_url}}" >Webmail</a></span>
  </div>

</div>
