<h3 lng lng-post-process>Create an e-mail BCC for {display}</h3>

<div ng-show="lookup.result.canBeAdded">

  <mc-alert-box alert-type="danger" message="Note: you can't use this feature to forward third party emails coming from SPF protected domains to a third a party e-mail provider (like Gmail). You can accomplish this by configuring a Sieve 'send a copy' rule for the mailbox (can be found in the settings, e-mail filters menu of the webmail interface)"></mc-alert-box>

  <mc-alert-box alert-type="info" message="Only one destination address can be configured to the same e-mail account per direction."></mc-alert-box>

  <mc-alert-box alert-type="info" message="The destination address of e-mail BCCs should be verified by entering back a token sent out in e-mail."></mc-alert-box>

  <mc-alert-box alert-type="info" message="In order to use this feature, you need to create email accounts first."></mc-alert-box>


  <mc-email-status-warning server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}"></mc-email-status-warning>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Blind carbon copy (BCC)</label>
        <select class="form-control" name="bc_alias"  ng-model="bcc.bc_alias" required ><option ng-repeat="account in accountLookup.result.accounts" value="{{ account.ea_email }}"  >{{account.ea_email}}</option></select>
        <p class="help-block"  ng-if="dataForm.bc_alias.$error.required" lng>Data is required</p>
      </div>      

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Destination</label>
        <input type="email" class="form-control" name="el_destination" ng-model="bcc.bc_destination" lng-placeholder="This is the complete address where a copy of the e-mails should be forwarded." required >

        <p class="help-block"  ng-if="dataForm.el_destination.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Direction</label>
        <select class="form-control" name="bc_direction"  ng-model="bcc.bc_direction" required ><option ng-repeat="direction in directions" value="{{ direction }}" lng="BCC_DIRECTION_{{::direction}}" ></option></select>
            <p class="help-block"  ng-if="dataForm.bc_direction.$error.required" lng>Please specify at least one category</p>
      </div>      

      <div mc-if-role="SUPERUSER SERVER_OWNER ADMIN_EMAIL" class="checkbox" >
        <label>
        <input type="checkbox" name="bc_verified" ng-model="bcc.bc_verified">
           <span lng>Create it as verified</span>
        </label>
      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>

<div ng-show="lookup.result && !lookup.result.canBeAdded">
  <mc-alert-box alert-type="danger" message="This resource is over quota, it is currently not possible to add anymore."></mc-alert-box>
</div>

<mc-alert-box ng-show="!lookup.result" alert-type="warning" message="The query is in progress..."></mc-alert-box>
