<h3 lng>Domain keys (DKIM)</h3>

<mc-alert-box alert-type="info" message="DomainKeys Identified Mail is an effective technology to entitle only certain SMTP servers to send e-mail messages for your domain name and thus preventing external parties to send forged e-mails in your name."></mc-alert-box>

<mc-alert-box ng-show="config.serverUniqueDkim" alert-type="info" message="You can configure a domain level DKIM key here. Please note that our servers sign the outgoing messages with a server-unique key even when you don't activate this feature at domain level."></mc-alert-box>


  <table class="table table-form">
    <tbody>
    <tr>
      <td class="colon bold" lng>Domain name</td>
      <td>
        {{domain}} <span ng-if="domain!=display && display">({{display}})</span>
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="colon bold" lng>Server name</td>
      <td>
        {{server}}
      </td>
      <td></td>
    </tr>
    <tr ng-show="dkim">
      <td class="colon bold" lng>DKIM key active</td>
      <td>
        <span ng-show="dkim.dkim_key_active" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
        <span ng-hide="dkim.dkim_key_active" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
      </td>
      <td>
        
        <button ng-click="activate()"ng-hide="dkim.dkim_key_active" class="btn btn-success" lng>Activate</button>
        <button ng-click="deactivate()" ng-show="dkim.dkim_key_active" class="btn btn-danger" confirm lng>Deactivate</button>

      </td>
    </tr>
    <tr ng-show="dkim.dkim_key_active">
      <td class="colon bold" lng>DKIM selector</td>
      <td>
        {{dkim.selector}}
      </td>
      <td></td>
    </tr>
    <tr ng-show="dkim.dkim_key_active">
      <td class="colon bold" lng>Full hostname</td>
      <td>
        {{dkim.full_hostname}}
      </td>
      <td></td>
    </tr>
    <tr ng-show="dkim.dkim_key_active">
      <td class="colon bold" lng>Required DNS TXT record (raw value)</td>
      <td><input type="text" class="form-control" readonly ng-model="dkim.raw_txt_value"></td>
      <td></td>
    </tr>
    <tr ng-show="dkim.dkim_key_active">
      <td class="colon bold" lng>Required DNS TXT record (bind syntax)</td>
      <td><pre>{{dkim.full_bind}}</pre></td>
      <td></td>
    </tr>
    <tr ng-show="dkim">
      <td class="colon bold" ><abbr lng-title="The propagation delay of the DNS records is about 1 minute, if you just activated DKIM, please be patient." lng>DNS record state</abbr></td>
      <td>
        <span ng-show="dkim.dns_dkim_record_present" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
        <span ng-hide="dkim.dns_dkim_record_present" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
      </td>
      <td></td>
    </tr>
      </tbody>
</table>
