<mc-email-aliases-list server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" display="{{::display}}"></mc-email-aliases-list>
<mc-email-alias-add server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" display="{{::display}}"></mc-email-alias-add>
