<h3 lng>Attaching domain name to the e-mail subsystem</h3>

<div ng-show="lookup.result.canBeAdded">


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Domain name</label>
        <select class="form-control" name="do_domain_name"  ng-model="domain.do_domain_name" required ><option ng-repeat="domain in domains" value="{{ domain.d_domain_name }}"  >{{domain.d_domain_name}}</option></select>
        <p class="help-block"  ng-if="dataForm.do_domain_name.$error.required" lng>Data is required</p>        
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>

<div ng-show="lookup.result && !lookup.result.canBeAdded">
  <mc-alert-box alert-type="danger" message="This resource is over quota, it is currently not possible to add anymore."></mc-alert-box>
</div>

<mc-alert-box ng-show="!lookup.result" alert-type="warning" message="The query is in progress..."></mc-alert-box>
