<mc-email-accounts-list server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" display="{{::display}}"></mc-email-accounts-list>
<mc-email-account-add server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" display="{{::display}}"></mc-email-account-add>
