  <td class="colon" lng>Status of the e-mail subsystem</td>
  <td>
     <span ng-show="lookup && lookup.active" lng>Enabled</span>
     <span ng-show="lookup && !lookup.active" lng>Disabled</span>
  </td>
  <td>
      <button ng-show="lookup && !lookup.active" class="btn btn-default" ng-click="toOn()" lng>Turn on</button>
      <button ng-show="lookup && lookup.active" class="btn btn-default" ng-click="toOff()" lng>Turn off</button>
  </td>
