<h3 lng lng-post-process>Create an e-mail account for {display}</h3>



<div ng-show="lookup.result.canBeAdded">

  <mc-email-status-warning server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}"></mc-email-status-warning>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>E-mail address</label>
        <input type="email" class="form-control" name="ea_email" ng-model="account.ea_email" placeholder="account@{{::domain}}" ends-with="{{::domain}}" email-append="{{::domain}}"  required >
        <p class="help-block"  ng-if="dataForm.ea_email.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.ea_email.$error.endsWith" lng>The e-mail address entered does not belong to the domain</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password</label>
        <input type="password" class="form-control" name="ea_password" ng-model="account.ea_password" required ng-minlength=8 >
        <p class="help-block"  ng-if="dataForm.ea_password.$error.required" lng>Please enter the password</p>
        <p class="help-block"  ng-if="dataForm.ea_password.$error.minlength" lng>The password is inappropriate (should be at least 8 characters long)</p>
        <p class="help-block"  ng-if="dataForm.ea_password.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password again</label>
        <input type="password" class="form-control" name="c_password_repeat" required ng-model="tmp.c_password_repeat" same-as="account.ea_password" cleanpassword >        
        <p class="help-block"  ng-if="dataForm.c_password_repeat.$error.required" lng>Please repeat the password</p>

        <p class="help-block"  ng-if="dataForm.c_password_repeat.$error['same-as']" lng>The passwords you entered don't match</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>E-mail account quota (MB)</label>
        <input type="number" class="form-control" name="ea_quota_mb" ng-model="account.ea_quota_mb"  required >
        <p class="help-block"  ng-if="dataForm.ea_email.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Auto purge messages older than (days)</label>
        <input type="text" class="form-control" name="ea_autoexpunge_days" ng-model="account.ea_autoexpunge_days" lng-placeholder="Empty or zero mean this feature is not enabled" ng-pattern="/^[0-9]+$/" >
        <p class="help-block"  ng-if="dataForm.ea_autoexpunge_days.$error.pattern" lng>Please specify the number of days so that the messages that are older will be purged</p>
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>

<div ng-show="lookup.result && !lookup.result.canBeAdded">
  <mc-alert-box alert-type="danger" message="This resource is over quota, it is currently not possible to add anymore."></mc-alert-box>
</div>

<mc-alert-box ng-show="!lookup.result" alert-type="warning" message="The query is in progress..."></mc-alert-box>
