<mc-alert-box alert-type="info" message="By using the e-mail aliases feature you can configure 'virtual' e-mail addresses without a backing e-mail account. Delivery is routed to the destination e-mail address. This can be used for e.g. to have the 'virtual' address info@{domain} that is delivered to e-mail accounts of all colleagues."  params="{domain:domain}"></mc-alert-box>

<mc-alert-box alert-type="info" message="By using the e-mail BCC feature it is possible to confgure additional e-mail addresses for each e-mail account, where extra copies are to be delivered. This is even possible for outgoing e-mail as well. This could be helpful if you want to see e-mails of multiple accounts in an aggregated destination account. The system is flexible of course, you can achieve similar effect with the e-mail alias feature as well. The e-mail BCC feature delivers the incoming e-mails to the original recipient account as well."></mc-alert-box>


