<h3><span class="colon" lng>E-mail accounts</span> {{::display}}</h3>

<mc-common-email-account-info server="{{::server}}"></mc-common-email-account-info>



<mc-alert-box ng-show="serviceAccount" alert-type="danger" message="The e-mail account(s) listed below are in use by the system; e-mail messages of the web applications served on this webstore are sent via this e-mail account. Removing them might break mailing functionality of your applications."></mc-alert-box>

<table  mc-grid="lookup.result.accounts" class="margintop lastColumnThin">
  <caption lng>E-mail accounts</caption>
      <thead>
        <tr>
          <th st-sort="ea_email" lng>E-mail account</th>
          <th st-sort="ea_quota_bytes" lng>Quota</th>
          <th st-sort="tally_bytes" lng>Current usage</th>
          <th st-sort="tally_messages" lng>Messages</th>
          <th st-sort="Policy" lng>Policy</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="account in displayedCollection" ng-class="{'danger':account.warning}">
  <td>{{ account.ea_email }}</td>
  <td>{{ account.ea_quota_bytes_human }}</td>
  <td>{{ account.tally_bytes_human }}</td>
  <td>{{ account.tally_messages }}</td>
  <td>{{ account.Policy }}</td>
  <td>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ng-hide="domain.do_active" ><a href mc-sref="mc-email-account-edit" mc-sref-params="{server:server,whId:whId,domain:domain,display:display,eaId:account.ea_id,eaEmail:account.ea_email}" lng>Modify</a></li>
        <li role="menuitem" ng-hide="domain.do_active" ><a href mc-sref="mc-email-account-cluebringer" mc-sref-params="{server:server,whId:whId,domain:domain,display:display,eaId:account.ea_id,eaEmail:account.ea_email}" lng>Quotas and outgoing e-mails</a></li>
        <li role="menuitem" ><a href ng-click="delete(account)" confirm lng>Delete</a></li>
      </ul>
    </div>

  </td>
</tr>


</tbody>
</table>


<mc-alert-box ng-show="lookup.result && lookup.result.accounts.length <= 0" alert-type="warning" message="No e-mail accounts configured so far."></mc-alert-box>

<mc-alert-box ng-show="!lookup.result" alert-type="warning" message="The query is in progress..."></mc-alert-box>


<div id="emailMod"></div>
