<h3><span class="colon" lng>E-mail BCCs</span> {{::display}}</h3>  

<mc-email-alias-vs-bcc-info domain="{{::domain}}" display="{{::display}}"></mc-email-alias-vs-bcc-info>


<table mc-grid="lookup.result.bccs" class="margintop lastColumnThin">
  <caption lng>E-mail BCCs</caption>
      <thead>
        <tr>
          <th lng>E-mail BCC</th>
          <th lng>Destination</th>
          <th lng>Direction</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="bcc in displayedCollection">
  <td>{{ bcc.bc_alias }}</td>
  <td>{{ bcc.bc_destination }}</td>
  <td>{{ bcc.bc_direction }}</td>
  <td>
    <div ng-show="!bcc.bc_verified">
      <div ng-show="!bcc.verification_expired">
        <button  class="btn btn-default" ng-click="confirm(bcc)" lng>Confirm</button>    
      </div>
      <div ng-show="bcc.verification_expired" lng>
        Verification has expired. Please remove this item and re-add it in case you still need this e-mail BCC.
      </div>
    </div>
  </td>
  <td>
    <button class="btn btn-danger" ng-click="delete(bcc)" confirm lng>Delete</button>
  </td>
</tr>


</tbody>
</table>


<mc-alert-box ng-show="lookup.result && lookup.result.aliases.length <= 0" alert-type="warning" message="No e-mail BCCs configured so far."></mc-alert-box>

<mc-alert-box ng-show="!lookup.result" alert-type="warning" message="The query is in progress..."></mc-alert-box>
