<mc-email-bccs-list server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" display="{{::display}}"></mc-email-bccs-list>
<mc-email-bcc-add server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" display="{{::display}}"></mc-email-bcc-add>
