<h3 lng>Outgoing e-mail log</h3>

<table mc-grid="sessions" class="margintop">
	<caption lng>Outgoing e-mails</caption>
      <thead>
        <tr>
          <th ng-repeat="field in fields" >{{::field}}</th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="row in displayedCollection">
  <td ng-repeat="field in fields">{{::row[field]}}</td>
</tr>


</tbody>
</table>


