<h3 lng>Domains configured for e-mailing</h3>

<table mc-grid="lookup.result.domains" class="margintop lastColumnThin">
  <caption lng>Domains</caption>
      <thead>
        <tr>
          <th lng>Domain name</th>
          <th lng>Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="domain in displayedCollection" >
  <td>{{ domain.do_domain_name }}</td>
  <td lng="BOOLEAN_{{domain.do_active}}"></td>
  <td>
        <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ng-hide="domain.do_active" ><a href ng-click="doActivate(domain, true)"  lng>Activate</a></li>
        <li role="menuitem" ng-show="domain.do_active"><a href ng-click="doActivate(domain, false)"  lng>Inactivate</a></li>
        <li role="menuitem" ><a href ng-click="delete(domain)" confirm="This will also wipe all e-mail accounts connected to this domain. Do you really want to proceed?"  lng>Delete</a></li>
        <li class="divider"></li>
        <li role="menuitem" ><a href mc-sref="mc-email-account-list-and-add" mc-sref-params="{server:server,whId:whId,domain:domain.do_domain_name}" lng>E-mail accounts</a></li>
        <li role="menuitem" ><a href mc-sref="mc-email-alias-list-and-add" mc-sref-params="{server:server,whId:whId,domain:domain.do_domain_name}"  lng>E-mail aliases</a></li>
        <li role="menuitem" ><a href mc-sref="mc-email-bcc-list-and-add" mc-sref-params="{server:server,whId:whId,domain:domain.do_domain_name}"  lng>E-mail BCCs</a></li>
      </ul>
    </div>

  </td>
</tr>


</tbody>
</table>

<mc-alert-box ng-show="lookup.result && lookup.result.domains.length <= 0" alert-type="warning" message="No domains configured for e-mailing so far."></mc-alert-box>

<mc-alert-box ng-show="!lookup.result" alert-type="warning" message="The query is in progress..."></mc-alert-box>


<div id="domainMod"></div>

