<h3 lng lng-post-process>Create an e-mail alias for {display}</h3>

<div ng-show="lookup.result.canBeAdded">

  <mc-alert-box alert-type="danger" message="Note: you can't use this feature to forward third party emails coming from SPF protected domains to a third a party e-mail provider (like Gmail). You can accomplish this by configuring a Sieve 'send a copy' rule for the mailbox (can be found in the settings, e-mail filters menu of the webmail interface)"></mc-alert-box>

  <mc-alert-box alert-type="info" message="Multiple alias entries can be configured to the same e-mail address."></mc-alert-box>

  <mc-alert-box alert-type="info" message="The destination address of e-mail aliases should be verified by entering back a token sent out in e-mail."></mc-alert-box>

  <mc-email-status-warning server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}"></mc-email-status-warning>
  
 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Alias</label>
        <input type="email" class="form-control" name="el_alias" ng-model="alias.el_alias" placeholder="alias@{{::domain}}" ends-with="{{::domain}}" email-append="{{::domain}}" required >
        <p class="help-block"  ng-if="dataForm.el_alias.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.el_alias.$error.endsWith" lng>The e-mail address entered does not belong to the domain</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Destination</label>
        <input type="email" class="form-control" name="el_destination" ng-model="alias.el_destination" lng-placeholder="This is the complete address where the e-mails should be redirected." required >

        <p class="help-block"  ng-if="dataForm.el_destination.$error.required" lng>Data is required</p>
      </div>

      <div mc-if-role="SUPERUSER SERVER_OWNER ADMIN_EMAIL" class="checkbox" >
        <label>
        <input type="checkbox" name="el_verified" ng-model="alias.el_verified">
           <span lng>Create it as verified</span>
        </label>
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>

<div ng-show="lookup.result && !lookup.result.canBeAdded">
  <mc-alert-box alert-type="danger" message="This resource is over quota, it is currently not possible to add anymore."></mc-alert-box>
</div>

<mc-alert-box ng-show="!lookup.result" alert-type="warning" message="The query is in progress..."></mc-alert-box>
