<h3 lng>Changing parameters of e-mail account</h3>

<mc-common-email-account-info email="{{eaEmail}}" server="{{::server}}"></mc-common-email-account-info>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" >
        <label class="control-label colon" lng>E-mail address</label>
        <input type="email" class="form-control" ng-readonly="true" name="ea_email" ng-model="eaEmail" >
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>E-mail account quota (MB)</label>
        <input type="number" class="form-control" name="ea_quota_mb" ng-model="account.ea_quota_mb"  required >
        <p class="help-block"  ng-if="dataForm.ea_email.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Auto purge messages older than (days)</label>
        <input type="text" class="form-control" name="ea_autoexpunge_days" ng-model="account.ea_autoexpunge_days" lng-placeholder="Empty or zero mean this feature is not enabled" ng-pattern="/^[0-9]+$/" >
        <p class="help-block"  ng-if="dataForm.ea_autoexpunge_days.$error.pattern" lng>Please specify the number of days so that the messages that are older will be purged</p>
      </div>

      <div class="checkbox" >
        <label>
        <input type="checkbox" ng-model="showSpamTag2">
           <span lng>Custom spam tagging score</span>
        </label>
      </div>

      <div ng-show="showSpamTag2" class="form-group" show-errors>
        <label class="control-label colon" ><abbr lng-title="The overall score at which the e-mails will be tagged as Spam (and delivered to the Junk folder)" lng>Spam tag score</abbr></label>
        <input type="text" class="form-control" name="ea_spam_tag2_level" ng-model="account.ea_spam_tag2_level" pattern="^\d{1,3}(\.\d{1,2})?$" >
        <p class="help-block"  ng-if="dataForm.ea_spam_tag2_level.$error.pattern" lng>Invalid number</p>
      </div>

      <div class="checkbox" >
        <label>
        <input type="checkbox" ng-model="showSpamKill">
           <span lng>Custom spam kill score</span>
        </label>
      </div>

      <div ng-show="showSpamKill" class="form-group" show-errors>
        <label class="control-label colon" ><abbr lng-title="The overall score at which the e-mails won't be delivered at all" lng>Spam kill score</abbr></label>
        <input type="text" class="form-control" name="ea_spam_kill_level" ng-model="account.ea_spam_kill_level" pattern="^\d{1,3}(\.\d{1,2})?$" >
        <p class="help-block"  ng-if="dataForm.ea_spam_kill_level.$error.pattern" lng>Invalid number</p>
      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>
