
<h2 lng>How to configure your e-mail client applications</h2>

<div class="helptable">

  <h3 class="feattitle">1. <span lng>Generic info</span></h3>
  <div ><a href="#generic11">1.1 <span lng>Info</span></a></div>
  <h3 class="feattitle">2. <span lng>Using the Webmail system</span></h3>
  <div ><a href="#webmail21">2.1 <span lng>Login</span></a></div>
  <div ><a href="#webmail22">2.2 <span lng>Password change</span></a></div>
  <h3 class="feattitle">3. <span lng>Configuring Microsoft Outlook</span></h3>
  <div ><a href="#outlook31">3.1 <span lng>Account settings</span></a></div>
  <div ><a href="#outlook32">3.2 <span lng>Creating a new e-mail account</span></a></div>
  <div ><a href="#outlook33">3.3 <span lng>Connection settings</span></a></div>
    <div ><a href="#outlook34">3.4 <span lng>Selecting the e-mail service</span></a></div>
    <div ><a href="#outlook35">3.5 <span lng>Configuring the e-mail accounts</span></a></div>
  <div ><a href="#outlook36">3.6 <span lng>Host of the outgoing e-mails</span></a></div>
  <div ><a href="#outlook37">3.7 <span lng>Special settings</span></a></div>
  <div ><a href="#outlook38">3.8 <span lng>Ready</span></a></div>
  <h3 class="feattitle">4. <span lng>Configuring Mozilla Thunderbird</span></h3>
  <div ><a href="#thunderbird41">4.1 <span lng>Account settings</span></a></div>
  <div ><a href="#thunderbird42">4.2 <span lng>Welcome to Thunderbird!</span></a></div>
  <div ><a href="#thunderbird43">4.3 <span lng>Settings of the mailbox</span></a></div>
  <div ><a href="#thunderbird44">4.4 <span lng>Manual mailbox settings</span></a></div>
  <h3 class="feattitle">5. <span lng>Configuring Ritlabs The Bat</span></h3>
  <div ><a href="#thebat51">5.1 <span lng>Creating a new account</span></a></div>
  <div ><a href="#thebat52">5.2 <span lng>E-mail details</span></a></div>
  <div ><a href="#thebat53">5.3 <span lng>Mailbox settings</span></a></div>
  <div ><a href="#thebat54">5.4 <span lng>Username and password</span></a></div>
  <div ><a href="#thebat55">5.5 <span lng>Completing</span></a></div>
  <div ><a href="#thebat56">5.6 <span lng>(Optional) SMTP settings</span></a></div>
  <h3 class="feattitle">6. <span lng>Configuring Android handsets</span></h3>
  <div ><a href="#android61">6.1 <span lng>Creating a new account</span></a></div>
  <div ><a href="#android62">6.2 <span lng>Mailbox type</span></a></div>
  <div ><a href="#android63">6.3 <span lng>Incoming connection</span></a></div>
  <div ><a href="#android64">6.4 <span lng>Outgoing connection</span></a></div>

  <h3 class="feattitle">7. <span lng>Configuring iPhone/iPad devices</span></h3>
  <div ><a href="#iphone71">7.1 <span lng>Configure the email account</span></a></div>
  <div ><a href="#iphone72">7.2 <span lng>Incoming server settings</span></a></div>
  <div ><a href="#iphone73">7.3 <span lng>Outgoing server settings</span></a></div>
  <div ><a href="#iphone74">7.4 <span lng>Advanced settings</span></a></div>


<br><br><br>



  <h3 class="feattitle">1. <span lng>Generic info</span></h3>
  <div ><a id="generic11">1.1 <span lng>Tudnivalók</span></a></div>
  <div lng>The e-mail service can also be accessed by softwares other than the ones described below by any applications that are compatible with the standard POP3/IMAP/SMTP protocols.</div>
  <div class="colon" lng>Pay attention to</div><br/>
  <ul>
    <li ><span lng>The username is the COMPLETE e-mail address</span> <span ng-show="email">(<span lng>In this case</span>: {{ eaEmail }})</span></li>
	<li><span lng>The hostname of the IMAP/POP3/SMTP protocols</span>: {{mxHost}} (<span ng>without www!</span>)</li>
	<li lng>For sending e-mails, the SMTP server requires authentication. (The credentials are the same as for retrieving the e-mails)</li>
	<li><span class="colon" lng>Each of the protocols (POP3/IMAP/SMTP) are accessible over secure SSL/TLS channel as well, via dedicated ports</span> (POP3s: 995, IMAPs: 993, SMTPs: 465)</li>	
  </ul>
  <div lng>The password of the e-mail accounts can be changed by the owner of the webstores via the administration panel or also by the end-user of the e-mail account in the webmail settings.</div>
  

  <h3 class="feattitle">2. <span lng>Using the Webmail system</span></h3>
  <div ><a id="webmail21">2.1 <span lng>Login</span></a></div>
  <div><span lng>You can access the RoundCube webmail system via the following URL</span>: <a ng-href="{{webmailUrl}}">{{webmailUrl}}</a></div>
  <div lng>As username, you need to enter your complete e-mail address.</div>
  <div class="help-container">
    <img src="img.mc/helpimg/webmail/monstermedia-help-email-webmail-1.png" alt="RoundCube webmail email settings" title="RoundCube webmail email settings">
     <div class="webmail-email1">{{::eaEmail}}</div>
     <div class="webmail-webmail1">{{::webmailHost}}</div>
  </div>
  
  <div ><a id="webmail22">2.2 <span lng>Password change</span></a></div>
  <div lng>Find the settings link in the upper right corner of the site, then select the E-mail settings (password) option in the left menu. For security reasons, you'll be prompted for your current password. Once authenticated, you'll find various other tweakable settings as well.</div>
  <div class="help-container">
    <img src="img.mc/helpimg/webmail/monstermedia-help-email-webmail-2.png" alt="RoundCube webmail email settings" title="RoundCube webmail email settings">
    <div class="webmail-webmail2">{{::webmailHost}}</div>
  </div>
  
  <h3 class="feattitle">3. <span lng>Configuring Microsoft Outlook</span></h3>
  <div ><a id="outlook31">3.1 <span lng>Account settings</span></a></div>
  <div class="colon" lng>Select Account settings in the Tools menu</div>
  <div><img src="img.mc/helpimg/outlook/monstermedia-help-email-outlook-1.png" alt="Microsoft Outlook email settings help" title="Microsoft Outlook email settings help"></div>

  <div ><a id="outlook32">3.2 <span lng>Creating a new e-mail account</span></a></div>
  <div class="colon" lng>Click the New button on the E-mail tab</div>
  <div class="help-container">
    <img src="img.mc/helpimg/outlook/monstermedia-help-email-outlook-3.png" alt="Microsoft Outlook email settings help" title="Microsoft Outlook email settings help">
    <div class="outlook-email3">{{::eaEmail}}</div>
  </div>

  <div ><a id="outlook33">3.3 <span lng>Connection settings</span></a></div>
  <div lng>Fill in the connection details requested by the form, then instead of clicking next choose the 'Manual settings' option.</div>
  <div class="help-container">
    <img src="img.mc/helpimg/outlook/monstermedia-help-email-outlook-4.png" alt="Microsoft Outlook email settings help" title="Microsoft Outlook email settings help">
    <div class="outlook-email4">{{::eaEmail}}</div>
  </div>

    <div ><a id="outlook34">3.4 <span lng>Selecting the e-mail service</span></a></div>
  <div lng>In this window you don't need to change anything, leave the Internet e-mail option selected, then click next</div>
  <div><img src="img.mc/helpimg/outlook/monstermedia-help-email-outlook-5.png" alt="Microsoft Outlook email settings help" title="Microsoft Outlook email settings help"></div>

    <div ><a id="outlook35">3.5 <span lng>Configuring the e-mail accounts</span></a></div>
  <div><span lng>Enter your name and e-mail address, then change the hostname of both the Incoming and Outgoing e-mails to</span>: {{mxHost}}</div>
  <div lng>Pay atention to enter your complete e-mail address as username!</div>
  <div lng>The secure password authentication (SPA) option shall be disabled.</div>
  <div lng>Instead of clicking next, select the Additional setting button.</div>
  <div class="help-container">
     <img src="img.mc/helpimg/outlook/monstermedia-help-email-outlook-6.png" alt="Microsoft Outlook email settings help" title="Microsoft Outlook email settings help">
     <div class="outlook-email61">{{::eaEmail}}</div>
     <div class="outlook-email62">{{::eaEmail}}</div>
     <div class="outlook-server61">{{::mxHost}}</div>
     <div class="outlook-server62">{{::mxHost}}</div>
  </div>

  <div ><a id="outlook36">3.6 <span lng>Host of the outgoing e-mails</span></a></div>
  <div lng>At the Host of the outgoing emails tab activate the 'The host of the outgoing e-mails (SMTP) requires authentication' option. Select the radio button 'using the same options as for the incoming host'</div>
  <div><img src="img.mc/helpimg/outlook/monstermedia-help-email-outlook-7.png" alt="Microsoft Outlook email settings help" title="Microsoft Outlook email settings help"></div>

  <div ><a id="outlook37">3.7 <span lng>Special settings</span></a></div>
  <div lng>On the special tab select SSL for the 'Using the following encrypted channel' option. Make sure the port above is 465.</div>
  <div><img src="img.mc/helpimg/outlook/monstermedia-help-email-outlook-9.png" alt="Microsoft Outlook email settings help" title="Microsoft Outlook email settings help"></div>
  
  <div ><a id="outlook38">3.8 <span lng>Ready</span></a></div>
  <div lng>After clicking Ok a few times, the wizard will congratulate and the e-mail account is ready to use.</div>
  <div><img src="img.mc/helpimg/outlook/monstermedia-help-email-outlook-8.png" alt="Microsoft Outlook email settings help" title="Microsoft Outlook email settings help"></div>

  <h3 class="feattitle">4. <span lng>Configuring Mozilla Thunderbird</span></h3>
  <div ><a id="thunderbird41">4.1 <span lng>Account settings</span></a></div>
  <div class="colon" lng>Select the New/New account option of the File menu. (You might need to push the left Alt button on your keyboard to make the top menu visible!)</div>
  <div><img src="img.mc/helpimg/thunderbird/monstermedia-help-email-thunderbird-1.png" alt="Mozilla Thunderbird email settings help" title="Mozilla Thunderbird email settings"></div>

  <div ><a id="thunderbird42">4.2 <span lng>Welcome to Thunderbird!</span></a></div>
  <div class="colon" lng>As the e-mail account has already been created on our administration panel, you don't need Thunderbird to create one at a free service provider</div>
  <div><img src="img.mc/helpimg/thunderbird/monstermedia-help-email-thunderbird-2.png" alt="Mozilla Thunderbird email settings help" title="Mozilla Thunderbird email settings"></div>

  <div ><a id="thunderbird43">4.3 <span lng>Settings of the mailbox</span></a></div>
  <div lng>Enter the requested details, then proceed via the Next button. Thunderbird will attempt to autodetect the connection details, but it needs some customization. Select the Manual settings button.</div>
  <div class="help-container">
    <img src="img.mc/helpimg/thunderbird/monstermedia-help-email-thunderbird-3.png" alt="Mozilla Thunderbird email settings help" title="Mozilla Thunderbird email settings">
    <div class="thunderbird-email3">{{::eaEmail}}</div>
  </div>
  <div class="help-container">
    <img src="img.mc/helpimg/thunderbird/monstermedia-help-email-thunderbird-4.png" alt="Mozilla Thunderbird email settings help" title="Mozilla Thunderbird email settings">
    <div class="thunderbird-email4">{{::eaEmail}}</div>
  </div>

  <div ><a id="thunderbird44">4.4 <span lng>Manual mailbox settings</span></a></div>
  <div ><span lng>Replace the hostname of both the IMAP and the SMTP servers with</span>: {{mxHost}}</div>
  <div lng>In the row of the SMTP settings select SSL/TLS. Don't forget to change the username to your full e-mail address! Once all this is done, click Retesting. As the connection should succeed, the Finish button will become active.</div>
  <div class="help-container">
    <img src="img.mc/helpimg/thunderbird/monstermedia-help-email-thunderbird-6.png" alt="Mozilla Thunderbird email settings help" title="Mozilla Thunderbird email settings">
     <div class="thunderbird-email61">{{::eaEmail}}</div>
     <div class="thunderbird-email62">{{::eaEmail}}</div>    
     <div class="thunderbird-server61">{{::mxHost}}</div>
     <div class="thunderbird-server62">{{::mxHost}}</div>    
  </div>

  <h3 class="feattitle">5. <span lng>Configuring Ritlabs The Bat</span></h3>
  <div ><a id="thebat51">5.1 <span lng>Creating a new account</span></a></div>
  <div class="colon" lng>Select Account/New from the menu, then enter the desired name for the account</div>
  <div class="help-container">
    <img src="img.mc/helpimg/thebat/monstermedia-help-email-thebat-1.png" alt="Ritlabs The Bat email settings" title="Ritlabs The Bat email settings help">
    <div class="thebat-user1">{{::username}}</div>
  </div>

  <div ><a id="thebat52">5.2 <span lng>E-mail details</span></a></div>
  <div lng class="colon" lng>Enter your name and e-mail address</div>
  <div class="help-container">
    <img src="img.mc/helpimg/thebat/monstermedia-help-email-thebat-2.png" alt="Ritlabs The Bat email settings" title="Ritlabs The Bat email settings">
    <div class="thebat-email2">{{::eaEmail}}</div>
  </div>


  <div ><a id="thebat53">5.3 <span lng>Mailbox settings</span></a></div>
  <div><span lng>For the hostname of both the incoming and outgoing servers enter the following</span>: {{mxHost}}</div>
  <div lng>Also indicate that the SMTP server requires authentication.</div>
  <div class="help-container">
    <img src="img.mc/helpimg/thebat/monstermedia-help-email-thebat-3.png" alt="Ritlabs The Bat email settings" title="Ritlabs The Bat email settings help">
    <div class="thebat-server31">{{::mxHost}}</div>
    <div class="thebat-server32">{{::mxHost}}</div>
  </div>
  
  <div ><a id="thebat54">5.4 <span lng>Username and password</span></a></div>
  <div lng class="colon">Enter your full e-mail address for username and the corresponding password</div>
  <div class="help-container">
    <img src="img.mc/helpimg/thebat/monstermedia-help-email-thebat-4.png" alt="Ritlabs The Bat email settings" title="Ritlabs The Bat email settings help">
    <div class="thebat-email4">{{::eaEmail}}</div>
  </div>


  <div ><a id="thebat55">5.5 <span lng>Completing</span></a></div>
  <div class="colon" lng>The mailbox is ready to go</div>
  <div><img src="img.mc/helpimg/thebat/monstermedia-help-email-thebat-5.png" alt="Ritlabs The Bat email settings" title="Ritlabs The Bat email settings help"></div>

  <div ><a id="thebat56">5.6 <span lng>(Optional) SMTP settings</span></a></div>
  <div lng class="colon">If you encounter timeout issues while trying to send your e-mails, the most possible explanation is that your Internet Service Provider blocks the the default port of the SMTP protocol. In this case you can circumvent this limitation by switching the port to 465. Right click on the name of your e-mail account, select Properties from the context menu, then in the settings window find the Transport option in the left. In the Send mail option group the type of the connection should be changed to TLS. The port number right next to it will be changed to 465 automatically.</div>
  <div class="help-container">
    <img src="img.mc/helpimg/thebat/monstermedia-help-email-thebat-6.png" alt="Ritlabs The Bat email settings" title="Ritlabs The Bat email settings help">
    <div class="thebat-email6">{{::eaEmail}}</div>
    <div class="thebat-server61">{{::mxHost}}</div>
    <div class="thebat-server62">{{::mxHost}}</div>
  </div>

  <h3 class="feattitle">6. <span lng>Configuring Android handsets</span></h3>
  <div ><a id="android61">6.1 <span lng>Creating a new account</span></a></div>
  <div class="colon" lng>After you entered your full e-mail address and password in the new account window, select the manual settings option</div>
  <div class="help-container">
    <img src="img.mc/helpimg/android/monstermedia-help-email-android-1.png" alt="Android email settings" title="Android email settings help">
    <div class="android-email1">{{::eaEmail}}</div>
  </div>

  <div ><a id="android62">6.2 <span lng>Mailbox type</span></a></div>
  <div class="colon" lng>Select IMAP as type of the mailbox</div>
  <div><img src="img.mc/helpimg/android/monstermedia-help-email-android-2.png" alt="Android email settings" title="Android email settings help"></div>

  <div ><a id="android63">6.3 <span lng>Incoming connection</span></a></div>
  <div ><span lng>For the IMAP server, enter the following hostname</span>: {{mxHost}}</div>
  <div lng>The security type should be SSL/TLS with port number 993. Make sure you enter your full e-mail address as username.</div>
  <div class="help-container">
    <img src="img.mc/helpimg/android/monstermedia-help-email-android-3.png" alt="Android email settings" title="Android email settings help">
    <div class="android-server3">{{::mxHost}}</div>
    <div class="android-email3">{{::eaEmail}}</div>
  </div>

  <div ><a id="android64">6.4 <span lng>Outgoing connection</span></a></div>
  <div><span lng>For the SMTP server, enter the following hostname</span>: {{mxHost}}</div>
  <div lng>The security type should be SSL/TLS with port number 465. Make sure you enter your full e-mail address as username.</div>
  <div class="help-container">
    <img src="img.mc/helpimg/android/monstermedia-help-email-android-4.png" alt="Android email settings" title="Android email settings help">
    <div class="android-server4">{{::mxHost}}</div>
    <div class="android-email4">{{::eaEmail}}</div>
  </div>

  <h3 class="feattitle">7. <span lng>Configuring iPhone/iPad devices</span></h3>
  <div ><a id="iphone71">7.1 <span lng>Configure the email account</span></a></div>
  <div lng>Select passwords and accounts in Settings</div>
  <div>
    <img src="img.mc/helpimg/iphone/01-passwords-and-accounts.png" alt="iPhone email settings" title="iPhone email settings help">
  </div>
  <div lng>Select Other as account type</div>
  <div>
    <img src="img.mc/helpimg/iphone/02-account-types.png" alt="iPhone email settings" title="iPhone email settings help">
  </div>
  <div lng>Configure basic settings for your email account. Type your name and your full email address.</div>
  <div>
    <img src="img.mc/helpimg/iphone/04-adding-new-account.png" alt="iPhone email settings" title="iPhone email settings help">
  </div>
  
  <div ><a id="iphone72">7.2 <span lng>Incoming server settings</span></a></div>
  <div><span lng>At the incoming server settings, enter the server's hostname where your email account is located (this is the name of the web storage you see on the admin panel)</span>: {{mxHost}}</div>
  <div lng>As username, enter your complete email address.</div>
  <div class="help-container">
    <img src="img.mc/helpimg/iphone/05-incoming-server.png" alt="iPhone email settings" title="iPhone email settings help">
    <div class="iphone-server2">{{::mxHost}}</div>
    <div class="iphone-email2">{{::eaEmail}}</div>
  </div>
  
  <div ><a id="iphone73">7.3 <span lng>Outgoing server settings</span></a></div>
  <div><span lng>At the outgoing server settings, enter the server's hostname where your email account is located (this is the name of the web storage you see on the admin panel)</span>: {{mxHost}}</div>
  <div lng>As username, enter your complete email address.</div>
  <div class="help-container">
    <img src="img.mc/helpimg/iphone/06-outgoing-server.png" alt="iPhone email settings" title="iPhone email settings help">
    <div class="iphone-server3">{{::mxHost}}</div>
    <div class="iphone-email3">{{::eaEmail}}</div>
  </div>

  <div ><a id="iphone74">7.4 <span lng>Advanced settings</span></a></div>
  <div class="colon" lng>By default, the email application of the iPhone devices store sent emails on the device only. If you wish to sync your sent emails with another devices, including our webmail application, you need to explicitly select the Sent folder in the Expert settings</div>
  <div class="help-container">
     <img src="img.mc/helpimg/iphone/07-advanced-settings-in-menu.png" alt="iPhone email settings" title="iPhone email settings help">
	 <div class="iphone-email4">{{::eaEmail}}</div>
  </div>
  <div><img src="img.mc/helpimg/iphone/08-where-to-store-sent-mails.png" alt="iPhone email settings" title="iPhone email settings help"></div>

</div>
