<mc-email-account-password server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" display="{{::display}}" ea-id="{{::eaId}}" ea-email="{{::eaEmail}}"></mc-email-account-password>
<mc-email-account-params server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" display="{{::display}}" ea-id="{{::eaId}}" ea-email="{{::eaEmail}}"></mc-email-account-params>

<mc-email-account-cleanup server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" display="{{::display}}" ea-id="{{::eaId}}" ea-email="{{::eaEmail}}"></mc-email-account-cleanup>
