<div ng-show="lookupFinished && !active">

            <table class="table margintop lastColumnThin">
  <td>
	  <mc-alert-box alert-type="warning" message="The e-mail service is not active to this domain name, meaning receiving emails is currently rejected."></mc-alert-box>

  </td>
  <td>
      <button class="btn btn-default" ng-click="toOn()" lng>Turn on</button>
  </td>
            </table>

</div>
