<h3 lng>E-mails in Postfix mail queue</h3>

<div ng-show="domain"><span class="colon">Domain</span> {{::domain}}</div>
<div ng-show="!domain && whId"><span class="colon" lng>Webstore ID</span> {{::whId}}</div>

<div class="table-responsive" ng-if="lookup.result">

<table class="table table-striped table-hover margintop">
  <caption lng>E-mails in queue</caption>
      <thead>
        <tr>
          <th ng-repeat="field in fields" lng="POSTFIX_FIELD_{{field}}"></th>
          <th></th>
        </tr>
      </thead>

<tbody ng-repeat="row in lookup.result"  >
<tr ng-class="{'danger': row.starred}">
  <td ng-repeat="field in fields">
    {{::row[field]}}
  </td>
</tr>
<tr >
  <td colspan="{{::(fields.length+1)}}">
    <input class="form-control" readonly type="text" value="{{::row.status}}" >
  </td>
</tr>

</tbody>

</table>

<div><span class="colon" lng>Number of items in the queue</span> {{lookup.result.length}}</div>

</div>

<mc-alert-box ng-show="lookup.result && lookup.result.length <= 0" alert-type="warning" message="No messages in the mail queue this time."></mc-alert-box>

<mc-alert-box ng-show="!lookup.result" alert-type="warning" message="The query is in progress..."></mc-alert-box>

