<h3><span class="colon" lng>E-mail aliases</span> {{::display}}</h3>  

<mc-email-alias-vs-bcc-info domain="{{::domain}}" display="{{::display}}"></mc-email-alias-vs-bcc-info>

<table  mc-grid="lookup.result.aliases" class="margintop lastColumnThin">
  <caption lng>E-mail aliases</caption>
      <thead>
        <tr>
          <th lng>E-mail alias</th>
          <th lng>Destination</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="alias in displayedCollection">
  <td>{{ alias.el_alias }}</td>
  <td>{{ alias.el_destination }}</td>
  <td>
    <div ng-show="!alias.el_verified">
      <div ng-show="!alias.verification_expired">
        <button  class="btn btn-default" ng-click="confirm(alias)" lng>Confirm</button>    
      </div>
      <div ng-show="alias.verification_expired" lng>
        Verification has expired. Please remove this item and re-add it in case you still need this e-mail alias.
      </div>
    </div>
  </td>
  <td>
    <button class="btn btn-warning" ng-click="delete(alias)" confirm lng>Delete</button>
  </td>
</tr>


</tbody>
</table>


<mc-alert-box ng-show="lookup.result && lookup.result.aliases.length <= 0" alert-type="warning" message="No e-mail aliases configured so far."></mc-alert-box>

<mc-alert-box ng-show="!lookup.result" alert-type="warning" message="The query is in progress..."></mc-alert-box>
