<h3 lng>Quotas for e-mail account</h3>

<div class="table-responsive">

<table class="table table-striped table-hover margintop">
  <caption lng>E-mail quotas</caption>
      <thead>
        <tr>
          <th ng-repeat="field in fields" >{{::field}}</th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="row in quotas">
  <td ng-repeat="field in fields">{{::row[field]}}</td>
</tr>


</tbody>
</table>


</div>
