<mc-email-account-cluebringer-quotas server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" display="{{::display}}" ea-id="{{::eaId}}" ea-email="{{::eaEmail}}"></mc-email-account-cluebringer-quotas>
<mc-email-account-cluebringer-sessions server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" display="{{::display}}" ea-id="{{::eaId}}" ea-email="{{::eaEmail}}"></mc-email-account-cluebringer-sessions>
