<h3 lng>Container upgrade</h3>

<table  ng-show="showContainers" mc-grid="upgradableContainers" class="margintop ">
  <caption lng>Docker containers</caption>
      <thead>
        <tr>
          <th st-sort="u_name" lng>Account</th>
          <th st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="Image" lng>Image</th>
          <th st-sort="name_joined" lng>Name</th>
          <th st-sort="State" lng>State</th>
          <th st-sort="Status" lng>Status</th>
          <th st-sort="Command" lng>Command</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="container in displayedCollection">
  <td><a href mc-switch-user-superuser="{{ container.c_user_id }}">{{ container.u_name || container.c_user_id }}</a></td>
  <td>{{ ::container.wh_name }} ({{::container.c_webhosting }})</td>

  <td>{{ ::container.Image }}</td>
  <td>{{ ::container.PrimaryName }}</td>
  <td>{{ ::container.State }}</td>
  <td>{{ ::container.Status }}</td>
  <td>{{ ::container.Command }}</td>
  <td><a class="btn btn-default" ng-click="upgradeContainers(container)" lng>Upgrade</a></td>
</tr>


</tbody>
</table>

        <div class="text-center">
          <button  class="btn btn-success" ng-click="listUpgradeableContainers()" lng>List upgradeable containers</button>
          <button ng-disabled="upgradeAllContainersDisabled" class="btn btn-danger" confirm ng-click="upgradeContainers()" lng>Upgrade all containers</button>
        </div>