
<h3 lng>Cleanup old images</h3>

<table ng-show="showImages" mc-grid="upgradableImages" class="margintop ">
  <caption lng>Docker application images</caption>
      <thead>
        <tr>
          <th st-sort="Created" lng>Created</th>
          <th st-sort="name_joined" lng>Tags</th>
          <th st-sort="VirtualSize" lng>VirtualSize</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="image in displayedCollection">
  <td>{{ ::image.Created }}</td>  
  <td>{{ ::image.PrimaryTag }}</td>
  <td>{{ ::image.VirtualSize }}</td>
  <td><a class="btn btn-default" ng-click="removeOldImages(image)" lng>Remove</a></td>
</tr>

</tbody>
</table>


        <div class="text-center">
          <button  class="btn btn-success" ng-click="listUpgradeableImages()" lng>List old images</button>
          <button ng-disabled="removeAllImagesDisabled" class="btn btn-danger" confirm ng-click="removeOldImages()" lng>Remove all old images</button>
        </div>
