<h3 lng>Docker containers</h3>


<table  mc-grid="containers" class="margintop ">
  <caption lng>Docker containers</caption>
      <thead>
        <tr>
          <th st-sort="u_name" lng>Account</th>
          <th st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="Image" lng>Image</th>
          <th st-sort="name_joined" lng>Name</th>
          <th st-sort="State" lng>State</th>
          <th st-sort="Status" lng>Status</th>
          <th st-sort="Command" lng>Command</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="container in displayedCollection">
  <td><a href mc-switch-user-superuser="{{ container.c_user_id }}">{{ container.u_name || container.c_user_id }}</a></td>
  <td>{{ ::container.wh_name }} ({{::container.c_webhosting }})</td>

  <td>{{ ::container.Image }}</td>
  <td>{{ ::container.PrimaryName }}</td>
  <td>{{ ::container.State }}</td>
  <td>{{ ::container.Status }}</td>
  <td>{{ ::container.Command }}</td>
  <td>
            <div class="btn-group" uib-dropdown  dropdown-append-to-body>
              <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
                <span lng>Actions</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li role="menuitem" ><a href mc-sref="mc-superuser-docker-container-inspect" mc-sref-params="{server:server,cId:container.Id}" lng>Information</a></li>
                <li role="menuitem" ><a href mc-sref="mc-superuser-docker-container-config" mc-sref-params="{server:server,cId:container.Id}"  lng>Volume config</a></li>
                <li class="divider"></li>
                <li role="menuitem" ><a confirm href ng-click="rebuild(container)" lng>Rebuild container</a></li>
              </ul>
            </div>

  </td>
</tr>


</tbody>
</table>


<center>
  <button confirm class="btn btn-danger" confirm ng-click="rebuild()" lng>Rebuild all containers</button>
</center>


<h3 lng>Execute command in a running container</h3>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Container</label>
        <select type="text" class="form-control" name="container" ng-model="pl.container" required ng-options="container.Id as container.name_joined for container in containers" ></select>
        <p class="help-block"  ng-if="dataForm.container.$error.required" lng>Data is required</p>
      </div>

   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Command</label>
        <input type="text" class="form-control" name="command" ng-model="pl.command" required>
        <p class="help-block"  ng-if="dataForm.command.$error.required" lng>Data is required</p>
      </div>

      <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Execute</button>
      </div>

        </fieldset>
     </form>

<div ng-show="lastCmd">
    <div ng-show="lastCmd.stdout">
      <div class="bold">Standard output</div>
      <pre>{{lastCmd.stdout}}</pre>      
    </div>
    <div ng-show="lastCmd.stderr">
      <div class="bold">Standard error</div>
      <pre>{{lastCmd.stderr}}</pre>      
    </div>
</div>

