<h3 lng>Docker container volume config</h3>
<div class="colon" lng>Special keys that you can use inside the config node below</div>
<ul>
  <li>php_legacy_symlinks</li>
  <li>wh_php_fpm_conf_extra_lines</li>
  <li>DockerConfig</li>
  <li>DockerHostConfig</li>
</ul>

<form name="dataForm" novalidate="">
       <fieldset ng-disabled="isInProgress">
   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Configuration</label>
        <textarea rows="20" class="form-control" name="configStr" ng-model="configStr" valid-json required></textarea>
        <p class="help-block"  ng-if="dataForm.configStr.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.configStr.$error.validJson" lng>Invalid JSON</p>
      </div>

	<center>
	    <button class="btn btn-success" ng-click="fire()" lng>Save</button>
	</center>


        </fieldset>
</form>
