<mc-docker-upgrade-containers server="{{::server}}"></mc-docker-upgrade-containers>

<mc-docker-cleanup-old-images server="{{::server}}"></mc-docker-cleanup-old-images>

<h3 lng>Docker cleanup resources</h3>

<pre ng-show="cleanupResult">{{cleanupResult|json}}</pre>

 <form name="dataForm">
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-model="cl.configEntries" > 
               <span lng>Abandoned config entries</span>
            </label>
          </div>    
      </div>    

      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-model="cl.volume" > 
               <span lng>Abandoned volumes</span>
            </label>
          </div>    
      </div>    

      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-model="cl.container" > 
               <span lng>Abandoned containers</span>
            </label>
          </div>    
      </div>    

      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-model="cl.image" > 
               <span lng>Old images</span>
            </label>
          </div>    
      </div>    

<center>
	<button class="btn btn-default" ng-click="cleanupList()"  lng>List resources to cleanup</button>
	<button ng-disabled="cleanupDisabled" class="btn btn-danger" confirm ng-click="cleanupDo()" lng>Perform cleanup</button>
</center>

          </fieldset>
       </form>

<h3 lng>Docker misc admin controls</h3>

<pre ng-show="miscResult">{{miscResult|json}}</pre>

<center>
	<button class="btn btn-default" ng-click="showWebstoresConfig()"  lng>Show webstores config</button>
	<button class="btn btn-default" ng-click="rebuildHostsFile()"  lng>Rebuild hosts file</button>
  <button class="btn btn-default" ng-click="rebuildLatestMap()"  lng>Rebuild map file with latest image versions</button>
  <button class="btn btn-default" ng-click="rotatePhpFpmLogs()"  lng>Rotate PHP-FPM log files</button>
</center>
