<h3 lng>Docker application images</h3>


<table  mc-grid="images" class="margintop ">
  <caption lng>Docker application images</caption>
      <thead>
        <tr>
          <th st-sort="Created" lng>Created</th>
          <th st-sort="name_joined" lng>Tags</th>
          <th st-sort="VirtualSize" lng>VirtualSize</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="image in displayedCollection">
  <td>{{ ::image.createdHuman }}</td>  
  <td>{{ ::image.PrimaryTag }}</td>
  <td>{{ ::image.VirtualSize }}</td>
  <td>

            <div class="btn-group" uib-dropdown  dropdown-append-to-body>
              <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
                <span lng>Actions</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li role="menuitem" ><a href mc-sref="mc-superuser-docker-image-inspect" mc-sref-params="{server:server,iId:image.Id}" lng>Information</a></li>
                <li class="divider"></li>
                <li role="menuitem" ><a href ng-click="remove(image.Id, false)" lng>Remove</a></li>
                <li role="menuitem" ><a href ng-click="remove(image.Id, true)" lng>Remove (force)</a></li>
              </ul>
            </div>


  </td>
</tr>

</tbody>
</table>

<h3 lng>Pull Docker application image</h3>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Image</label>
        <input type="text" class="form-control" name="image" ng-model="pl.image" required>
        <p class="help-block"  ng-if="dataForm.image.$error.required" lng>Data is required</p>
      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

