    <div class="form-group" show-errors >
        <label class="control-label colon" lng>Document root</label>

		<div ng-show="showSelectbox">
			<select ng-required="required" ng-model="distinct.selected" name="docroot" class="form-control">
			  <option ng-repeat="docroot in ::distinctDocroots" value="{{docroot}}">{{docroot}}</option>
			</select>
		    <p class="help-block"  ng-if="form.docroot.$error.required" lng>Data is required</p>	
		</div>
		<div ng-show="showError" lng>There are no domains attached to this webhosting.</div>

    </div>

