  <td class="colon"><span lng>Web statistics (Awstats) status</span>
    <span ng-if="link">(<span mc-awstats-link server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" link="{{::link}}"></span>)</span>
  </td>
  <td>
     <span ng-show="lookupFinished && docroot.awstats" lng>Enabled</span>       
     <span ng-show="lookupFinished && !docroot.awstats" lng>Disabled</span>
  </td>
  <td>
    <div ng-show="docroot.awstats_allowed">
      <button ng-show="lookupFinished && !docroot.awstats" class="btn btn-default" ng-click="awstatsOn()" lng>Turn on</button>
      <button ng-show="lookupFinished && docroot.awstats" class="btn btn-default" ng-click="awstatsOff()" lng>Turn off</button>

    </div>
  </td>
