  <td class="colon" lng>Redirect plain HTTP traffic to HTTPS</td>
  <td>
     <span ng-show="lookupFinished && docroot.httpsonly" lng>Enabled</span>
     <span ng-show="lookupFinished && !docroot.httpsonly" lng>Disabled</span>
  </td>
  <td>
    <div>
      <button ng-show="lookupFinished && !docroot.httpsonly" class="btn btn-default" ng-click="turnOn()" lng>Turn on</button>
      <button ng-show="lookupFinished && docroot.httpsonly" class="btn btn-default" ng-click="turnOff()" lng>Turn off</button>

    </div>
  </td>
