
<div ng-if="!showError">
   	  <mc-docroot-webhosting-docroots server="{{::server}}" display="{{::display}}" domain="{{::domain}}"  wh-id="{{::whId}}" ></mc-docroot-webhosting-docroots>

   	  <mc-docroot-webhosting-protected-dirs server="{{::server}}" display="{{::display}}"  domain="{{::domain}}"  wh-id="{{::whId}}"  ></mc-docroot-webhosting-protected-dirs>

</div>
<div ng-if="showError">
      <mc-alert-box  message="This domain seems to be not assigned to any storages yet."></mc-alert-box>

</div>
