

       <div ng-if="!whId">
          <mc-global-webhosting-selector server="{{::server}}" model="model" change="onWebhostingSelected()"></mc-global-webhosting-selector>
        </div>
        
      <div ng-show="docrootLookupFinished" class="form-group" show-errors>
        <label class="control-label colon" lng>Document root</label>

        <select class="form-control" name="docroot_domain" ng-model="model.docroot_domain" required >
          <option ng-repeat="domain in docrootDomains" value="{{::domain}}">{{::domain}}</option>
        </select>
        <p class="help-block"  ng-if="dataForm.docroot_domain.$error.required" lng>Data is required</p>

      </div>

  
