  <td class="colon"><abbr lng-title="You can instruct the web browsers of your visitors to contact your site over HTTPS only. After enabling this, you must have a valid certificate all the time otherwise clients will refuse connecting to your site!">HTTPS Strict-Transport-Policy</abbr></td>
  <td>
     <span ng-show="lookupFinished && docroot.hstsheaders" lng>Enabled</span>
     <span ng-show="lookupFinished && !docroot.hstsheaders" lng>Disabled</span>
  </td>
  <td>
    <div>
      <button ng-show="lookupFinished && !docroot.hstsheaders" confirm="After enabling this, you must have a valid certificate all the time otherwise clients will refuse connecting to your site!" class="btn btn-default" ng-click="turnOn()" lng>Turn on</button>
      <button ng-show="lookupFinished && docroot.hstsheaders" class="btn btn-default" ng-click="turnOff()" lng>Turn off</button>

    </div>
  </td>
