  <td class="colon" lng>Gzip compression of static files at Nginx level</td>
  <td>
     <span ng-show="lookupFinished && docroot.nginxgzip" lng>Enabled</span>
     <span ng-show="lookupFinished && !docroot.nginxgzip" lng>Disabled</span>
  </td>
  <td>
    <div>
      <button ng-show="lookupFinished && !docroot.nginxgzip" class="btn btn-default" ng-click="turnOn()" lng>Turn on</button>
      <button ng-show="lookupFinished && docroot.nginxgzip" class="btn btn-default" ng-click="turnOff()" lng>Turn off</button>

    </div>
  </td>
