<h3 lng>List of VTS entries</h3>


    <div class="form-inline">

        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup  ng-model="filterData.from" is-open="opened[0]" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open(0)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>

        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="filterData.to"  is-open="opened[1]" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open(1)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>

        <p class="input-group" ng-if="!whId">
          <input type="checkbox" id="groupByWebstore" class="checkbox" ng-model="filterData.groupByWebstore" />
          <label for="groupByWebstore" lng>Group by webstore</label>
        </p>

        <p class="input-group">
          <input type="checkbox" id="groupByDomain" class="checkbox" ng-model="filterData.groupByDomain" />
          <label for="groupByDomain" lng>Group by domain</label>
        </p>

        <p class="input-group">
           <button class="btn btn-default" ng-click="pipeHelper.re()" lng>Search</button>
        </p>

    </div>

    <mc-debug model="filterData"></mc-debug>

<br/>

  <table mc-grid st-pipe="refetch" class="margintop lastColumnThin">
    <caption lng>VTS entries</caption>
        <thead>
          <tr>
            <th st-sort="tl_timestamp" lng>Timestamp</th>
            <th ng-if="superuser" lng>Account</th>
            <th ng-if="superuser" st-sort="tl_webhosting_id" lng>Webhosting</th>
            <th st-sort="tl_description" lng>Description</th>
            <th st-sort="tl_hits" lng>Hits</th>
            <th st-sort="tl_bytes_in" lng>In</th>
            <th st-sort="tl_bytes_out" lng>Out</th>
            <th st-sort="tl_bytes_sum" lng>Sum</th>
          </tr>
        </thead>
        <tbody>

  <tr ng-repeat="vts in displayedCollection" >
    <td>{{::vts.tl_timestamp}}</td>
    <td ng-if="superuser" ><a href mc-switch-user-superuser="{{ vts.user_id }}">{{ vts.u_name || vts.user_id }}</a></td>
    <td ng-if="superuser" >{{::vts.wh_name}} ({{::vts.tl_webhosting_id}})</td>
    <td>{{::vts.tl_description}}</td>
    <td>{{::vts.tl_hits}}</td>
    <td>{{::vts.tl_bytes_in_human}}</td>
    <td>{{::vts.tl_bytes_out_human}}</td>
    <td>{{::vts.tl_bytes_sum_human}}</td>
  </tr>


  </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th ng-if="superuser" ></th>
            <th ng-if="superuser" ></th>
            <th></th>
            <th>{{vtsRe.sum.tl_hits}}</th>
            <th>{{vtsRe.sum.tl_bytes_in_human}}</th>
            <th>{{vtsRe.sum.tl_bytes_out_human}}</th>
            <th>{{vtsRe.sum.tl_bytes_sum_human}}</th>
          </tr>
        </tfoot>  
  </table>

