
  <h3 lng lng-post-process>Protected directories for domain {display}</h3>


<mc-alert-box alert-type="success" message="Protected web directories can be accessed after username/password based authentication only."></mc-alert-box>


<div class="table-responsive" ng-if="showListing">
<table class="table table-striped table-hover margintop protected-dir-table">
  <caption lng>Protected directories</caption>
      <thead>
        <tr>
          <th lng>Location part in the URL</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="records_root">

<tr ng-repeat="record in records">
  <td>{{ record }}</td>
  <td>
    <button class="btn btn-warning" ng-click="delete(record)" lng>Delete</button> <!-- confirm --> 
  </td>
</tr>


</tbody>
</table>

</div>

<mc-alert-box ng-show="!showListing" alert-type="warning" message="Nothing is configured so far."></mc-alert-box>


  <h3 lng lng-post-process>Add new protected directory</h3>

<mc-alert-box alert-type="warning" message="The changes take place in a minute."></mc-alert-box>

<mc-alert-box alert-type="success" message="The directory is relative to your website base URL. For example the directory / would protect the complete domain (http://{domain}/), /sub would protect the subdirectory http://{domain}/sub only." params="{domain:domain}"></mc-alert-box>



 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Location part in the URL (eg. /subdir)</label>
        <input type="text" class="form-control" name="directory" ng-model="pl.dir" required lng-placeholder="/subdirectory/" >
        <p class="help-block"  ng-if="dataForm.directory.$error.required" lng>Data is required</p>
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
 </form>
