<h3 ng-if="!hidePageHeader" lng>Document root settings</h3>

<table class="table">
	<caption>{{::domain}}</caption>
<tbody>
    <tr ng-if="!securityOnly" mc-awstats-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" link="{{::awstatsLink}}"></tr>
    <tr mc-docroot-certificate-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></tr>
    <tr mc-docroot-httpsonly-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></tr>
    <tr mc-docroot-hstsheaders-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></tr>
    <tr mc-docroot-anticlickjackingheaders-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></tr>
    <tr mc-docroot-skipnginxstaticfiles-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></tr>
    <tr mc-docroot-nginxgzip-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></tr>
    <tr mc-docroot-forceredirect-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></tr>
    <tr mc-docroot-djangostatic-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></tr>
    <tr mc-docroot-dontblockxmlrpc-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></tr>
</tbody>
</table>
