
  <h3 lng lng-post-process>Accounts of protected directories</h3>


<div class="table-responsive" ng-if="showListing">
<table class="table table-striped table-hover margintop">
  <caption lng>Accounts</caption>
      <thead>
        <tr>
          <th lng>Username</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="records_root">

<tr ng-repeat="record in records">
  <td>{{ record.username }}</td>
  <td>
    <button class="btn btn-warning" ng-click="delete(record)" lng>Delete</button> <!-- confirm --> 
  </td>
</tr>


</tbody>
</table>

</div>

<mc-alert-box ng-show="!showListing" alert-type="warning" message="Nothing is configured so far."></mc-alert-box>


  <h3 lng lng-post-process>Add new account</h3>

<mc-alert-box alert-type="warning" message="The changes take place immediately."></mc-alert-box>

<mc-alert-box ng-show="showWarningAboutDomains" alert-type="success" message="The directories to be protected by these credentials can be configured individually among the domain specific settings."></mc-alert-box>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Username</label>
        <input type="text" class="form-control" name="username" ng-model="pl.username" required >
        <p class="help-block"  ng-if="dataForm.username.$error.required" lng>Data is required</p>
      </div>




      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password</label>
        <input type="password" class="form-control" name="password" ng-model="pl.password" required ng-minlength=8 >
        <p class="help-block"  ng-if="dataForm.password.$error.required" lng>Please enter the password</p>
        <p class="help-block"  ng-if="dataForm.password.$error.minlength" lng>The password is inappropriate (should be at least 8 characters long)</p>
        <p class="help-block"  ng-if="dataForm.password.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password again</label>
        <input type="password" class="form-control" name="c_password_repeat" required ng-model="tmp.c_password_repeat" same-as="pl.password" cleanpassword >        
        <p class="help-block"  ng-if="dataForm.c_password_repeat.$error.required" lng>Please repeat the password</p>

        <p class="help-block"  ng-if="dataForm.c_password_repeat.$error['same-as']" lng>The passwords you entered don't match</p>
      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
 </form>

