
  <h3 lng lng-post-process>Document roots of domain {display}</h3>

<div ng-show="all.primary">
  <mc-alert-box alert-type="info" message="This domain is currently the primary one. Requests coming to unconfigured hosts will be served by this one."></mc-alert-box>
</div>

<div ng-show="all['expired-root']">
  <mc-alert-box alert-type="info" message="This virtual host is currently configured to be the root of expired webroots."></mc-alert-box>
</div>

<div ng-show="all['bandwidth-exceeded-root']">
  <mc-alert-box alert-type="info" message="This virtual host is currently configured to be the root of webstores that have exceeded their bandwidth limit."></mc-alert-box>
</div>

<div ng-show="all['bandwidth-exceeded']">
  <mc-alert-box alert-type="info" message="This virtual host has exceeded its configured bandwidth limit and thus it is not allowed to accept new connections."></mc-alert-box>
</div>


<div class="table-responsive" ng-if="showListing">
<table class="table table-striped table-hover margintop">
  <caption lng>Document roots</caption>
      <thead>
        <tr>
          <th lng>Hostname</th>
          <th lng>Document root</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="records_root">

<tr ng-repeat="record in records">
  <td>{{ record.host }}</td>
  <td>{{ record.docroot }}</td>
  <td>
    <button class="btn btn-warning" ng-hide="all.suspended" ng-click="delete(record)" lng>Delete</button> <!-- confirm --> 
  </td>
</tr>


</tbody>
</table>

<div ng-if="showForce">
  <pre ng-show="serverConfig">{{serverConfig}}</pre>
  <center>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Config files</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="docrootConfigShow()" lng>Show docroot config</a></li>
        <li role="menuitem" ><a mc-sref="mc-docroot-webserver-config" mc-sref-params="{server:server,display:display,domain:domain,whId:whId,type:'apache'}" lng>Show Apache config</a></li>
        <li role="menuitem" ><a mc-sref="mc-docroot-webserver-config" mc-sref-params="{server:server,display:display,domain:domain,whId:whId,type:'nginx'}" lng>Show Nginx config</a></li>
        <li role="menuitem" ng-show="all.awstats" ><a href ng-click="awstatsConfigShow()" lng>Show Awstats config</a></li>
      </ul>
    </div>


    <div ng-show="all.awstats" class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span >Awstats</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="awstatsConfigShow()" lng>Show Awstats config</a></li>
        <li role="menuitem" ><a href ng-click="awstatsProcess()" lng>Get Awstats process the logs</a></li>
        <li role="menuitem" ><a href ng-click="awstatsBuild()" lng>Build Awstats site</a></li>
      </ul>
    </div>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Misc actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ng-hide="all.suspended"><a href confirm ng-click="suspend(true)" lng>Suspend</a></li>
        <li role="menuitem" ng-show="all.suspended"><a href ng-click="suspend(false)" lng>Unsuspend</a></li>
        <li role="menuitem"><a href ng-click="primary()" lng>Set primary</a></li>
        <li role="menuitem"><a href ng-click="expiredRoot()" lng>Set as expired root</a></li>
        <li role="menuitem"><a href ng-click="bandwidthExceededRoot()" lng>Set as bandwidth exceeded root</a></li>

        <li ng-hide="all['postdata']" role="menuitem"><a href ng-click="setPostdata(true)" lng>Start logging payload of POST requests</a></li>
        <li ng-show="all['postdata']" role="menuitem"><a href ng-click="setPostdata(false)" lng>Stop logging payload of POST requests</a></li>

        <li ng-hide="all['bandwidth-exceeded']" role="menuitem"><a href ng-click="bandwidthExceeded(true)" lng>Set as bandwidth exceeded</a></li>
        <li ng-show="all['bandwidth-exceeded']" role="menuitem"><a href ng-click="bandwidthExceeded(false)" lng>Release bandwidth exceeded</a></li>

        <li role="menuitem"><a href ng-click="rebuildWebhostingDocroot()" lng>Rebuild webhosting docroot</a></li>
        <li role="menuitem"><a href ng-click="requestTimeout()" lng>Change dynamic request timeout</a></li>
      </ul>
    </div>

  </center>
</div>


</div>

<mc-alert-box ng-show="!showListing" alert-type="warning" message="Nothing is configured so far."></mc-alert-box>

<div ng-hide="all.suspended">
  <h3 lng lng-post-process>Add new document root</h3>
<mc-alert-box alert-type="warning" message="The document root entries don't affect name resolving. Please make sure the specified hostnames resolve to this webhosting server."></mc-alert-box>
<mc-alert-box alert-type="warning" message="The changes take place in a minute."></mc-alert-box>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Hostname</label>
        <input type="text" class="form-control" name="hostname" ng-model="pl.host" required ends-with="{{::endsWith}}" ends-with-separator=".">
        <p class="help-block"  ng-if="dataForm.hostname.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.hostname.$error.endsWith" lng>The hostname does not belong to the domain!</p>
      </div>

      <mc-directory-picker title="Document root" form="dataForm" model="pl" model-name="docroot" server="{{::server}}" wh-id="{{::whId}}" placeholder="{{::docrootPlaceholder}}"></mc-directory-picker>


      <div ng-show="showForce">
        <div class="checkbox" >
              <label >
            <input type="checkbox"  ng-model="pl.force" >
            <span lng>Force accepting non-matching hostname</span>
          </label>
        </div>

      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>
<div ng-show="all.suspended">
  <mc-alert-box alert-type="danger" message="This domain is suspended."></mc-alert-box>
</div>
