
  <h3 lng lng-post-process>{redirectType} based web redirects of domain {display}</h3>

  <mc-alert-box alert-type="info" message="WEB_REDIRECT_{{::redirectType}}"></mc-alert-box>


<div class="table-responsive" ng-if="showListing">
<table class="table table-striped table-hover margintop">
  <caption lng lng-post-process>Web redirects based on {redirectType}</caption>
      <thead>
        <tr>
          <th lng>Hostname</th>
          <th lng>Redirect</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="records_root">

<tr ng-repeat="record in records">
  <td>{{ record.host }}</td>
  <td>{{ record.redirect }}</td>
  <td>
    <button class="btn btn-warning" ng-click="delete(record)" lng>Delete</button> <!-- confirm --> 
  </td>
</tr>


</tbody>
</table>

</div>

<mc-alert-box ng-show="!showListing" alert-type="warning" message="Nothing is configured so far."></mc-alert-box>


  <h3 lng lng-post-process>Add new {redirectType} based web redirect</h3>

  <mc-alert-box alert-type="warning" message="Please note that our system distinguishes the {domain} and www.{domain} hostnames, which means you should configure an entry for both with the same destination address, if that is what you need." params="{domain:domain}"></mc-alert-box>

  <mc-alert-box alert-type="warning" message="The changes take place in a minute."></mc-alert-box>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span lng>Document root settings have higher priority, if you want redirects to work as expected, make sure you don't have any docroot entries configured for this domain.</span> <a mc-sref="mc-docroot-webhosting-docroots" mc-sref-params="{server:server,whId:whId,domain:domain}" lng>Document root entries</a>
</div>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Hostname</label>
        <input type="text" class="form-control" name="hostname" ng-model="pl.host" required ends-with="{{::domain}}" ends-with-separator=".">
        <p class="help-block"  ng-if="dataForm.hostname.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.hostname.$error.endsWith" lng>The hostname does not belong to the domain!</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Redirect</label>
        <input type="text" class="form-control" name="redirect" ng-model="pl.redirect" required lng-placeholder="http://www.somwhere.else/" valid-url >
        <p class="help-block"  ng-if="dataForm.redirect.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.redirect.$error.validUrl" lng>The URL is not valid</p>

      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>


<div ng-if="redirectType == 'HTTP' && whId">
  <h3 lng>HTTP redirection settings</h3>

<mc-alert-box alert-type="info" message="For backward compatibility reasons, the document root entries have higher precedence than HTTP redirect entries. If you wish to redirect the visitors even when a document root entry is configured for a certain hostname, enable this setting below."></mc-alert-box>


  <table class="table">
    <caption>{{::domain}}</caption>
  <tbody>
      <tr mc-docroot-forceredirect-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></tr>
  </tbody>
  </table>
</div>