  <td class="colon" lng>Prevent your website being embedded at external locations (anti-clickjacking)</td>
  <td>
     <span ng-show="lookupFinished && docroot.anticlickjackingheaders" lng>Enabled</span>
     <span ng-show="lookupFinished && !docroot.anticlickjackingheaders" lng>Disabled</span>
  </td>
  <td>
    <div>
      <button ng-show="lookupFinished && !docroot.anticlickjackingheaders" class="btn btn-default" ng-click="turnOn()" lng>Turn on</button>
      <button ng-show="lookupFinished && docroot.anticlickjackingheaders" class="btn btn-default" ng-click="turnOff()" lng>Turn off</button>

    </div>
  </td>
