<mc-docroot-webhosting-docroots server="{{::server}}" domain="{{::domain}}" wh-id="{{::whId}}" display="{{::display}}" show-force="true" ></mc-docroot-webhosting-docroots>
<mc-docroot-webhosting-protected-dirs server="{{::server}}" domain="{{::domain}}" wh-id="{{::whId}}" display="{{::display}}"></mc-docroot-webhosting-protected-dirs>
