
      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Docroot host entries</label>
        <select required class="form-control" multiple name="hostentries"  ng-model="model"  ><option ng-repeat="entry in ::hostentries" value="{{ entry.raw }}" >{{entry.host}}</option></select>
            <p class="help-block"  ng-if="form.hostentries.$error.required" lng>Please specify at least one item</p>

      </div>      
