  <td class="colon" lng><abbr lng-title="When both redirects and docroot entries are configured, this setting will instruct the web server to serve the configured HTTP redirects first instead of serving files configured for the same hostname. The default behaviour is to serve files from docroot first.">Force using the configured HTTP redirects</abbr></td>
  <td>
     <span ng-show="lookupFinished && docroot.forceredirect" lng>Enabled</span>
     <span ng-show="lookupFinished && !docroot.forceredirect" lng>Disabled</span>
  </td>
  <td>
    <div>
      <button ng-show="lookupFinished && !docroot.forceredirect" class="btn btn-default" ng-click="turnOn()" lng>Turn on</button>
      <button ng-show="lookupFinished && docroot.forceredirect" class="btn btn-default" ng-click="turnOff()" lng>Turn off</button>

    </div>
  </td>
