      <mc-docroot-webhosting-protected-dirs server="{{::server}}" display="{{::display}}" domain="{{::domain}}"  wh-id="{{::whId}}" ></mc-docroot-webhosting-protected-dirs>

      <mc-docroot-webhosting-protected-dir-accounts show-warning-about-domains="{{::showWarningAboutDomains}}" server="{{::server}}" wh-id="{{::whId}}" ></mc-docroot-webhosting-protected-dir-accounts>
