  <td class="colon" ><abbr lng-title="If you wish to customize the behaviour of the webserver with static files via .htaccess files, turn this setting on, and the Nginx layer will let the Apache layer take care of these resources" lng>Don't serve static files at Nginx level</abbr></td>
  <td>
     <span ng-show="lookupFinished && docroot.skipnginxstaticfiles" lng>Enabled</span>
     <span ng-show="lookupFinished && !docroot.skipnginxstaticfiles" lng>Disabled</span>
  </td>
  <td>
    <div>
      <button ng-show="lookupFinished && !docroot.skipnginxstaticfiles" class="btn btn-default" ng-click="turnOn()" lng>Turn on</button>
      <button ng-show="lookupFinished && docroot.skipnginxstaticfiles" class="btn btn-default" ng-click="turnOff()" lng>Turn off</button>

    </div>
  </td>
