<h3 lng>Document roots attached to this webstore</h3>

<div class="table-responsive">
<table mc-grid="docrootDomains" class="lastColumnThin">
<thead>
<tr>
  <th lng>Domain</th>
  <th></th>
</tr>
</thead><tbody>
    <tr ng-repeat="domain in displayedCollection">
        <td>{{domain}}</td>
        <td>
             <a class="btn btn-default" type="button" href mc-sref="mc-docroot-webhosting-docroots-and-protected-dirs" mc-sref-params="{server:server,domain:domain,whId:whId}" lng>Manage</a>
        </td>
    </tr>
</tbody>
</table>
</div>
