  <td class="colon" lng>Serve Django static and media files at Nginx level</td>
  <td>
     <span ng-show="lookupFinished && docroot.djangostatic" lng>Enabled</span>
     <span ng-show="lookupFinished && !docroot.djangostatic" lng>Disabled</span>
  </td>
  <td>
    <div>
      <button ng-show="lookupFinished && !docroot.djangostatic" class="btn btn-default" ng-click="turnOn()" lng>Turn on</button>
      <button ng-show="lookupFinished && docroot.djangostatic" class="btn btn-default" ng-click="turnOff()" lng>Turn off</button>

    </div>
  </td>
