  <td class="colon" lng>Enable access to xmlrpc.php</td>
  <td>
     <span ng-show="lookupFinished && docroot.dontblockxmlrpc" lng>Enabled</span>
     <span ng-show="lookupFinished && !docroot.dontblockxmlrpc" lng>Disabled</span>
  </td>
  <td>
    <div>
      <button ng-show="lookupFinished && !docroot.dontblockxmlrpc" class="btn btn-default" ng-click="turnOn()" lng>Turn on</button>
      <button ng-show="lookupFinished && docroot.dontblockxmlrpc" class="btn btn-default" ng-click="turnOff()" lng>Turn off</button>

    </div>
  </td>
