<div class="table-responsive">
<table class="table table-striped table-hover">
<thead>
<tr>
  <th lng>Domain</th>
  <th lng>Document root</th>
  <th></th>
</tr>
</thead><tbody>
    <tr ng-repeat="(docroot, hosts) in ::distinctDocroots">
        <td>{{hosts}}</td>
        <td>{{docroot}}</td>
        <td>
             <a class="btn btn-danger" type="button" href target="_self" ng-click="remove(docroot)" confirm lng>Delete</a>
        </td>
    </tr>
</tbody>
</table>
</div>
