<h3 lng lng-post-process>Git repositories on server {server}</h3>

<div class="table-responsive">

<table class="table table-striped table-hover lastColumnThin">
  <caption lng>Git repositories</caption>
      <thead>
        <tr>
          <th lng>Account</th>
          <th lng>Webhosting</th>
          <th lng>Name</th>
          <th lng>Remote origin</th>
          <th lng>Branches</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="git in gits track by $index">
  <td><a href mc-switch-user-superuser="{{ git.g_user_id }}">{{ git.u_name || git.g_user_id }}</a></td>
  <td>{{ git.wh_name }} ({{::git.g_webhosting}})</td>
  <td>{{ git.g_name }}</td>
  <td>{{ git.g_remote_origin }}</td>
  <td>{{ git.g_branches }}</td>
  <td>
    <button class="btn btn-danger" ng-click="delete(git)" confirm lng>Delete</button>
  </td>
</tr>


</tbody>
</table>
</div>

<mc-alert-box ng-show="!showListing" alert-type="warning" message="There are no git repositories."></mc-alert-box>
