<h3><span class="colon" lng>Cluebringer policy members</span> {{::policyName}}</h3>

<table mc-grid="policyMembers" class="margintop lastColumnThin">
  <caption lng>Cluebringer policy members</caption>
      <thead>
        <tr>
          <th lng>Member</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="row in displayedCollection">
  <td>{{::row}}</td>
  <td>

    <button class="btn btn-warning" ng-click="remove(row)" lng>Delete</button>

  </td>
</tr>


</tbody>
</table>





<h3 lng>Add new member</h3>

<div>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Member</label>
        <input type="email" class="form-control" name="ea_email" ng-model="data.ea_email" required >
        <p class="help-block"  ng-if="dataForm.ea_email.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.ea_email.$error.email" lng>Invalid e-mail address</p>
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>