<h3 lng>E-mails in Postfix mail queue</h3>

<div class="table-responsive" ng-if="lookup.result">

<table class="table table-striped table-hover margintop">
  <caption lng>E-mails in queue</caption>
      <thead>
        <tr>
          <th ng-repeat="field in fields" lng="POSTFIX_FIELD_{{field}}"></th>
          <th></th>
        </tr>
      </thead>

<tbody ng-repeat="row in lookup.result"  >
<tr ng-class="{'danger': row.starred}">
  <td ng-repeat="field in fields">
    {{::row[field]}}
  </td>
  <td>
	    <button class="btn btn-default" ng-click="view(row)" lng>View</button> 
	    <button class="btn btn-warning" ng-click="remove(row)"  lng>Delete</button> 
  </td>
</tr>
<tr >
  <td colspan="{{::(fields.length+1)}}">
    <input class="form-control" readonly type="text" value="{{::row.status}}" >
  </td>
</tr>

</tbody>

</table>

<div><span class="colon" lng>Number of items in the queue</span> {{lookup.result.length}}</div>

</div>

<mc-alert-box ng-show="lookup.result && lookup.result.length <= 0" alert-type="warning" message="No messages in the mail queue this time."></mc-alert-box>

<mc-alert-box ng-show="!lookup.result" alert-type="warning" message="The query is in progress..."></mc-alert-box>

<h3 lng>Delete e-mails from the queue by address</h3>

<form name="dataForm" novalidate>

       <fieldset ng-disabled="isInProgress">
 
   <div class="form-group" show-errors>
      <label class="control-label colon" lng>Category</label>
      <select class="form-control" name="category" ng-model="del.category" required ><option ng-repeat="delCategory in delCategories" value="{{ delCategory }}" lng="POSTFIX_DELCATEGORY_{{::delCategory}}" required></option></select>
        <p class="help-block"  ng-if="dataForm.mc_type.$error.required" lng>Data is required</p>

  </div>
  <div class="form-group" show-errors>
      <label class="control-label colon" lng>E-mail address</label>
      <input type="email" class="form-control" name="email" ng-model="del.email" lng-placeholder="E-mail address to remove" required>
      <p class="help-block"  ng-if="dataForm.email.$error.required" lng>Data is required</p>
      <p class="help-block"  ng-if="dataForm.email.$error.email" lng>Invalid e-mail address</p>
  </div>  

          <div class="text-center">
                <button class="btn btn-warning" ng-click="fire()" lng>Delete</button>
          </div>

        </fieldset>
</form>
