<h3 lng="EMAIL_{{::name}}"></h3>

<div class="table-responsive" >
<table class="table table-striped table-hover margintop">
  <caption lng="EMAIL_{{::name}}"></caption>
      <thead>
        <tr>
          <th ng-repeat="field in fields" lng="AMAVIS_STAT_FIELD_{{field}}"></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="row in data">
  <td ng-repeat="field in fields">{{::row[field]}}</td>
</tr>


</tbody>
</table>


</div>
