<h3 lng>Cluebringer cleanup</h3>

<mc-alert-box alert-type="info" message="You can use this control to manually clean up the old entries in the Cluebringer database. This normally takes place every night."></mc-alert-box>

<div class="text-center">

    <button class="btn btn-default" ng-click="cleanup()" lng>Cleanup</button>

</div>