<h3><span class="colon" lng>Cluebringer group members</span> {{::group}}</h3>

<table mc-grid="groupMembers" class="margintop lastColumnThin">
  <caption lng>Cluebringer group members</caption>
      <thead>
        <tr>
          <th st-sort="Member" lng>Member</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="row in displayedCollection">
  <td>{{::row.Member}}</td>
  <td>

    <button class="btn btn-warning" ng-click="remove(row)" lng>Delete</button>

  </td>
</tr>


</tbody>
</table>




<h3 lng>Add new member</h3>

<div>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Member</label>
        <input type="text" class="form-control" name="Member" ng-model="data.Member" required >
        <p class="help-block"  ng-if="dataForm.Member.$error.required" lng>Data is required</p>
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>