<h3 lng>Domains</h3>

<table  mc-grid="domains" class="margintop lastColumnThin">
  <caption lng>Domains</caption>
      <thead>
        <tr>
          <th st-sort="u_name" lng>Account</th>
          <th st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="do_domain_name" lng>Domain name</th>
          <th st-sort="do_active" lng>Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="domain in displayedCollection" >
  <td><a href mc-switch-user-superuser="{{:: domain.do_user_id }}">{{ domain.u_name || domain.do_user_id }}</a></td>
  <td>{{:: domain.wh_name }} ({{::domain.do_webhosting }})</td>
  <td>{{:: domain.do_domain_name }}</td>
  <td lng="BOOLEAN_{{domain.do_active}}"></td>
  <td>
        <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="delete(domain)" confirm="This will also wipe all e-mail accounts connected to this domain. Do you really want to proceed?"  lng>Delete</a></li>
      </ul>
    </div>

  </td>
</tr>


</tbody>
</table>

