<h3 ><span lng>Cluebringer outbound policies</span> {{::group}}</h3>

   
<div class="table-responsive">
<table class="table table-striped table-hover margintop lastColumnThin">
  <caption lng>Cluebringer outbound policies</caption>
      <thead>
        <tr>
          <th lng>Policy name</th>
          <th lng>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="policy in lookup" ng-class="{'info':policy.DefaultPolicy}">
  <td>{{::policy.Name}}</td>
  <td>{{::policy.Description}}</td>
  <td>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="flush(policy)" lng>Flush trackings</a></li>
        <li role="menuitem" ><a href ng-click="members(policy)" lng>Manage members</a></li>
        <li role="menuitem" ><a href ng-click="quotas(policy)" lng>Modify quotas</a></li>
        <li ng-hide="policy.DefaultPolicy" role="menuitem" ><a href ng-click="remove(policy)" confirm  lng>Delete</a></li>
      </ul>
    </div>

  </td>
</tr>


</tbody>
</table>

<form class="text-center form-inline">
    <button class="btn btn-default" ng-click="backupPolicies()" lng>Backup policies</button>
    <input type="file" class="form-control" accept=".json" fileread="file.content" filename="file.name" accept=".xls,.xlsx" >
    <button class="btn btn-default" ng-click="mergePolicies()" ng-disabled="!file.name" lng>Merge policies</button>
    <!--
    <button class="btn btn-danger" ng-click="restorePolicies()" confirm ng-disabled="!file.name" lng>Restore policies</button>
     -->
</form>

</div>


<div id="policyMod"></div>


<h3 lng>Add new policy</h3>

<div>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Policy name</label>
        <input type="text" class="form-control" name="Name" ng-model="data.Name" required strict-string >
        <p class="help-block"  ng-if="dataForm.Name.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.Name.$error.strictString" lng>The character string should contain latin characters only</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Description</label>
        <input type="text" class="form-control" name="Description" ng-model="data.Description" required >
        <p class="help-block"  ng-if="dataForm.Description.$error.required" lng>Data is required</p>
      </div>

      <h5 class="colon bold" lng>Monthly</h5>

      <div class="form-group">
        <label class="control-label colon" ><abbr lng-title="Leave it as zero/empty to not use this constraint" lng>Allowance</abbr></label>
        <input type="number" class="form-control" name="monthly" ng-model="data.monthly.Limit" >
        <label class="control-label colon" lng>Error message to send to clients</label>
        <input type="text" class="form-control" name="monthly" ng-model="data.monthly.Message" >
      </div>

      <h5 class="colon bold" lng>Weekly</h5>

      <div class="form-group">
        <label class="control-label colon" ><abbr lng-title="Leave it as zero/empty to not use this constraint" lng>Allowance</abbr></label>
        <input type="number" class="form-control" name="weekly" ng-model="data.weekly.Limit" >
        <label class="control-label colon" lng>Error message to send to clients</label>
        <input type="text" class="form-control" name="weekly" ng-model="data.weekly.Message" >
      </div>

      <h5 class="colon bold" lng>Daily</h5>

      <div class="form-group">
        <label class="control-label colon" ><abbr lng-title="Leave it as zero/empty to not use this constraint" lng>Allowance</abbr></label>
        <input type="number" class="form-control" name="daily" ng-model="data.daily.Limit" >
        <label class="control-label colon" lng>Error message to send to clients</label>
        <input type="text" class="form-control" name="daily" ng-model="data.daily.Message" >
      </div>


      <h5 class="colon bold" lng>Hourly</h5>

      <div class="form-group">
        <label class="control-label colon" ><abbr lng-title="Leave it as zero/empty to not use this constraint" lng>Allowance</abbr></label>
        <input type="number" class="form-control" name="hourly_limit" ng-model="data.hourly.Limit" >
        <label class="control-label colon" lng>Error message to send to clients</label>
        <input type="text" class="form-control" name="hourly_message" ng-model="data.hourly.Message" >
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>
