<h3 lng>E-mails in Amavis quarantine</h3>

<table mc-grid="quarantined" class="margintop">
  <caption lng>E-mails in quarantine</caption>
      <thead>
        <tr>
          <th ng-repeat="field in fields" st-sort="{{field}}"  lng="AMAVIS_QUAR_FIELD_{{field}}"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="row in displayedCollection">
  <td ng-repeat="field in fields">{{::row[field]}}</td>
  <td>
	    <button class="btn btn-default" ng-click="download(row)" lng>Download</button> 
	    <button class="btn btn-warning" ng-click="remove(row)" lng>Delete</button> 
  </td>
</tr>


</tbody>
</table>

