<h3 lng>E-mail actions</h3>



<center>

	<div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>E-mail accounts</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="reportTallies()" lng>Report tallies</a></li>
        <li role="menuitem" ><a href ng-click="cleanJunk()" lng>Clean junk folders</a></li>
        <li role="menuitem" ><a href ng-click="autoExpunge()" lng>Trigger auto expunge</a></li>
        <li role="menuitem" ><a href ng-click="amavisCleanup()" lng>Amavis cleanup</a></li>
      </ul>
    </div>

	<div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Postfix actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="postfixFlushQueue()" lng>Flush mail queue</a></li>
        <li role="menuitem" ><a href ng-click="postfixEmptyQueue()" lng>Empty mail queue</a></li>
      </ul>
    </div>

</center>