  <h3 lng>E-mail DKIM keys</h3>

<table mc-grid="dkimKeys" class="margintop lastColumnThin">
  <caption lng>E-mail DKIM keys</caption>
      <thead>
        <tr>
          <th lng>Domain</th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="d in displayedCollection">
  <td>{{:: d }}</td>
</tr>


</tbody>
</table>

