<h3 ><span lng>Cluebringer groups</span> {{::group}}</h3>

<div class="table-responsive">
<table class="table table-striped table-hover margintop lastColumnThin">
  <caption lng>Cluebringer groups</caption>
      <thead>
        <tr>
          <th lng>Group name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="group in lookup">
  <td>{{::group.Name}}</td>
  <td>

    <button class="btn btn-default" ng-click="list(group)" lng>Manage</button>

  </td>
</tr>


</tbody>
</table>


</div>


<div id="groupMod"></div>
