  <h3 lng>E-mail BCCs</h3>

<table mc-grid="bccs" class="margintop lastColumnThin">
  <caption lng>E-mail BCCs</caption>
      <thead>
        <tr>
          <th st-sort="u_name" lng>Account</th>
          <th st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="bc_alias" lng>E-mail BCC</th>
          <th st-sort="bc_destination" lng>Destination</th>
          <th st-sort="bc_verified" lng>Confirmed</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="bcc in displayedCollection">
  <td><a href mc-switch-user-superuser="{{ bcc.bc_user_id }}">{{:: bcc.u_name || bcc.bc_user_id }}</a></td>
  <td>{{:: bcc.wh_name }} ({{::bcc.bc_webhosting }})</td>

  <td>{{:: bcc.bc_alias }}</td>
  <td>{{:: bcc.bc_destination }}</td>
  <td lng="BOOLEAN_{{bcc.bc_verified}}"></td>
  <td>

    <div ng-hide="bcc.bc_verified" class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="setVerified(bcc)" lng>Set as verified</a></li>
        <li role="menuitem" ><a href ng-click="delete(bcc)" confirm lng>Delete</a></li>
      </ul>
    </div>
    <div ng-show="bcc.bc_verified">
       <button class="btn btn-danger" ng-click="delete(bcc)" confirm lng>Delete</button>
    </div>

  </td>
</tr>


</tbody>
</table>

