<h3 lng>Mail queue automatic cleanup</h3>


<mc-typical-filter></mc-typical-filter>
   
<div class="table-responsive">
<table class="table table-striped table-hover margintop lastColumnThin">
  <caption lng>Mail queue automatic cleanup</caption>
      <thead>
        <tr>
          <th lng>E-mail address</th>
          <th lng>Category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="row in autoRows" >
  <td>{{::row.mc_email}}</td>
  <td lng="POSTFIX_DELCATEGORY_{{::row.mc_type}}"></td>
  <td>
    <button class="btn btn-warning" ng-click="delete(row)" lng>Delete</button>
  </td>
</tr>


</tbody>
</table>


</div>


<div id="policyMod"></div>


<h3 lng>Add new entry</h3>

<div>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>E-mail address</label>
        <input type="text" class="form-control" name="mc_email" ng-model="data.mc_email" required >
        <p class="help-block"  ng-if="dataForm.mc_email.$error.required" lng>Data is required</p>
      </div>

   <div class="form-group" show-errors >
      <label class="control-label colon" lng>Category</label>
      <select class="form-control" name="mc_type" ng-model="data.mc_type" required ><option ng-repeat="delCategory in delCategories" value="{{ delCategory }}" lng="POSTFIX_DELCATEGORY_{{::delCategory}}" ></option></select>
        <p class="help-block"  ng-if="dataForm.mc_type.$error.required" lng>Data is required</p>
  </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>
