<mc-superuser-email-actions server="{{::server}}"></mc-superuser-email-actions>

<mc-superuser-cluebringer-outbound-policies server="{{::server}}"></mc-superuser-cluebringer-outbound-policies>

<mc-superuser-cluebringer-groups server="{{::server}}"></mc-superuser-cluebringer-groups>

<mc-superuser-postfix-mailq server="{{::server}}"></mc-superuser-postfix-mailq>

<mc-superuser-email-domains server="{{::server}}"></mc-superuser-email-domains>
<mc-superuser-email-accounts server="{{::server}}"></mc-superuser-email-accounts>
<mc-superuser-email-aliases server="{{::server}}"></mc-superuser-email-aliases>
<mc-superuser-email-bccs server="{{::server}}"></mc-superuser-email-bccs>

<mc-superuser-amavis-last-mails server="{{::server}}"></mc-superuser-amavis-last-mails>
<mc-superuser-amavis-clean-mails server="{{::server}}"></mc-superuser-amavis-clean-mails>
<mc-superuser-amavis-spammy-mails server="{{::server}}"></mc-superuser-amavis-spammy-mails>
<mc-superuser-amavis-domains server="{{::server}}"></mc-superuser-amavis-domains>
<mc-superuser-amavis-quarantine server="{{::server}}"></mc-superuser-amavis-quarantine>
