  <h3 lng>E-mail aliases</h3>

<table mc-grid="aliases" class="margintop lastColumnThin">
  <caption lng>E-mail aliases</caption>
      <thead>
        <tr>
          <th st-sort="u_name" lng>Account</th>
          <th st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="el_alias" lng>E-mail BCC</th>
          <th st-sort="el_destination" lng>Destination</th>
          <th st-sort="el_verified" lng>Confirmed</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="alias in displayedCollection">
  <td><a href mc-switch-user-superuser="{{:: alias.el_user_id }}">{{ alias.u_name || alias.el_user_id }}</a></td>
  <td>{{:: alias.wh_name }} ({{::alias.el_webhosting }})</td>

  <td>{{:: alias.el_alias }}</td>
  <td>{{:: alias.el_destination }}</td>
  <td lng="BOOLEAN_{{::alias.el_verified}}"></td>
  <td>
    <div ng-hide="alias.el_verified" class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="setVerified(alias)" lng>Set as verified</a></li>
        <li role="menuitem" ><a href ng-click="delete(alias)" confirm lng>Delete</a></li>
      </ul>
    </div>
    <div ng-show="alias.el_verified">
      <button class="btn btn-danger" ng-click="delete(alias)" confirm lng>Delete</button>
    </div>
  </td>
</tr>


</tbody>
</table>


</div>
