<h3><span lng class="colon">Modify quotas of policy</span> {{::policyName}}</h3>


<div>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" >
        <label class="control-label colon" lng>Policy name</label>
        <input type="text" ng-readonly="true" class="form-control" name="Name" ng-model="policyName" required >
      </div>

      <h5 class="colon bold" lng>Monthly</h5>

      <div class="form-group">
        <label class="control-label colon" ><abbr lng-title="Leave it as zero/empty to not use this constraint" lng>Allowance</abbr></label>
        <input type="number" class="form-control" name="monthly" ng-model="data.monthly.Limit" >
        <label class="control-label colon" lng>Error message to send to clients</label>
        <input type="text" class="form-control" name="monthly" ng-model="data.monthly.Message" >
      </div>

      <h5 class="colon bold" lng>Weekly</h5>

      <div class="form-group">
        <label class="control-label colon" ><abbr lng-title="Leave it as zero/empty to not use this constraint" lng>Allowance</abbr></label>
        <input type="number" class="form-control" name="weekly" ng-model="data.weekly.Limit" >
        <label class="control-label colon" lng>Error message to send to clients</label>
        <input type="text" class="form-control" name="weekly" ng-model="data.weekly.Message" >
      </div>

      <h5 class="colon bold" lng>Daily</h5>

      <div class="form-group">
        <label class="control-label colon" ><abbr lng-title="Leave it as zero/empty to not use this constraint" lng>Allowance</abbr></label>
        <input type="number" class="form-control" name="daily" ng-model="data.daily.Limit" >
        <label class="control-label colon" lng>Error message to send to clients</label>
        <input type="text" class="form-control" name="daily" ng-model="data.daily.Message" >
      </div>


      <h5 class="colon bold" lng>Hourly</h5>

      <div class="form-group">
        <label class="control-label colon" ><abbr lng-title="Leave it as zero/empty to not use this constraint" lng>Allowance</abbr></label>
        <input type="number" class="form-control" name="hourly_limit" ng-model="data.hourly.Limit" >
        <label class="control-label colon" lng>Error message to send to clients</label>
        <input type="text" class="form-control" name="hourly_message" ng-model="data.hourly.Message" >
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>
