<h3 lng>E-mail accounts</h3>

<table mc-grid="accounts" class="margintop lastColumnThin">
  <caption lng>E-mail accounts</caption>
      <thead>
        <tr>
          <th st-sort="u_name" lng>Account</th>
          <th st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="ea_email" lng>E-mail account</th>
          <th st-sort="ea_quota_bytes_human" lng>Quota</th>
          <th st-sort="tally_bytes_human" lng>Current usage</th>
          <th st-sort="tally_messages" lng>Messages</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="account in displayedCollection" ng-class="{'danger':account.warning,'warning':account.ea_suspended}">
  <td><a href mc-switch-user-superuser="{{:: account.ea_user_id }}">{{ account.u_name || account.ea_user_id }}</a></td>
  <td>{{:: account.wh_name }} ({{::account.ea_webhosting }})</td>

  <td>{{:: account.ea_email }}</td>
  <td>{{:: account.ea_quota_bytes_human }}</td>
  <td>{{:: account.tally_bytes_human }}</td>
  <td>{{:: account.tally_messages }}</td>
  <td>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="recalculate(account)" lng>Recalculate tally</a></li>
        <li role="menuitem" ><a href ng-click="delete(account)" confirm lng>Delete</a></li>
        <li role="menuitem" ng-hide="account.ea_suspended" ><a href ng-click="doSuspended(account, true)" confirm lng>Suspend</a></li>
        <li role="menuitem" ng-show="account.ea_suspended" ><a href ng-click="doSuspended(account, false)" confirm lng>Unsuspend</a></li>
      </ul>
    </div>

  </td>
</tr>


</tbody>
</table>

