<h3 lng>Docker containers</h3>


<table  mc-grid="containers" class="margintop ">
  <caption lng>Docker containers</caption>
      <thead>
        <tr>
          <th st-sort="PrimaryName" lng>Name</th>
          <th st-sort="Image" lng>App type</th>
          <th st-sort="State" lng>State</th>
          <th st-sort="Command" lng>Command</th>
          <th lng>Additional info</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="container in displayedCollection">
  <td>{{ ::container.PrimaryName }}</td>
  <td>{{ ::container.Image }} ({{ ::container.Labels['com.monster-cloud.mc-app'] }})</td>
  <td>{{ ::container.State }}<br/>{{ ::container.Status }}</td>
  <td><input type="text" style="border: none; background: transparent;" readonly value="{{ ::container.Command }}" /></td>
  <td>
    <div ng-if="container.Labels['com.monster-cloud.mc-app']=='ssh'"><span class="colon" lng>Username</span> {{::container.Labels['com.monster-cloud.webstore']}}</div>
    <div ng-if="container.Labels['com.monster-cloud.hostPort']"><span class="colon" lng>Exposed port</span> {{server}}.{{config.service_primary_domain}}:{{::container.Labels['com.monster-cloud.hostPort']}}</div>
    <div ng-if="container.shutdownAt"><span class="colon" lng>Shutdown at</span> {{container.shutdownAtHuman}}</div>
  </td>
  <td>

            <div class="btn-group" uib-dropdown  dropdown-append-to-body>
              <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
                <span lng>Actions</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li ng-if="container.State != 'running'" role="menuitem" ><a href ng-click="action(container, 'start')" lng>Start</a></li>
                <li ng-if="container.State == 'running'" role="menuitem" ><a href ng-click="action(container, 'restart')" lng>Restart</a></li>
                <li ng-if="container.State == 'running' || container.State == 'restarting'" role="menuitem" ><a href ng-click="action(container, 'stop')" lng>Stop</a></li>
                <li ng-if="container.State == 'running'" role="menuitem" ><a href ng-click="action(container, 'kill')" lng>Kill</a></li>
                <li role="menuitem" ><a href ng-click="action(container, 'remove')" lng>Remove</a></li>
                <li class="divider"></li>
                <li ng-if="container.webApplication" role="menuitem" ><a href ng-click="saveWebApp(null, container.Id)" lng>Set as default web application</a></li>
                <li role="menuitem" ><a mc-sref="mc-docker-container-exec" mc-sref-params="{server:server,whId:whId,cId:container.Id}" lng>Low level information</a></li>
                <li ng-if="container.webshellUrl" role="menuitem" ><a ng-href="{{container.webshellUrl}}" target='_blank' lng>Open webshell</a></li>
              </ul>
            </div>

  </td>
</tr>


</tbody>
</table>

<div ng-show="availableImages && !availableImages.canCreate">
    <mc-alert-box alert-type="warning" message="This webstore reached its container quota, new containers cannot be created."></mc-alert-box>
</div>

<div ng-show="availableImages.canCreate && !availableImages.images.length">
    <mc-alert-box alert-type="warning" message="You are entitled to create new containers, but no images are available."></mc-alert-box>
</div>

<h3 lng>Web application bindings</h3>

<div class="table-responsive margintop">
<table class="table table-hover ">
      <thead>
        <tr>
          <th lng>Virtual host</th>
          <th lng>Current web application</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr >
  <td lng>Default application of the webstore</td>
  <td>
     <form class="form-inline">
      <select class="form-control" ng-model="webapps.default.match">
        <option value="none" lng>webapp-none</option>
        <option value="host-legacy" lng>webapp-host-legacy</option>
        <option ng-repeat="webapp in webApplications" value="{{::webapp.Id}}">{{::webapp.PrimaryName}} ({{::webapp.Image}})</option>
      </select>
      <button class="btn btn-default" ng-click="saveWebApp(null, webapps.default.match)" lng>Save</button>
     </form>
  </td>
</tr>
<tr ng-repeat="(vhost,d) in webapps.vhosts">
  <td>{{ ::vhost }}</td>
  <td>
     <form class="form-inline">
      <select ng-model="d.match" class="form-control">
        <option value="default" lng>webapp-default</option>
        <option value="none" lng>webapp-none</option>
        <option value="host-legacy" lng>webapp-host-legacy</option>
        <option ng-repeat="webapp in webApplications" value="{{::webapp.Id}}">{{::webapp.PrimaryName}} ({{::webapp.Image}})</option>
      </select>
      <button class="btn btn-default" ng-click="saveWebApp(vhost, d.match)" lng>Save</button>
     </form>
  </td>
</tr>

</tbody>
</table>
</div>

<div class="text-center">
   <a class="btn btn-default" role="button" lng mc-sref="mc-attach-domain" mc-sref-params="{server:server,whId:whId}" >Attach domain to the webstore</a>
</div>


<div ng-show="availableImages.canCreate && availableImages.images.length">

 <h3 lng>Create a new container</h3>

<div ng-if="config.docker_webapp_examples_url" class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <strong lng="Examples"></strong> <span class="colon" lng>You can find example web applications in the following repository</span> <a ng-href="{{::config.docker_webapp_examples_url}}" target="_blank">{{::config.docker_webapp_examples_url}}</a>
</div>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Image</label>
        <select class="form-control" name="image" ng-model="cl.image" required ng-options="image as image.PrimaryTag  group by image.imageType for image in availableImages.images" ></select>
        <p class="help-block"  ng-if="dataForm.image.$error.required" lng>Data is required</p>
      </div>


      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-model="cl.start" > 
               <span lng>Start container after it was created</span>
            </label>
          </div>    
      </div>    
   
      <div class="form-group" ng-if="cl.image.debugSupported" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-model="cl.debug" > 
               <abbr lng-title="Containers running in debug mode don't serve any requests but SSH/webshell can be attached to them, even if they exit abnormally otherwise" lng>Debug mode</abbr>
            </label>
          </div>    
      </div>    



        <div ng-switch on="cl.image.Labels['com.monster-cloud.mc-app']">

        <div ng-switch-when="memcache">
            <mc-alert-box alert-type="info" message="Memory object caching server; you can connect to it via unix domain sockets (e.g. /web/ipc/redis or /web/ipc/memcached)."></mc-alert-box>
        </div>

        <div ng-switch-when="shell">
            <mc-alert-box alert-type="info" message="This is a simple shell with rsync and git included, you can use as target with the managed SSH service. You can execute commands in any of your another containers using the dsh helper utility."></mc-alert-box>
        </div>

        <div ng-switch-when="ssh">
            <mc-alert-box alert-type="info" message="Deprecated - use our managed SSH service instead! This is an SSH/SFTP server with rsync and git included. Login is possible with SSH public key authentication only on a non-standard high port number of this server (will be displayed after the container was created)."></mc-alert-box>
        </div>

        <div ng-switch-when="webshell">
            <mc-alert-box alert-type="info" message="This container provides a quick, command-line terminal based administration opportunity that is exposed directly to your browser. Once the container is created, the webshell can be opened via the context menu above. The tool shuts down itself automatically."></mc-alert-box>
        </div>

        <div ng-switch-when="ssh|webshell" ng-switch-when-separator="|">

             <div class="form-group" show-errors>
               <label class="control-label colon" lng>Type</label>
              <select type="text" class="form-control" name="type" ng-model="cl.type" required>
                  <option value="simple" lng>simple</option>
                  <option value="attach" lng>attach</option>
              </select>
              <p class="help-block" ng-if="dataForm.type.$error.required" lng>Data is required</p>
            </div>

            <div class="form-group" ng-if="cl.type=='attach'" show-errors>
              <label class="control-label colon" lng>Target container</label>
              <select type="text" class="form-control" name="container" ng-model="cl.container" required ng-options="container.Id as container.name_joined for container in containers" ></select>
              <p class="help-block"  ng-if="dataForm.container.$error.required" lng>Data is required</p>
            </div>


        </div>

        <div ng-switch-when="ssh">

             <div class="form-group" show-errors>
               <label class="control-label colon"><abbr lng-title="Login is allowed via the public-key authentication scheme only - you can specify multiple keys, one per line" lng>SSH public keys</abbr></label>
              <textarea class="form-control"ng-model="cl.publicKeys" name="publicKeys" required valid-ssh-keys ></textarea>
              <p class="help-block" ng-if="dataForm.publicKeys.$error.required" lng>Data is required</p>
              <p class="help-block" ng-if="dataForm.publicKeys.$error.validSshKeys" lng>SSH key provided is invalid - just paste content from your ~/.ssh/id_rsa.pub (dss and ecdsa are also supported)</p>
            </div>


        </div>

        <div ng-switch-when="nodejs">

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="colon" lng>You can host your Node.JS applications (including Express) with this image. The application is expected to listen on the unix domain socket</span> <a href="https://expressjs.com/en/api.html#app.listen_path_callback" target="_blank">/var/run/mc-app-socket/socket</a> <span lng>Package dependencies will be installed via npm. Your package.json must include a rule for starting the application.</span>
</div>


             <mc-directory-picker title="Application directory" form="dataForm" model="cl" model-name="appdir" server="{{::server}}" wh-id="{{::whId}}" placeholder="This is the directory inside the webstore where the npm install and the npm start commands will be executed"></mc-directory-picker>


        </div>

        <div ng-switch-when="python">

            <mc-alert-box alert-type="info" message="You can host your Python3 based applications (including Django, Flask) with this image. The application is expected to have a wsgi entry point. Package dependencies listed in requirements.txt will be installed automatically."></mc-alert-box>


               <mc-directory-picker title="Application directory" form="dataForm" model="cl" model-name="appdir" server="{{::server}}" wh-id="{{::whId}}" placeholder="This is the directory inside the webstore with the requirements.txt file."></mc-directory-picker>

            <div class="form-group" show-errors>
              <label class="control-label colon" lng>Subdirectory</label>
              <input type="text" class="form-control" name="subdir" ng-model="cl.subdir" lng-placeholder="Needed for projects with multiple level of directory hierarchy, like in Django; eg. mysite" >
            </div>

            <div class="form-group" show-errors>
              <label class="control-label colon" lng>Wsgi project name</label>
              <input type="text" class="form-control" name="wsgi" ng-model="cl.wsgi" lng-placeholder="Example: wsgi or mysite.wsgi" required>
              <p class="help-block"  ng-if="dataForm.wsgi.$error.required" lng>Data is required</p>
            </div>

        </div>

        <div ng-switch-when="php">

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span lng>The PHP engine will be interpreting the PHP scripts directly from your document root. The php.ini configuration options can be overridden using the <a href='http://php.net/manual/en/configuration.file.per-user.php'>.user.ini</a> feature of the language or by placing additional ini files inside the /conf/php-X.Y directory.</span>
</div>

        </div>

        </div>



      <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
      </div>

        </fieldset>
     </form>

     <div ng-show="lastCreateResponse">
       <div class="bold colon" lng>Response of the last create operation</div>
       <pre >{{lastCreateResponse|json}}</pre>
     </div>
</div>

