
 <h3 lng>Configuring SSH access</h3>

<div ng-show="wh && !sshAllowed">
    <mc-alert-box alert-type="warning" message="SSH access is not allowed for this webstore."></mc-alert-box>
</div>

<div ng-show="sshAllowed">
  <div class="alert alert-info" role="alert">
    
    <div><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span class="colon" lng>The SSH server listens on the following address</span> <strong>{{::server}}.{{config.service_primary_domain}}:2223</strong></div>
    <div><span class="colon" lng>Your username is</span> <strong>{{wh.wh_id}}</strong></div>
    <div><span class="colon" lng>Example command</span> <strong>ssh -p 2223 {{wh.wh_id}}@{{::server}}.{{config.service_primary_domain}}</strong></div>
  </div>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

           <div class="form-group" show-errors>
               <label class="control-label colon"><abbr lng-title="Login is allowed via the public-key authentication scheme only - you can specify multiple keys, one per line" lng>SSH public keys</abbr></label>
              <textarea rows=10 class="form-control"ng-model="cl.authz" name="authz" required valid-ssh-keys ></textarea>
              <p class="help-block" ng-if="dataForm.authz.$error.required" lng>Data is required</p>
              <p class="help-block" ng-if="dataForm.authz.$error.validSshKeys" lng>SSH key provided is invalid - just paste content from your ~/.ssh/id_rsa.pub (dss and ecdsa are also supported)</p>
          </div>
   
      <div class="form-group" show-errors>
        <label class="control-label colon"><abbr lng-title="You need to launch a container first before being able to login." lng>Target container</abbr></label>
        <select class="form-control" name="targetContainer" ng-model="cl.targetContainer" required ng-options="container.Id as container.human for container in containers" ></select>
        <p class="help-block"  ng-if="dataForm.targetContainer.$error.required" lng>Data is required</p>
      </div>



      <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
        <a role="button" href class="btn btn-default" mc-sref="mc-docker-containers" mc-sref-params="{server:server,whId:whId}" lng>Manage containers</a>
      </div>

        </fieldset>
     </form>

</div>