<div class="modal-header"><h3 class="modal-title" lng>Docker container upgrade</h3></div>
  <div class="modal-body">
	  <span lng>You can use this tool to upgrade, downgrade or rebuild your containers. The operation is not expected to cause any downtime in serving your website.</span>
        <div class="form-group margin-top">
          <label class="control-label colon" lng>Target version</label>
          <select name="target_version" ng-model="data.target" class="form-control">
          	<option ng-repeat="target in data.targets" value="{{::target}}">{{::target}}</option>
          </select>
        </div>

  	
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" lng>Ok</button>
    <button class="btn btn-default" ng-click="cancel()" lng>Cancel</button>
  </div>
