<h3 lng>Docker container info</h3>
<pre>{{info|json}}</pre>

<center>
    <button class="btn btn-default" ng-click="showUpgrade(info)"><span ng-if="info.showRebuild" lng>Rebuild container</span><span ng-if="info.showUpgrade" lng>Upgrade/downgrade container</span></button>
</center>


<div ng-show="info.State == 'running'">

  <h3 lng>Execute command</h3>


   <form name="dataForm" novalidate>
         <fieldset ng-disabled="isInProgress">

     
        <div class="form-group" show-errors>
          <label class="control-label colon" lng>Command</label>
          <input type="text" class="form-control" name="command" ng-model="pl.command" required>
          <p class="help-block"  ng-if="dataForm.command.$error.required" lng>Data is required</p>
        </div>

        <div class="text-center">
          <button  class="btn btn-success" ng-click="fire()" lng>Execute</button>
        </div>

          </fieldset>
       </form>

  <div ng-show="lastCmd">
      <div ng-show="lastCmd.stdout">
        <div class="bold">Standard output</div>
        <pre>{{lastCmd.stdout}}</pre>      
      </div>
      <div ng-show="lastCmd.stderr">
        <div class="bold">Standard error</div>
        <pre>{{lastCmd.stderr}}</pre>      
      </div>
  </div>

</div>

<h3 lng>Docker container logs</h3>
<pre>{{logs}}</pre>
