
<h3 ><span class="colon" lng>VTS admin options</span> {{::server}}</h3>

<center>

        <button class="btn btn-default" ng-click="vtsCompress()"  lng>Compress VTS entries</button>
        <button class="btn btn-default" ng-click="vtsProcess()"  lng>Process VTS entries</button>
        <button class="btn btn-default" ng-click="vtsOpen()"  lng>Open VTS frontend</button>
        <button class="btn btn-default" ng-click="mrtgOpen()"  lng>Open MRTG statistics</button>

</center>
