<h2 ><span class="colon" lng>Webserver virtual host raw config</span> {{::type}}</h2>

<pre ng-show="rawConfig">{{rawConfig}}</pre>

<h3 lng >Hooks</h3>
<form novalidate>
      <div class="form-group" ng-repeat="(category, placeholder) in categories">
        <label class="control-label colon" lng="VHOST_CONFIG_CAT_{{::category}}"></label>
        <textarea rows=10 class="form-control" ng-model="hooks[category]" lng-placeholder="{{::placeholder}}" ></textarea>
      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

</form>