<h3 lng>DocrootAPI docroots</h3>


	<table mc-grid="docroots" class="margintop  wh-docroot-table">
		<caption lng>Document roots configured</caption>
	      <thead>
	        <tr>
	          <th st-sort="wh_name" lng>Webhosting</th>
	          <th st-sort="domain" lng>Domain</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody >

	<tr ng-repeat="webhostingsDomain in displayedCollection">
	  <td>{{ webhostingsDomain.wh_name }} ({{ webhostingsDomain.wh }})</td>
	  <td>{{ webhostingsDomain.domain }}</td>
	  <td>
            <div class="btn-group" uib-dropdown  dropdown-append-to-body>
              <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
                <span lng>Actions</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li role="menuitem" ><a href ng-click="queryDomain(webhostingsDomain)" lng>Query</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href ng-click="removeDomain(webhostingsDomain)" confirm lng>Delete</a></li>
                <li role="menuitem"><a href ng-click="removeWebhosting(webhostingsDomain)" confirm lng>Delete complete webstore</a></li>

              </ul>
            </div>

	  </td>
	</tr>


	</tbody>
	</table>


  <div id="queryDocrootDomain"></div>	


