<h3 lng>DocrootAPI administrative options</h3>

<pre ng-show="response">{{response | json}}</pre>

<center>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Webservers</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="serverRehash('apache')"  lng>Apache rehash</a></li>
        <li role="menuitem" ><a href ng-click="serverRehash('nginx')"  lng>Nginx rehash</a></li>
      </ul>
    </div>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-warning" uib-dropdown-toggle >
        <span lng>Maintenance</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="maintane()"  confirm lng>Maintane</a></li>
        <li role="menuitem" ><a href ng-click="rebuildAllDocroots()"  confirm lng>Complete rebuild of docroots</a></li>
        <li role="menuitem" ><a href ng-click="rebuildAllRedirects()"  confirm lng>Complete rebuild of HTTP redirects</a></li>
        <li role="menuitem" ><a href ng-click="rebuildAllFrames()"  confirm lng>Complete rebuild of Frame redirects</a></li>
      </ul>
    </div>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span>Awstats</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="awstatsProcessAll()"  lng>Get Awstats process all the logfiles</a></li>
        <li role="menuitem" ><a href ng-click="awstatsBuildAll()"  lng>Get Awstats build all sites</a></li>
        <li role="menuitem" ><a href ng-click="awstatsProcessAndBuildAll()"  lng>Get Awstats process and build all sites</a></li>
      </ul>
    </div>

</center>

<mc-docroot-superuser-docroots server="{{::server}}"></mc-docroot-superuser-docroots>
