  <h2 lng>Certificate contacts</h2>

  <table mc-grid="contacts"  class="margintop lastColumnThin">
    <caption lng>Certificate contacts</caption>
        <thead>
          <tr>
            <th st-sort="u_name" lng>Account</th>
            <th st-sort="co_FirstName" lng>First name</th>
            <th st-sort="co_LastName" lng>Last name</th>
            <th st-sort="co_OrganizationName" lng>Organization</th>
            <th st-sort="co_Phone" lng>Tel number</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

  <tr ng-repeat="contact in displayedCollection"  ng-class="{ success: (contact.co_id == defContact) }">
    <td><a href mc-switch-user-superuser="{{ contact.co_user_id }}">{{ contact.u_name || contact.co_user_id }}</a></td>
    <td>{{ contact.co_FirstName }}</td>
    <td>{{ contact.co_LastName }}</td>
    <td>{{ contact.co_OrganizationName }}</td>
    <td>{{ contact.co_Phone }}</td>
    <td>


    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="select(contact)" lng>Select as default for local activations</a></li>
        <li role="menuitem" ><a href ng-click="delete(contact)"  confirm lng>Delete</a></li>
      </ul>
    </div>

    </td>
  </tr>


  </tbody>
  </table>


