
  <h2 lng>Add new certificate purchase</h2>
     
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

       <mc-superuser-user-selector form="dataForm" data="purchase.pc_user_id"></mc-superuser-user-selector>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Reseller</label>
        <select class="form-control" ng-change="onResellerChange()" name="pc_reseller" ng-model="purchase.pc_reseller" required >
          <option ng-repeat="reseller in resellers" value="{{reseller}}" >{{::reseller}}</option>
        </select>
        <p class="help-block"  ng-if="dataForm.pc_reseller.$error.required" lng>Data is required</p>
      </div>


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Vendor</label>
        <select class="form-control" ng-change="onVendorChange()" name="pc_vendor" ng-model="purchase.pc_vendor" required >
          <option ng-repeat="vendor in vendors" value="{{vendor}}" >{{::vendor}}</option>
        </select>
        <p class="help-block"  ng-if="dataForm.pc_vendor.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Product</label>
        <select class="form-control" name="pc_product" ng-model="purchase.pc_product" required >
          <option ng-repeat="product in products" value="{{product}}" >{{::product}}</option>
        </select>
        <p class="help-block"  ng-if="dataForm.pc_product.$error.required" lng>Data is required</p>
      </div>


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Status</label>
        <select class="form-control" name="pc_status" ng-model="purchase.pc_status" required >
          <option ng-repeat="status in statuses" value="{{status}}" lng="CERT_PURCHASE_STATUS_{{::status}}"></option>
        </select>
        <p class="help-block"  ng-if="dataForm.pc_status.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" >
        <label class="control-label colon" lng>Subject common name</label>
        <input type="text" class="form-control" name="pc_subject_common_name" ng-model="purchase.pc_subject_common_name"  />
      </div>

      <div class="form-group" >
        <label class="control-label colon" lng>CERT_PURCHASE_pc_begin</label>
        <input type="text" class="form-control" name="pc_begin" ng-model="purchase.pc_begin"  />
      </div>

      <div class="form-group" >
        <label class="control-label colon" lng>CERT_PURCHASE_pc_end</label>
        <input type="text" class="form-control" name="pc_end" ng-model="purchase.pc_end"  />
      </div>

      <div class="form-group" >
        <label class="control-label colon" lng>Local certificate ID</label>
        <input type="text" class="form-control" name="pc_certificate" ng-model="purchase.pc_certificate"  />
      </div>      

      <div ng-switch on="purchase.pc_reseller">
          <div ng-switch-when="namecheap" >


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Years</label>
        <input type="number" min="1" max="3" class="form-control" name="years" ng-model="purchase.pc_product_parameters.Years"  />
      </div>

          </div>
      </div>


      <div class="form-group" >
        <label class="control-label colon" lng>Reseller certificate ID</label>
        <input type="text" class="form-control" name="pc_reseller_certificate_id" ng-model="purchase.pc_reseller_certificate_id"  />
      </div>

      <div class="form-group" >
        <label class="control-label colon" lng>Miscellaneous</label>
        <input type="text" class="form-control" name="pc_misc" ng-model="purchase.pc_misc" placeholder="JSON: {...}" />
      </div>

      <div class="form-group" >
        <label class="control-label colon" lng>Comment</label>
        <input type="text" class="form-control" name="pc_comment" ng-model="purchase.pc_comment"  />
      </div>



       <mc-debug model="purchase"></mc-debug>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

