  <h2><span class="colon" lng>Certificates on server</span> {{::server}}</h2>

  <div class="form-inline">

    <div class="input-group">
      <label lng>Disabled</label>
      <select ng-model="status" class="form-control" ng-change="refetch()"><option ng-repeat="statusOption in statusOptions" value="{{::statusOption}}" lng="BOOLEAN_{{::statusOption}}"></option></select>
    </div>


  </div>

  <br/>

  <table mc-grid="certificates" class="margintop lastColumnThin">
     <caption lng>Certificates</caption>
        <thead>
          <tr>
            <th st-sort="u_name" lng>Account</th>
            <th st-sort="wh_name" lng>Webhosting</th>
            <th st-sort="c_subject_common_name" lng>Subject common name</th>
            <th st-sort="c_issuer_common_name" lng>Issuer common name</th>
            <th st-sort="c_end" lng>Expires</th>
            <th st-sort="c_alias" lng>Cert alias</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

  <tr  ng-repeat="cert in displayedCollection"  ng-class="{ danger: cert.c_deleted }">
    <td><a href mc-switch-user-superuser="{{ cert.c_user_id }}">{{ cert.u_name || cert.c_user_id }}</a></td>
    <td>{{ ::cert.wh_name }} ({{::cert.c_webhosting}})</td>
    <td>{{ ::cert.c_subject_common_name }}</td>
    <td>{{ ::cert.c_issuer_common_name }}</td>
    <td>{{ ::cert.c_end }}</td>
    <td>{{ cert.c_alias }}</td>
    <td>
        <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href mc-sref="mc-cert-info" mc-sref-params="{server:server,cId:cert.c_id,whId:cert.c_webhosting,superuser:true}" lng>More info</a></li>
        <li role="menuitem" ng-if="cert.c_deleted" ><a href ng-click="enable(cert)"  lng>Enable</a></li>
        <li role="menuitem" ng-if="!cert.c_deleted" ><a href ng-click="disable(cert)" lng>Disable</a></li>
        <li role="menuitem" ><a href ng-click="wipe(cert)"  confirm lng>Wipe</a></li>
        <li role="menuitem" ><a href ng-click="detach(cert)"  confirm lng>Detach from webstore</a></li>
        <li role="menuitem" ><a href ng-click="setAlias(cert)"  lng>Change alias</a></li>
        <li role="menuitem" ><a href ng-click="setComment(cert)"  lng>Change comment</a></li>
      </ul>
    </div>

    </td>
  </tr>


  </tbody>
  </table>

