  <h2 lng>Purchased certificate info</h2>

  <table class="table table-striped table-hover">
    <tr ng-repeat="key in fieldsToShow" ng-if="data[key]">
       <td class="colon" lng="CERT_PURCHASE_{{::key}}"></td>
       <td>{{::data[key]}}</td>
    </tr>

    <tr >
       <td class="colon" lng>Change status of purchase</td>
       <td>
         <form class="form-inline">
         <select ng-model="change.pc_status" class="form-control">
           <option ng-repeat="status in purchaseStatuses" value="{{::status}}" lng="CERT_PURCHASE_STATUS_{{::status}}"></option>
         </select>
         <button class="btn btn-default" ng-click="doChange()" lng>Change status</button>
         <button class="btn btn-default" ng-click="doPoll()" lng>Poll status</button>
         </form>
       </td>
    </tr>

  </table>


<h3 lng>Activations</h3>

  <table mc-grid="activations" class="margintop lastColumnThin">
     <caption lng>Activations</caption>
        <thead>
          <tr>
            <th st-sort="created_at" lng>Timestamp</th>
            <th st-sort="a_status" lng>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

  <tr ng-repeat="activation in displayedCollection"  >
    <td>{{ ::activation.created_at }}</td>
    <td lng="{{ ::activation.a_status }}"></td>
    <td>

        <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="show(activation)"  lng>Show payload</a></li>
        <li role="menuitem" ><a href ng-click="resend(activation)"  lng>Resend</a></li>
      </ul>
    </div>

    </td>
  </tr>


  </tbody>
  </table>


<pre ng-if="showPayload">{{showPayload|json}}</pre>
