  <h2><span class="colon" lng>Certificate purchases on server</span> {{::server}}</h2>


  <table mc-grid="purchases" class="margintop lastColumnThin">
    <caption lng>Certificate purchases</caption>
        <thead>
          <tr>
            <th st-sort="u_name" lng>Account</th>
            <th st-sort="pc_product" lng>Product</th>
            <th st-sort="pc_status" lng>Status</th>
            <th st-sort="pc_subject_common_name" lng>Subject common name</th>
            <th st-sort="pc_end" lng>Expires</th>
            <th></th>
          </tr>
        </thead>
        <tbody >

  <tr ng-repeat="purchase in displayedCollection" >
    <td><a href mc-switch-user-superuser="{{ purchase.pc_user_id }}">{{ purchase.u_name || purchase.pc_user_id }}</a></td>
    <td>{{ ::purchase.pc_product }}</td>
    <td lng="CERT_PURCHASE_STATUS_{{ ::purchase.pc_status }}"></td>
    <td>{{ ::purchase.pc_subject_common_name }}</td>
    <td>{{ ::purchase.pc_end }}</td>
    <td>
        <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href mc-sref="mc-superuser-cert-purchase-info" mc-sref-params="{server:server,pcId:purchase.pc_id}" lng>More info</a></li>
        <li role="menuitem" ><a href ng-click="setComment(purchase)"  lng>Change comment</a></li>
        <li role="menuitem" ><a href ng-click="setChangeResellerCertificateID(purchase)"  lng>Change reseller certificate ID</a></li>
        <li class="divider"></li>
        <li role="menuitem" ><a href ng-click="remove(purchase)" confirm lng>Delete</a></li>
      </ul>
    </div>

    </td>
  </tr>


  </tbody>
  </table>



  <h3 lng>Other admin controls</h2>


<div class="text-center">
  <button ng-click="reissueLetsEncrypt()" class="btn btn-default" lng>Reissue expiring Let's Encrypt certificates</button>
  <button ng-click="pollAll()" class="btn btn-default" lng>Poll purchases</button>
</div>
