<h3><span class="colon" lng>Namecheap account</span> {{::server}}</h3>



     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Username</label>
        <input type="text" class="form-control" name="username" ng-model="creds.UserName" required  />
        <p class="help-block"  ng-if="dataForm.username.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Api user</label>
        <input type="text" class="form-control" name="apiuser" ng-model="creds.ApiUser" required   />
        <p class="help-block"  ng-if="dataForm.apiuser.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng><abbr lng-title="The API key cannot be retrieved back from the backend service for security reasons; don't worry if you don't see anything here after refreshing the page.">Api key</abbr></label>
        <input type="text" class="form-control" name="apikey" ng-model="creds.ApiKey" required   />
        <p class="help-block"  ng-if="dataForm.apikey.$error.required" lng>Data is required</p>
      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
        <button  ng-if="thereIs" class="btn btn-warning" ng-click="delete()" lng>Delete</button>
          </div>

        </fieldset>
     </form>

