<h3 lng>Storage consumption statistics per webhosting</h3>

<table mc-grid="consumption" class="margintop lastColumnThin">
      <thead>
        <tr>
          <th st-sort="u_name" lng>Account</th>
          <th st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="ws_database_count" lng>Database count</th>
          <th st-sort="ws_tally_mb" lng>Tally (MB)</th>
          <th st-sort="ws_locked" lng>Locked</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="record in displayedCollection">
  <td><a href mc-switch-user-superuser="{{ record.ws_user_id }}">{{ record.u_name || record.ws_user_id }}</a></td>
  <td>{{ record.wh_name }} ({{::record.ws_webhosting}})</td>
  <td>{{ record.ws_database_count }}</td>
  <td>{{ record.ws_tally_mb }}</td>
  <td lng="BOOLEAN_{{ record.ws_locked }}"></td>
  <td>
  

        <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ng-hide="record.ws_locked" ><a href ng-click="lock(record)"  lng>Lock webhosting</a></li>
        <li role="menuitem" ng-show="record.ws_locked" ><a href ng-click="unlock(record)"  lng>Unlock webhosting</a></li>
        <li role="menuitem"  ><a href ng-click="reprocessStats(record)"  lng>Reprocess stats for webhosting</a></li>
        <li role="menuitem"  ><a href ng-click="dbbackup(record)"  lng>Create database backups for webhosting</a></li>
      </ul>
    </div>


  </td>
</tr>


</tbody>
</table>



<pre ng-show="response">{{response | json}}</pre>

<center>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Statistics</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="displayLiveStats()"  lng>Display live statistics about storage consumption</a></li>
        <li role="menuitem" ><a href ng-click="displayStoredStats()"  lng>Display stored per webhosting statistics</a></li>
        <li role="menuitem" ><a href ng-click="reprocessStats()" confirm lng>Reprocess storage consumption</a></li>
        <li role="menuitem" ><a href ng-click="dbbackup()" confirm lng>Create database backups for everything</a></li>
      </ul>
    </div>


</center>
