<h2 ><span class="colon" lng>Database scoreboard on server</span> {{::server}}</h2>

<div class="table-responsive" >
<table class="table table-striped table-hover margintop">
  <caption lng="Database scoreboard"></caption>
      <thead>
        <tr>
          <th ng-repeat="field in fields" lng="DBMS_{{field}}"></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="row in scoreboard">
  <td ng-repeat="field in fields">{{::row[field]}}</td>
</tr>


</tbody>
</table>

</div>
