
 <form name="dataForm" novalidate>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Hostname</label>
        <input type="text" class="form-control" name="host" ng-model="conn.host" required >
        <p class="help-block"  ng-if="dataForm.host.$error.required" lng>Data is required</p>
      </div>
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Username</label>
        <input type="text" class="form-control" name="user" ng-model="conn.user"  required >
        <p class="help-block"  ng-if="dataForm.user.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password</label>
        <input type="password" class="form-control" name="password" ng-model="conn.password"  required >
        <p class="help-block"  ng-if="dataForm.password.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.password.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
      </div>

 </form>

