<h2 lng>DBMS administrative options</h2>


<mc-dbms-superuser-stats server="{{::server}}"></mc-dbms-superuser-stats>

<mc-dbms-superuser-dbms server="{{::server}}"></mc-dbms-superuser-dbms>

<mc-dbms-superuser-databases server="{{::server}}"></mc-dbms-superuser-databases>