<h3 lng>Create a new DBMS entry</h3>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Name of the DBMS instance</label>
        <input type="text" class="form-control" name="dm_dbms_instance_name" ng-model="dbms.dm_dbms_instance_name" lng-placeholder="Please give a name to your DBMS"  required >
        <p class="help-block"  ng-if="dataForm.dm_dbms_instance_name.$error.required" lng>Data is required</p>
      </div>


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Type of the DBMS instance</label>
        <select class="form-control" name="dm_dbms_type"  ng-model="dbms.dm_dbms_type" required ng-options="item as item for item in supportedDbmsTypes"></select>
        <p class="help-block"  ng-if="dataForm.dm_dbms_type.$error.required" lng>Data is required</p>
      </div>

        <div ng-switch on="dbms.dm_dbms_type">
	      <div ng-switch-when="mysql" ><mc-dbms-connstr-mysql connstr="dbms.dm_connection_string"></mc-dbms-connstr-mysql></div>
	      <div ng-switch-when="" ><!-- nothing selected yet --></div>
	      <div ng-switch-default lng>Unsupported DBMS type!</div>
	    </div>

	    <mc-debug model="dbms"></mc-debug>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

