<h3 lng>DBMS list</h3>


<pre ng-show="response">{{response | json}}</pre>

<div class="table-responsive" >
<table class="table table-striped table-hover margintop lastColumnThin">
  <caption>DBMS</caption>
      <thead>
        <tr>

          <th lng>Name</th>
          <th lng>DBMS type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="record in dbms">
  <td>{{ record.dm_dbms_instance_name }}</td>
  <td>{{ record.dm_dbms_type }}</td>
  <td>  

        <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="edit(record)"  lng>Edit</a></li>
        <li role="menuitem" ><a href ng-click="test(record)"  lng>Test connection</a></li>
        <li role="menuitem" ><a href ng-click="repairAllDatabases(record)"  lng>Repair all databases</a></li>
        <li role="menuitem" ><a href ng-click="delete(record)"  confirm lng>Delete DBMS</a></li>
      </ul>
    </div>


  </td>
</tr>


</tbody>
</table>

</div>


<div id="dmbsSpecific"></div>


<mc-dbms-superuser-dbms-add server="{{::server}}"></mc-dbms-superuser-dbms-add>
