  <h3 lng>List of banned IP addresses</h3>


<table mc-grid="bans" class="margintop lastColumnThin">
  <caption lng>Banned IP addresses</caption>
      <thead>
        <tr>
          <th st-sort="category" lng>Category</th>
          <th st-sort="ip" lng>IP address</th>
          <th st-sort="added_human" lng>Added</th>
          <th st-sort="ban_duration" lng>Duration</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="ban in displayedCollection track by $index">
  <td>{{ ::ban.category }}</td>
  <td>{{ ::ban.ip }}</td>
  <td>{{ ::ban.added_human }}</td>
  <td>{{ ::ban.ban_duration }}</td>
  <td>
    <button class="btn btn-warning" ng-click="delete(ban)" lng>Delete</button>
  </td>
</tr>


</tbody>
</table>



<div class="text-center">
  <span  ng-repeat="category in categories"><button class="btn btn-danger" confirm ng-click="flush(category)"><span class="colon" lng>Flush IP addresses</span> {{::category}}</button></span>
</div>


<h3 lng>Ban IP address</h3>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>IP address</label>
        <input type="text" class="form-control" name="ip" ng-model="data.ip"  required >
        <p class="help-block"  ng-if="dataForm.ip.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Category</label>
        <select class="form-control" name="category"  ng-model="data.category" required ng-options="category as category for category in categories"></select>
        <p class="help-block"  ng-if="dataForm.category.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Duration</label>
        <input type="number" class="form-control" name="duration" ng-model="data.duration" required >

        <p class="help-block"  ng-if="dataForm.duration.$error.required" lng>Data is required</p>
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>
