  <h3 lng>List of webstore firewall rules</h3>


                               
<table mc-grid="rules" class="margintop lastColumnThin">
  <caption lng>Firewall rules</caption>
      <thead>
        <tr>
          <th st-sort="u_name" lng>Account</th>
          <th st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="fw_dst_ip" lng>Destination IP</th>
          <th st-sort="fw_dst_port" lng>Destination port</th>
          <th st-sort="fw_action" lng>Firewall action</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="rule in displayedCollection">
    <td><a href mc-switch-user-superuser="{{ rule.user_id }}">{{ rule.u_name || rule.user_id }}</a></td>
    <td>{{ ::rule.wh_name }} ({{::rule.webhosting_id}})</td>
  <td>{{ rule.fw_dst_ip }}</td>
  <td>{{ rule.fw_dst_port }}</td>
  <td>{{ rule.fw_action }}</td>
  <td>
    <button class="btn btn-danger" confirm ng-click="delete(rule)" lng>Delete</button>    
  </td>
</tr>


</tbody>
</table>


