<h3 lng>Remove website contents</h3>

<mc-alert-box alert-type="danger" message="This control let you remove the files of your websites easily. This works quickly even in case there is a huge number of files on the storage, that would be difficult to be removed via traditional file manager applications, like FTP."></mc-alert-box>

<form name="dataForm" novalidate>

    <mc-docroot-distinct-selectbox form="dataForm" required="true" distinct="distinct" server="{{::server}}" wh-id="{{::whId}}" ></mc-docroot-distinct-selectbox>

    <div class="text-center">
            <button ng-click="fire()" class="btn btn-danger" confirm lng>Start removal</button>
    </div>
</form>
