<h3 lng>Backup website contents</h3>

<mc-alert-box alert-type="info" message="This control allows you to create a backup archive about your websites contents. Don't forget to backup the database contents as well!"></mc-alert-box>

<form name="dataForm" novalidate>

    <mc-docroot-distinct-selectbox form="dataForm" required="true" distinct="distinct" server="{{::server}}" wh-id="{{::whId}}" ></mc-docroot-distinct-selectbox>

    <div class="text-center">
            <button ng-click="fire()" class="btn btn-success" lng>Start backup</button>
    </div>
</form>
