  <td class="colon" ><abbr lng-title="If the webhosting is configured to be read-only, web applications, such as PHP scripts will not be able to modify files at all." lng>Read onlyness status</abbr></td>
  <td>
     <span ng-show="readonly && readonly.isReadonly" lng>Read-only</span>
     <span ng-show="readonly && !readonly.isReadonly" lng>Read-write</span>
  </td>
  <td>
      <button ng-show="readonly && !readonly.isReadonly" class="btn btn-default" ng-click="toReadonly()" lng>Make it read-only</button>
      <button ng-show="readonly && readonly.isReadonly" class="btn btn-default" ng-click="toReadwrite()" lng>Make it read-write</button>

  </td>
