<h3 ng-hide="noButtons" lng>File manager</h3>


<table mc-grid="files" mc-grid-ready="smartTableReady" class="margintop lastColumnThin courier-rows drop-files" id="dropfiles">
  <caption>{{dir}}</caption>
      <thead>
        <tr>
          <th ng-hide="noButtons && !showCheckbox"><input ng-model="checkboxAll" type="checkbox" ng-click="toggleAll()" ng-dblclick="forceAll()"></th>
          <th st-sort="perm" lng>Permissions</th>
          <th width="95%" st-sort="name" lng>Filename</th>
          <th st-sort="size" lng>Size</th>
          <th st-sort="mtime" lng>Last modification time</th>
        </tr>
      </thead>
      <tbody>

<tr ng-if="cwdUpPossible">
  <td ng-hide="noButtons"></td>
  <td></td>
  <td><a href ng-click="cwdUp()">..</a></td>
  <td></td>
  <td></td>
</tr>

<tr ng-repeat="file in displayedCollection"  ng-class="{bold:file.isDirectory}">
  <td ng-hide="noButtons && !showCheckbox"><input type="checkbox" ng-change="onSelect()" ng-model="file.checked"></td>
  <td>{{ file.perm }}</td>
  <td><a href ng-click="downloadOrCwd(file)">{{ file.name }}</a></td>
  <td>{{ file.sizeHuman }}</td>
  <td>{{ file.mtime }}</td>
</tr>


</tbody>
</table>


<div ng-hide="noButtons">
  <form class="form-inline">

    <div class="form-group">
      <button class="btn btn-default" ng-click="refetch()" ><span lng>Refresh</span></button>
    </div>

     <div class="btn-group" uib-dropdown  dropdown-append-to-body >
      <button ng-disabled="noneSelected()"  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Download selected files</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="doTar('tgz')" ng-disabled="noneSelected()" lng>As .tgz file</a></li>
        <li  ng-hide="readonly.isReadonly" role="menuitem" ><a href ng-click="doZip()" ng-disabled="noneSelected()" lng>Create a zip archive</a></li>
      </ul>
    </div>

    <div class="form-group" ng-hide="readonly.isReadonly">
      <button class="btn btn-danger" ng-click="doRemove()" ng-disabled="noneSelected()" confirm="Are you really want to delete all the selected files? This is a recursive operation and cannot be undone." lng>Remove selected (recursive)</button>
    </div>

    <div class="form-group" ng-hide="readonly.isReadonly">
      <button class="btn btn-default" mc-files mc-files-params="multiple" mc-files-raw="doUpload(files)" ><span lng>Start uploading</span></button>
    </div>

    <div class="form-group" ng-hide="readonly.isReadonly">
      <button class="btn btn-default" mc-files mc-files-consumer="doUploadExtract(file, data)" mc-files-params="accept='.zip,.tar,.tgz,.gz'" ><span lng>Upload and extract</span></button>
    </div>


     <div class="btn-group" uib-dropdown  dropdown-append-to-body ng-hide="readonly.isReadonly">
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Create new</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href  ng-click="mkdir()" lng>Create directory</a></li>
        <li role="menuitem" ><a href ng-click="newFile()"  lng>Create new file</a></li>
      </ul>
    </div>

     <div ng-hide="readonly.isReadonly" class="btn-group" uib-dropdown  dropdown-append-to-body ng-hide="readonly.isReadonly">
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>File operations</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ng-class="{'disabled': editNotPossible() }" ><a href ng-click="editFile()"   lng>Edit selected file</a></li>
        <li role="menuitem" ng-class="{'disabled': noneSelected() }" ><a href ng-click="copy()"   lng>Copy selected files</a></li>
        <li role="menuitem" ng-class="{'disabled': noneSelected() }" ><a href ng-click="cut()"   lng>Cut selected files</a></li>
        <li role="menuitem" ng-class="{'disabled': pasteNotPossible }" ><a href ng-click="paste()"   lng>Paste to current directory</a></li>
      </ul>
    </div>


  </form>
</div>

</div>

<br/>


<mc-alert-box ng-show="readonly.isReadonly" message="This webhosting is currently in read-only mode, write operations are forbidden."></mc-alert-box>

</div>
