<h3 lng>Scheduled operations</h3>  


<table  mc-grid="crontabs" class="margintop lastColumnThin">
  <caption lng>Scheduled operations</caption>
      <thead>
        <tr>
          <th st-sort="cronExpression" lng>Time expression</th>
          <th st-sort="type" lng>Type</th>
          <th st-sort="data" lng>Operation</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="cron in displayedCollection">
  <td>{{ ::cron.cronExpression }}</td>
  <td>{{ ::cron.type }}</td>

  <td>{{ ::cron.data }}</td>

  <td>
    <button class="btn btn-warning" ng-click="delete(cron)" lng>Delete</button>
  </td>
</tr>


</tbody>
</table>





<h3 lng lng-post-process>Create a new crontab entry</h3>

<div ng-show="result.canBeAdded">

  <mc-alert-box alert-type="info" message="You can find more information about the supported time expressions by reading the manual of the Linux cron command."></mc-alert-box>



 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group">
        <label class="control-label colon" lng>Shortcuts</label>
        <button class="btn btn-default" ng-click="resetDaily()" lng>Daily at 5AM</button> <button class="btn btn-default" ng-click="resetHourly()" lng>Hourly</button>  <button  class="btn btn-default" ng-click="reset5min()" lng>Every 5 minutes</button>        
      </div>      

 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Minute</label>
        <input type="text" class="form-control" name="minute"  ng-model="tmpExpr.minute" ng-pattern="/^([0-9]|[1-5][0-9]|\*|\*\/[1-9]|\*\/[1-5][0-9])$/" required >
        <p class="help-block"  ng-if="dataForm.minute.$error.required" lng>Data is required</p>
        <p class="help-block" ng-if="dataForm.minute.$error.pattern" lng>Syntax error</p>
      </div>      
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Hour</label>
        <input type="text" class="form-control" name="hour"  ng-model="tmpExpr.hour" ng-pattern="/^([0-9]|1[0-9]|2[0-3]|\*|\*\/[1-9]|\*\/1[0-9]|\*\/2[0-3])$/" required >
        <p class="help-block"  ng-if="dataForm.hour.$error.required" lng>Data is required</p>
        <p class="help-block" ng-if="dataForm.hour.$error.pattern" lng>Syntax error</p>
      </div> 
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Day of month</label>
        <input type="text" class="form-control" name="dom"  ng-model="tmpExpr.dom" ng-pattern="/^([1-9]|2[0-9]|3[0-1]|\*)$/" required >
        <p class="help-block"  ng-if="dataForm.dom.$error.required" lng>Data is required</p>
        <p class="help-block" ng-if="dataForm.dom.$error.pattern" lng>Syntax error</p>
      </div> 

 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Month</label>
        <select class="form-control" name="month"  ng-model="tmpExpr.month" required ><option ng-repeat="month in monthNames" value="{{ month }}"  lng="MONTH_{{::month}}" ></option></select>
        <p class="help-block"  ng-if="dataForm.month.$error.required" lng>Data is required</p>
      </div> 

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Day of week</label>
        <select class="form-control" name="dow"  ng-model="tmpExpr.dow" required ><option ng-repeat="dayname in dayNames" value="{{ dayname }}"  lng="DAYNAME_{{::dayname}}" ></option></select>
        <p class="help-block"  ng-if="dataForm.dow.$error.required" lng>Data is required</p>
      </div> 

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Type of cron entry</label>
        <select class="form-control" name="type"  ng-model="data.type" required ><option ng-repeat="cronType in cronTypes" value="{{ cronType }}" >{{::cronType}}</option></select>
        <p class="help-block"  ng-if="dataForm.type.$error.required" lng>Data is required</p>
      </div> 

      <div ng-switch on="data.type">
          <div ng-switch-when="url" >


          <div class="form-group" show-errors>
                <label class="control-label colon" lng>Docroot host entries</label>
            <select ng-change="docrootChanged()" required class="form-control" name="hostentry"  ng-model="tmp.hostEntry" ng-options="entry as entry.host for entry in hostentries"  ></select>
                <p class="help-block"  ng-if="form.hostentry.$error.required" lng>Data is required</p>

          </div>      


            <div class="form-group" show-errors >
              <label class="control-label colon" lng>URL to be invoked</label>
        <input type="text" class="form-control" name="data" lng-placeholder="For example: http://yourdomain.tld/something.php"  ng-model="data.data" required ng-pattern="urlPattern" >
              <p class="help-block"  ng-if="dataForm.data.$error.required" lng>Data is required</p>
              <p class="help-block" ng-if="dataForm.data.$error.pattern" lng>Syntax error</p>
            </div> 


          </div>
      </div>

      <mc-debug model="data"></mc-debug>
      <mc-debug model="tmpExpr"></mc-debug>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>

<div ng-show="result && !result.canBeAdded">
  <mc-alert-box alert-type="danger" message="This resource is over quota, it is currently not possible to add anymore."></mc-alert-box>
</div>
