
      <mc-fileman-in-progress server="{{::server}}" wh-id="{{::whId}}"></mc-fileman-in-progress>
      <mc-fileman server="{{::server}}" wh-id="{{::whId}}" path="{{::path}}"></mc-fileman>

<h3 lng>Security settings of webhosting</h3>
<div lng>The options below affect the complete package (not the selected subdirectory only).</div>
<table class="table table-form">
            <tr mc-readonly-row server="{{::server}}" wh-id="{{::whId}}"></tr>
</table>
