<h3 lng>Webstore copy wizard</h3>


<uib-accordion >



    <div uib-accordion-group class="panel-default"  is-open="opens[1]" is-disabled="isDisabled(1)">

      <uib-accordion-heading ><span lng>Select source webstore</span></uib-accordion-heading>

          <mc-alert-box alert-type="info" message="This control helps you transferring your files between all webstores you have access to. If you have access to additional accounts in this system by being the supervisor of them, and you want them to appear in this list, acquire a token first to them by switching there."></mc-alert-box>
      
          <form class="margintop"   name="dataForm" novalidate >

            <div class="form-group" >
              <label class="control-label colon" lng>Source account</label>

              <select class="form-control" ng-change="accountChange('src')" ng-model="copy.src.account" required ng-options="item as (item.u_name+' ('+item.u_primary_email+')') for item in tokensArray"></select>              
            </div>

            <div class="form-group" >
              <label class="control-label colon" lng>Source webstore</label>

              <select class="form-control" ng-change="webStoreChange('src')" ng-model="copy.src.webhosting" required ng-options="item as (item.w_server_name +': '+item.wh.wh_name+' ('+item.wh.wh_id+')') for item in src_webhostings"></select>              
            </div>

         </form>

         <div class="text-center">
             <button class="btn btn-success" ng-click="next()" ng-disabled="nextDisabled[1]" lng>Next</button>
         </div>


    </div>


    <div uib-accordion-group class="panel-default"  is-open="opens[2]" is-disabled="isDisabled(2)">

      <uib-accordion-heading ><span lng>Select files to copy</span></uib-accordion-heading>


          <div id="src_fileman_placeholder"></div>


          <div class="text-center">
             <button class="btn btn-success" ng-click="next()" ng-disabled="nextDisabled[2]" lng>Next</button>
          </div>

    </div>

    <div uib-accordion-group class="panel-default"  is-open="opens[3]" is-disabled="isDisabled(3)">

      <uib-accordion-heading ><span lng>Select destination webstore</span></uib-accordion-heading>

      
          <form class="margintop"   name="dataForm" novalidate >

            <div class="form-group" >
              <label class="control-label colon" lng>Destination account</label>

              <select class="form-control" ng-change="accountChange('dst')" ng-model="copy.dst.account" required ng-options="item as (item.u_name+' ('+item.u_primary_email+')') for item in tokensArray"></select>              
            </div>

            <div class="form-group" >
              <label class="control-label colon" lng>Destination webstore</label>

              <select class="form-control" ng-change="webStoreChange('dst')" ng-model="copy.dst.webhosting" required ng-options="item as (item.w_server_name +': '+item.wh.wh_name+' ('+item.wh.wh_id+')') for item in dst_webhostings"></select>              
            </div>

         </form>
      
          <div class="text-center">
             <button class="btn btn-success" ng-click="next()" ng-disabled="nextDisabled[3]"  lng>Next</button>
          </div>


    </div>

    <div uib-accordion-group class="panel-default"  is-open="opens[4]" is-disabled="isDisabled(4)">

      <uib-accordion-heading ><span lng>Select destination directory</span></uib-accordion-heading>

          <mc-alert-box alert-type="danger" message="Please navigate to the destination directory where the selected files will be copied to. Be careful, existing files with the same name as in the source will be overwritten."></mc-alert-box>

          <div id="dst_fileman_placeholder"></div>
      
          <div class="text-center">
             <button class="btn btn-success" ng-click="next()" ng-disabled="nextDisabled[4]"  lng>Next</button>
          </div>

    </div>


    <div uib-accordion-group class="panel-default"  is-open="opens[5]" is-disabled="isDisabled(5)">

      <uib-accordion-heading ><span lng>Confirmation</span></uib-accordion-heading>


     <table class="table table-striped table-hover">
         <tr>
           <td colspan="2" class="colon bold" lng>Source</td>
         </tr>
         <tr>
           <td class="colon" lng>Account</td>
           <td >{{copy.src.account.u_name}} ({{copy.src.account.u_primary_email}})</td>
         </tr>
         <tr>
           <td class="colon" lng>Server</td>
           <td >{{copy.src.webhosting.w_server_name}}</td>
         </tr>
         <tr>
           <td class="colon" lng>Webstore</td>
           <td >{{copy.src.webhosting.wh.wh_name}} ({{copy.src.webhosting.wh.wh_id}})</td>
         </tr>

         <tr>
           <td class="colon" lng>Directory</td>
           <td >{{copy.src.directory}}</td>
         </tr>
         <tr>
           <td class="colon" lng>Files</td>
           <td >{{copy.src.pureFileNames.join(', ')}}</td>
         </tr>

         <tr>
           <td colspan="2" class="colon bold" lng>Destination</td>
         </tr>
         <tr>
           <td class="colon" lng>Account</td>
           <td >{{copy.dst.account.u_name}} ({{copy.dst.account.u_primary_email}})</td>
         </tr>
         <tr>
           <td class="colon" lng>Server</td>
           <td >{{copy.dst.webhosting.w_server_name}}</td>
         </tr>
         <tr>
           <td class="colon" lng>Webstore</td>
           <td >{{copy.dst.webhosting.wh.wh_name}} ({{copy.dst.webhosting.wh.wh_id}})</td>
         </tr>
         <tr>
           <td class="colon" lng>Directory</td>
           <td >{{copy.dst.directory}}</td>
         </tr>


      </table>
      
          <div class="text-center">
             <button class="btn btn-success" ng-click="start()" lng>Start</button>
          </div>

    </div>


    <mc-debug model="copy"></mc-debug>


</uib-accordion>

