
      <div class="form-group" show-errors>
        <label class="control-label colon" lng="{{::title}}"></label>
        <select class="form-control" name="{{::modelName}}" ng-model="model[modelName]" required >
        <option ng-repeat="file in files" value="{{file.name}}">{{file.display}}</option>
        </select>

        <p class="help-block"  ng-if="form[modelName].$error.required" lng>Data is required</p>
      </div>
