

<div class="table-responsive">
<table class="table table-striped table-hover margintop" id="dns_records_root_table">
  <caption lng>DNS records</caption>
      <thead>
        <tr>
          <th lng>Type</th>
          <th lng>Hostname</th>
          <th lng>Value</th>
          <th lng>TTL</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="records_root">

<tr ng-repeat="record in records" id="{{ record.hash }}">
  <td>{{ record.type }}</td>
  <td><a href="#editRecords" ng-click="select(record)">{{ record.full_hostname }}</a></td>
  <td>{{ record.human_value }}</td>
  <td>{{ record.ttl }}</td>
  <td>
    <button class="btn btn-warning" ng-click="delete(record)" lng>Delete</button> <!-- confirm --> 
  </td>
</tr>


</tbody>
</table>
</div>

  <div  class="margintop text-center">
        <button class="btn btn-default" ng-show="showChangeNsButton" ng-click="changens()" lng>Change the name servers serving the DNS records</button>
        <button class="btn btn-danger" ng-show="showResetButton"  confirm  ng-click="reset()" lng>Reset original state of DNS records</button>
  </div>