     <div class="form-group" show-errors>
        <label class="control-label colon" ><span lng>IP address (IPv4)</span> <span ng-show="!required" lng>(optional)</span></label>
      <input class="form-control"  type="text" ng-model="dnsRecord.ip" name="ip" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-required="required" >
        <p class="help-block" ng-if="form.ip.$error.required" lng>Data is required</p>
        <p class="help-block" ng-if="form.ip.$error.pattern" lng>Invalid IP syntax</p>
    </div>
