
                <h3 id="editRecords" lng>DNS record details</h3>

   <mc-alert-box alert-type="info" ng-show="externalRegistrar"  message="The {domain} domain name currently belongs to an external registrar. Serving the desired DNS records is only possible when the nameservers are set to {nameservers}." params="{domain:domain,nameservers:nameservers}"></mc-alert-box>


  <div class="forminforow margintop">
        <div lng>Changes are activated in a few minutes.</div>
        <div lng>Empty value means record specific default will be applied.</div>
  </div>


<form name="dataForm" novalidate>
<div class="  margintop">

    <div class="form-group" show-errors>
      <label class="control-label colon" lng>Record type</label>
       <select ng-model="dnsRecord.type" name="type" class="form-control" id="dnsRecord.type" required>
          <option ng-repeat="dnsRecordType in supportedDnsRecordTypes" value='{{::dnsRecordType}}'>{{::dnsRecordType}}</option>
      </select>
        <p class="help-block" ng-if="dataForm.type.$error.required" lng>Please select the record type</p>

    </div>

     <div class="form-group" show-errors>
       <label class="control-label"><abbr lng-title-post-process lng-title="The hostname prefix before the {domain} domain name, eg.: www or _sip" lng>Hostname prefix</abbr>:</label>

      <input  class="form-control" type="text" ng-model="dnsRecord.host" name="host" >
    </div>


<div ng-switch on="dnsRecord.type">

<div ng-switch-when="A">

    <mc-dns-ipv4-input form="dataForm" dns-record="dnsRecord" required="true"></mc-dns-ipv4-input>


</div>


<div ng-switch-when="A/PTR">

    <mc-dns-ipv4-input form="dataForm" dns-record="dnsRecord" required="true"></mc-dns-ipv4-input>

</div>


<div ng-switch-when="AAAA">

     <div class="form-group" show-errors>
       <label class="control-label colon" lng>IP address (IPv6)</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.ip" name="ip" required >
      <p class="help-block" ng-if="dataForm.ip.$error.required" lng>Data is required</p>
        <p class="help-block" ng-if="dataForm.ip.$error.pattern" lng>Invalid IP syntax</p>
    </div>

</div>

<div ng-switch-when="CNAME">

     <div class="form-group" show-errors>
       <label class="control-label colon">CNAME</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.cname" name="cname" required not-bind-zone-name >
      <p class="help-block" ng-if="dataForm.cname.$error.required" lng>Data is required</p>
      <p class="help-block" ng-if="dataForm.cname.$error.notBindZoneName" lng>Omit the dot at the end of the hostname</p>
    </div>

</div>


<div ng-switch-when="MX">

     <div class="form-group" show-errors>
       <label class="control-label colon" lng>Priority</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.priority" name="priority"  >
    </div>

     <div class="form-group" show-errors>
       <label class="control-label colon" lng>Mail server</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.mailserver" name="mailserver" lng-placeholder-post-process lng-placeholder="Typical values: a (for a.mx.{domain}) or mail.{domain}" required >
      <p class="help-block" ng-if="dataForm.mailserver.$error.required" lng>Data is required</p>
    </div>

     <div class="form-group" show-errors>
       <label class="control-label colon" lng>IP address (IPv4, optional)</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.ip" name="ip" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" >
        <p class="help-block" ng-if="dataForm.ip.$error.pattern" lng>Invalid IP syntax</p>
    </div>


</div>




<div ng-switch-when="NS/A">

     <div class="form-group" show-errors>
       <label class="control-label colon" lng>Name server</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.nameserver" name="nameserver" required >
      <p class="help-block" ng-if="dataForm.nameserver.$error.required" lng>Data is required</p>
    </div>

    <mc-dns-ipv4-input form="dataForm" dns-record="dnsRecord" required="false"></mc-dns-ipv4-input>


</div>

<div ng-switch-when="PTR">

    <mc-dns-ipv4-input form="dataForm" dns-record="dnsRecord" required="true"></mc-dns-ipv4-input>


</div>


<div ng-switch-when="SOA">


     <div class="form-group" show-errors>
       <label class="control-label colon">Mname</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.mname" name="mname" required >
      <p class="help-block" ng-if="dataForm.mname.$error.required" lng>Data is required</p>
    </div>
     <div class="form-group" show-errors>
       <label class="control-label colon">Rname</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.rname" name="rname" required >
      <p class="help-block" ng-if="dataForm.rname.$error.required" lng>Data is required</p>
    </div>

</div>


<div ng-switch-when="SOA/NS/A">

     <div class="form-group" show-errors>
       <label class="control-label colon" lng>Name server</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.nameserver" name="nameserver" required  >
      <p class="help-block" ng-if="dataForm.nameserver.$error.required" lng>Data is required</p>
    </div>

    <mc-dns-ipv4-input form="dataForm" dns-record="dnsRecord" required="false"></mc-dns-ipv4-input>


</div>


<div ng-switch-when="SRV">


     <div class="form-group" show-errors>
       <label class="control-label colon" lng>Priority</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.priority" name="priority"  >
    </div>

     <div class="form-group" show-errors>
       <label class="control-label colon" lng>Weight</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.weight" name="weight"  >
    </div>

     <div class="form-group" show-errors>
       <label class="control-label colon">Port</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.port" name="port"  >
    </div>

     <div class="form-group" show-errors>
       <label class="control-label colon" lng>Target</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.target" name="target" required >
      <p class="help-block" ng-if="dataForm.target.$error.required" lng>Data is required</p>
    </div>

</div>


<div ng-switch-when="CAA">

   <mc-alert-box alert-type="info" message="This record type is documented in RFC6844 and aims to help Certificate Authorities deciding whether they are entitled to issue a certificate by the owner of the domain."></mc-alert-box>


     <div class="form-group" show-errors>
       <label class="control-label colon" lng>Flags</label>
       <select ng-model="dnsRecord.flags" name="flags" class="form-control" id="dnsRecord.flags" required ng-options="item.value as item.label for item in caaFlagOptions">
        </select>
       <p class="help-block" ng-if="dataForm.flags.$error.required" lng>Data is required</p>
    </div>

     <div class="form-group" show-errors>
       <label class="control-label colon" lng>Tag</label>
       <select ng-model="dnsRecord.tag" name="tag" class="form-control" id="dnsRecord.tag" required ng-options="item as item for item in caaTagOptions">
        </select>
       <p class="help-block" ng-if="dataForm.tag.$error.required" lng>Data is required</p>
    </div>

     <div class="form-group" show-errors>
       <label class="control-label colon" lng>Value</label>
      <input class="form-control"  type="text" ng-model="dnsRecord.value" name="value"  required>
       <p class="help-block" ng-if="dataForm.value.$error.required" lng>Data is required</p>
    </div>


</div>


<div ng-switch-when="TXT">

     <div class="form-group" show-errors>
       <label class="control-label colon">Text</label>
      <textarea class="form-control" ng-model="dnsRecord.text" name="text" required></textarea>
      <p class="help-block" ng-if="dataForm.text.$error.required" lng>Data is required</p>
    </div>

</div>

<div ng-switch-when="CLONE">

   <mc-alert-box alert-type="info" message="This is not a real DNS record, but it aims to workaround the fact that no CNAME records can be configured for a root domain (RFC 1034). Our backend will maintane a record in this zone based on the specified parent record. The DNS records that you can select must be present in this service."></mc-alert-box>

     <div class="form-group" show-errors>
       <label class="control-label colon" lng>Parent zone</label>
       <input class="form-control"  type="text" ng-model="dnsRecord.parentZone" name="parentZone"  required>
       <p class="help-block" ng-if="dataForm.parentZone.$error.required" lng>Data is required</p>
    </div>


     <div class="form-group" show-errors>
       <abbr class="colon" lng-title-post-process lng-title="The hostname prefix of the DNS record in the parent zone, eg.: www or _sip" lng>Parent hostname prefix</abbr></label>
      <input class="form-control"  type="text" ng-model="dnsRecord.parentHost" name="value"  >
    </div>

</div>


</div>


     <div class="form-group" show-errors>
         <label class="control-label colon">TTL</label>
        <input class="form-control" id="ttl"  type="text" ng-model="dnsRecord.ttl" name="ttl" ng-pattern="/^[0-9]+$/"  >
        <p class="help-block" ng-if="dataForm.ttl.$error.pattern" lng>Data should be numerical</p>
    </div>

   <div class="form-group">
     <div class="text-center" >
        <button  class="btn btn-success" id="btnnew" name="new" ng-click="add()" lng>Add new record</button>
        <button ng-show="dnsRecord.hash" class="btn btn-default" id="btnchange" ng-click="mod()" name="change" lng>Modify record</button>
     </div>
  </div>

    <mc-debug model="dnsRecord"></mc-debug>

</div>

</form>
