

  <h3 ><span lng lng-post-process>DNS settings of {display}</span> <span ng-show="!showCopy" lng>(template mode)</span></h3>

  

<mc-dns-record-list template="{{::template}}" external-registrar="externalRegistrar" domain-id="{{::domainId}}" domain="{{::domain}}" kind="{{::kind}}" dns-record="dnsRecord"></mc-dns-record-list>

<mc-edit-dns-record external-registrar="externalRegistrar" domain="{{::domain}}" kind="{{::kind}}" dns-record="dnsRecord"></mc-edit-dns-record>

<mc-dns-copy-from ng-show="showCopy" domain="{{::domain}}"></mc-dns-copy-from>

