
<div ng-show="copyFrom.length">
	<h3 lng>Copy DNS records from another domain</h3>

    <form name="dataForm" novalidate>

     <div class="form-group" show-errors>
        <label class="control-label colon" lng>Source domain of DNS records</label>
      <select id="dnscopyfrom" class="form-control" ng-model="selectedCopyFrom" name="selectedCopyFrom" required><option ng-repeat="copyFromItem in copyFrom" value="{{::copyFromItem.d_domain_canonical_name}}">{{::copyFromItem.d_domain_name}}</option></select>
        <p class="help-block" ng-if="dataForm.selectedCopyFrom.$error.required" lng>Data is required</p>
    </div>

   <div class="form-group">
     <div class="text-center" >
    		  <button class="btn btn-danger" ng-click="fire()" confirm lng>Copy from the selected domain</button>
     </div>
  </div>

    </form>
</div>
