  <td class="colon" lng>DNS servers status</td>
  <td>
     <span ng-show="lookupFinished && zoneLookup.zoneExists" lng>Zone exists</span>
     <span ng-show="lookupFinished && !zoneLookup.zoneExists" lng>Zone does not exists</span>
  </td>
  <td>
    <div ng-show="createZoneAllowed">
            <mc-dns-zone-on ng-show="lookupFinished && !zoneLookup.zoneExists" no-reload="true" domain="{{::domain}}"></mc-dns-zone-on>
            <mc-dns-zone-off ng-show="lookupFinished && zoneLookup.zoneExists" no-reload="true" domain="{{::domain}}"></mc-dns-zone-off>
    </div>
  </td>
