<mc-git-edit server="{{::server}}" wh-id="{{::whId}}" git="{{::git}}"></mc-git-edit>
<mc-git-branch-list server="{{::server}}" wh-id="{{::whId}}" git="{{::git}}" git-branch-subpage="{{::gitBranchSubpage}}"></mc-git-branch-list>
<mc-git-branch-add  server="{{::server}}" wh-id="{{::whId}}" git="{{::git}}"></mc-git-branch-add>
