  <h3 lng>Branches of the repository</h3>


<div class="table-responsive" ng-if="showListing">
<table class="table table-striped table-hover margintop lastColumnThin">
  <caption lng>Repository branches</caption>
      <thead>
        <tr>
          <th lng>Branch name</th>
          <th lng>Root path</th>
          <th lng>Subdir</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="branch in branches">
  <td><a href mc-sref="mc-git-branch-show" mc-sref-params="{server:server,whId:whId,git:git,branch:branch.b_branch}">{{ branch.b_branch }}</a></td>
  <td>{{ branch.b_repo_path1 }}</td>
  <td>{{ branch.b_subdir }}</td>
  <td>
    <button class="btn btn-danger" ng-click="delete(branch)" confirm lng>Delete</button>
  </td>
</tr>


</tbody>
</table>


</div>

<mc-alert-box ng-show="!showListing" alert-type="warning" message="Nothing is configured so far."></mc-alert-box>

<div id="gitBranchBox"></div>