<h3 lng>Add branch to synchronize</h3>


<div ng-show="info.insert_allowed">

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Name of the branch</label>
        <input type="text" class="form-control" name="b_branch" ng-model="branch.b_branch" lng-placeholder="The name of the branch inside the repository (it must already exist)"  required >
        <p class="help-block"  ng-if="dataForm.b_branch.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="branch.b_pull_single_branch_only" > 
               <span><span lng>Pull single branch only, takes less space</span> (<code>--single-branch</code>)</span>
            </label>
          </div>    
      </div>    

     <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="branch.b_blue_green" > 
               <span><span lng>Blue-green model (takes double space)</span>
            </label>
          </div>    
      </div>    

        <mc-alert-box alert-type="info" message="No additional subdirectory named the same as the repository will be created under the path you specify, but it will be populated with the content directly."></mc-alert-box>

      <mc-directory-picker title="Root path" form="dataForm" model="branch" model-name="b_repo_path1"  server="{{::server}}" wh-id="{{::whId}}" placeholder="Root path inside your web storage where the repository will be pulled"></mc-directory-picker>

      <div ng-if="branch.b_blue_green" >

        <mc-directory-picker title="Root path (secondary)" form="dataForm"  model="branch" model-name="b_repo_path2"  server="{{::server}}" wh-id="{{::whId}}" placeholder="Root path inside your web storage where the second instance of the repository will be pulled"></mc-directory-picker>

      </div>

      <div class="form-group" >
        <label class="control-label colon" lng>Subdirectory (optional)</label>
        <input type="text" class="form-control" lng-placeholder="The subdirectory inside the repository to be used as webroot" name="b_docroot_subdir" ng-model="branch.b_docroot_subdir" >
      </div>

      <mc-docroot-hostentries form="dataForm" server="{{::server}}" wh-id="{{::whId}}" model="branch.b_domain_docroot_changes"></mc-docroot-hostentries>

      <div ng-if="branch.b_blue_green" >
        <mc-alert-box alert-type="info" message="In blue-green mode, the docroot mappings of the web server for the selected entries will be reconfigured automatically after a pull operation has been successfully completed. The changes might need a little time to take effect."></mc-alert-box>

      </div>


      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="branch.dont_clone" > 
               <span lng>Do not clone the repository (use this option if the repo is already disted to the storage)</span>
            </label>
          </div>    
      </div>    

      <mc-debug model="branch"></mc-debug>

      <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
      </div>

        </fieldset>
     </form>

</div>

<div ng-show="info.insert_not_allowed">
  <mc-alert-box alert-type="danger" message="This resource is over quota, it is currently not possible to add anymore."></mc-alert-box>
</div>
