<h3><span lng>Repository</span>: {{git_info.g_name}}</h3>



 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Name of the repository</label>
        <input type="text" class="form-control" name="g_name" ng-model="git_info.g_name" lng-placeholder="Please name your repository for easier reference."  required >
        <p class="help-block"  ng-if="dataForm.g_name.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" >
        <label class="control-label colon" lng>Remote origin</label>
        <input type="text" readonly class="form-control" ng-model="git_info.g_remote_origin" >
      </div>

      <div class="form-group" >
        <label class="control-label colon" lng>Webhook URL</label>
        <input type="text" readonly class="form-control" ng-model="git_info.webhook_url"  >
      </div>

        <mc-alert-box alert-type="info" message="Our webhook expects a POST request with application/json request body. It currently supports Github, Bitbucket and Gitlab based payload schemes."></mc-alert-box>


      <mc-git-ssh-key server="{{::server}}" wh-id="{{::whId}}"></mc-git-ssh-key>



          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

