

    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        <span lng>Actions</span> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li role="menuitem"><a href ng-click="do_log()" lng>Show git log</a></li>
        <li role="menuitem"><a href ng-click="do_pull()" lng>Manual pull</a></li>
        <li role="menuitem"><a href ng-click="do_clone()" lng>Manual clone</a></li>
        <li role="menuitem"><a href ng-click="do_revert()" lng>Revert</a></li>
        <li role="menuitem"><a href ng-click="do_checkout()" confirm="This action drops each possible modifications on any of the files indexed by the repository." lng>Checkout</a></li>
        <li role="menuitem"><a href ng-click="do_clean()" confirm="This action drops every file in the repository's root directory, that are not indexed. Use it with caution." lng>Clean</a></li>

        <li ng-if="showDocroot" class="divider"></li>
        <li ng-if="showDocroot" role="menuitem"><a href ng-click="do_setdocroot()" lng>Set this repository as document root</a></li>
      </ul>
    </span>

