<h3 lng>Connect to a git repository</h3>

<div ng-show="info.insert_allowed">

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Name of the repository</label>
        <input type="text" class="form-control" name="g_name" ng-model="git.g_name" lng-placeholder="Please name your repository for easier reference."  required >
        <p class="help-block"  ng-if="dataForm.g_name.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Remote origin</label>
        <input type="text" class="form-control" lng-placeholder="Eg: https://github.com/meta/test.git or git@github.com:meta/test.git" name="g_remote_origin" ng-model="git.g_remote_origin" required >

        <p class="help-block"  ng-if="dataForm.g_remote_origin.$error.required" lng>Data is required</p>
      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>

<div ng-show="info.insert_not_allowed">
  <mc-alert-box alert-type="danger" message="This resource is over quota, it is currently not possible to add anymore."></mc-alert-box>
</div>
