<h3 lng>SSH related settings</h3>


<div lng>For security reasons we recommend turning strict host key checking mode on as soon as the Git engine has the remote fingerprints cached.</div>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
     <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="info.ssh.StrictHostKeyChecking" readonly > 
               <span><span lng>Strict host key checking</span>
            </label>
          </div>    
      </div>    

      <mc-git-ssh-key server="{{::server}}" wh-id="{{::whId}}"></mc-git-ssh-key>


      <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
      </div>

        </fieldset>
     </form>

