<h3><span lng>Branch</span>: {{branch_info.b_branch}}</h3>



 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group">
        <label class="control-label colon" lng>Name of the branch</label>
        <input type="text" class="form-control"  ng-model="branch_info.b_branch" readonly >
      </div>

      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="branch_info.b_pull_single_branch_only" ng-disabled="true"> 
               <span><span lng>Pull single branch only, takes less space</span> (<code>--single-branch</code>)</span>
            </label>
          </div>    
      </div>    

     <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="branch_info.b_blue_green" ng-disabled="true" > 
               <span><span lng>Blue-green model (takes double space)</span>
            </label>
          </div>    
      </div>    


      <div class="form-group">
        <label class="control-label colon" ><span lng>Root path</span> <span ng-if="branch_info.b_current_repo_index == 1" lng>(current)</span></label>

        <div class="input-group">
          <div class="input-group-addon">
            <mc-git-branch-path-actions server="{{::server}}" wh-id="{{::whId}}" git="{{::git}}" branch="{{::branch}}" path="{{::branch_info.b_repo_path1}}" show-docroot="showDocroot"></mc-git-branch-path-actions>
          </div>

            <input type="text" class="form-control"  ng-model="branch_info.b_repo_path1" readonly >
        </div>
      </div>


      <div ng-if="branch_info.b_blue_green" >

      <div class="form-group">
        <label class="control-label colon" ><span lng>Root path (secondary)</span> <span ng-if="branch_info.b_current_repo_index == 2" lng>(current)</span></label>
        <div class="input-group">

          <div class="input-group-addon">
          <mc-git-branch-path-actions server="{{::server}}" wh-id="{{::whId}}" git="{{::git}}" branch="{{::branch}}" path="{{::branch_info.b_repo_path2}}" show-docroot="showDocroot"></mc-git-branch-path-actions>
          </div>

          <input type="text" class="form-control"  ng-model="branch_info.b_repo_path2" readonly >

        </div>
      </div>

      </div>

      <div class="form-group" >
        <label class="control-label colon" lng>Subdirectory (optional)</label>
        <input type="text" class="form-control" lng-placeholder="The subdirectory inside the repository to be used as webroot"  ng-model="branch_info.b_docroot_subdir" >
      </div>

      <mc-docroot-hostentries server="{{::server}}" wh-id="{{::whId}}" model="branch_info.b_domain_docroot_changes"></mc-docroot-hostentries>
      
      <div ng-if="branch_info.b_blue_green" >

        <mc-alert-box alert-type="info" message="In blue-green mode, the docroot mappings of the web server for the selected entries will be reconfigured automatically after a pull operation has been successfully completed. The changes might need a little time to take effect."></mc-alert-box>

      </div>

      <mc-debug model="branch_info"></mc-debug>

      <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
      </div>

        </fieldset>
     </form>

