     <div class="form-group" >
       <label class="control-label colon" lng>SSH deployment key</label>
      <textarea rows=8 select-on-click readonly class="form-control" ng-model="::ssh" required></textarea>
    </div>
