  <h3 lng>Git repositories of this webhosting</h3>


<div class="table-responsive" ng-if="showListing">
<table class="table table-striped table-hover margintop lastColumnThin">
  <caption lng>Git repositories</caption>
      <thead>
        <tr>
          <th lng>Name</th>
          <th lng>Remote origin</th>
          <th lng>Branches</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="git in gits">
  <td><a href mc-sref="mc-git-branch-list-and-add" mc-sref-params="{server:server,whId:whId,git:git.g_id}" >{{ git.g_name }}</a></td>
  <td>{{ git.g_remote_origin }}</td>
  <td>{{ git.g_branches }}</td>
  <td>
    <button class="btn btn-danger" ng-click="delete(git)" confirm lng>Delete</button>
  </td>
</tr>


</tbody>
</table>


</div>

<mc-alert-box ng-show="!showListing" alert-type="warning" message="Nothing is configured so far."></mc-alert-box>

<div id="gitBox"></div>