  <td class="colon" lng>Web application firewall status</td>
  <td>
     <span ng-show="firewall && firewall.active" lng>Enabled</span>
     <span ng-show="firewall && !firewall.active" lng>Disabled</span>
  </td>
  <td>
      <button ng-show="firewall && !firewall.active" class="btn btn-default" ng-click="firewallOn()" lng>Turn on</button>
      <button ng-show="firewall && firewall.active" class="btn btn-default" ng-click="firewallOff()" lng>Turn off</button>

  </td>
