<h2 lng>Web application firewall</h2>


<mc-alert-box alert-type="info" message="The firewall is able to filter outgoing network connections initaited by your web applications. When the firewall is turned on, new connections are rejected by default, and only the ones added explicitly are allowed. With firewall turned off, web applications can still establish new connections to well-known destination ports only."></mc-alert-box>

<div class="table-responsive">
<table class="table table-form">

 <tr mc-firewall-row server="{{::server}}" wh-id="{{::whId}}"></tr>

 <tr ng-if="firewall.active">
   <td lng>Realtime firewall log</td>
   <td></td>
   <td><button class="btn btn-default" lng ng-click="openFirewallLog()">Open firewall log</button></td>
 </tr>

</table>
</div>

<h3 lng>Web application firewall entries</h3>

<div class="table-responsive">
<table class="table table-striped table-hover lastColumnThin">
  <caption lng>Firewall entries</caption>
      <thead>
        <tr>
          <th lng>Destination IP</th>
          <th lng>Destination port</th>
          <th lng>Firewall action</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="records_root">

<tr ng-repeat="entry in firewall.rules">
  <td>{{ entry.fw_dst_ip }}</td>
  <td>{{ entry.fw_dst_port }}</a></td>
  <td>{{ entry.fw_action }}</td>
  <td><button class="btn btn-warning" ng-click="remove(entry)" lng>Delete</button></td>
</tr>


</tbody>
</table>
</div>

<mc-alert-box ng-show="firewall && !firewall.rules.length" alert-type="warning" message="There are no firewall entries."></mc-alert-box>


<h3 lng>Add new entry</h3>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Destination IP</label>
        <input type="text" class="form-control" name="fw_dst_ip" ng-model="firewallrule.fw_dst_ip" required  >
        <p class="help-block"  ng-if="dataForm.fw_dst_ip.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Destination port</label>
        <input type="text" class="form-control" name="fw_dst_port" ng-model="firewallrule.fw_dst_port" required  >
        <p class="help-block"  ng-if="dataForm.fw_dst_port.$error.required" lng>Data is required</p>
      </div>

   <div class="form-group" show-errors>
      <label class="control-label colon" lng>Firewall action</label>
      <select class="form-control" name="fw_action" ng-model="firewallrule.fw_action" required><option ng-repeat="action in ::actions" value="{{ action }}" >{{::action}}</option></select>
        <p class="help-block"  ng-if="dataForm.fw_action.$error.required" lng>Data is required</p>
  </div>

	        <div class="text-center">
				<button  class="btn btn-success" ng-click="fire()" lng>Save</button>
	        </div>

        </fieldset>
     </form>

