<div class="table-responsive" ng-cloak>
     <table  st-table="displayedCollection" width="100%" st-safe-src="mcGrid" class="table table-striped table-hover">
      <thead>
        <tr>
          <th colspan=42>
             <input st-search="" class="form-control" lng-placeholder="Search..." type="text"/>
          </th>
        </tr>
      </thead>
     <tbody></tbody>
      <tfoot>
      	 <tr ng-if="mcGrid === undefined"><th colspan="42" lng>The query is in progress...</th></tr>      	 
      	 <tr ng-if="mcGrid.length > 0 && displayedCollection.length == 0"><th colspan="42" lng>No items matched the criteria.</th></tr>
      	 <tr ng-if="mcGrid.length == 0"><th colspan="42" lng>The query returned no results.</th></tr>
         <tr ng-if="mcGrid.length > 0"><td class="text-center" colspan="42">
             <span st-pagination="" ></span>
         </td></tr>
      </tfoot>
    </table>
</div>
