<div class="alert alert-{{::alertType}}" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <strong lng="{{::heading}}"></strong> <span lng="{{message}}" lng-post-process="{{::lngPostProcess}}"></span>
</div>
