
<mc-login-or-in-progress redirect-after="{{::redirectAfter}}"></mc-login-or-in-progress>

<div ng-show="UserProfile.isLoggedIn && !UserProfile.justLoggedIn">
  <div class="colon" lng>You are already logged in</div>
  <pre>{{ UserProfile | json }}</pre>

  <mc-logout></mc-logout>
</div>