<div ng-show="pagination.noResultsWarning" class="alert alert-warning" >
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span lng>The query returned no results.</span>
</div>

<div ng-show="pagination.fetchInProgress" class="alert alert-info" >
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span lng>The query is in progress...</span>
</div>

<div ng-hide="pagination.itemsPerPage >= pagination.totalItems">
  <mc-pagination ng-hide="pagination.noResultsWarning" ng-change="pager()" items-per-page="pagination.itemsPerPage" total-items="pagination.totalItems" ng-model="pagination.currentPage"></mc-pagination>
</div>
