                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" lng>Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="loginForm" novalidate>
                            <fieldset>

                           <div ng-hide="totpMode">

                                <div class="form-group" show-errors>
                                    <label class="control-label colon" lng>Username</label>
                                    <input class="form-control" placeholder="E-mail" name="cred_username" ng-model="cred.username" required autofocus>
                                    <p class="help-block"  ng-if="loginForm.cred_username.$error.required" lng>Please enter your username</p>
                                </div>
                                <div class="form-group" show-errors>
                                    <label class="control-label colon" lng>Password</label>
                                    <input class="form-control" lng-placeholder="Password" name="cred_password"  ng-model="cred.password" required cleanpassword type="password" value="">
                                    <p class="help-block"  ng-if="loginForm.cred_password.$error.required" lng>Please enter the password</p>

                                </div>

                                <mc-captcha-block form="loginForm" model="cred" kind="login" ></mc-captcha-block>

                                <!-- Change this to a button or input when using this as a form -->
                                <div class="text-center">
                                    <button class="btn btn-lg btn-success" ng-click="login()"  lng>Login</button>
                                    <a ng-if="!config.forgotten_password_send_uri" mc-sref="mc-sb2-forgotten-password-send" class="btn btn-lg btn-info" role="button" lng>Forgotten password</a>
                                    <a ng-if="config.forgotten_password_send_uri" mc-config-href="forgotten_password_send_uri" class="btn btn-lg btn-info" role="button" lng>Forgotten password</a>
                                </div>
                          </div>



                         <div ng-show="totpMode">


                                <div class="form-group">
                                  <label class="control-label colon" lng>Two factor authentication token</label>
                                  <input type="text" maxlength=6 minlength=6 class="form-control" name="cred_token" ng-model="t.userToken"   onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-success" ng-click="sendTotp()" lng>Send</button>
                                    <button class="btn btn-default" ng-click="cancelTotp()" lng>Cancel</button>
                                </div>
                         </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
    