<div ng-if="showList">
  <h3 lng>Tasks being executed</h3>
  <div lng>The following tasks are being executed:</div>
  <ul>
    <li ng-repeat="task_id in tasks"><a href ng-click="open(task_id)">{{::task_id}}</a></li>
  </ul>
</div>