<div class="modal-header"><h3 class="modal-title" lng="{{::feedback.data.title}}"></h3></div>
    <div class="modal-body" >

    <textarea show-tail class="form-control"  rows="20" ng-model="feedback.text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>

    </div>
    <div class="modal-footer">

			  <div class="row">
						<div ng-switch on="feedback.status"  class="col-sm-6">

							<div  ng-switch-when="successful" class="progress">
							  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
							  aria-valuemin="0" aria-valuemax="100" style="width:100%" lng>
							    Task execution was successfully completed.
							  </div>
							</div>

							<div ng-switch-when="aborted"  class="progress">
							  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100"
							  aria-valuemin="0" aria-valuemax="100" style="width:100%" lng>
							    Task execution was aborted.
							  </div>
							</div>

							<div ng-switch-when="error"  class="progress">
							  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
							  aria-valuemin="0" aria-valuemax="100" style="width:100%" lng>
							    An error occoured during exucution of this task.
							  </div>
							</div>

							 <div ng-switch-default  class="progress">
							  <div class="progress-bar progress-bar-striped active" role="progressbar"
							  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" >
							    <span lng>Work in progress...</span>
							    <span ng-if="feedback.data.expectedTotalBytes">
							        <span class="colon" lng>Upload progress</span>
								    <span ng-if="feedback.data.expectedRequests">
								       {{feedback.sofarRequests}} / {{::feedback.data.expectedRequests}} :
								    </span>
								    <span>
								       {{feedback.sofarProgress}}%
								    </span>
							    </span>
							    <span ng-if="feedback.data.undeterministic">
							    	({{ feedback.sofarRequests }})
							    </span>
							  </div>
							</div>

						</div>

                   <div  class="col-sm-6">
						    <button ng-show="!feedback.data.abortOnly || feedback.status != 'in_progress'" class="btn btn-success" ng-click="close()" lng>Close</button>
						    <button class="btn btn-warning" ng-click="feedback.abort()" ng-disabled="feedback.abortDisabled" lng>Abort</button>
			       </div>
			   </div>

    </div>

