<div class="modal-body" style="padding:0px">

<div class="alert alert-{{::data.alertType}}" role="alert" style="margin-bottom:0px">

        <button type="button" class="close" ng-click="ok()" >
            <span class="glyphicon glyphicon-remove-circle"></span>
            {{okText}}
        </button>

  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <strong lng="{{::data.heading}}"></strong> <span lng="{{::data.message}}" lng-post-process="{{::lngPostProcess}}"></span>
</div>

</div>
