<div class="text-center">
 <ul uib-pagination boundary-links="true"  items-per-page="itemsPerPage" total-items="totalItems" ng-model="ngModel" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  max-size="10" force-ellipses="true"></ul>
</div> 
