    			 <form name="dataForm" novalidate>
			       <fieldset ng-disabled="isInProgress">

     <div class="modal-header"><h3 class="modal-title" lng>Terms of use</h3></div>
    <div class="modal-body" >
      <div ng-bind-html="data.tos"></div>

    </div>
    <div class="modal-footer">

	  <div class="row">
		<div class="col-sm-8">

          <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-model="accepted" > 
               <span lng>I read, understood and accept the terms of use</span>
            </label>
          </div>    
          </div>    

        </div>
		<div class="col-sm-4">

		    <button ng-show="accepted" class="btn btn-success" ng-click="ok()" lng>Ok</button>
		    <button ng-hide="accepted" class="btn btn-warning" ng-click="abort()" lng>Abort</button>
		 </div>
	  </div><!-- end of row -->

    </div>


				      </fieldset>
		      </form>
