<span ng-class="{'form-inline':!filter.groupOnly}">
	  <div class="input-group">
	      <span class="input-group-addon">
	          <i class="glyphicon glyphicon-search"></i>
	      </span>
	      <input type="text" class="form-control" ng-model="filterData.text" lng-placeholder="Filter" mc-key-enter="filter()">

	  </div>
	  <button class="btn btn-default" ng-click="filter()" lng>Apply filter</button>

</span>
