<div class="mcLoginOrInProgress">
	<div ng-if="!UserProfile.isLoggedIn">
	   <mc-login redirect-after="{{::redirectAfter}}"></mc-login>
	</div>


	<div ng-show="UserProfile.justLoggedIn" class="mcLoginProgressDiv">
	  <h3 lng>Login is in progress</h3>
	   <div>
		  <div class="progress-bar progress-bar-striped active" role="progressbar"
		  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" >
		    <span lng>Login is in progress</span>
		  </div>
	   </div>
	</div>
</div>
