
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fab fa-font-awesome-flag fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{mcAccountWebhostingDomainsCount}}</div>
                                    <div lng>Domain(s)</div>
                                </div>
                            </div>
                        </div>
                        <a href="#domains">
                            <div class="panel-footer">
                                <span class="pull-left" lng>View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fas fa-hdd fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{mcWebhostingListCount}}</div>
                                    <div lng>Webstore(s)</div>
                                </div>
                            </div>
                        </div>
                        <a href="#webstores">
                            <div class="panel-footer">
                                <span class="pull-left" lng>View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fas fa-certificate fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{mcCertPurchasesCount}}</div>
                                    <div lng>Certificate(s)</div>
                                </div>
                            </div>
                        </div>
                        <a href="#cert-purchases">
                            <div class="panel-footer">
                                <span class="pull-left" lng>View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fas fa-server fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{serversCount}}</div>
                                    <div lng>Server(s)</div>
                                </div>
                            </div>
                        </div>
                        <a ng-if="serversCount" mc-sref="mcSuperuserMain">
                            <div class="panel-footer">
                                <span class="pull-left" lng>View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <span ng-if="!serversCount">
                            <div class="panel-footer">
                                <span class="pull-left" lng>View Details</a></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </span>

                    </div>
                </div>
            </div>

<div id="domains">
    <mc-available-domains></mc-available-domains>
</div>

<div id="webstores">
    <mc-webhosting-list></mc-webhosting-list>
</div>

<div id="cert-purchases">
<mc-cert-purchases server="{{::certPurchaseServer}}"></mc-cert-purchases>
</div>
