
  <div ng-cloak>

    <div ng-if="UserProfile.isLoggedIn">

        <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" mc-sref="mc-dashboard">mcAdmin<mc-state-server></mc-state-server><mc-state-webhosting-name></mc-state-webhosting-name></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {{::UserProfile.u_name}} ({{::UserProfile.u_primary_email}}) <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" mc-user-settings-menu></ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav"  metis-menu>
                        <li class="sidebar-search">
                            <mc-state-search skip-superuser="{{UserProfile.isSuperuser}}" discard-where-params-missing="true" ></mc-state-search>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a mc-sref="mc-dashboard"><i class="fas fa-tachometer-alt fa-fw"></i> <span lng>Dashboard</span></a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> <span lng>User settings</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" mc-user-settings-menu></ul>
                        </li>

                        <li mc-if-regular-domain mc-if-route-params="server,domain" mc-sb2-domain-menu metis-menu></li>
                        <li mc-if-regular-webhosting mc-if-route-params="server,whId" mc-sb2-webhosting-menu metis-menu></li>

                        <li class="divider"></li>
                        <li class="divider"></li>

                        <li mc-if-role="SUPERUSER SERVER_OWNER" local-role="true" metis-menu>
                            <a href="#""><i class="fab fa-superpowers fa-fw"></i> <span lng>Superuser controls</span><span class="fa arrow"></span></a>

                            <ul class="nav nav-second-level" mc-sb2-superuser-menu menu-superuser-mode="true"></ul>                
                            
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="padding: 20px">



        <div style="padding: 20px" class="panel panel-default">

            <div mc-view mc-view-default="mc-dashboard" mc-no-breadcrumb="true"></div>
        </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->



        <footer style="height: 50px; text-align: center; padding-top: 30px; font-size: 8pt">
            Copyright &copy; 2018+ - mc
        </footer>

        
    </div>
    <!-- /#wrapper -->


    </div>
    <div ng-if="!UserProfile.isLoggedIn">

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">

                    <div mc-view mc-view-default="mc-sb2-login" mc-allowed-views="mc-sb2-login|mc-sb2-forgotten-password-send"></div>

                </div>
            </div>
        </div>

    </div>

  </div>
