			 <form name="dataForm" novalidate>
			       <fieldset ng-disabled="isInProgress">

<div class="modal-header"><h3 class="modal-title" lng="{{::data.title}}"></h3></div>
    <div class="modal-body" >

			 
	      <div class="form-group" show-errors>
	        <label class="control-label colon" lng="{{::data.message}}"></label>
	        <input autofocus type="text" class="form-control" name="data" lng-placeholder="{{::data.placeholder}}"  required ng-model="text" >

	        <p class="help-block" ng-if="dataForm.data.$error.required" lng>Data is required</p>
	      </div>

    </div>
    <div class="modal-footer">

		    <button class="btn btn-success" ng-click="ok()" lng>Ok</button>
		    <button class="btn btn-default" ng-click="cancel()" lng>Cancel</button>

    </div>

				      </fieldset>
		      </form>
