<div class="modal-header"><h3 class="modal-title" lng="{{::data.title}}"></h3></div>
    <div class="modal-body" >

        <div>{{::data.filename}}</div>
		<div class="form-control" id="aceEditor"></div>

    </div>
    <div class="modal-footer">


			  <div class="row">
						<div class="col-sm-6">

							 <div ng-show="saveInProgress" class="progress">
							  <div class="progress-bar progress-bar-striped active" role="progressbar"
							  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" >
							    <span lng>Work in progress...</span>
							  </div>
							</div>

						</div>

                   <div  class="col-sm-6">

						    <button class="btn btn-default" ng-hide="changed" ng-click="close()" lng>Close</button>
						    <button class="btn btn-danger" ng-show="changed" ng-click="close()" confirm="Do you really want to close the editor without saving?" lng>Close without saving</button>

						    <button class="btn btn-success" ng-disabled="saveInProgress || !changed" ng-click="save()" lng>Save</button>

			       </div>
			   </div>

    </div>



