    <li><a mc-sref="mc-user-settings"><i class="fas fa-cogs fa-fw"></i> <span lng>User settings</span></a></li>
    <li><a mc-sref="mc-two-factor-authentication"><i class="fas fa-shield-alt fa-fw"></i> <span lng>Two factor authentication</span></a></li>
    <li><a mc-sref="mc-loginlog-and-settings"><i class="fas fa-sign-in-alt fa-fw"></i> <span lng>Login log</span></a></li>
    <li><a mc-sref="mc-edit-account-show-granted-access"><i class="fab fa-gratipay fa-fw"></i> <span lng>Grant access to others</span></a></li>
    <li class="divider"></li>
    <li ><a mc-link-logout><i class="fas fa-sign-out-alt fa-fw"></i> <span lng>Logout</span></a></li>
