<div class="modal-header"><h3 class="modal-title" lng="{{data.message}}"></h3></div>
<div class="modal-body">
   <div lng>Unexpected exception has happened.</div>
   <div ng-if="data.message=='INTERNAL_ERROR'" lng>Please contact the customer service.</div>
   <br/>
   <div><lng>Exception</lng>: {{ data.message }}</div>
   <div ng-show="data.params">
      <div ng-repeat="key in data.paramKeys">
        <h4 lng>{{ key }}</h4>
        <ul>
           <li ng-repeat="err in data.params[key]" lng>{{err}}</li>
        </ul>
      </h4>
      </div>
   </div>
</div>
<div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()" lng>Ok</button>
</div>
