<h3>General features</h3>

<dl>
	<dt>A complete webhosting solution - for service providers or users with many sites</dt>
	<dd>Dynamic programming languages support (currently: PHP, Python)</dd>
	<dd>File management via FTP, SFTP and web based <a href="#fileman">file manager</a></dd>
	<dd><a href="#email">E-mail management</a> (accounts, aliases, virus/spam filtering and more)</dd>
	<dd><a href="#dbms">Database management</a></dd>
	<dd>Domain administration along with document root settings and <a href="#tapi">DNS record management</a></dd>
	<dd><a href="#certificate">TLS certificates</a> (with Let's Encrypt and Comodo)</dd>
	<dd>Version control integration (<a href="#git">Git</a> based services providers like Github.com and Bitbucker.com are supported)</dd>
	<dd>Integrated application installer (<a href="#installatron">Installatron</a>)</dd>
	<br/>

	<dt>Multi-language support</dt>
	<dd>Current translations: English, Hungarian</dd>
	<dd>Including the full administration panel and e-mail templates</dd>
	<br/>

	<dt>Microservices architecture</dt>
	<dd>Light-weight backend services written in Node.JS</dd>
	<dd>Fully manageable via REST API</dd>
	<dd>Feedback about asynchronous and long-running operations via raw HTTP queries</dd>
	<dd>Infrastructure as Code: Easy orchestration based on Ansible playbooks</dd>
	<dd>Segregation of environments (via Docker containers)</dd>
	<dd>Automatic upgrade of components (third party as well) with zero downtime</dd>
	<dd>Support for multiple hosts in the plant</dd>
	<br/>

	<dt>Security by design</dt>
	<dd>Principle of least privilege: Even requests between the microservices are authorized via a role-based model</dd>
	<dd>A compromised node can not have any effect on any of the other hosts in the plant</dd>
	<dd>Integrity and replay protected requests/responses</dd>
	<br/>

	<dt>Administration panel</dt>
	<dd>Single Page Application (AngularJS)</dd>
	<dd>White-labeling support</dd>
	<dd>The full admin functionality is covered - no need for any dirty work over SSH (As there are actually really that much, there is even a text based search for admin controls)</dd>
	<dd>(Almost) everything is fine tunable and resource-consumption can be restricted</dd>
	<br/>

	<dt>Miscellaneous</dt>
	<dd>CPU governor: resource-heavy user-processes are detected immediately and reniced</dd>
	<dd>Multiple PHP versions are supported on the same host</dd>
	<dd>PHP scripts are executed as fastcgi scripts via the built-in process manager</dd>
	<dd>Per webstore backup/restore feature with settings (docroot settings, email accounts, certificates, etc.); can also be used to transfer webstores between servers and/or customers; databases are being exported/imported on-the-fly over the network via OS process pipes</dd>
	<dd>E-mail notifications in case of webstores relocations</dd>
	<dd>No propagation delays in case of most of the services, like FTP and e-mail accounts can be created synchronously (in case of some other services, like DNS and Docroot, operations are aggregated and executed in no later than 60 seconds)</dd>
</dl>


<h3 id="webhosting">Integrated webshop</h3>
<dl>
	<dt>Integrated solution for selling webstores, domain names and certificates</dt>
	<dd>This is a legacy module currently that is to be refactored</dd>
	<dd>Pluggable modules for upstream providers (eg. for domain registration)</dd>
	<dd>Pluggable modules for payment gateways (eg. for credit card, Paypal, Bitcoin transactions)</dd>
	<dd>Pluggable modules for processing wired transaction of banking systems</dd>
	<dd>Expiration notices</dd>
	<dd>Proformas, invoicing</dd>
</dl>


<h3 id="webhosting">Webhosting service</h3>

<dl>
	<dt>Management of webstores</dt>
	<dd>A webstore a is a logic unit for which the separation is enforced in the shared environment</dd>
	<dd>Creating webstores based on the package template offered by <a href="#accountapi">Account API</a></dd>
	<dd>All parameters of the package template can be tweaked on a per webstore basis</dd>
	<dd>Collecting tally of raw files, mailboxes and databases, showing accumulated views</dd>
	<dd>Warning e-mail notifications when limit is close</dd>
	<dd>[planned] File system level hard quota</dd>
	<dd>Each webstore has a dedicated OS-level user id being owner of files created</dd>
	<dd>Hooks around the lifecylce of webstores when additional integration is needed: init, unit, activate, deactivate, create and remove</dd>
	<dd>Multiple backing file system storages</dd>

	<dd>Web applications support</dd>
	<dd>PHP 5.3 - 7.2 (e.g. Wordpress, Laravel, Joomla)</dd>
	<dd>NodeJS (e.g. Express)</dd>
	<dd>Python 3 (e.g. Flask, Django)</dd>
	<dd>Download library dependencies (by npm/pip)</dd>
	<dd>Running in low-privileged Docker containers</dd>
	<br/>

	<dt>PHP</dt>
	<dd>Multiple PHP versions on the same host; assigning the desired PHP version on the control panel</dd>
	<dd>Generating PHP-FPM pool configuration, tweaking is supported</dd>
	<dd>Rehashing selected PHP-FPM instance</dd>
	<dd>PHP slow logs are processed real-time</dd>
	<dd>Aggregated PHP access logs are exposed</dd>
	<br/>


	<dt>SZAR: Regular remote backup archives</dt>
	<dd>Based on the <a href="https://bitbucket.org/monsterbb/szar-backup/" target="_blank">szar-backup</a> project</dd>
	<dd>Per storage snapshots created to a remote server as scheduled (daily default)</dd>
	<dd>Listing available snapshots</dd>
	<dd>Any of the snapshots can be restored via the web interface</dd>
	<dd>Backup archives can be browsed via a web interface</dd>
	<dd>Differential storing model, low disk usage</dd>
	<dd>E-mail notification when changes detected in the dynamic scripts</dd>
	<dd>Automatic cleanup of old difflogs</dd>
</dl>



<h3 id="tapi">DNS service</h3>

<dl>
	<dt>Distributed domain name service</dt>
	<dd>Based on Tinydns/djbdns</dd>
	<dd>Multi-server support with real-time replication of changes</dd>
	<dd>Supported DNS record types: A, AAAA, CAA, CNAME, MX, NS, PTR, SOA, SRV, TXT</dd>
	<dd>Support for other DNS record types via user-supplied record payload</dd>
	<dd>Wildcard hostnames</dd>
	<dd>Extending record set or replacing zones at once</dd>
	<dd>Zone templates for easy reset of zones</dd>
	<dd>Clone DNS record set from another zone</dd>
	<dd>Deleting records with count limit</dd>
	<dd>Uppercased hostnames are accepted and automatically converted to lower-case</dd>
	<dd>Max number of records/zone can be limited</dd>
	<dd>Zone can be locked (aka. read-only mode) so users cannot edit it</dd>
	<dd>Size of zones can be limited</dd>
	<dd>Global SOA contact - customizable e-mail address</dd>
	<dd>Prevent editing NS records</dd>
	<dd>Admin tool to mass change of records</dd>
	<dd>Import/export to/from TGZ file</dd>
	<dd>Synchronize zone data between servers</dd>
	<dd>Comparision logic to find potential discrapancies quickly</dd>
</dl>


<h3 id="ftp">FTP service</h3>

<dl>
	<dt>FTP account management microservice</dt>
	<dd>Based on ProFTPD</dd>
	<dd>Credential based FTP and SFTP logins</dd>
	<dd>Accounts can be bound to a sub directory inside the storage</dd>
	<dd>Soft quota for limiting file system usage</dd>
	<dd>Tallies are back-synced to the administration panel with a short delay</dd>
	<dd>Live scoreboard</dd>
	<br/>

	<dt>Security features</dt>
	<dd>Passwords hashes are generated via the PBKDF2 algorithm</dd>
	<dd>On-the-fly parsing of the ProFTPD logs, login events are emitted to the <a href="#eventapi">Event service</a></dd>
	<dd>IP whitelist based login restriction</dd>
	<dd>Login restricted to the same IP where the admin panel was accessed from the last 24 hours</dd>
	<dd>On the fly virus scanning with Clamav</dd>
</dl>


<h3 id="eventapi">Mailer service</h3>

<dl>
	<dt>Microservice responsible for sending out e-mail</dt>
	<dd>Requests are coming from the other services</dd>
	<dd>Template based e-mails (can be customized); with some logic support</dd>
	<dd>Multi-language capable</dd>
	<dd>When the recipient is a customer, public data is looked up via <a href="#accountapi">Account API</a></dd>
</dl>


<h3 id="iptables">Iptables service</h3>

<dl>
	<dt>Firewall management</dt>
	<dd>Temporarily ban IP addresses</dd>
	<dd>Whitelist can be defined for safety</dd>
	<br/>

	<dt>Management of per webstorage firewall rules</dt>
	<dd>Persistent</dd>
	<dd>Network connections initiated by the web applications can be filtered</dd>
	<dd>Real-time, low-level monitoring of firewall events</dd>
</dl>

<h3 id="eventapi">Event service</h3>

<dl>
	<dt>Storing logs about system events</dt>
	<dd><a href="#geoip">GeoIP</a> country lookups of the log events</dd>
	<dd>Login events are stored in a dedicated table as well</dd>
	<dd>Banning abuser IP addresses via the <a href="#iptables">Iptables API</a> (configurable)</dd>
	<dd>Login events are also forwarded to <a href="#accountapi">Account API</a></dd>
	<dd>Automatic cleanup of old events (configurable)</dd>
	<dd>Events can be browsed/filtered/searched easily via the admin panel</dd>	
	<dd>Events that need special attention are escalated via <a href="#accountapi">Account API</a></dd>
</dl>


<h3 id="geoip">GeoIP service</h3>

<dl>
	<dt>IP to country lookup microservice</dt>
	<dd>Ultra light memory consumption</dd>
	<dd>Automatical database update</dd>
	<dd>Used by the <a href="#eventapi">Event service</a> to lookup country info for events</dd>
</dl>

<h3 id="installatron">Installatron service</h3>

<dl>
	<dt>A third party application installer solution</dt>
	<dd>API for the guixfer operation (to acquire a token that exposes the backend service API and web frontend)</dd>
</dl>


<h3 id="docrootapi">Docroot service</h3>

<dl>
	<dt>Responsible for managing Nginx and Apache configuration files</dt>
	<dd>Nginx acts as a reverse-proxy; static content is served by it directly</dd>
	<dd>Raw configuration of the backing webservers can be retrieved</dd>
	<dd>Custom request timeout per virtual host</dd>	
	<dd>Custom config snippets can be configured for virtual hosts</dd>
	<dd>Primary virtual host can be selected</dd>
	<dd>Various maintenance operations via the admin panel, like rebuilding the configuration files, manually building Awstats statistics, rehashing the servers</dd>
	<br>

	<dt>Primary features</dt>
	<dd>Subdirectory of the storage can be assigned to a hostname so the webservers will look for content there</dd>
	<dd>Mapping multiple hostnames to the same directory are supported (even including wildcard specification)</dd>
	<dd>Superusers can suspend a virtual host configuration, so that end-users can't change it (this way it is possible to serve a different site forcefully)</dd>
	<dd>Displaying a custom site for expired webstores</dd>
	<dd>HTTP-level redirection; when no query string is specified explicitly for the target, it is appended automatically</dd>
	<dd>HTML-based redirection (frames)</dd>
	<dd>Logging payload of POST requests (optional, controllable over the admin panel by superusers)</dd>
	<dd>Password protection (http basic authentication) can be turned on for subdirectories</dd>
	<dd>Per storage credential management for the protected subdirectories</dd>
	<dd>X.509 certificate can be attached/detached to/from virtual hosts (uploaded via the <a href="#certificate">Certificate</a> service)</dd>
	<dd>Awstats configuration is generated automatically</dd>
	<dd>Awstats statistics are built according to the schedule</dd>
	<dd>Statistics pages are not public; they are only accessible for storage owners</dd>
	<dd>Transfer logs provided by nginx-vts are periodically saved into database</dd>
	<dd>Virtual hosts can automatically be suspended/released based on contraints configured for bandwidth consumption</dd>
</dl>



<h3 id="git">Git service</h3>

<dl>
	<dt>Integration with git based service providers</dt>
	<dd>Tested against Github, Bitbucket and Gitlab</dd>
	<dd>Pulls a remote repository</dd>
	<dd>Support for selecting branches</dd>
	<dd>SSH protocol supported, strict host checking</dd>
	<dd>RSA public key is exposed</dd>
	<dd>Support for Blue-green deployment: two distinct subdirectories are synced in a round-robin manner, upon successful pull the <a href="#docrootapi">docroot</a> is swapped</dd>
	<dd>Changes to the remote origin are detected via webhooks</dd>
</dl>


<h3 id="relayer">Relayer service</h3>

<dl>
	<dt>Authorization and routing logic layer</dt>
	<dd>This component is present on each server of the cluster</dd>
	<dd>Entry point of the REST API</dd>
	<dd>Relays requests to the underlying microservices</dd>
	<dd>Can distribute the same request to multiple microservices at once (for replication, used eg by <a href="#accountapi">Account API</a>>)</dd>
	<dd>Requests betweeen microservices are also routed and authrozized through this layer</dd>
	<dd>Multi-server support; when needed it transparently proxies requests to Relayer services running on other hosts</dd>
	<dd>Some operations that involve multiple microservices are implemented here (eg. removal of a webstore)</dd>
	<dd>Since URLs are structured in a restful way, this layer is relaively thin</dd>
	<dd>Time machine feature: capturing a current snapshot about the usage of the different components (eg. MySQL and ProFTPd scoreboard is saved) - which can be looked back later over the admin panel</dd>
</dl>

<h3 id="dbms">Database management service</h3>

<dl>
	<dt>Management layer for database engines, databases and credentials</dt>
	<dd>Abstraction providing pluggable module support for different DBMS systems; currently supported: MySQL</dd>
	<dd>Support for multiple DBMS'es per instance, even with the same type</dd>
	<dd>Account passwords are stored by the backing DBMS only via their official way</dd>
	<dd>Real-time scoreboard</dd>

	<dd>Managed phpMyAdmin application</dd>

	<dd>[planned] Master-master or master-slave replication can be configured</dd>
	<dd>Create/delete databases</dd>
	<dd>Create/delete database accounts</dd>
	<dd>Accounts can be protected via IP based ACL's</dd>

	<dd>Backup/restore/repair databases</dd>
	<dd>Regular backups saved via the <a href="#fileman">Fileman API</a></dd>
	<dd>Restore from regular backups or any custom file (backup archive is piped to mysql native binary directly via the same manner as described in <a href="#fileman">Fileman API</a>)</dd>
	<dd>Old backups are removed automatically (configurable)</dd>
	<dd>MySQL slow logs are processed real-time</dd>
	<dd>Disk usage statistics</dd>
	<dd>Disk space sort quota support</dd>
	<dd>Warning e-mail notification when tally is close to the limit</dd>
	<dd>Revoking grants for write operation when quota is exceeded</dd>
</dl>

<h3 id="accountapi">Account service</h3>
<dl>
	<dt>Service for managing customer accounts</dt>
	<dd>(Optionally) replicated to achieve HA</dd>
	<dd>TGZ based export/import for backup purposes</dd>
	<dd><a href="#relayer">Relayer</a> enforces authorization logic based on info retrieved from this service</dd>
	<br/>

	<dt>Main features</dt>
	<dd>Open account registration (configurable)</dd>
	<dd>During registration offering phone callback (configurable, turned off by default)</dd>
	<dd>Passwords hashes are generated via the bcrypt algorithm</dd>
	<dd>Support for Google Recaptcha - Simple built-in captcha for fallback</dd>
	<dd>Changing password, forgotten password functionality</dd>
	<dd>Managing e-mail accounts along with their category (tech, promo, billing, etc.)</dd>
	<dd>Ownership over the provided e-mail addresses are validated</dd>
	<dd>Telephone numbers</dd>
	<dd>Ownership verification of the provided telephone numbers via SMS</dd>
	<dd>Sending SMS messages for escalation (configurable)</dd>
	<br/>

	<dt>Login log</dt>
	<dd>Login log events (forwarded by <a href="#eventapi">Event API</a> nodes) are acculuated here</dd>
	<dd>Login log is exposed to the customers (filtered to their account)</dd>
	<dd>E-mail notification about successful/unsuccessful login events (configurable)</dd>
	<dd>Unsuccessful login events are cleaned up after a certain amount of time (configurable)</dd>
	<br/>

	<dt>Authentication</dt>
	<dd>Credential based authentication (end-users via web user interface)</dd>
	<dd>Token based authentication (called by the <a href="#relayer">Relayer service</a> for requests of the API consumers)</dd>
	<dd>Derived token mode: different hosts of the plant need a different token, so a compromised server can't send any requests on behalf of the user to any of the other hosts</dd>
	<dd>Account supervisor feature allowing external account to switch and manage the subject one</dd>
	<dd>Account switching feature for superuser (generating new token)</dd>
	<br/>

	<dt>Authorization related data</dt>
	<dd>Domains that the account has permission to manage for</dd>
	<dd>Webstores that the account has permission to manage for</dd>
	<dd>Additional credentials for the same account, limited to some sub-roles (eg. DNS admin only)</dd>
	<br/>

	<dt>Info needed for the multi-server architecture</dt>
	<dd>Info about the servers of the plant (what roles/components they have installed on...)</dd>
	<dd>Webhosting package templates (20+ options)</dd>
	<br/>

	<dt>SMS messages</dt>
	<dd>Layer with pluggable modules to send SMS messages</dd>
	<dd>A configurable way to send e-mail and/or SMS messages for events that need escalation (events worth for escalation are submitted by <a href="#eventapi">Event API</a>>)</dd>

</dl>

<h3 id="certificate">Certificate service</h3>

<dl>
	<dt>Managing X.509 certificates</dt>
	<dd>Uploading certificates along with their private key and intermediate elements of the CA chain</dd>
	<dd>The private key and certificate are verified whether they belong together</dd>
	<dd>The uploaded certificate can then be assigned to a virtual hosts via <a href="#docrootapi">Docroot API</a>. The webserver accepts connections over HTTPS and serves the correct certificate as requested via the TLS SNI extension</dd>
	<dd>Private key, certificate and CSR parsing via the API</dd>
	<dd>An alias name can be assigned to certificates (which is useful for other system softwares, like Dovecot)</dd>
	<dd>Managing contact object to ease the activation process</dd>
	<br/>

	<dt>Full certificate lifecycle management</dt>
	<dd>New certificates can be acquired via the API</dd>
	<dd>Abstraction provides pluggable support for different Certificate Authorities</dd>
	<dd>The full lifecycle is covered: activation, reissuing, renewal and revocation</dd>
	<dd>Notification e-mails are sent out when the certificate is enrolled or is close to expire</dd>
	<dd>Currently supported providers: Let's Encrypt and Comodo</dd>
	<dd>Certificates enrolled by Let's Encrypt are imported seamlessly and attached to the selected virtual host</dd>
	<dd>Let's Encrypt certificates are automatically renewed</dd>
	<dd>Complete automation for the Comodo DC validated certificate enrollment process (including CSR generation and activation) as well; activation is done using the HTTP method</dd>
	<dd>Supported DC validation methods are exposed via the API: email, HTTP and DNS CNAME records</dd>
	<dd>Wildcard certificates are also supported</dd>

</dl>

<h3 id="email">Email service</h3>

<dl>
	<dt>Management of the e-mail system</dt>
	<dd>Based on Postfix, Dovecot, Amavis, SpamAssassin, Clamav, Cluebringer and RoundCube</dd>
	<br/>

	<dt>Generic</dt>
    <dd>Domains can be assigned to be part of the e-mail system or not</dd>
	<dd>E-mail accounts and aliases can be created/tweaked/deleted via the API</dd>
	<dd>Passwords hashes are stored as generated by the SSHA256 algorithm</dd>
	<dd>Quota restriction can be assigned to the disk usage of mailboxes</dd>
	<dd>Policy can be assigned to mailboxes to enforce a quota on the number of outgoing e-mails (rolling window, per hour and/or per day)</dd>
	<dd>Real-time tally information (complete disk usage and number of messages in the mailbox)</dd>
	<dd>Regular automatic cleanup of old messages</dd>
	<dd>Spam emails below a certain score are still delivered, but directly into the Junk folder (serving as a soft quarantine, customers can review it easily)</dd>
	<dd>Junk messages are quarantined (can be checked and released by superuser)</dd>
	<dd>Support for e-mail aliases (aka. distribution lists)</dd>
	<dd>Support for auto BCC (eg. a blind carbon copy for outgoing e-mails)</dd>
	<dd>Summary view about all the e-mail accounts/aliases/bccs that are hosted on the same webstore</dd>
	<dd>Route e-mails sent by the mail command in containers of dynamic applications running on the webstores through the SMTP server so outgoing limits could be applied</dd>
	<dd>Parsing of mail logs for Postfix and Dovecot specific events; feeding login logs, using email login as a second factor authentication for whitelisting IP address for host ssh login</dd>
	<br/>
	<dd>Built-in e-mail setup guide for multiple popular e-mail client softwares (showing the relevant username/hostname also in the screenshots)</dd>
	<dd>Suspending accounts at domain and/or email account level</dd>

	<dt>Postfix related features</dt>
	<dd>Listens on SMTP (25) and SMTPS (465)</dd>
	<dd>Outgoing messages are accepted for delivery after SASL authentication (mailbox e-mail address and password are needed)</dd>
	<dd>Mailq is parsed and exposed for superusers, various cleanup features (eg. regular auto-remove of messages with a certain sender/recipient)</dd>
	<br/>

	<dt>Dovecot related features</dt>
	<dd>Listens on POP3 (110), POP3S (993), IMAP4 (143), IMAP4S (995) and ManageSieve (4190)</dd>
	<dd>Agent responsible for delivering local messages (LDA)</dd>
	<dd>Mailbox quotas are enforced here</dd>
	<dd>Sieve engine for rule based, server-side e-mail processing filters</dd>
	<dd>A local SMTP server to filter messages sent by Sieve</dd>
	<dd>Regular cleanup of old messages residing in the Junk mailboxes</dd>
	<br/>

	<dt>Amavis related features</dt>
	<dd>PenPal feature (lower score for e-mails where the sender was in touch with the recipient earlier)</dd>
	<dd>SpamAssassin integration with Bayes filter (convenient way to teach the filter with spam/ham messages via the webmail)</dd>
	<dd>Clamav integration for virus scanning</dd>
	<dd>Regular cleanup of old database entries</dd>
	<br/>

	<dt>Cluebringer related features</dt>
	<dd>Domain-level greylisting (for better protection against spam messages)</dd>
	<dd>Per mailbox policy to apply limit on outgoing e-mails</dd>
	<dd>Current counters and accounted history are displayed via the admin panel</dd>
	<br/>

	<dt>RoundCube related features</dt>
	<dd>Managed RoundCube webmail instance</dd>	
	<dd>Changing email account password</dd>
	<dd>Sieve rules for server side pre-processing of messages (eg. forward a copy, send an out-of-office response)</dd>
	<dd>Training Spamassassin by moving messages into/out from the Junk mailbox</dd>
	<dd>Whitelists and blacklists</dd>
	<br/>

	<dt>Mailbox specific settings</dt>
	<dd>These features don't need access to the service level administration panel, only the email address and the corresponding password</dd>
	<dd>Built-in into the Webmail interface, but also available directly <a mc-sref="mc-email-public" mc-sref-params="{server:'s1'}">here</a></dd>
	<dd>Changing mailbox password</dd>
	<dd>Cleanup of old messages</dd>
	<dd>Whitelist/blacklist based on sender e-mail address</dd>
	<dd>Training Spamassassin by pasting e-mail source code into a textbox</dd>
</dl>

<h3 id="fileman">File manager service</h3>

<dl>
	<dt>File manager controlled via REST API</dt>
	<dd>Status of asynchronous operations and progress messages can be retrieved via a secondary raw HTTP request</dd>
	<dd>HTTP request/response payload are piped to/from the underlying native process</dd>
	<dd>Copy files between webstores (even when they are on two different hosts or belong to different customers)</dd>
	<dd>[planned] Temporary SSH shells</dd>
	<br/>

    <dt>Supported operations</dt>
    <dd>Directory listing</dd>
    <dd>Switching read-only mode (chattr +i)</dd>
    <dd>File upload (pure file or tar, tgz and zip with on-the-fly extraction)</dd>
    <dd>File download (pure download or multiple files via on-the-fly tgz compression)</dd>
    <dd>File removal (multiple files and recursive modes are also supported)</dd>
    <dd>Find command (limited wrapper around the system command)</dd>
    <dd>Directory creation</dd>
    <dd>Relocating files</dd>
    <dd>Built-in browser based file editor (based on ACE)</dd>
    <br/>

    <dt>Secure</dt>
    <dd>Each operation takes place chrooted to a read-only minimal Debian installation</dd>
    <dd>The only writeable mount is the root of the webstore directory itself</dd>
	<dd>Priveleges (and capabilities) dropped; executing as the target webstore</dd>
	<dd>Directory traversal is impossible/meaningless by design</dd>
	<br/>

	<dt>Example file upload and decompress at once operation</dt>
	<dd>REST API call to /api/s/[servername]/fileman/[webstrore_ide]/untgz with JSON payload of where the archive should be extrcated to</dd>
	<dd>A new, secure tar xzvf - process is executed (see above)</dd>
	<dd>The tar.gz file is being uploaded via secondary HTTP channel as raw data</dd>
	<dd>For better user experience, an additional raw HTTP channel is opened for status updates</dd>
	<dd>The upload binary is piped into the tar process</dd>
	<dd>The stdout/stderr of the tar process are piped to the response stream of the status HTTP channel</dd>
	<dd>No temporary storage is used</dd>
	<dd>The user receives a real-time feedback about extraction process: file upload progress meter based on FileReader API and the files that are currently being extracted through the status channel</dd>
    <br/>
    
    <dt>Scheduled operations</dt>
	<dd>Fetching URL's at scheduled (cron syntax)</dd>
	<dd>[planned] Executing arbitrary commands</dd>

</dl>


