<ng-transclude></ng-transclude> <a href mc-sorter-link="false" class="sorter btn-sm glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></a><a mc-sorter-link="true" href class="sorter btn-sm glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></a>