<div  >
  <h3 lng>Login</h3>

     <form name="loginForm" novalidate>
       <fieldset ng-disabled="isLoginInProgress">

         <div ng-hide="totpMode">

			<div class="form-group" show-errors>
	          <label class="control-label colon" lng>Username</label>
			  <input type="text" class="form-control" lng-placeholder="E-mail" name="cred_username" ng-model="cred.username" required>
	          <p class="help-block"  ng-if="loginForm.cred_username.$error.required" lng>Please enter your username</p>
			</div>
			<div class="form-group" show-errors>
	          <label class="control-label colon" lng>Password</label>
			  <input type="password" class="form-control" lng-placeholder="Password" name="cred_password"  ng-model="cred.password" required cleanpassword>
	          <p class="help-block"  ng-if="loginForm.cred_password.$error.required" lng>Please enter the password</p>
			</div>

    <mc-captcha-block form="loginForm" model="cred" kind="login" ></mc-captcha-block>

	        <div class="text-center">
				<button class="btn btn-success" ng-click="login()" lng>Login</button>
				<a ng-if="!config.forgotten_password_send_uri" mc-sref="mc-forgotten-password-send" class="btn btn-info" role="button" lng>Forgotten password</a>
				<a ng-if="config.forgotten_password_send_uri" mc-config-href="forgotten_password_send_uri" class="btn btn-info" role="button" lng>Forgotten password</a>
	        </div>

	      </div>



	     <div ng-show="totpMode">

				<div class="form-group">
		          <label class="control-label colon" lng>Two factor authentication token</label>
				  <input type="text" maxlength=6 minlength=6 class="form-control" name="cred_token" ng-model="t.userToken"  onkeyup="this.value=this.value.replace(/[^\d]/,'')">
				</div>

		        <div class="text-center">
					<button class="btn btn-success" ng-click="sendTotp()" lng>Send</button>
					<button class="btn btn-default" ng-click="cancelTotp()" lng>Cancel</button>
		        </div>
	     </div>


        </fieldset>
     </form>




</div>
