<h3 lng>Resending certificate approval e-mail</h3>

<mc-alert-box alert-type="info" message="By submitting the form below, you can get the approval e-mail resent by Comodo."></mc-alert-box>

     <form name="dataForm" novalidate >
       <fieldset ng-disabled="isInProgress">

      <div class="form-group"  >
           <label class="col-sm-3 control-label colon" lng>Approver e-mail</label>
           <div class="col-sm-6">
             <p class="form-control-static">{{::activation.a_payload.ApproverEmail}}</p>
           </div>
          <div class="col-sm-3 ">
             <button  class="btn btn-success" ng-click="fire()"  lng>Resend</button>
          </div>

      </div>    



        </fieldset>
     </form>
