<mc-cert-info-head></mc-cert-info-head>

<div ng-show="hasWebhostingId">
   <h2 lng>Assigning the certificate</h2>
  <div ng-show="data">
     <mc-alert-box ng-show="!data.c_private_key" alert-type="info" message="This certificate has no private key in our system thus it cannot be used by our web servers to serve any connections."></mc-alert-box>

  <div ng-if="data.c_private_key" >
     <mc-alert-box alert-type="info" message="Operations take place in a few minutes."></mc-alert-box>

  <table class="table table-striped table-hover">

    <tr ng-show="docrootCerts[''].length">
       <td class="colon" lng>Document root</td>
       <td><select class="form-control" ng-model="x.docrootToBeAttachedTo">
         <option ng-repeat="domain in docrootCerts['']" value="{{domain}}">{{::domain}}</option>
       </select></td>
       <td>
            <button class="btn btn-success" ng-click="certAttach()" lng>Attach certificate</button>
       </td>
    </tr>

    <tr  ng-show="docrootCerts[cId]">
       <td class="colon" lng>Document root</td>
       <td>{{::docrootCerts[cId].join(', ')}}</td>
       <td>
            <button class="btn btn-warning" ng-click="certDetach()" lng>Detach certificate</button>
       </td>
    </tr>


   </table>
   </div>

   <mc-debug model="x"></mc-debug>

  </div>

</div>


<h2 lng>Changing the certificate</h2>
<div ng-show="data">
   <div ng-show="!data.c_settled">
   <mc-alert-box alert-type="info" message="If you wish to use this certificate through this web hosting system and forgot to upload some of the components of the certificate chain, such as the private key or the intermediate certificates, you can extend the object here."></mc-alert-box>

     
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div  ng-if="data && !data.c_private_key">
        <mc-cert-private-key></mc-cert-private-key>
      </div>

        <mc-cert-intermediate></mc-cert-intermediate>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

  </div>

   <div ng-show="data.c_settled">
   <mc-alert-box alert-type="info" message="This certificate object is settled and its components cannot be modified."></mc-alert-box>
   </div>

</div>



<div ng-if="data.c_private_key && hasWebhostingId">
   <h2 lng>Copying certificate to another webspaces</h2>

   <mc-alert-box alert-type="info" message="If you wish to use this certificate on another webspaces as well, you can copy get it copied here."></mc-alert-box>

     
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isCopyInProgress">

          <mc-global-webhosting-selector model="copyDest" exclude-server="{{::server}}" exclude-wh-id="{{::hasWebhostingId}}"></mc-global-webhosting-selector>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="copy()" lng>Save</button>
          </div>

        </fieldset>
     </form>



</div>
