    <mc-alert-box ng-show="csrError.InvalidCsr" alert-type="danger" message="The CSR doesn't look valid. Ensure it is a proper PEM formatted certificate signing request." ></mc-alert-box>

    <mc-alert-box ng-show="csrError.WildcardExpected" alert-type="danger" message="This is supposed to be a wildcard certificate. Please generate a new CSR file where the syntax of the common name is *.yourdomain.tld" ></mc-alert-box>

    <mc-alert-box ng-show="csrError.WithoutWwwExpected" alert-type="danger" message="Comodo offers protecting your domain with both the www. prefix and without it. If you aim to secure both www.yourdomain.tld and the bare yourdomain.tld as well, please generate a new CSR file where the common name is the bare domain only (yourdomain.tld), otherwise this feature will not work." ></mc-alert-box>

