      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Certificate signing request (CSR)</label>
        <pre ng-show="info.csr">{{(info.csr.text?info.csr.text:info.csr)|json}}</pre>
        <textarea rows=10 required ng-change="chgCsr()" class="form-control" name="csr" ng-model="cert.csr" required lng-placeholder="Paste your certificate signing request in PEM format here" ></textarea>
        <p class="help-block"  ng-if="dataForm.csr.$error.required" lng>Data is required</p>
      </div>