<h3><span lng="{{::controlName}} external certificate"></span> <span ng-show="csrFull.Subject.CN">({{ csrFull.Subject.CN }})</span></h3>

<uib-accordion >


    <div uib-accordion-group class="panel-default"  is-open="opens[1]" is-disabled="isDisabled(1)">

      <uib-accordion-heading ><span lng>Instructions</span></uib-accordion-heading>



       <table class="table table-striped table-hover">
           <tr>
             <td class="colon" lng>Vendor</td>
             <td >{{purchase.pc_vendor}}</td>
           </tr>
           <tr>
             <td class="colon" lng>Product</td>
             <td >{{purchase.pc_product}}</td>
           </tr>
           <tr>
             <td class="colon" lng>Years</td>
             <td >{{purchase.pc_product_parameters.Years}}</td>
           </tr>
           <tr ng-if="purchase.pc_product_parameters.Domains">
             <td class="colon" lng>All domains</td>
             <td >{{purchase.pc_product_parameters.Domains}}</td>
           </tr>
        </table>

<div lng>You can generate certificate signing requests for example by using the <a href='https://www.openssl.org/source/' target='_blank'>OpenSSL</a> command line application.</div>
<div lng>The recommended RSA key size is 2048 bit. (No certificate is enrolled for smaller ones, and there is currently no need to use a higher one.)</div>
<br>
<div lng>Example command to generate an RSA private key into to file example.tld.key:</div>
<pre>openssl genrsa -out example.tld.key 2048</pre>

<div lng>While generating the certificate signing request make sure to select the SHA256 hash algorithm! (SHA1/MD5 are not accepted anymore.)</div>
<div lng>Example command to generate a CSR into example.tld.csr:</div>
<pre>openssl req -new -sha256 -key example.tld.key -out example.tld.csr</pre>

<div lng>You'll be prompted for various details of the signing request.</div>
<br>
<div ng-hide="wildcardExpected" lng>Make sure to use the bare domain name <b>(example.tld, without www)</b> in the common name field of the CSR! The request will be rewritten by the CA so that the certificate will protect both the bare domain and the host with the www prefix.</div>
<div ng-show="wildcardExpected" lng>Make sure to put the wildcard prefix <b>(*.example.tld)</b> into the common name field of the CSR!</div>

<br>

<div lng>To verify your ownership over the domain to be protected, the certificate authority will send a verifciation e-mail to the selected one among the <b>postmaster@</b>, <b>hostmaster@</b>, <b>webmaster@</b> or <b>admin@</b>example.tld e-mail addresses.</div>
<div lng>Please make sure your system is capable to receiving e-mail messages to one of these addresses.</div>
<br>

      
          <div class="text-center">
             <button class="btn btn-success" ng-click="next()" lng>Next</button>
          </div>


    </div>


    <div uib-accordion-group class="panel-default"  is-open="opens[2]" is-disabled="isDisabled(2)">

      <uib-accordion-heading ><span lng>Certificate signing request (CSR)</span></uib-accordion-heading>


      <form name="dataForm"  novalidate>
      <fieldset ng-disabled="isInProgress">

          <mc-cert-csr></mc-cert-csr>
          <mc-cert-csr-errors></mc-cert-csr-errors>
      
          <div class="text-center">
             <button class="btn btn-success" ng-click="next()" lng>Next</button>
          </div>
      </fieldset>
      </form>

      <div ng-if="subScope.csr = dataForm"></div>

    </div>

    <div uib-accordion-group class="panel-default"  is-open="opens[3]" is-disabled="isDisabled(3)">

      <uib-accordion-heading ><span lng>Approval details</span></uib-accordion-heading>


      <form name="dataForm"  novalidate>
      <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Approval type</label>
           <select class="form-control" name="approvalTypes" ng-model="approver.approvalType" required >
              <option ng-repeat="at in approvalTypes" value="{{at}}">{{::at}}</option>
            </select>
        <p class="help-block"  ng-if="dataForm.approvalTypes.$error.required" lng>Data is required</p>            
      </div>

     <div ng-switch on="approver.approvalType">
      <div ng-switch-when="email"  class="form-group" show-errors>      

          <mc-alert-box alert-type="info" message="In this validation mode you'll prove your ownership over the domain by receiving an e-meail message with a special URL in it." ></mc-alert-box>

            <label class="control-label colon" lng>Approver e-mail</label>
           <select class="form-control" name="approver_email" ng-model="approver.email" required >
              <option ng-repeat="email in approverEmails" value="{{email}}">{{::email}}</option>
            </select>
        <p class="help-block"  ng-if="dataForm.approver_email.$error.required" lng>Data is required</p>            
            </div>

      <div ng-switch-when="http" >

          <mc-alert-box alert-type="danger" message="Please note that this activation mode is meant for expert customers only." ></mc-alert-box>

          <mc-alert-box alert-type="info" message="In this validation mode you need to place a file with the specified name and content to http://example.com/.well-known/pki-validation/[filename.txt] of the domain to be protected. Comodo is going to fetch it and compare the content to the expected, that is to be revealed after finalizing this form." ></mc-alert-box>

            </div>

      <div ng-switch-when="dns" >

          <mc-alert-box alert-type="danger" message="Please note that this activation mode is meant for expert customers only." ></mc-alert-box>

          <mc-alert-box alert-type="info" message="In his validation mode Comodo will reveal a custom hostname and a value that you'll need to configure in your DNS servers as a CNAME record. Note that the hostname begins with an underscore character." ></mc-alert-box>

            </div>
      
          <div class="text-center">
             <button class="btn btn-success" ng-click="next()" lng>Next</button>
          </div>
      </fieldset>
      </form>

      <div ng-if="subScope.approval = dataForm"></div>

    </div>


    <div uib-accordion-group class="panel-default"  is-open="opens[4]" is-disabled="isDisabled(4)">

      <uib-accordion-heading ><span lng>Administrative contact</span></uib-accordion-heading>
      
      <mc-cert-contact-list-and-add server="{{::server}}" select-mode="true" select-callback="contactSelected({contact:contact})"></mc-cert-contact-list-and-add>

    </div>

    <div uib-accordion-group class="panel-default"  is-open="opens[5]" is-disabled="isDisabled(5)">

      <uib-accordion-heading ><span lng>Confirmation</span></uib-accordion-heading>

      <mc-cert-csr-errors></mc-cert-csr-errors>


    <mc-alert-box alert-type="warning" message="Please note that after submitting this request changing the type of approval is possible via our customer service only." ></mc-alert-box>


    <mc-alert-box alert-type="info" message="Before submitting the request, make sure you are capable of receiving emails to the address(es) listed below. The rest of the process will be controlled directly by Comodo." ></mc-alert-box>


     <table class="table table-striped table-hover">
         <tr>
           <td class="colon" ><abbr lng-title="The e-mail address, where Comodo will send out the issued certificate" lng>Administrative e-mail</abbr></td>
           <td >{{selectedContact.contact.co_EmailAddress}}</td>
         </tr>
         <tr>
           <td class="colon" lng>Approval type</td>
           <td >{{approver.approvalType}}</td>
         </tr>

         <tr ng-if="approver.approvalType=='email'">
           <td class="colon" ><abbr lng-title="The e-mail address, where Comodo will send out the confirmation e-mail for the validation" lng>Approver e-mail</abbr></td>
           <td >{{approver.email}}</td>
         </tr>

         <tr ng-if="approver.approvalType!='email'">
           <td class="colon" lng>Approval parameters</td>
           <td lng>The details required for the approval are going to be disclosed after submitting this form.</td>
         </tr>

      </table>


      <fieldset ng-disabled="isInProgress">
          <div class="text-center">
             <button class="btn btn-success" ng-disabled="!subScope.csr.$valid" ng-click="finish()" lng>Save</button>
          </div>      
      </fieldset>
    </div>

</uib-accordion>

