  <h2 ng-if="!noHead" lng>Purchased certificates</h2>

  <table mc-grid="purchases"  class="margintop firstColumnThin lastColumnThin">
    <caption lng>Purchased certificates</caption>
        <thead>
          <tr>
            <th width="50" ng-if="checkboxMode"></th>
            <th st-sort="pc_product" lng>Product</th>
            <th st-sort="pc_status" lng>Status</th>
            <th st-sort="pc_subject_common_name" lng>Subject common name</th>
            <th st-sort="pc_end" lng>Expires</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

  <tr ng-repeat="purchase in displayedCollection" ng-class="{ warning: purchase.canBeRenewed, danger: purchase.isExpired }">
    <th ng-if="checkboxMode"><input ng-if="purchase.canBeRenewed" type="checkbox" class="cert" pc-id="{{::purchase.pc_id}}" pc-vendor="{{::purchase.pc_vendor}}" pc-product="{{::purchase.pc_product}}" pc-subject-common-name="{{::purchase.pc_subject_common_name}}"></th>
    <td>{{ ::purchase.pc_product }}</td>
    <td lng="CERT_PURCHASE_STATUS_{{ ::purchase.pc_status }}"></td>
    <td>{{ ::purchase.pc_subject_common_name }}</td>
    <td>{{ ::purchase.pc_end }}</td>
    <td>

        <div ng-if="purchase.actions.length" class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li ng-repeat="action in purchase.actions" role="menuitem" ><a href ng-click="doAction(purchase, action[1])" lng="CERT_ACTION_{{::action[0]}}"></a></li>

      </ul>
    </div>

    </td>
  </tr>


  </tbody>
  </table>

