      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Certificate</label>
        <pre ng-show="info.certificate">{{info.certificate|json}}</pre>
        <textarea rows=10 required ng-change="chgCert()" class="form-control" name="certificate" ng-model="cert.certificate" required lng-placeholder="Paste your X509 certificate in PEM format here" ></textarea>
        <p class="help-block"  ng-if="dataForm.certificate.$error.required" lng>Data is required</p>
      </div>
