<h3 lng>Certificate activation</h3>

<mc-alert-box alert-type="info" message="After filling the below details, the certificate will be issued and attached to the specified domain. The certificate will also include (SAN) the subdomains configured at docroot level."></mc-alert-box>

<mc-cert-activate-local></mc-cert-activate-local>