<mc-cert-info-head></mc-cert-info-head>

<div ng-if="data.c_certificate_signing_request">
  <h3 lng>Certificate signing request</h3>
  <pre>{{data.data.csr}}</pre>

   <div class="text-center"><button class="btn btn-default" ng-click="download(data.data.csr, '.csr')" lng>Download</button></div>
</div>

<div ng-if="data.c_certificate">
  <h3 lng>Certificate</h3>
  <pre>{{data.data.certificate}}</pre>

   <div class="text-center"><button class="btn btn-default" ng-click="download(data.data.certificate, '.crt')" lng>Download</button></div>
</div>

<div ng-if="data.c_intermediate_chain">
  <h3 lng>Intermediate chain</h3>
  <pre ng-repeat="item in data.data.intermediates">{{item}}</pre>


   <div class="text-center"><button class="btn btn-default" ng-click="download(data.data.intermediates, '.bundle.crt')" lng>Download</button></div>
</div>


<mc-debug model="data"></mc-debug>
