      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Private key</label>
        <pre ng-show="info.privateKey">{{info.privateKey|json}}</pre>
        <textarea rows=10 required ng-change="chgPrivateKey()" class="form-control" name="privateKey" ng-model="cert.privateKey" required lng-placeholder="Paste your RSA private key in PEM format here"></textarea>
        <p class="help-block"  ng-if="dataForm.privateKey.$error.required" lng>Data is required</p>
      </div>
      