<h3 lng>Certificate reissueance</h3>

<mc-alert-box alert-type="info" message="You can use this control to get a new Let's Encrypt certificate issued for the same domain, as it was enrolled to originally. If you are about to extend the validity of certificate, please note that this is done by the system automatically a few days prior the expiration."></mc-alert-box>

     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>
