<h2 lng>Parameters of the activation</h3>

  <h3 lng>Payload</h3>
  <pre>{{activation.a_payload|json}}</pre>

<div ng-if="activation.a_extra">
  <h3 lng>Extra options</h3>
  <pre>{{activation.a_extra|json}}</pre>
</div>

  <h3 lng>Activation result</h3>
  <pre>{{activation.a_result|json}}</pre>
