  <h2 lng>Certificate info</h2>

  <table class="table table-striped table-hover">
    <tr ng-repeat="key in keysToShow" ng-if="data[key]">
       <td class="colon" lng="CERT_{{::key}}"></td>
       <td>{{::data[key]}}</td>
    </tr>

    <tr ng-show="viewMode && docrootCerts">
       <td class="colon" lng>Document root</td>
       <td><div ng-show="docrootCerts[cId]">{{::docrootCerts[cId].join(', ')}}</div><div ng-hide="docrootCerts[cId]" lng>Not attached</div></td>
    </tr>

    <tr >
       <td colspan="2" class="text-center">
         <button ng-show="viewMode" class="btn btn-default" ng-click="edit()" lng>Edit certificate</button>
         <button ng-show="!viewMode" class="btn btn-default" ng-click="view()" lng>View certificate</button>
       </td>
    </tr>    


  </table>
