<h3 lng>Certificate management</h3>

<mc-alert-box alert-type="info" message="We do not currently offer self-service for this certificate type. Please get in touch with our Customer service, who'll certainly assist you during the life cycle of this certificate."></mc-alert-box>

<div class="text-center">
  <a class="btn btn-success" target='_blank' ng-href='{{config.customer_service_url}}' lng>Customer service</a>
</div>