     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

          <mc-global-webhosting-docroot-selector model="model" server="{{::server}}"></mc-global-webhosting-docroot-selector>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>
