      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Intermediate certificates</label>
        <pre ng-show="info.intermediate">{{info.intermediate|json}}</pre>
        <textarea rows=10 ng-change="chgInter()" class="form-control" name="intermediate" ng-model="cert.intermediate" lng-placeholder="Optional: paste X509 certificates of the intermediate chain in PEM format here" ></textarea>
      </div>