  <td class="colon" lng>Certificate</td>
  <td>
     <span ng-show="lookupFinished && docroot.certificate_id"><div ng-show="cert"><a href ng-click="openCert()">{{::cert.c_product}} / {{::cert.c_subject_common_name}}</a></div></span>
     <span ng-show="lookupFinished && !docroot.certificate_id" lng>None</span>
  </td>
  <td>
      <button ng-disabled="inProgress" ng-show="lookupFinished && !docroot.certificate_id && letsencryptCanBeActivated" class="btn btn-default" ng-click="letsencryptOn()" lng>Activate Let's Encrypt</button>

  </td>
