<h3><span class="colon" lng>Certificate revocation</span> {{pcSubjectCommonName}}</h3>

<mc-alert-box alert-type="info" message="You can get this certificate revoked by submitting the form below. The certificate authority will distribute it then in their certificate revocation lists and via other channels as well."></mc-alert-box>

     <form name="dataForm" novalidate >
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" name="confirmation" ng-model="confirmation" required> 
               <span lng>I really want to do this</span>
            </label>
            <p class="help-block"  ng-if="dataForm.confirmation.$error.required" lng>Please confirm first you'd like to proceed</p>            

          </div>    
      </div>    


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()"  lng>Save</button>
          </div>

        </fieldset>
     </form>
