  <h2 lng>Certificate contacts</h2>

  <table mc-grid="contacts" class="margintop lastColumnThin">
    <caption lng>Certificate contacts</caption>
        <thead>
          <tr>
            <th st-sort="co_FirstName" lng>First name</th>
            <th st-sort="co_LastName" lng>Last name</th>
            <th st-sort="co_OrganizationName"  lng>Organization</th>
            <th st-sort="co_Phone" lng>Tel number</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

  <tr ng-repeat="contact in displayedCollection"  ng-class="{ success: (contact.co_id == selectedCoId) }">
    <td>{{ contact.co_FirstName }}</td>
    <td>{{ contact.co_LastName }}</td>
    <td>{{ contact.co_OrganizationName }}</td>
    <td>{{ contact.co_Phone }}</td>
    <td>


        <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li ng-if="selectMode" role="menuitem" ><a href ng-click="select(contact)" lng>Select</a></li>
        <li role="menuitem" ><a href ng-click="selectForModify(contact)" lng>Modify</a></li>
        <li ng-if="!selectMode" role="menuitem" ><a href ng-click="delete(contact)"  confirm lng>Delete</a></li>
      </ul>
    </div>

    </td>
  </tr>


  </tbody>
  </table>


  <h2 lng>Save contact</h2>
     
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>First name</label>
        <input type="text" class="form-control" name="co_FirstName" ng-model="contact.co_FirstName" required  lng-placeholder="First name of the contact" />
        <p class="help-block"  ng-if="dataForm.co_FirstName.$error.required" lng>Please enter the name</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Last name</label>
        <input type="text" class="form-control" name="co_FirstName" ng-model="contact.co_LastName" required  lng-placeholder="Last name of the contact" />
        <p class="help-block"  ng-if="dataForm.co_FirstName.$error.required" lng>Please enter the name</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Organization name</label>
        <input type="text" class="form-control" name="co_OrganizationName" ng-model="contact.co_OrganizationName"   lng-placeholder="Name of the organization" />
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>E-mail address</label>

        <input type="email" class="form-control" name="co_EmailAddress" ng-model="contact.co_EmailAddress" required lng-placeholder="E-mail" />
        <p class="help-block" ng-if="dataForm.co_EmailAddress.$error.required" lng>Please enter the e-mail address</p>
        <p class="help-block" ng-if="dataForm.co_EmailAddress.$error.email" lng>The specified e-mail address is invalid</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Job title</label>
        <input type="text" class="form-control" name="co_JobTitle" ng-model="contact.co_JobTitle"   lng-placeholder="Job title of the contact person" />
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Address</label>
        <input type="text" class="form-control" name="co_Address1" ng-model="contact.co_Address1" required  lng-placeholder="Address of the contact" />
        <p class="help-block"  ng-if="dataForm.co_Address1.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Address (contd.)</label>
        <input type="text" class="form-control" name="co_Address2" ng-model="contact.co_Address2"    />
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>City</label>
        <input type="text" class="form-control" name="co_City" ng-model="contact.co_City" required  lng-placeholder="City of the contact" />
        <p class="help-block"  ng-if="dataForm.co_City.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>State province</label>
        <input type="text" class="form-control" name="co_StateProvince" ng-model="contact.co_StateProvince" required  lng-placeholder="Province" />
        <p class="help-block"  ng-if="dataForm.co_StateProvince.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Postal code</label>
        <input type="text" class="form-control" name="co_PostalCode" ng-model="contact.co_PostalCode" required  lng-placeholder="Postal/zip code" />
        <p class="help-block"  ng-if="dataForm.co_PostalCode.$error.required" lng>Data is required</p>
      </div>


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Phone number</label>
        <input type="text" class="form-control" name="co_Phone" ng-model="contact.co_Phone" required  lng-placeholder="Phone number in format of +CCC.NNNNNNNN" ng-pattern="/^\+[0-9]{1,3}\.[0-9]{7,13}$/" />
        <p class="help-block"  ng-if="dataForm.co_Phone.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.co_Phone.$error.pattern" lng>The phone number is invalid. Required format: +CCC.NNNNNNNN!</p>
      </div>



      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Country</label>
        <select class="form-control" name="co_Country" ng-model="contact.co_Country" required >
          <option ng-repeat="(ccode,country) in countries" value="{{ccode}}" lng>{{::country}}</option>
        </select>
        <p class="help-block"  ng-if="dataForm.co_Country.$error.required" lng>Data is required</p>
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="saveAsNew()" lng>Save as new</button>
        <button  ng-if="selectedCoId" class="btn btn-default" ng-click="modify()" lng>Modify</button>
          </div>

        </fieldset>
     </form>

