  <h2 ng-if="whId" lng>Certificates of this webhosting</h2>
  <h2 ng-if="!whId" lng>Certificates stored on this server</h2>

  <table mc-grid="certs" class="margintop lastColumnThin">
    <caption lng>Certificates</caption>
        <thead>
          <tr>
            <th st-sort="c_subject_common_name" lng>Subject common name</th>
            <th st-sort="c_issuer_common_name" lng>Issuer common name</th>
            <th st-sort="c_end" lng>Expires</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

  <tr ng-repeat="cert in displayedCollection"  ng-class="{ warning: cert.closeToExpire, danger: cert.isExpired }">
    <td>{{ cert.c_subject_common_name }}</td>
    <td>{{ cert.c_issuer_common_name }}</td>
    <td>{{ cert.c_end }}</td>
    <td>

        <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href mc-sref="mc-cert-info" mc-sref-params="{server:server,cId:cert.c_id,whId:whId}" lng>More info</a></li>
        <li role="menuitem" ><a href mc-sref="mc-cert-mod" mc-sref-params="{server:server,cId:cert.c_id,whId:whId}" lng>Modify certificate</a></li>
        <li role="menuitem" ><a href ng-click="delete(cert)"  confirm lng>Delete</a></li>
      </ul>
    </div>

    </td>
  </tr>


  </tbody>
  </table>


  <h2 lng>Adding certificates</h2>
   <mc-alert-box ng-show="result && !result.canBeAdded" alert-type="info" message="It is not possible to upload additional certificates this time."></mc-alert-box>

   <div ng-show="result.canBeAdded">
     
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <mc-cert-private-key></mc-cert-private-key>
      <mc-cert-certificate></mc-cert-certificate>
      <mc-cert-intermediate></mc-cert-intermediate>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>



   </div>
