<h2 lng>DNS record mass replace tool</h2>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   <div class="form-group" show-errors>
      <label class="sr-only" lng>Category</label>
      <select class="form-control" multiple required name="kind" ng-model="kind"><option ng-repeat="category in ::categories" value="{{ category }}" lng="TAPI_KIND_{{::category}}"></option></select>
      <p class="help-block"  ng-if="dataForm.kind.$error.required" lng>Data is required</p>
  </div>

  <mc-alert-box alert-type="info"  message="In the most typical scenario you want to select the A and A/PTR records, specify 'ip' as field name and enter the two IP addresses how you wish the replacement to take place."></mc-alert-box>

          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-model="robust" > 
               <span lng>Discard exceptions</span>
            </label>
          </div>    


<div ng-hide="showCompleteReplace">
     <div class="form-group">
              <label lng>Replace in all domain name zones</label>
     </div>
  </div>
  <div ng-show="showCompleteReplace">
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-model="completeReplace" > 
               <span lng>Replace in all domain name zones</span>
            </label>
          </div>    

      <div ng-hide="completeReplace">
           <div class="form-group">
              <label lng>Replace in domain name zones of the following webstore</label>


           <table class="table">
            <tr>
               <td class="colon" lng>Server</td>
               <td>{{server}}</td>
            </tr>
            <tr>
               <td class="colon" lng>Webstore ID</td>
               <td>{{whId}}</td>
            </tr>
            <tr>
               <td class="colon" lng>Webstore name</td>
               <td>{{wh.wh_name}}</td>
            </tr>
           </table>
           </div>

      </div>
  </div>


  <div ng-if="rules.length" class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
  <caption lng>Rules to apply</caption>
    <thead>
      <tr>
        <th lng>DNS record types</th>
        <th lng>Field name</th>
        <th lng>Old value</th>
        <th lng>New value</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rule in rules" >
        <td>{{rule.dnsRecordType.join(', ')}}</td>
        <td>{{rule.field_name}}</td>
        <td>{{rule.old_value}}</td>
        <td>{{rule.new_value}}</td>
        <td>    <button class="btn btn-warning" ng-click="delete($index)" lng>Delete</button> </td>
      </tr>
    </tbody>
  </table>

  </div>

    <div class="form-group" show-errors>
      <label class="control-label colon" lng>Record type</label>
       <select ng-model="tmp.dnsRecordType" name="type" multiple class="form-control" id="dnsRecord.type" required>
          <option ng-repeat="dnsRecordType in supportedDnsRecordTypes" value='{{::dnsRecordType}}'>{{::dnsRecordType}}</option>
      </select>
        <p class="help-block" ng-if="dataForm.type.$error.required" lng>Please select the record type</p>

    </div>


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Name of field</label>
        <input type="text" class="form-control" name="field_name" ng-model="tmp.field_name" required  >
        <p class="help-block"  ng-if="dataForm.field_name.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Old value</label>
        <input type="text" class="form-control" name="old_value" ng-model="tmp.old_value" required  >
        <p class="help-block"  ng-if="dataForm.old_value.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>New value</label>
        <input type="text" class="form-control" name="new_value" ng-model="tmp.new_value" required  >
        <p class="help-block"  ng-if="dataForm.new_value.$error.required" lng>Data is required</p>
      </div>

          <div class="text-center">
             <button  class="btn btn-default" ng-click="fire()" lng>Add rule</button>
             <button  class="btn btn-success" ng-disabled="startDisabled()" ng-click="start()" lng>Start</button>
          </div>

        </fieldset>
     </form>
