<h3 lng>Add new zone</h3>
 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   <div class="form-group">
      <label class="sr-only" lng>Subsystem</label>
      <select class="form-control" ng-model="kind"><option ng-repeat="akind in ::kinds" value="{{ akind }}" lng="TAPI_KIND_{{::akind}}"></option></select>
  </div>


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Domain</label>
        <input type="text" class="form-control" name="domain" ng-model="pl.domain" required  >
        <p class="help-block"  ng-if="dataForm.domain.$error.required" lng>Data is required</p>
      </div>

	        <div class="text-center">
				<button  class="btn btn-success" ng-click="fire()" lng>Save</button>
	        </div>

        </fieldset>
     </form>
