
<h2 lng>DNS admin controls</h2>
<pre ng-show="result">{{result | json}}</pre>

<div class="text-center">
	     <button class="btn btn-default" ng-click="action('build')" lng>Rebuild now</button>
	     <button class="btn btn-default" ng-click="export()" lng>Export records</button>
	     <button class="btn btn-default" ng-click="compare()" lng>Compare zones on servers</button>
</div>

<div ng-show="tapiShowCompare">

  <h3 lng>DNS zone comparision</h3>


	<div class="table-responsive">
	<table class="table table-form">

	<tbody>

	<tr>
	  <td class="colon" lng>All zones</td>
	  <td>{{tapiZonesCount}}</td>
	</tr>

	<tr ng-show="wtfIssues > 0">
	  <td class="colon" lng>WTF issues (see console log)</td>
	  <td>{{wtfIssues}}</td>
	</tr>

	<tr>
	  <td class="colon" lng>Mtime issues</td>
	  <td>{{mtimeIssues}}</td>
	</tr>

	<tr>
	  <td class="colon" lng>Missing zones</td>
	  <td>{{tapiMissingZonesCount}}</td>
	</tr>

	<tr>
	  <td class="colon" lng>All records</td>
	  <td>{{tapiRecordsCount}}</td>
	</tr>

	<tr>
	  <td class="colon" lng>Mismatches</td>
	  <td>{{tapiRecordsMismatchCount}}</td>
	</tr>

	<tr>
	  <td class="colon" lng>Hide records that are exactly the same everywhere</td>
	  <td><input class="checkbox-control" type="checkbox" ng-model="tapiHideGoodRecords" > </td>
	</tr>

</tbody>
</table>
</div>



  <div class="table-responsive">
		<table class="table table-striped table-hover" >
		      <thead>
		        <tr>
		          <th></th>
		          <th ng-repeat="tapiServer in tapiServers">{{::tapiServer}}</th>
		        </tr>
		      </thead>

		      <tbody ng-repeat="(zoneName,zoneData) in tapiByZonesMismatch" >
        <tr style="height: 40px"></tr>
		<tr >
		  <td><a mc-sref="mc-dns-admin" mc-sref-params="{'domain':zoneName}">{{ ::zoneName }}</a> (<span class="colon" lng>All records</span> {{zoneData.recordsCount}})</td>
		  <td ng-repeat="tapiServer in tapiServers">

            <div class="btn-group" uib-dropdown  dropdown-append-to-body>
              <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
                <span lng>Actions</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li ng-hide="tel.t_escalate" role="menuitem" ><a href confirm ng-click="removeZone(tapiServer, zoneName)" lng>Remove zone</a></li>
                <li class="divider"></li>
                <li role="menuitem" ng-repeat="srcTapiServer in tapiServers" ng-if="srcTapiServer != tapiServer" ><a href ng-click="sync(tapiServer, srcTapiServer, zoneName)"><span class="colon" lng>Sync from</span> {{srcTapiServer}}</a></li>

              </ul>
            </div>

		  </td>
		</tr>

		<tr >
		  <td>Mtime</td>
		  <td ng-repeat="tapiServer in tapiServers">
		  	{{tapiByServer[tapiServer][zoneName].mtime}}
		  </td>
		</tr>

		<tr ng-repeat="(recordKey, recordData) in zoneData.records" ng-if="!recordData.recordsPresenceOk || !tapiHideGoodRecords" >
		  <td><pre>{{ ::recordData.record|json }}</pre></td>
		  <td ng-repeat="tapiServer in tapiServers">
		  	<span ng-if="recordData.recordsServers[tapiServer]" label="{{::tapiServer}}" class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
		  </td>
		</tr>

		<tr ng-if="tapiHideGoodRecords && zoneData.matchingRecordsCount" >
		  <td><span class="colon" lng>Additional matching records</span> {{zoneData.matchingRecordsCount}}</td>
		  <td ng-repeat="tapiServer in tapiServers"></td>
		</tr>

		</tbody>

		</table>
  </div>

  <!--
    <mc-debug model="tapiByServer"></mc-debug>
  -->
</div>

