<h2 lng>DNS admin superuser list control</h2>


<h3 lng>DNS admin list</h2>

<div class="form-inline">
  <div class="form-group">
      <label class="sr-only" lng>Subsystem</label>
      <select class="form-control" ng-model="kind"><option ng-repeat="akind in ::kinds" value="{{ akind }}" lng="TAPI_KIND_{{::akind}}"></option></select>
  </div>

    <button class="btn btn-default" ng-click="refilter()" lng>Apply filter</button>

</div>

<br/>

  <table mc-grid="domains" class="dns-admin-list">
     <caption lng>Domains in DNS admin</caption>
    <thead>
      <tr>
        <th lng>Domain name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="domain in displayedCollection" >
        <td><a href mc-sref="mc-dns-admin" mc-sref-params="{domain:domain,kind:kind}">{{ ::domain }}</a></td>
        <td>


    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="delete(domain)" confirm lng>Delete</a></li>
        <li role="menuitem" ><a href ng-click="lock(domain)"  lng>Lock zone</a></li>
        <li role="menuitem" ><a href ng-click="unlock(domain)"  lng>Unlock zone</a></li>
      </ul>
    </div>


        </td>
      </tr>
    </tbody>
  </table>

<mc-tapi-add-zone></mc-tapi-add-zone>