
<h3>Installatron: <span lng>web application installer</span></h3>

    <div lng>This tool offers installing the most popular web applications to your website as convinient as clicking a button. As prerequisite you need to have your document roots, FTP accounts and databases configured. You'll be prompted for the FTP and database passwords for security reasons.</div>

<br><br>

<div ng-show="ftpaccounts && ftpaccounts.length <= 0">	
	<mc-alert-box alert-type="danger"  message="Installatron relies on FTP accounts to deploy the selected web applications to your webstore. You need to create some FTP accounts first if you want to use Installatron."></mc-alert-box>

	   <div ng-hide="exceptionMessage" class="text-center">
	     <a class="btn btn-default" href  mc-sref="mc-ftp-list-and-add" mc-sref-params="{'server':server,whId:whId}" lng>Manage FTP accounts</a>
	   </div>	
</div>

<div ng-show="ftpaccounts && ftpaccounts.length > 0">	
	<center><img src="img.mc/installatron.png"></center>

	<div class="mc-margin-top">
		<div ng-show="databases && databases.length <= 0">	
			<mc-alert-box alert-type="info"  message="Most web applications require a database for their functionality. You most probably need to create a database first if you want to use Installatron."></mc-alert-box>
		</div>

		<div lng>Installatron will prompt you for the password of one of the following FTP accounts:</div>
		<ul>
			<li class="bold" ng-repeat="ftp in ftpaccounts">{{::ftp.fa_username}}</li>
		</ul>
			<mc-alert-box alert-type="warning"  message="Installatron does not support FTP accounts which are restricted to a subdirectory."></mc-alert-box>


		<div ng-show="databases && databases.length > 0">
			<span lng>Installatron will prompt you for the connection details (including password) of one of the following database accounts:</span>
			<ul>
				<li class="bold" ng-repeat="db in databases">{{::db.db_database_name}}</li>
			</ul>
   </div>


	<div class="mc-margin-top">
	   <mc-alert-box ng-show="exceptionMessage"  message="{{::exceptionMessage}}"></mc-alert-box>

	   <div ng-hide="exceptionMessage" class="text-center">
	   	 <a  ng-show="databases && databases.length <= 0" class="btn btn-default" href  mc-sref="mc-dbms-databases" mc-sref-params="{'server':server,whId:whId}" lng>Manage databases</a>
	     <button ng-disabled="installatronLink" class="btn btn-primary" ng-disabled="kickoffDisabled" ng-click="start()" lng>Initialize Installatron</button>
	     <a ng-disabled="!installatronLink" class="btn btn-success" ng-href="{{installatronLink}}" target="_blank" lng>Start Installatron</a>
	   </div>
	</div>
</div>