  <div class="form-group" show-errors>
      <label class="control-label">ÁSZF:</label>
      <div class="form-control" name="uf_aszf" value="{{ user.uf_aszf}}" >
      <input type="checkbox" value="1" id="uf_aszf" ng-model="user.uf_aszf" required> 
       <label for="uf_aszf"><a href="/index.php?op=aszf" target="_blank">Általános Szerződési Feltételeket</a> elfogadom</label>
       </div>
       
           <p class="help-block" ng-if="userForm.uf_aszf.$error.required">You must accept the Terms of Use</p>       
    </div>
