<h2 lng lng-post-process>Administrative options about webhosting {webhosting.wh_name}</h2>

<pre ng-show="response">{{response | json}}</pre>

<center>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Webhosting content actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="walk()" lng>Tally walk</a></li>
        <li role="menuitem" ><a href ng-click="walkAndStore()" lng>Tally walk and store</a></li>

        <li role="menuitem" ><a href ng-click="szarBackup('web')" lng>Szar backup websites</a></li>
        <li role="menuitem" ><a href ng-click="szarBackup('mail')" lng>Szar backup e-mail accounts</a></li>
        <li role="menuitem" ><a href ng-click="szarWebAdmin('web')" lng>Szar web admin (web)</a></li>
        <li role="menuitem" ><a href ng-click="szarWebAdmin('mail')" lng>Szar web admin (e-mail)</a></li>
      </ul>
    </div>



    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Misc actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="setExpired(true)" ng-hide="webhosting.wh_is_expired" lng>Set expired flag on webhosting</a></li>
        <li role="menuitem" ><a href ng-click="setExpired(false)" ng-show="webhosting.wh_is_expired" lng>Unset expired flag on webhosting</a></li>
        <li role="menuitem" ><a href ng-click="sendTallyWarning()" lng>Send tally warning email</a></li>
        <li role="menuitem" ><a href mc-sref="mc-superuser-webstore-add-domain" mc-sref-params="{server:server,whId:whId}" lng>Attach domain to the webstore</a></li>
        <li role="menuitem" ><a href ng-click="changeEmailServicePassword()" lng>Save e-mail service account password</a></li>
        <li role="menuitem" ><a mc-sref="mc-tapi-dns-record-replace" mc-sref-params="{server:server,whId:whId}" lng>Mass replace DNS records of in domains assigned to this webstore</a></li>
      </ul>
    </div>


    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>PHP-FPM related actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="displayPhpFpm()" lng>Display PHP-FPM configuration</a></li>
        <li role="menuitem" ><a href ng-click="regenPhpFpm()" lng>Regenerate PHP-FPM configuration</a></li>
        <li role="menuitem" ><a href ng-click="rehashPhpFpm()" lng>Rehash selected PHP-FPM server</a></li>        
      </ul>
    </div>

</center>

<br/>

<form name="dataForm" novalidate="">
   <fieldset ng-disabled="isInProgress">

      <div class="form-group" >
        <label class="control-label colon" lng>Max execution time of requests</label>
        <input type="text" class="form-control" name="wh_max_execution_second" ng-model="webhosting.wh_max_execution_second" lng-placeholder="In seconds" >
      </div>

      <div class="form-group" >
        <label class="control-label colon" lng>PHP-FPM extra config lines</label>
        <textarea class="form-control" name="wh_php_fpm_conf_extra_lines" ng-model="webhosting.wh_php_fpm_conf_extra_lines" ></textarea>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Docker instructions</label>
<div class="colon" lng>Special keys that you can use here</div>
<ul>
  <li>php_legacy_symlinks</li>
  <li>wh_php_fpm_conf_extra_lines</li>
  <li>DockerConfig</li>
  <li>DockerHostConfig</li>
</ul>
<pre>
    "DockerHostConfig": {
      "Memory": 536870912
    }
</pre>
        <textarea class="form-control" name="wh_docker_hints" ng-model="wh_docker_hints_str" valid-json ></textarea>
        <p class="help-block"  ng-if="dataForm.wh_docker_hints.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.wh_docker_hints.$error.validJson" lng>Invalid JSON</p>
      </div>


      <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
      </div>

    </fieldset>
 </form>
