
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

  <h2 lng lng-post-process>Package properties of webhosting {webhosting.wh_name}</h2>


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Name</label>
        <input type="text" class="form-control" name="wh_name" ng-model="webhosting.wh_name" required >
        <p class="help-block"  ng-if="dataForm.wh_name.$error.required" lng>Please enter the name of the webhosting</p>
      </div>

    <div class="form-group" >
      <label class="control-label colon" lng>Webhosting package type</label>
       <select ng-model="webhosting.wh_template"  class="form-control" required>
       <option ng-repeat="tpl in webhostingTemplates" value='{{tpl.t_name}}' >{{tpl.t_name}}</option></select>
    </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Installatron server (assigned at first use)</label>
        <input type="text" class="form-control" name="wh_installatron_server" ng-model="webhosting.wh_installatron_server" >
      </div>

  <h3 lng lng-post-process>Override specific properties (optional)</h3>

      <mc-superuser-webhosting-template-options server="{{server}}" form="dataForm" template="webhosting.template_override" optional="true"></mc-superuser-webhosting-template-options>


   <div class="form-group">
     <div class="text-center" >
        <button  class="btn btn-success" ng-click="setWebhostingTemplate()" lng>Save settings</button>
        <button  class="btn btn-default" ng-click="clearParams()" lng>Clear overridden parameters</button>
     </div>
  </div>

     </form>
</div>
