<h2 lng lng-post-process>Webhosting operations on {server}</h2>




<center>
    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Webhosting actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="phpFpmRegenAll()" lng>Regenerate all PHP-FPM configs</a></li>
        <li role="menuitem" ><a href ng-click="phpFpmRehashAll()" lng>Rehash all PHP-FPM servers</a></li>
      </ul>
    </div>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span>Szar</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="szarBackupAll('web')" lng>Szar backup all websites</a></li>
        <li role="menuitem" ><a href ng-click="szarBackupAll('mail')" lng>Szar backup all e-mail accounts</a></li>
      </ul>
    </div>

</center>
