<h3 lng lng-post-process>Webhostings on server {server}</h3>

<a mc-sref="mc-superuser-webhosting-add" mc-sref-params="{server:server}" lng>Add webhosting</a>

<table mc-grid="whs" class="lastColumnThin">
   <caption lng>Webhosting packages</caption>
      <thead>
        <tr>
          <th st-sort="u_name" lng>Account</th>
          <th st-sort="wh_id" lng>Webhosting ID</th>
          <th st-sort="wh_name" lng>Name</th>
          <th st-sort="wh_template" lng>Webhosting package</th>
          <th st-sort="wh_tally_sum_storage_mb" lng>Tally (MB)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="webhosting in displayedCollection">
  <td><a href mc-switch-user-superuser="{{ webhosting.wh_user_id }}">{{ webhosting.u_name || webhosting.wh_user_id }}</a></td>
  <td>{{ ::webhosting.wh_id }}</td>
  <td>{{ ::webhosting.wh_name }}</td>
  <td>{{ ::webhosting.wh_template }}</td>
  <td>{{ ::webhosting.wh_tally_sum_storage_mb }}</td>
  <td>

             <div class="btn-group" uib-dropdown  dropdown-append-to-body>
              <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
                <span lng>Actions</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li role="menuitem" ><a href ng-click="select(webhosting)" lng>Edit parameters</a></li>
                <li class="divider"></li>
                <li role="menuitem" ><a href mc-sref="mc-superuser-fileman-web" mc-sref-params="{server:server,whId:webhosting.wh_id}" lng>File manager (web)</a></li>
                <li role="menuitem" ><a href mc-sref="mc-superuser-fileman-mail" mc-sref-params="{server:server,whId:webhosting.wh_id}" lng>File manager (mail)</a></li>
                <li class="divider"></li>
                <li role="menuitem" ><a href ng-click="removeWebstore(webhosting)" confirm lng>Remove webstore</a></li>
                <li role="menuitem" ><a href ng-click="removeLowLevel(webhosting)" confirm="This is a low level delete operation from the backend database. No files will be touched, no other subsystems will be notified. This is most probably not what you want. Do you want to proceed?" lng>Remove webstore entry (low level)</a></li>

              </ul>
            </div>

</tr>


</tbody>
</table>


<pre ng-show="webhosting">{{webhosting|json}}</pre>

<div id="webhosting"></div>
