<h2 lng >Attach domain to the webstore</h2>

     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">


    <div class="form-group">
      <label class="control-label colon" lng>Name of the webstore</label>
        <input type="text" readonly class="form-control" name="wh_name" ng-model="wh.wh_name" >

    </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Domain name</label>
        <input type="text" class="form-control" name="domain_name" ng-model="d.domainName" required >
        <p class="help-block"  ng-if="dataForm.domain_name.$error.required" lng>Data is required</p>
      </div>


      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-model="d.attachToEmail" > 
               <span><span lng>Attach to the e-mail subsystem as well</span>
            </label>
          </div>    
      </div>    


   <div class="form-group">
     <div class="text-center" >
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
     </div>
  </div>

     </form>
</div>