
<h2 lng>Storage statistics</h2>



<div class="row">

    <div class="col-lg-7">


       <div class="row">
               <div class="col-lg-6">
                    <h3 lng>Partitions</h3>

                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fas fa-info fa-fw"></i> <span lng>Partitions</span>

                                    <div class="pull-right">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" >
                                                            <span lng>Actions</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li><a href ng-click="refreshPartitions()" lng>Refresh</a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                            </div>

                        <div class="inner-padding">

                        <pre ng-bind="partitions.output"></pre>
                        </div>


                    </div>
                </div>


               <div class="col-lg-6">
                    <h3>MD stat</h3>

                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fas fa-info fa-fw"></i> <span>MD stat</span>

                                    <div class="pull-right">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" >
                                                            <span lng>Actions</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li><a href ng-click="refreshMdstat()" lng>Refresh</a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                            </div>

                        <div class="inner-padding">

                        <pre ng-bind="mdstat.output"></pre>
                        </div>


                    </div>


               </div>
     </div>


   <div>
                    <h3>Swap</h3>

                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fas fa-info fa-fw"></i> <span>Swap</span>

                                    <div class="pull-right">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" >
                                                            <span lng>Actions</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li><a href ng-click="refreshSwaps()" lng>Refresh</a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                            </div>

                        <div class="inner-padding">

                        <pre ng-bind="swaps.output"></pre>
                        </div>


                    </div>
     </div>


        <div ng-repeat="(disk,smart) in smarts">
                <h3>S.M.A.R.T: {{ smart.disk }}</h3>
              
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fas fa-info fa-fw"></i> <span>S.M.A.R.T: {{::smart.disk}}</span>

                                <div class="pull-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" >
                                                        <span lng>Actions</span>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                        <li><a href ng-click="refreshSmart(smart.disk)" lng>Refresh</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                        </div>

                    <div class="inner-padding">

                      <pre ng-bind="smart.output"></pre>
                    </div>

                </div>

        </div>

   </div>

   <div class="col-lg-5">

        <h3 lng>Free space</h3>

        <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fas fa-info fa-fw"></i> <span lng>Free space</span>

                        <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" >
                                                <span lng>Actions</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href ng-click="refreshFreespace()" lng>Refresh</a></li>
                                            </ul>
                                        </div>
                                    </div>

                </div>

            <div class="inner-padding">

            <pre ng-bind="df.output"></pre>
            </div>


        </div>

    </div>

</div>
