<h2 lng lng-post-process>Create webhosting on server {server}</h2>

     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   <mc-superuser-user-selector form="dataForm" data="webhosting.wh_user_id"></mc-superuser-user-selector>

    <div class="form-group" show-errors>
      <label class="control-label colon" lng>Webhosting disk storage</label>
       <select ng-model="webhosting.wh_storage" name="wh_storage" class="form-control" required>
       <option ng-repeat="storage in ::diskStorages" value='{{storage}}' >{{storage}}</option></select>
            <p class="help-block"  ng-if="dataForm.wh_storage.$error.required" lng>Data is required</p>
    </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Name</label>
        <input type="text" class="form-control" name="wh_name" ng-model="webhosting.wh_name" required >
        <p class="help-block"  ng-if="dataForm.wh_name.$error.required" lng>Please enter the name of the webhosting</p>
      </div>

    <div class="form-group" show-errors>
      <label class="control-label colon" lng>Webhosting package type</label>
       <select ng-model="webhosting.wh_template" name="wh_template" class="form-control" required>
       <option ng-repeat="tpl in webhostingTemplates" value='{{tpl.t_name}}' >{{tpl.t_name}}</option></select>
            <p class="help-block"  ng-if="dataForm.wh_template.$error.required" lng>Data is required</p>
    </div>

  <h3 lng lng-post-process>Override specific properties (optional)</h3>

      <mc-superuser-webhosting-template-options server="{{::server}}" form="dataForm" template="webhosting.template_override" optional="true"></mc-superuser-webhosting-template-options>




   <div class="form-group">
     <div class="text-center" >
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
     </div>
  </div>

     </form>
</div>