<h3 ><span class="colon" lng>FTP accounts of this server</span> {{::server}}</h3>


<table  mc-grid="ftpRows" class="margintop ">
  <caption lng>FTP accounts</caption>
      <thead>
        <tr>
          <th st-sort="u_name" lng>Account</th>
          <th st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="fa_username" lng>Username</th>
          <th st-sort="fa_subdir" lng>Subdirectory</th>
          <th st-sort="fa_last_login_ts" lng>Last login</th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="ftp in displayedCollection">
  <td><a href mc-switch-user-superuser="{{ ftp.fa_user_id }}">{{ ftp.u_name || ftp.fa_user_id }}</a></td>
  <td>{{ ::ftp.wh_name }} ({{::ftp.fa_webhosting }})</td>

  <td>{{ ::ftp.fa_username }}</td>
  <td>{{ ::ftp.fa_subdir }}</td>
  <td><span ng-if="ftp.fa_last_login_ts">{{ ::ftp.fa_last_login_ts }} @ {{ ::ftp.fa_last_login_ip }}</span></td>
</tr>


</tbody>
</table>



