  <h3 ><span class="colon" lng>FTP scoreboard of this server</span> {{::server}}</h3>

<div class="table-responsive" ng-if="scoreboard">
<table class="table table-striped table-hover margintop ">
  <caption lng>FTP sessions</caption>
      <thead>
        <tr>
          <th lng>Remote address</th>
          <th lng>Username</th>
          <th lng>Protocol</th>
          <th lng>Directory</th>
          <th lng>Last command</th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="srow in scoreboard.connections">
  <td>{{ srow.remote_address }}</td>
  <td>{{ srow.user }}</td>
  <td>{{ srow.protocol }}</td>
  <td>{{ srow.location }}</td>
  <td>{{ srow.command }} {{ srow.command_args }}</td>
</tr>


</tbody>
</table>

<div><span class="colon" lng>Number of FTP sessions</span> {{scoreboard.connections.length}}</div>

</div>
