<h3 lng>Create an FTP account</h3>

<mc-ftp-account-info server="{{::server}}" wh-id="{{::whId}}"></mc-ftp-account-info>

<div ng-show="accountLookup.can_be_added">

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Username</label>
        <input type="text" class="form-control" name="fa_username" ng-model="ftp.fa_username"  required >
        <p class="help-block"  ng-if="dataForm.fa_username.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password</label>
        <input type="password" class="form-control" name="fa_password" ng-model="ftp.fa_password" required >

        <p class="help-block"  ng-if="dataForm.fa_password.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.fa_password.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
      </div>


      <mc-directory-picker default="/" title="Subdirectory" form="dataForm" model="ftp" model-name="fa_subdir" server="{{::server}}" wh-id="{{::whId}}" ></mc-directory-picker>

      <mc-debug model="ftp"></mc-debug>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>

<div ng-show="accountLookup && !accountLookup.can_be_added">
  <mc-alert-box alert-type="danger" message="This resource is over quota, it is currently not possible to add anymore."></mc-alert-box>
</div>
