  <h3 lng>FTP accounts of this webhosting</h3>

<mc-ftp-adminip-warning server="{{::server}}" wh-id="{{::whId}}"></mc-ftp-adminip-warning>

<div >
  <mc-alert-box alert-type="success" message="Note: the FTP/FTPS/SFTP services are protected by an intrusion prevention system. When multiple unsuccessful login attempts are detected in a short time window, the IP address of the client will be temporarily banned in the firewall."></mc-alert-box>
</div>


<div class="table-responsive" ng-if="showListing">
<table class="table table-striped table-hover margintop lastColumnThin">
  <caption lng>FTP accounts</caption>
      <thead>
        <tr>
          <th lng>Username</th>
          <th lng>Subdirectory</th>
          <th lng>Last login</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="ftp in ftps">
  <td>{{ ftp.fa_username }}</td>
  <td>{{ ftp.fa_subdir }}</td>
  <td><span ng-show="ftp.fa_last_login_ts">{{ ftp.fa_last_login_ts }} @ {{ ftp.fa_last_login_ip }}</span></td>
  <td>
    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href mc-sref="mcFtpTotp" mc-sref-params="{server:server,whId:whId,faUsername:ftp.fa_username}" lng>Two factor authentication</a></li>
        <li role="menuitem" ><a href mc-sref="mcFtpSshAuthz" mc-sref-params="{server:server,whId:whId,faUsername:ftp.fa_username}" lng>Public key authentication for SFTP</a></li>
        <li role="menuitem" ><a href ng-click="delete(ftp)"  confirm lng>Delete</a></li>
      </ul>
    </div>
  </td>
</tr>


</tbody>
</table>

</div>

<mc-alert-box ng-show="showListing && ftps.length <= 0" alert-type="warning" message="No FTP accounts configured so far."></mc-alert-box>

<mc-alert-box ng-show="!showListing" alert-type="warning" message="The query is in progress..."></mc-alert-box>
