<h3 lng>ACL settings for the FTP server</h3>

<table class="table table-form">
<tr>
  <td class="colon" lng>Logins from unrestricted source IP address are allowed</td>

  <td>
     <span ng-show="lookup && lookup.wh_public_login" lng>Enabled</span>
     <span ng-show="lookup && !lookup.wh_public_login" lng>Disabled</span>
  </td>
  <td>
    <div ng-show="lookup">
      <button ng-show="lookup && !lookup.wh_public_login" class="btn btn-default" ng-click="doStatus('Public', true)" lng>Turn on</button>
      <button ng-show="lookup && lookup.wh_public_login" class="btn btn-default" ng-click="doStatus('Public', false)" lng>Turn off</button>
    </div>
  </td>

</tr>
<tr>
  <td class="colon" ><abbr lng-title="When this feature is turned on, FTP logins will be accepted from the same IP address only, where you logged in to the administration panel successfully. The time interval is also limited." lng>FTP login from last admin IP for limited time</abbr></td>

  <td>
     <span ng-show="lookup && lookup.wh_last_admin_login_enabled" lng>Enabled</span>
     <span ng-show="lookup && !lookup.wh_last_admin_login_enabled" lng>Disabled</span>
  </td>
  <td>
    <div ng-show="lookup">
      <button ng-show="lookup && !lookup.wh_last_admin_login_enabled" class="btn btn-default" ng-click="doStatus('AdminLogin', true)" lng>Turn on</button>
      <button ng-show="lookup && lookup.wh_last_admin_login_enabled" class="btn btn-default" ng-click="doStatus('AdminLogin', false)" lng>Turn off</button>
    </div>
  </td>

</tr>


<tr ng-show="lookup.wh_last_admin_login_enabled">
  <td class="colon" lng>Last login to the admin panel from</td>
  <td>{{::lookup.wh_last_admin_login_ip}}</td>
  <td></td>
</tr>

<tr ng-show="lookup.wh_last_admin_login_enabled">
  <td class="colon" lng>Logins from this IP are allowed until</td>
  <td>{{::lookup.wh_last_admin_login_allowed_until}}</td>
  <td></td>
</tr>


<tr>
  <td class="colon" lng>Login from whitelisted IP addresses only</td>

  <td>
     <span ng-show="lookup && lookup.wh_ip_acl_effective" lng>Enabled</span>
     <span ng-show="lookup && !lookup.wh_ip_acl_effective" lng>Disabled</span>
  </td>
  <td>
    <div ng-show="lookup">
      <button ng-show="lookup && !lookup.wh_ip_acl_effective" class="btn btn-default" ng-click="doStatus('IpAcls', true)" lng>Turn on</button>
      <button ng-show="lookup && lookup.wh_ip_acl_effective" class="btn btn-default" ng-click="doStatus('IpAcls', false)" lng>Turn off</button>
    </div>
  </td>


</tr>
</table>

<div ng-show="lookup.wh_ip_acl_effective" >
  
<div class="table-responsive" >
<table class="table table-striped table-hover margintop lastColumnThin">
  <caption lng>IP addresses allowed to login from</caption>
      <thead>
        <tr>
          <th lng>IP address</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="records_root">

<tr ng-repeat="ip in lookup.wh_ip_acl_whitelist">
  <td>{{ ip }}</td>
  <td>
    <button class="btn btn-warning" ng-click="delete(ip)" lng>Delete</button> <!-- confirm --> 
  </td>
</tr>


</tbody>
</table>

</div>  

<mc-alert-box ng-show="lookup.wh_ip_acl_whitelist.length <= 0" alert-type="info" message="There are no IP addresses configured to allow login from."></mc-alert-box>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>IP address</label>
        <input type="text" class="form-control" name="ip" ng-model="ip" required >
        <p class="help-block"  ng-if="dataForm.ip.$error.required" lng>Data is required</p>
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>



</div>
