<h2 lng>FTP account two factor authentication</h2>

	<mc-alert-box alert-type="info" message="Over SFTP we support public key cryptography based authentication. You can set your public key below."></mc-alert-box>

     <form class="margintop" name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">


            <div class="form-group">
              <label class="control-label colon" lng>Username</label>
              <input type="text"  class="form-control" ng-model="faUsername" readonly>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label colon" lng>RFC4716 SSH public key (ssh-keygen -e -f ~/.ssh/id_rsa.pub)</label>
              <textarea  id="authz" placeholder="---- BEGIN SSH2 PUBLIC KEY ----\n...\n---- END SSH2 PUBLIC KEY ----\n" required class="form-control monospace" rows=8 name="authz" ng-model="authz" ></textarea>

              <p class="help-block"  ng-if="dataForm.authz.$error.required" lng>Data is required</p>
            </div>

	        <div class="text-center">
				      <button class="btn btn-success" ng-click="fire()" lng>Send</button>
	        </div>
        </fieldset>
     </form>
