
 <mc-alert-box alert-type="info" message="You can login to the FTP server using these credentials via the following host: <b>{hostname}</b>" params="{hostname:hostname}"></mc-alert-box>

<mc-alert-box alert-type="info" message="Pay attention for configuring your FTP client application to 'passive mode'."></mc-alert-box>

<mc-alert-box alert-type="info" message="The supported protocols are: FTP (along with AUTH TLS) and SFTP (can be used e.g. by WinSCP)"></mc-alert-box>
