<div ng-show="lookup && !lookup.wh_public_login">
  <mc-alert-box alert-type="danger" message="The current FTP ACL settings enforce some additional security measures hardening the login process to the FTP server."></mc-alert-box>
</div>
