
<h3 lng>E-mail notification about webstore relocations</h3>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Server</label>
        <select class="form-control" name="server" ng-change="serverChange()" ng-model="notification.server" required >
          <option ng-repeat="server in servers" value="{{::server}}">{{::server}}</option>
        </select>
        <p class="help-block"  ng-if="dataForm.server.$error.required" lng>Data is required</p>
      </div>

      <div ng-show="notification.server">
		      <div class="form-group" >
		          <div class="checkbox">
		            <label >
		               <input class="checkbox-control" ng-change="completeChange()" type="checkbox" ng-model="notification.complete" > 
		               <span lng>All webstores</span>
		            </label>
		          </div>    
		      </div>    

         <div id="complete"></div>

      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Business justification</label>
        <input type="text" class="form-control" name="business_justification" ng-model="notification.business_justification" lng-placeholder="Business justification why relocation is necessarry"  required >
        <p class="help-block"  ng-if="dataForm.business_justification.$error.required" lng>Data is required</p>
      </div>
      

          <div class="form-group" >
              <div class="checkbox">
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="notification.finished" > 
                   <span lng>Has the relocation finished? (post-notification)</span>
                </label>
              </div>    
          </div>        

      <div ng-if="!notification.finished" class="form-group" show-errors>
        <label class="control-label colon" lng>Scheduled time of the operation (in local time)</label>
        <div class="input-group">
        <input type="datetime-local" class="form-control" name="schedule" ng-model="notification.schedule" required uib-datepicker-popup  is-open="schedule_opened">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="schedule_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>         
        </div>
        <p class="help-block"  ng-if="dataForm.schedule.$error.required" lng>Data is required</p>
      </div>



      <div ng-if="!notification.finished" class="form-group" show-errors>
        <label class="control-label colon" lng>Scheduled time of the operation (extra literal description)</label>
        <input type="text" class="form-control" name="schedule_str" ng-model="notification.schedule_str" >
      </div>

      <div ng-if="!notification.finished"  class="form-group" show-errors>
        <label class="control-label colon" lng>Current server</label>
        <input type="text" class="form-control" name="current_server" ng-model="notification.current_server" lng-placeholder="The name of the server that will be referred as current server in the notification e-mail"  required >
        <p class="help-block"  ng-if="dataForm.current_server.$error.required" lng>Data is required</p>
      </div>

      <div ng-if="!notification.finished"  class="form-group" show-errors>
        <label class="control-label colon" lng>Future server</label>
        <input type="text" class="form-control" ng-change="futureServerChange()"name="future_server" ng-model="notification.future_server" lng-placeholder="The name of the server that will be referred as future server in the notification e-mail"  required >
        <p class="help-block"  ng-if="dataForm.future_server.$error.required" lng>Data is required</p>
      </div>

      <div ng-if="notification.finished"  class="form-group" show-errors>
        <label class="control-label colon" lng>Old server</label>
        <input type="text" class="form-control" name="old_server" ng-model="notification.old_server" lng-placeholder="The name of the server that will be referred as old server in the notification e-mail"  required >
        <p class="help-block"  ng-if="dataForm.old_server.$error.required" lng>Data is required</p>
      </div>

      <div ng-if="notification.finished"  class="form-group" show-errors>
        <label class="control-label colon" lng>New server</label>
        <input type="text" class="form-control" ng-change="newServerChange()" name="new_server" ng-model="notification.new_server" lng-placeholder="The name of the server that will be referred as new server in the notification e-mail"  required >
        <p class="help-block"  ng-if="dataForm.new_server.$error.required" lng>Data is required</p>
      </div>

      <div  class="form-group" show-errors>
        <label class="control-label colon">phpMyAdmin URL</label>
        <input type="text" class="form-control" name="phpmyadmin_url" ng-model="notification.phpmyadmin_url"  required >
        <p class="help-block"  ng-if="dataForm.phpmyadmin_url.$error.required" lng>Data is required</p>
      </div>

      <div  class="form-group" show-errors>
        <label class="control-label colon">RoundCube URL</label>
        <input type="text" class="form-control" name="roundcube_url" ng-model="notification.roundcube_url"  required >
        <p class="help-block"  ng-if="dataForm.roundcube_url.$error.required" lng>Data is required</p>
      </div>


      <pre ng-show="response">{{response|json}}</pre>


          <div class="text-center">
             <button  class="btn btn-default"  ng-click="fire()" confirm lng>Send e-mail notification</button><!--ng-disabled="sendDisabled()" -->
          </div>

        </fieldset>
 </form>
