<h3 lng>Time machine</h3>

<div ng-show="currentTs">
  <div><span class="colon" lng>Timestamp</span> {{currentTs}} ({{currentTsIso}})</div>
</div>

<div>
  <input class="form-control" type="range" name="range" ng-change="sliderChange()" ng-model="currentTsI" min="{{minTs}}"  max="{{maxTs}}">
</div>

<br/><br/>

<pre >{{ content | json}}</pre>
