<h3 lng>Available controls by server</h3>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th ng-repeat="serverName in serverNames">{{::serverName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="control in controls">
        <td lng="{{::controlTitles[control]}}"></td>
        <td ng-repeat="serverName in serverNames">
          <div ng-if="mappings[serverName+control]">
            <a class="btn btn-default" role="button" href mc-sref="{{::control}}" mc-sref-params="{server:serverName}" lng>Open</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
