<div ng-show="config.file || config.defaults">
<h2 lng>Config file defaults</h2>

<div  class="row">
	 <div class="col-lg-6" >
	 	<h3 lng>Configuration file contents</h3>
	 	<pre>{{config.file|json}}</pre>
	 </div>
 	 <div class="col-lg-6" >
 	 	<h3 lng>Microservice default values</h3>
 	 	<pre>{{config.defaults|json}}</pre>
 	 </div>
</div>

</div>


<h2 lng>Config file editor</h2>


<table mc-grid="files" class="margintop lastColumnThin">
  <caption lng>Config files</caption>
      <thead>
        <tr>
          <th lng>Filename</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="record in displayedCollection">
  <td ><a href ng-click="edit(record)">{{ record }}</a></td>
  <td><button ng-click="delete(record)" class="btn btn-danger" confirm lng>Delete</button></td>
</tr>


</tbody>
</table>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Filename</label>
        <input type="text" class="form-control" name="filename" ng-model="candidate.filename"  required >
        <p class="help-block"  ng-if="dataForm.filename.$error.required" lng>Data is required</p>
      </div>
      
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Content</label>
        <textarea rows=15 class="form-control" name="data" ng-model="candidate.data" required ></textarea>
        <p class="help-block"  ng-if="dataForm.data.$error.required" lng>Data is required</p>
      </div>


          <div class="text-center">
             <button  class="btn btn-success"  ng-click="fire()" ng-show="showSaveAsNew()" lng>Save as new</button><!--ng-disabled="sendDisabled()" -->
             <button  class="btn btn-success"  ng-click="fire()" ng-show="showEdit()" confirm lng>Save</button><!--ng-disabled="sendDisabled()" -->
          </div>

        </fieldset>
 </form>
