
<h3 lng>Synchronizing database between microservices</h3>


  <mc-alert-box alert-type="info" message="By using this control, you can take a snapshot of the data of the selected source server and feed it to all the others so then they will be in sync."></mc-alert-box>



 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Microservice</label>
        <select class="form-control" name="server" ng-change="backupServerChange()" ng-model="backup.microservice" required >
          <option ng-repeat="microservice in microservices" value="{{::microservice}}">{{::microservice}}</option>
        </select>
      </div>

   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Server to export from</label>
        <select class="form-control" name="server" ng-model="backup.sourceServer" required >
          <option ng-repeat="server in servers[backup.microservice]" value="{{::server}}">{{::server}}</option>
        </select>
        <p class="help-block"  ng-if="dataForm.server.$error.required" lng>Data is required</p>
      </div>

      <pre ng-show="result">{{result}}</pre>


            <div class="text-center">
               <button  class="btn btn-danger" confirm ng-click="fire()" lng>Synchronize</button>
            </div>


        </fieldset>
 </form>


