    <div class="form-group" show-errors>
      <label class="control-label colon" lng>Account</label>
       <input type="text" ng-model="data" name="wh_user_id" class="form-control" required  uib-typeahead="user.u_id as user.u_name for user in getUser($viewValue)" typeahead-loading="loadingUsers" typeahead-no-results="noResults"  autocomplete="off" typeahead-editable="false" typeahead-input-formatter="formatLabel($model)"  typeahead-on-select="onSelect($item,$model,$label)">
    <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> <span lng>No results found</span>
    </div>

            <p class="help-block"  ng-if="form.wh_user_id.$error.required" lng>Data is required</p>
    </div>
