
<h3 lng>Webstore config export (backup)</h3>


  <mc-alert-box alert-type="info" message="By using this control, you can create per webstore backups. Backups are also generated automatically every day."></mc-alert-box>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

   
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Server to export from</label>
        <select class="form-control" name="server" ng-change="backupServerChange()" ng-model="backup.server" required >
          <option ng-repeat="server in servers" value="{{::server}}">{{::server}}</option>
        </select>
        <p class="help-block"  ng-if="dataForm.server.$error.required" lng>Data is required</p>
      </div>

      <div ng-show="backup.server">
		      <div class="form-group" >
		          <div class="checkbox">
		            <label >
		               <input class="checkbox-control" ng-change="completeBackupChange()" type="checkbox" ng-model="backup.completeBackup" > 
		               <span lng>All webstores</span>
		            </label>
		          </div>    
		      </div>    

         <div id="completeBackup"></div>

      </div>

      <pre ng-show="response">{{response|json}}</pre>

          <div class="text-center">
             <button  class="btn btn-default" ng-disabled="backupDisabled()" ng-click="fireBackup()" lng>Generate new backup</button>
             <button  class="btn btn-default" ng-disabled="fetchDisabled()" ng-click="fireFetch()" lng>Fetch backup</button>
          </div>

        </fieldset>
 </form>

<div ng-show="backup.server">
<h3 lng>Webstore config import (restore)</h3>


  <mc-alert-box alert-type="info" message="By using this control, you can restore webstore config backups in place or even on a different server."></mc-alert-box>
  
	<form name="dataForm" novalidate >
	       <fieldset ng-disabled="isInProgress">

	   
	      <div class="form-group" show-errors>
	        <label class="control-label colon" lng>Server to import to</label>
	        <select class="form-control" ng-change="restoreServerChange()" name="server" ng-model="restore.server" required >
	          <option ng-repeat="server in servers" value="{{::server}}">{{::server}}</option>
	        </select>
	        <p class="help-block"  ng-if="dataForm.server.$error.required" lng>Data is required</p>
	      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Subsystems to restore</label>
        <select class="form-control" multiple name="subsystems"  ng-model="restore.subsystems" ><option ng-repeat="subsystem in subsystems" value="{{ subsystem }}" >{{::subsystem}}</option></select>
      </div>


      <div ng-hide="backup.completeBackup">
          <div class="form-group" >
              <div class="checkbox">
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.createNewWebstore" ng-change="destWhChanged()"> 
                   <span lng>Create new webstore on target server</span>
                </label>
              </div>    
          </div>    

          <div class="form-group" show-errors  ng-show="restore.createNewWebstore">
            <label class="control-label colon" lng>Webhosting disk storage</label>
             <select ng-model="restore.newWebstoreStorage" name="wh_storage" class="form-control" required>
             <option ng-repeat="storage in diskStorages" value='{{storage}}' >{{storage}}</option></select>
                  <p class="help-block"  ng-if="dataForm.wh_storage.$error.required" lng>Data is required</p>
          </div>

      </div>

         <div ng-hide="restore.createNewWebstore" id="completeRestore"></div>

         <div >
  

  <div ng-show="szarRestorePossible">


              <div class="checkbox" ng-hide="restore.createNewWebstore">
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.restoreSzarFirst" > 
                   <abbr lng-title="This control is useful as first step of restoring a server from scatch. It will restore the webstore config files under /var/lib from the szar backups. You can use them then to restore the configuration of the services." lng>Restore wie config files from szar backup first</abbr>
                </label>
              </div>    

     <div ng-show="restore.restoreSzarFirst">
        <div class="form-group" show-errors>
              <label class="control-label colon" lng>Checkpoint</label>
            <select ng-model="backup.szarCheckpoint" name="checkpoint" required class="form-control">
                <option ng-repeat="checkpoint in checkpoints" value="{{checkpoint}}">{{checkpoint}}</option>
            </select>
        </div>
     </div>

  </div>



          <div class="form-group" >
              <div class="checkbox">
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.cleanWebFiles" > 
                   <span lng>Clean destination website storage first</span>
                </label>
              </div>    

              <div class="checkbox" ng-show="webFilesFromSourcePossible">
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.webFilesFromSource" > 
                   <span lng>Restore website files from the selected source storage(s)</span>
                </label>
              </div>    
              <div class="checkbox" ng-show="szarWebRestorePossible">
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.webFilesFromSzar" > 
                   <span lng>Restore website files from szar backup</span>
                </label>
              </div>  

            <!--
              <div class="checkbox">
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.dbWipeExisting" > 
                   <span lng>Wipe existing databases on destination first</span>
                </label>
              </div>  
            -->

              <div class="checkbox">
                <label >
                   <input class="checkbox-control" ng-change="dbRestoreLastChange()" type="checkbox" ng-model="restore.dbRestoreLast" > 
                   <span lng>Restore databases (latest available from /dbbackup)</span>
                </label>
              </div>    

              <div class="checkbox" ng-show="feedingNeeded">
                <label >
                   <input class="checkbox-control" ng-change="dbFreshBackupRestoreChange()" type="checkbox" ng-model="restore.dbFreshBackupRestore" > 
                   <span lng>Restore databases (backup/restore on the fly)</span>
                </label>
              </div>

              <div class="checkbox">
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.cleanMailFiles" > 
                   <span lng>Clean destination e-mail storage first</span>
                </label>
              </div>    

              <div class="checkbox" ng-show="feedingNeeded">
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.mailFilesFromSource" > 
                   <span lng>Restore e-mails from selected source storage(s)</span>
                </label>
              </div>    

              <div class="checkbox" ng-hide="feedingNeeded">
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.mailFilesFromSzar" > 
                   <span lng>Restore e-mails from szar backup</span>
                </label>
              </div>    

              <div class="checkbox" >
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.restoreReadonly" > 
                   <span lng>Restore read-only status of the storage</span>
                </label>
              </div>    

              <div class="checkbox" >
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.webstoreDomainBindings" > 
                   <span lng>Insert webstore-domain bindings</span>
                </label>
              </div>    

              <div class="checkbox" ng-show="showDnsRecordsOptions">
                <label >
                   <input class="checkbox-control" type="checkbox" ng-model="restore.replaceDnsRecords" > 
                   <span lng>Replace the DNS records to point to the new server</span>
                </label>
              </div>    


          </div>    

         </div>

	          <div class="text-center">
	             <button  class="btn btn-danger" ng-disabled="importDisabled()" confirm ng-click="fireImport()" lng>Import backup</button>
	          </div>

      <pre ng-show="restoreResponse">{{restoreResponse|json}}</pre>


	        </fieldset>
	 </form>
</div>
