<h3 lng lng-pre-process>{{display||kind}} server list</h3>

<center>
  <span class="colon" lng>Server</span>
  <button class="btn btn-default" ng-repeat="server in servers"  mc-sref="{{::control}}" mc-sref-params="{server:server}" >{{server}}</button><!--  ng-click="fetchFromServer(server)" -->
</center>


<div id="serverContainer"></div>
