<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ pageTitle || 'mcAdmin' }}</title>

	<link rel="stylesheet" href="css.mc/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>


</head>
<body>
   
    <sb2-root></sb2-root>

  
<!-- footer replace from here -->
	<script src="site.mc/config.js?<?=date('c')?>"></script>		
	<script src="js.mc/jquery.min.js"></script>		

    <script src="js.mc/bootstrap.min.js"></script>
	<script src="js.mc/angular.min.js"></script>
	<script src="js.mc/smart-table.js"></script>
	
	<script src="js.mc/angular-cookies.js"></script>
	<script src="js.mc/ui-bootstrap-tpls-2.0.1.min.js"></script>
	<script src="js.mc/mc-confirm.js?<?=date('c')?>"></script>
	<script src="js.mc/showErrors.forked.js"></script>

    <link rel="stylesheet" href="css.mc/style.css">

    <script src="js.mc/qrcode.min.js"></script>
	<script src="js.mc/Filesaver.js"></script>
    <script src="js.mc/passfield.js"></script>
    <script src="js.mc/passfield-locales.js"></script>
	<link rel="stylesheet" href="css.mc/passfield.css">    

    <script src="js.mc/mc-sessionlib.js?<?=date('c')?>"></script>	
	<script src="js.mc/mc-lng.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-config.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-routes.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-script.js?<?=date('c')?>"></script>
	
	<script src="js.mc/mc-common.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-alert.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-prompt.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-tos.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-task.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-file-editor.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-account.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-tapi.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-dbms.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-docrootapi.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-git.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-iptables.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-webhosting.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-fileman.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-ftp.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-installatron.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-docker.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-email.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-email-public.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-cert.js?<?=date('c')?>"></script>

    <script src="js.mc/mc-superuser-common.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-account.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-dbms.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-eventapi.js?<?=date('c')?>"></script>	
	<script src="js.mc/mc-superuser-git.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-tapi.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-docrootapi.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-iptables.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-webhosting.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-fileman.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-ftp.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-installatron.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-docker.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-email.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-cert.js?<?=date('c')?>"></script>
	<script src="js.mc/mc-superuser-test.js?<?=date('c')?>"></script>

	<!-- todo: remove fuse -->
	<script src="js.mc/fuse.min.js"></script>
	
	
    <link rel="stylesheet" href="css.mc/metisMenu.min.css" >
	<link rel="stylesheet" href="css.mc/sb-admin-2.min.css">  	
	<script src="js.mc/sb-admin-2.min.js"></script>
    <link rel="stylesheet" href="css.mc/fontawesome-all.min.css" type="text/css">


<!-- footer replace to here -->

<!--
// TODO: load this one some how
   <script src="http://code.angularjs.org/1.5.8/i18n/angular-locale_fr-fr.js"></script> 
-->

</body>
</html>
