<h3 lng>Linked domain administration</h3>

<div class="row">

<div class="col-lg-6" ng-show="domains">

  <table mc-grid="domains" class="editAccountDomainTable">
  <caption lng>Domains</caption>
    <thead>
      <tr>
        <th st-sort="human" lng>Domain</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="domain in displayedCollection">
        <td>{{ domain.human }}</td>
        <td><button ng-click="del(domain)" class="btn btn-danger" confirm lng>Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>


<div class="col-lg-6">
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Domain</label>
        <input type="text" class="form-control" name="domain" ng-model="domain.domain" required >
        <p class="help-block"  ng-if="dataForm.domain.$error.required" lng>Please enter the domain name</p>
      </div>


	        <div class="text-center">
				     <button class="btn btn-success" ng-click="fire()" lng>Save as new</button>
	        </div>
        </fieldset>
     </form>
</div>

</div>