
<h2 lng>Account list</h2>

<div class="form-inline">

  <label class="colon" lng>Filters</label>

  <div class="form-group">
      <label class="sr-only" lng>Account status</label>
      <select class="form-control" ng-model="deleted"><option ng-repeat="deletedState in ::deletedStates" value="{{ deletedState }}" lng="DELETEDSTATE_BOOLEAN_{{::deletedState}}"></option></select>
  </div>

  <button class="btn btn-default" ng-click="pipeHelper.re()" lng>Apply filter</button>

</div>
<br/>



  <table  mc-grid st-pipe="refetch" class="editSuperuserAccountTable">
    <caption lng>Account list</caption>
    <thead>
      <tr>
        <th st-sort="u_name" lng>Name</th>
        <th st-sort="u_primary_email" lng>E-mail address</th>
        <th st-sort="u_comment" lng>Comment</th>
        <th st-sort="created_at" lng>Created at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in displayedCollection" ng-class="{danger: user.u_deleted}" >
        <td><a target='_blank' href mc-switch-user-superuser="{{user.u_id}}">{{ user.u_name }}</a></td>
        <td>{{ user.u_primary_email }}</td>
        <td>{{ user.u_comment }}</td>
        <td>{{ user.created_at }}</td>
        <td><button ng-hide="user.u_deleted" mc-sref="mc-superuser-account-select" mc-sref-params="{uId:user.u_id}" class="btn btn-default"  lng>Modify</button></td>
      </tr>
    </tbody>
  </table>
