   <h2 lng>Account specific details</h2>

   <a href ng-click="jump('mc-superuser-account-edit')" lng>Account edit</a> |
   <a href ng-click="jump('mc-superuser-account-force-password')" lng>Force change password</a> |
   <a href ng-click="jump('mc-superuser-account-credentials')" lng>Credentials administration</a> |
   <a href ng-click="jump('mc-superuser-account-connected-domains')" lng>Linked domain administration</a> |
   <a href ng-click="jump('mc-superuser-account-connected-webhostings')" lng>Linked webhosting administration</a> |
   <a href mc-sref='mc-webstore-domain-bindings' lng>Linked webhosting-domain bindings</a>

   <div id="template"></div>
   