
<h3 lng>Force change password</h3>


     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password</label>
        <input type="password" class="form-control" name="new_password" ng-model="user.new_password" required ng-minlength=8 >
        <p class="help-block"  ng-if="dataForm.new_password.$error.required">Please enter the password</p>
        <p class="help-block"  ng-if="dataForm.new_password.$error.minlength">The password is inappropriate (should be at least 8 characters long)</p>
        <p class="help-block"  ng-if="dataForm.new_password.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password again</label>
        <input type="password" class="form-control" name="c_password_repeat" required ng-model="tmp.c_password_repeat" same-as="user.new_password" cleanpassword>        
        <p class="help-block"  ng-if="dataForm.c_password_repeat.$error.required" lng>Please repeat the password</p>

        <p class="help-block"  ng-if="dataForm.c_password_repeat.$error['same-as']" lng>The passwords you entered don't match</p>
      </div>
    
	        <div class="text-center">
				<button  class="btn btn-success" ng-click="fire()" lng>Save</button>
	        </div>
        </fieldset>
     </form>

