<h2 lng>Webstore domain bindings</h2>

  <table mc-grid="wds" >
  <caption lng>Webstore domain bindings</caption>
    <thead>
      <tr>
        <th st-sort="wd_domain_canonical_name" lng>Domain</th>
        <th st-sort="wd_server" lng>Server</th>
        <th st-sort="wh_name" lng>Webhosting</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="wd in displayedCollection"  >
        <td>{{ ::wd.wd_domain_name }} <span ng-if="wd.wd_domain_canonical_name != wd.wd_domain_name">{{::wd.wd_domain_canonical_name}}</span></td>
        <td>{{ ::wd.wd_server }}</td>
        <td><span ng-if="wd.wd_webhosting">{{ ::wd.wh_name }} ({{::wd.wd_webhosting}})</span></td>
        <td><button ng-click="del(wd)" class="btn btn-danger" confirm lng>Delete</button></td>
      </tr>
    </tbody>
  </table>


<h3 lng>Add a webstore domain binding</h3>

<div ><!-- class="col-lg-6" -->
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">


      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Domain name</label>
        <input type="text" class="form-control" name="domain"  ng-model="nwd.domain" required>
            <p class="help-block"  ng-if="dataForm.domain.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Server</label>
        <select class="form-control" name="server" ng-change="serverChange()" ng-model="nwd.wd_server" required >
          <option ng-repeat="server in servers" value="{{::server}}">{{::server}}</option>
        </select>
        <p class="help-block"  ng-if="dataForm.server.$error.required" lng>Data is required</p>
      </div>

      <div id="webhosting"></div>


          <div class="text-center">
              <button class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>
        </fieldset>
     </form>
</div>
