
<h2 lng>Telephone numbers</h2>

<div class="form-inline">

  <div class="form-group">
      <label class="control-label" lng>Primary</label>
      <select class="form-control" ng-model="tfilter.t_primary"><option ng-repeat="item in booleanOptions" value="{{::item}}" lng="BOOLEAN_{{item}}"></option></select>
  </div>
  <div class="form-group">
      <label class="control-label" lng>Confirmed</label>
      <select class="form-control" ng-model="tfilter.t_confirmed"><option ng-repeat="item in booleanOptions" value="{{::item}}" lng="BOOLEAN_{{item}}"></option></select>
  </div>
  <div class="form-group">
      <label class="control-label" lng>Escalate</label>
      <select class="form-control" ng-model="tfilter.t_escalate"><option ng-repeat="item in booleanOptions" value="{{::item}}" lng="BOOLEAN_{{item}}"></option></select>
  </div>
  <button class="btn btn-default" ng-click="refetch()" lng>Apply filter</button>

</div>

<br/>

  <table  mc-grid="tels" class="loginlog-table">
    <caption lng>Telephone number list</caption>
    <thead>
      <tr>
        <th st-sort="u_name" lng>Account</th>
        <th st-sort="t_human" lng>Telephone number</th>
        <th st-sort="t_primary" lng>Primary</th>
        <th st-sort="t_confirmed" lng>Confirmed</th>
        <th st-sort="t_escalate" lng>Escalate</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tel in displayedCollection" >

        <td><a href mc-switch-user-superuser="{{ tel.t_user_id }}">{{ tel.u_name || tel.t_user_id }}</a></td>

        <td >{{tel.t_human}}</td>
        <td lng="BOOLEAN_{{tel.t_primary}}"></td>
        <td lng="BOOLEAN_{{tel.t_confirmed}}"></td>
        <td lng="BOOLEAN_{{tel.t_escalate}}"></td>
        <td>
            <div class="btn-group" uib-dropdown  dropdown-append-to-body>
              <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
                <span lng>Actions</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li ng-hide="tel.t_escalate" role="menuitem" ><a href ng-click="setEscalate(tel, true)" lng>Mark for escalation</a></li>
                <li ng-show="tel.t_escalate" role="menuitem" ><a href ng-click="setEscalate(tel, false)" lng>Demark for escalation</a></li>
                <li class="divider"></li>
                <li role="menuitem" ><a href ng-click="sendSms(tel)" lng>Send SMS</a></li>

              </ul>
            </div>

        </td>
      </tr>
    </tbody>
  </table>

