
      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Storage max quota, hard (MB)</label>
            <input type="number" class="form-control" name="t_storage_max_quota_hard_mb"  ng-model="template.t_storage_max_quota_hard_mb" min="1" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_storage_max_quota_hard_mb.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_storage_max_quota_hard_mb.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Storage max quota, soft (MB)</label>
            <input type="number" class="form-control" name="t_storage_max_quota_soft_mb"  ng-model="template.t_storage_max_quota_soft_mb" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_storage_max_quota_soft_mb.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_storage_max_quota_soft_mb.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Max number of domains that can be attached</label>
            <input type="number" class="form-control" name="t_domains_max_number_attachable"  ng-model="template.t_domains_max_number_attachable" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_domains_max_number_attachable.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_domains_max_number_attachable.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Max number of Git repositories</label>
            <input type="number" class="form-control" name="t_git_max_repos"  ng-model="template.t_git_max_repos" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_git_max_repos.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_git_max_repos.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Max number of Git branches</label>
            <input type="number" class="form-control" name="t_git_max_branches"  ng-model="template.t_git_max_branches" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_git_max_branches.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_git_max_branches.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Max number of e-mail accounts</label>
            <input type="number" class="form-control" name="t_email_max_number_of_accounts"  ng-model="template.t_email_max_number_of_accounts" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_email_max_number_of_accounts.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_email_max_number_of_accounts.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Max number of e-mail aliases</label>
            <input type="number" class="form-control" name="t_email_max_number_of_aliases"  ng-model="template.t_email_max_number_of_aliases" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_email_max_number_of_aliases.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_email_max_number_of_aliases.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Max number of e-mail BCCs</label>
            <input type="number" class="form-control" name="t_email_max_number_of_bccs"  ng-model="template.t_email_max_number_of_bccs" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_email_max_number_of_bccs.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_email_max_number_of_bccs.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Max number of FTP accounts</label>
            <input type="number" class="form-control" name="t_ftp_max_number_of_accounts"  ng-model="template.t_ftp_max_number_of_accounts" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_ftp_max_number_of_accounts.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_ftp_max_number_of_accounts.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-true-value="1" ng-false-value="0" name="t_awstats_allowed" ng-model="template.t_awstats_allowed" > 
               <span lng>Awstats statistics allowed</span>
            </label>
          </div>    
      </div>    

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Max number of cron entries</label>
            <input type="number" class="form-control" name="t_cron_max_entries"  ng-model="template.t_cron_max_entries" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_cron_max_entries.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_cron_max_entries.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>


      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Allowed server-side dynamic applications</label>
        <select class="form-control" multiple name="t_allowed_dynamic_languages"  ng-model="template.t_allowed_dynamic_languages" ><option ng-repeat="cat in ::dynamiclanguages" value="{{ cat }}" >{{::cat}}</option></select>
      </div>

      <div class="form-group">
            <label class="control-label colon" lng>Max number of dynamic applications</label>
            <input type="number" class="form-control" name="t_max_container_apps"  ng-model="template.t_max_container_apps" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_max_container_apps.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_max_container_apps.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group">
            <label class="control-label colon" lng>Max ad-hoc command execution time (s)</label>
            <input type="number" class="form-control" name="t_container_cmd_timeout_s"  ng-model="template.t_container_cmd_timeout_s" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_container_cmd_timeout_s.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group">
            <label class="control-label colon" lng>E-mail policy assigned to outgoing e-mails of web applications</label>
            <input type="text" class="form-control" name="t_webapp_email_quota_policy"  ng-model="template.t_webapp_email_quota_policy" >
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>E-mail policy assigned to outgoing e-mails of web applications</label>
            <select class="form-control" name="t_webapp_email_quota_policy"  ng-model="template.t_webapp_email_quota_policy" ng-options="p.Name as p.Description for p in emailPolicies" ></select>
      </div>


      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Max number of databases</label>
            <input type="number" class="form-control" name="t_db_max_number_of_databases"  ng-model="template.t_db_max_number_of_databases" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_db_max_number_of_databases.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_db_max_number_of_databases.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Maximum size of databases, altogether (MB)</label>
            <input type="number" class="form-control" name="t_db_max_databases_size_mb"  ng-model="template.t_db_max_databases_size_mb" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_db_max_databases_size_mb.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_db_max_databases_size_mb.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Maximum number of database users</label>
            <input type="number" class="form-control" name="t_db_max_number_of_users"  ng-model="template.t_db_max_number_of_users" min="1" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_db_max_number_of_users.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_db_max_number_of_users.$error.min" lng>The given value is less than the allowed minimum</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Number of days to keep database backup for</label>
            <input type="number" class="form-control" name="t_db_keep_backup_for_days"  ng-model="template.t_db_keep_backup_for_days" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_db_keep_backup_for_days.$error.required" lng>Data is required</p>
      </div>
   

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Max number of firewall rules</label>
            <input type="number" class="form-control" name="t_max_number_of_firewall_rules"  ng-model="template.t_max_number_of_firewall_rules" min="0" ng-required="!optional">
            <p class="help-block"  ng-if="form.t_max_number_of_firewall_rules.$error.required" lng>Data is required</p>
      </div>


      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Bandwidth limit</label>
            <input type="text" class="form-control" name="t_bandwidth_limit" lng-placeholder="A json object where key is the time limit and the value is the byte limit for the bandwidth contraint" valid-json ng-model="tmp.t_bandwidth_limit" ng-required="!optional" ng-change="setBandwidthRules()">
            <p class="help-block"  ng-if="form.t_bandwidth_limit.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="form.t_bandwidth_limit.$error.validJson" lng>Invalid JSON</p>
      </div>

      <div class="form-group form-inline" show-errors>
            <label class="control-label colon" lng>Add bandwidth limit rule</label>
            <input type="text" class="form-control" name="t_bandwidth_limit_hours"  ng-model="tmp.t_bandwidth_limit_hours" lng-placeholder="Number of hours for the limit">
            <input type="text" class="form-control" name="t_bandwidth_limit_bytes"  ng-model="tmp.t_bandwidth_limit_bytes" lng-placeholder="Number of megabytes for the limit">
            <button class="btn btn-default" ng-click="addBandwidthRule()" lng>Add rule</button>
            <p class="help-block"  ng-if="form.t_bandwidth_limit.$error.required" ng-click="addBandwidthRule()" lng>Data is required</p>
      </div>

      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-true-value="1" ng-false-value="0" name="t_x509_certificate_external_allowed" ng-model="template.t_x509_certificate_external_allowed" > 
               <span lng>X509 certificates (and private keys) can be uploaded by customer</span>
            </label>
          </div>    
      </div>    


      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-true-value="1" ng-false-value="0" name="t_x509_certificate_letsencrypt_allowed" ng-model="template.t_x509_certificate_letsencrypt_allowed" > 
               <span lng>Let's encrypt integration can be used</span>
            </label>
          </div>    
      </div>    

      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-true-value="1" ng-false-value="0" name="t_installatron_allowed" ng-model="template.t_installatron_allowed" > 
               <span lng>Installatron integration can be used</span>
            </label>
          </div>    
      </div>  

      <pre ng-show="template" ng-dblclick="template={}">{{template|json}}</pre>
