<h3 lng>Linked webhosting administration</h3>

<div class="row">

<div class="col-lg-6" ng-show="webhostings">

  <table mc-grid="webhostings" class="lastColumnThin">
  <caption lng>Webstorages</caption>
    <thead>
      <tr>
        <th st-sort="w_server_name" lng>Server</th>
        <th st-sort="w_webhosting_id" lng>Webhosting ID</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="webhosting in displayedCollection">
        <td>{{ webhosting.w_server_name }}</td>
        <td>{{ webhosting.w_webhosting_id }}</td>
        <td><button ng-click="del(webhosting)" class="btn btn-danger" confirm lng>Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>


<div class="col-lg-6">
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Server</label>
        <select class="form-control" name="w_server_name" ng-model="webhosting.w_server_name" required><option ng-repeat="webhostingServer in ::webhostingServers" value="{{ webhostingServer }}">{{webhostingServer}}</option></select>
        <p class="help-block"  ng-if="dataForm.w_server_name.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Webhosting ID</label>
        <input type="number" class="form-control" name="w_webhosting_id" ng-model="webhosting.w_webhosting_id" required >
        <p class="help-block"  ng-if="dataForm.w_webhosting_id.$error.required" lng>Data is required</p>
      </div>

	        <div class="text-center">
				     <button class="btn btn-success" ng-click="fire()" lng>Save as new</button>
	        </div>
        </fieldset>
     </form>
</div>

</div>