<h2 lng>Credentials administration</h2>


<div ng-show="credentials"><!-- class="col-lg-6"-->


  <table mc-grid="credentials" class=" editAccountTelTable">
  <caption lng>Credentials</caption>
    <thead>
      <tr>
        <th st-sort="c_username" lng>Username</th>
        <th st-sort="c_grants" lng>Permissions</th>
        <th st-sort="c_server" lng>Server</th>
        <th st-sort="c_uuid">UUID</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="credential in displayedCollection track by $index" ng-class="{ bold: credential.primary }">
        <td><a href ng-click="select(credential)">{{ credential.c_username }}</a></td>
        <td>{{ credential.c_grants.join(", ") }}</td>
        <td>{{ credential.c_server }}</td>
        <td>{{ credential.c_uuid }}</td>
        <td><button ng-show="credential.showDel" ng-click="del(credential)" class="btn btn-danger" confirm lng>Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>


<div><!-- class="col-lg-6" -->

     <h3 lng>Manage credential</h3>

     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password</label>
        <input type="password" class="form-control" name="c_password" ng-model="cred.c_password" required ng-minlength=8 >
        <p class="help-block"  ng-if="dataForm.c_password.$error.required" lng>Please enter the password</p>
        <p class="help-block"  ng-if="dataForm.c_password.$error.minlength" lng>The password is inappropriate (should be at least 8 characters long)</p>
        <p class="help-block"  ng-if="dataForm.c_password.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password again</label>
        <input type="password" class="form-control" name="c_password_repeat" required ng-model="tmp.c_password_repeat" same-as="cred.c_password" cleanpassword>        
        <p class="help-block"  ng-if="dataForm.c_password_repeat.$error.required" lng>Please repeat the password</p>

        <p class="help-block"  ng-if="dataForm.c_password_repeat.$error['same-as']" lng>The passwords you entered don't match</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Credentials</label>
        <select multiple size="16" class="form-control" name="c_grants"  ng-model="cred.c_grants" id="c_grants" required ng-options="item as item for item in supportedPermissions"></select>
            <p class="help-block"  ng-if="dataForm.c_grants.$error.required" lng>Please specify at least one permission</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon">UUID</label>
        <input type="text" class="form-control" name="c_uuid" ng-model="cred.c_uuid"  >
      </div>


      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Server</label>
        <select class="form-control" ng-model="cred.c_server" ><option ng-repeat="server in serverNames" value="{{ server }}">{{server}}</option></select>
      </div>   

          <div class="text-center">
             <button  class="btn btn-success" ng-click="fire()" lng>Save as new</button>
             <span ng-if="updateMode">
               <button  class="btn btn-default" ng-click="updatePermissions()" lng>Update permissions</button>
               <button  class="btn btn-default" ng-click="changePassword()" lng>Change password</button>
             </span>
          </div>

        </fieldset>
     </form>

</div>

