
<h2 lng>List of SMS messages</h2>

<div class="form-inline">
  <div class="input-group">
      <label class="sr-only" lng>Recipient</label>
      <input type="text" class="form-control" ng-model="s_recipient" lng-placeholder="Recipient" mc-key-enter="filter()">
  </div>
  <div class="input-group">
      <label class="sr-only" lng>Not before</label>
      <input type="text" uib-datepicker-popup  is-open="notbefore_opened" class="form-control" ng-model="notbefore" lng-placeholder="Not before">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notbefore_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  
  <div class="input-group">
      <label class="sr-only" lng>Not after</label>
      <input type="text" uib-datepicker-popup  is-open="notafter_opened" class="form-control" ng-model="notafter" lng-placeholder="Not after">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notafter_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  

  <div class="form-group">
      <label class="sr-only" lng>Status</label>
      <select class="form-control" ng-model="s_status"><option ng-repeat="status in ::statuses" value="{{ status }}" lng="SMS_STATUS_{{::status}}"></option></select>
  </div>

  <button class="btn btn-default" ng-click="refetch()" lng>Apply filter</button>

</div>


<br/>

  <table mc-grid="smss" class="loginlog-table">
    <caption lng>List of SMS messages</caption>
    <thead>
      <tr>
        <th st-sort="s_timestamp" lng>Timestamp</th>
        <th st-sort="s_provider"  lng>Provider</th>
        <th st-sort="s_recipient"  lng>Recipient</th>
        <th st-sort="s_message" lng>Message</th>
        <th st-sort="s_status"  lng>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="sms in displayedCollection" >

        <td >{{sms.s_timestamp}}</td>
        <td >{{sms.s_provider}}</td>
        <td >{{sms.s_recipient}}</td>
        <td >{{sms.s_message}}</td>
        <td lng="SMS_STATUS_{{sms.s_status}}"></td>
      </tr>
    </tbody>
  </table>


