<h2 lng>Webhosting templates</h2>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover twoColumnTable">
  <caption lng>Webhosting template list</caption>
    <thead>
      <tr>
        <th ><span lng>Name</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="template in webhostingtemplates"  >
        <td><a href ng-click="select(template)">{{ template.t_name }}</a></td>
        <td><button ng-click="del(template)" class="btn btn-danger" confirm lng>Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>


<h3 lng>Add webhosting template</h3>

<div ><!-- class="col-lg-6" -->
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Name</label>
        <input type="text" class="form-control" name="t_name"  ng-model="template.t_name" strict-string required>
            <p class="help-block"  ng-if="dataForm.t_name.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="dataForm.t_name.$error.strictString"><span lng>The character string should contain latin characters only</span> (a-z, A-Z, 0-9)</p>
      </div>

      <mc-superuser-webhosting-template-options form="dataForm" template="template"></mc-superuser-webhosting-template-options>


      <div class="form-group" >
          <div class="checkbox">
            <label >
               <input class="checkbox-control" type="checkbox" ng-true-value="1" ng-false-value="0" name="t_public" ng-model="template.t_public" > 
               <span lng>Public (is it offered to the customers?)</span>
            </label>
          </div>    
      </div>    


          <div class="text-center">
              <button class="btn btn-success" ng-disabled="template.t_original_name == template.t_name" ng-click="saveAsNew()" lng>Save as new</button>
              <button ng-if="template.t_original_name" class="btn btn-default" ng-click="update()" lng>Modify</button>
          </div>
        </fieldset>
     </form>
</div>
