

<h2 lng>Servers list</h2>


<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover lastColumnThin">
  <caption lng>Server list</caption>
    <thead>
      <tr>
        <th ><span lng>Name</span></th>
        <th ><span lng>Server roles</span></th>
        <th ><span lng>Server owners</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="server in servers" >
        <td><a href ng-click="select(server)">{{ server.s_name }}</a></td>
        <td>{{ server.s_roles.join(', ') }}</td>
        <td>{{ server.u_name.join(', ') }}</td>
        <td><button confirm ng-click="delete(server)" class="btn btn-danger"  lng>Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>


<h3 lng>Add new server</h3>
<div ><!-- class="col-lg-6" -->
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Server name</label>
        <input ng-change="selected=null" type="text" class="form-control" placeholder="s1" name="s_name"  ng-model="x.s_name" required>
            <p class="help-block"  ng-if="dataForm.s_name.$error.required" lng>Please enter the name of the server</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Server secret (needed for cross-server trust)</label>
        <input type="password" class="form-control" name="s_secret"  ng-model="x.s_secret" required>
            <p class="help-block"  ng-if="dataForm.s_secret.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.s_secret.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
            
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Server roles</label>
        <select class="form-control" multiple size='10' name="roles"  ng-model="x.s_roles" required ><option ng-repeat="role in availableServerRoles" value="{{ role }}" lng="SERVER_ROLE_{{::role}}" ></option></select>
            <p class="help-block"  ng-if="dataForm.roles.$error.required" lng>Please specify at least one category</p>
      </div>      

      <div >
          <table class="table table-bordered table-striped table-hover lastColumnThin">
          <caption lng>Server owners</caption>
            <thead>
              <tr>
                <th ><span lng>User ID</span></th>
                <th ><span lng>Username</span></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in x.s_users_merged" >
                <td>{{ user.u_id }}</td>
                <td>{{ user.u_name }}</td>
                <td><button ng-click="deleteUser(user)" class="btn btn-warning"  lng>Delete</button></td>
              </tr>
            </tbody>
          </table>
      </div>   

            <mc-superuser-user-selector form="dataForm" callback="addUser" data="webhosting.wh_user_id" by-role="SERVER_OWNER"></mc-superuser-user-selector>        
  

	        <div class="text-center">
				<button ng-show="selected" class="btn btn-success" ng-click="saveRoles()" lng>Save roles and owners</button>
        <button class="btn btn-success" ng-click="fire()" lng>Save as new</button>
	        </div>
        </fieldset>
     </form>
</div>
