<h3 lng>SMS sending</h3>

     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Tel country code</label>
        <select class="form-control" name="s_country_code" ng-model="sms.s_country_code" required ng-options="tel.id as tel.value for tel in availableCountryCodes ">
        </select>
        <p class="help-block" ng-if="dataForm.s_country_code.$error.required" lng>Please select the country code</p>
    </div>


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Tel area code</label>
        <input type="number" class="form-control" name="s_area_code" ng-model="sms.s_area_code" required />
        <p class="help-block"  ng-if="dataForm.s_area_code.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Phone number</label>
        <input type="number" class="form-control" name="s_phone_no" ng-model="sms.s_phone_no" required />
        <p class="help-block"  ng-if="dataForm.s_phone_no.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>SEND_SMS_MESSAGE</label>
        <input type="text" class="form-control" name="s_message" ng-model="sms.s_message" required  lng-placeholder="SEND_SMS_PLACEHOLDER" />
        <p class="help-block"  ng-if="dataForm.s_message.$error.required" lng>Data is required</p>
      </div>

       <div class="form-group">
          <label class="control-label" lng>Provider</label>
          <select class="form-control" ng-model="sms.s_provider" ng-options="item as item for item in providers"></select>
       </div>      

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Send</button>
          </div>

        </fieldset>
     </form>

