<div ng-hide="justDeleted">
<h3 lng>Account edit</h3>


     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
			<div class="form-group" >
	          <label class="control-label colon" lng>Primary e-mail address</label>
			  <input type="text" class="form-control" readonly ng-model="Account.u_primary_email" >
			</div>
			<div class="form-group" >
	          <label class="control-label colon" lng>Primary telephone number</label>
			  <input type="text" class="form-control" readonly ng-model="Account.u_primary_tel" >
			</div>

			<div class="form-group" show-errors>
	          <label class="control-label colon" lng>Name of the user account</label>
			  <input type="text" class="form-control" lng-placeholder="Eg. My company Ltd or John Smith" name="account_name"  ng-model="Account.u_name" id="account_name" required >
	          <p class="help-block"  ng-if="dataForm.account_name.$error.required" lng>Please enter the name</p>
			</div>

			<div class="form-group" show-errors>
	          <label class="control-label colon" lng>Comment</label>
			  <input type="text" class="form-control" lng-placeholder="Comment" name="u_comment"  ng-model="Account.u_comment" id="u_comment"  >
			</div>

	        <div class="text-center">
				<button  class="btn btn-success" ng-click="fire()" lng>Save</button>

				<button  class="btn btn-danger" confirm ng-click="delete()" lng>Delete</button>

				<button  class="btn btn-default" confirm ng-click="forceOffTwoFactorAuth()" lng>Force-off 2FA</button>
	        </div>
        </fieldset>
     </form>
</div>
