
<h2 lng>E-mail addresses</h2>

<div class="form-inline">
  <div class="form-group">
      <label class="control-label" lng>Primary</label>
      <select class="form-control" ng-model="tfilter.e_primary"><option ng-repeat="item in booleanOptions" value="{{::item}}" lng="BOOLEAN_{{item}}"></option></select>
  </div>
  <div class="form-group">
      <label class="control-label" lng>Confirmed</label>
      <select class="form-control" ng-model="tfilter.e_confirmed"><option ng-repeat="item in booleanOptions" value="{{::item}}" lng="BOOLEAN_{{item}}"></option></select>
  </div>
  <div class="form-group">
      <label class="control-label" lng>Escalate</label>
      <select class="form-control" ng-model="tfilter.e_escalate"><option ng-repeat="item in booleanOptions" value="{{::item}}" lng="BOOLEAN_{{item}}"></option></select>
  </div>
  <button class="btn btn-default" ng-click="refetch()" lng>Apply filter</button>

</div>

<br/>


  <table  mc-grid="emails" class="loginlog-table">
    <caption lng>E-mail address list</caption>
    <thead>
      <tr>
        <th st-sort="u_name" lng>Account</th>
        <th st-sort="e_email" lng>E-mail address</th>
        <th st-sort="e_primary" lng>Primary</th>
        <th st-sort="e_confirmed" lng>Confirmed</th>
        <th st-sort="e_escalate" lng>Escalate</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="email in displayedCollection" >

        <td><a href mc-switch-user-superuser="{{ email.e_user_id }}">{{ email.u_name || email.e_user_id }}</a></td>

        <td >{{email.e_email}}</td>
        <td lng="BOOLEAN_{{email.e_primary}}"></td>
        <td lng="BOOLEAN_{{email.e_confirmed}}"></td>
        <td lng="BOOLEAN_{{email.e_escalate}}"></td>
        <td>
            <div class="btn-group" uib-dropdown  dropdown-append-to-body>
              <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
                <span lng>Actions</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li ng-hide="email.e_escalate" role="menuitem" ><a href ng-click="setEscalate(email, true)" lng>Mark for escalation</a></li>
                <li ng-show="email.e_escalate" role="menuitem" ><a href ng-click="setEscalate(email, false)" lng>Demark for escalation</a></li>
              </ul>
            </div>

        </td>
      </tr>
    </tbody>
  </table>

