      <mc-change-password></mc-change-password>

      <mc-edit-account ></mc-edit-account>

      <mc-edit-account-email></mc-edit-account-email>

      <mc-edit-account-tel></mc-edit-account-tel>

      <mc-edit-account-credentials></mc-edit-account-credentials>
