<h2 lng>E-mail address administration</h2>


<div ng-show="emails"><!-- class="col-lg-6"  -->

  <mc-alert-box alert-type="info" message="To change your primary e-mail address, you need to add and validate a new one first, then make it primary and then you can remove the original one."></mc-alert-box>


<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover editAccountEmailTable">
  <caption lng>E-mail addresses</caption>
    <thead>
      <tr>
        <th lng>E-mail address</th>
        <th lng>Categories</th>
        <th lng>Confirmed</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="email in emails" ng-class="{ bold: email.e_primary }">
        <td>{{ email.e_email }}</td>
        <td><span ng-repeat="cat in email.e_categories"><lng lng-pre-process>EMAIL_CAT_{{cat}}</lng> </span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="email.e_confirmed"></span><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-hide="email.e_confirmed"></span></td>
        <td><button ng-click="select(email)" class="btn btn-default" lng>Modify</button></td>
      </tr>
    </tbody>
  </table>
</div>

</div>


<div ><!-- class="col-lg-6" -->
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>E-mail address</label>
        <input type="email" class="form-control" lng-placeholder="E-mail address" name="email"  ng-model="tmp.e_email" id="email" required>
            <p class="help-block"  ng-if="dataForm.email.$error.required" lng>Please enter the e-mail address</p>
            <p class="help-block"  ng-if="dataForm.email.$error.email" lng>The specified e-mail address is invalid</p>
      </div>

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>E-mail categories (hold CTRL to select multiple)</label>
        <select class="form-control" multiple name="categories"  ng-model="tmp.e_categories" id="categories" required ><option ng-repeat="cat in availableEmailCategories" value="{{ cat }}" lng="EMAIL_CAT_{{::cat}}" ></option></select>
            <p class="help-block"  ng-if="dataForm.categories.$error.required" lng>Please specify at least one category</p>
      </div>

	        <div class="text-center">
				<button class="btn btn-success" ng-click="fire()" lng>Save as new</button>
        <button class="btn btn-default" ng-click="modCat()" ng-show="selectedEmail" lng>Modify categories</button>
        <button class="btn btn-default" ng-click="sendConfirmation()" ng-show="showSendConfirmation" lng>Re-send confirmation</button>
        <button class="btn btn-default" ng-click="setPrimary()" ng-show="showSetAsPrimary" lng>Primary</button>
				<button class="btn btn-danger"  ng-click="del()" confirm ng-show="showDelete" lng>Delete</button>
	        </div>
        </fieldset>
     </form>
</div>
