<h2 lng>Credentials administration</h2>


<div  ng-show="credentials"><!-- class="col-lg-6"-->


<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover editAccountTelTable">
  <caption lng>Credentials</caption>
    <thead>
      <tr>
        <th lng>Username</th>
        <th lng>Permissions</th>
        <th lng>Server</th>
        <th >UUID</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="credential in credentials" ng-class="{ bold: credential.primary }">
        <td>{{ credential.c_username }}</td>
        <td>{{ credential.c_grants }}</td>
        <td>{{ credential.c_server }}</td>
        <td>{{ credential.c_uuid }}</td>
        <td><button ng-show="credential.showDel" ng-click="del(credential)" class="btn btn-danger" confirm lng>Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

</div>


<div ><!-- class="col-lg-6" -->
      <mc-credential-add refetch="refetch()"></mc-credential-add>

</div>

