    <h3 lng>Registration</h3>



<div ng-if="mcConfig.registration_extra_email_warning">
  <mc-alert-box alert-type="danger" message="Please make sure that you will remember the e-mail address you provide here! If you loose access to your e-mail address, you might lock out yourself from this service as well." heading="Warning"></mc-alert-box>
</div>

    <ng-transclude></ng-transclude>

    <form class="margintop"   name="userForm" novalidate >
	<fieldset ng-disabled="isSaving">

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Name of the user account</label>
        <input type="text" class="form-control" name="u_name" ng-model="user.u_name" required  lng-placeholder="Eg. My company Ltd or John Smith" />
        <p class="help-block"  ng-if="userForm.u_name.$error.required" lng>Please enter the name</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon"><abbr lng-title="You'll need to enter the same for login" lng>E-mail address</abbr></label>

        <input type="email" class="form-control" name="e_email" ng-model="user.e_email" required lng-placeholder="E-mail" />
        <p class="help-block" ng-if="userForm.e_email.$error.required" lng>Please enter the e-mail address</p>
        <p class="help-block" ng-if="userForm.e_email.$error.email" lng>The specified e-mail address is invalid</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password</label>
        <input type="password" class="form-control" name="c_password" ng-model="user.c_password" required ng-minlength=8 >
        <p class="help-block"  ng-if="userForm.c_password.$error.required" lng>Please enter the password</p>
        <p class="help-block"  ng-if="userForm.c_password.$error.minlength" lng>The password is inappropriate (should be at least 8 characters long)</p>
        <p class="help-block"  ng-if="userForm.c_password.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Password again</label>
        <input type="password" class="form-control" name="c_password_repeat" required ng-model="tmp.c_password_repeat" same-as="user.c_password" cleanpassword >        
        <p class="help-block"  ng-if="userForm.c_password_repeat.$error.required" lng>Please repeat the password</p>

        <p class="help-block"  ng-if="userForm.c_password_repeat.$error['same-as']" lng>The passwords you entered don't match</p>
      </div>
    
      <div ng-if="callbackSupported">
        <div class="form-group" show-errors>
          <label class="control-label colon" lng>Your message for callback request (optional)</label>
          <input type="text" class="form-control" name="callback_request_redirect" lng-placeholder="Your message" ng-model="tmp.callback_request_message"  >        
        </div>
      </div>

      <mc-tel-editor model="user" data="userForm" optional="registrationTelOptional"></mc-tel-editor>

      <div class="form-group" show-errors>
    <div class="checkbox">
      <label >
        <input class="checkbox-control" type="checkbox" value="1" name="uf_tos" id="uf_tos" ng-model="user.uf_tos" required> 
		<span lng>I accept the terms of</span>: <span  ng-repeat="(k,v) in ::mcConfig.terms_of_use_links"><a href="{{v}}" target="_blank" lng="{{k}}"></a> </span>
      </label>
    </div>
           <p class="help-block" ng-if="userForm.uf_tos.$error.required" lng>You can't proceed without accepting the Terms of Use</p>       
    
    </div>    

    <mc-captcha-block model="user" kind="registration" form="userForm"></mc-captcha-block>

      <div class="text-center">
           <span ng-if="callbackSupported">
            <button class="btn btn-default" ng-click="callback_request()" lng>Please call me back!</button>
           </span>

          <span>
           <button class="btn btn-success" ng-click="register()" lng="{{nextButton||'Registration'}}"></button>
           </span>           
      </div>
	 </fieldset>
    </form>
