<div><!--  class="row" -->

<div ng-if='show_granted_to_you'><!-- class="col-lg-6"  -->
<h2  lng>Accounts you have admin access to</h2>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover editAccountTelTable">
  <caption lng>Accounts</caption>
    <thead>
      <tr>
        <th lng>Name</th>
        <th lng>E-mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in granted_to_you" >
        <td><a target='_blank' href mc-switch-user="{{user.u_id}}">{{ user.u_name }}</a></td>
        <td>{{ user.u_primary_email }}</td>
        <td><!--
        // we do not currently support this.
        <button ng-click="revoke(user)" class="btn btn-warning"  lng>Delete</button>
        -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>

<div  ng-if="show_granted_to_yours"><!-- class="col-lg-6" -->


<h2 lng>Accounts having admin access to yours</h2>

<mc-alert-box alert-type="info" heading="Warning" message="Right now you can assign only a single account which will be permitted to administrate your one."></mc-alert-box>


<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover editAccountTelTable">
  <caption lng>Accounts</caption>
    <thead>
      <tr>
        <th lng>Name</th>
        <th lng>E-mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in granted_to_yours" >
        <td>{{ user.u_name }}</td>
        <td>{{ user.u_primary_email }}</td>
        <td><button ng-click="reset(user)" class="btn btn-warning"  lng>Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

</div>

</div>

    <mc-edit-account-grant-access reload="reload()"></mc-edit-account-grant-access>

