<h2 lng>Edit user account</h2>

<ng-transclude ></ng-transclude>

     <form class="margintop" name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
			<div class="form-group" >
	          <label class="control-label colon" lng>Primary e-mail address</label>
			  <input type="text" class="form-control" readonly ng-model="Account.u_primary_email" >
			</div>
			<div class="form-group" >
	          <label class="control-label colon" lng>Primary telephone number</label>
			  <input type="text" class="form-control" readonly ng-model="Account.u_primary_tel" >
			</div>

			<div class="form-group" show-errors>
	          <label class="control-label colon" lng>Name of the user account</label>
			  <input type="text" class="form-control" lng-placeholder="Name of the user account" name="account_name"  ng-model="Account.u_name" id="account_name" required >
	          <p class="help-block"  ng-if="dataForm.account_name.$error.required" lng>Please enter the name of the user account</p>
			</div>

            <div ng-if="mcConfig.sms_notification_support">
				<div class="checkbox" >
		          <label >
					  <input type="checkbox" ng-model="Account.u_sms_notification" ng-true-value="1" ng-false-value="0">
					  <span lng>Notification in SMS about services close to their expiration dates</span>
				  </label>
				</div>
			</div>

            <div ng-if="mcConfig.callin_code_support">
				<div class="form-group" show-errors>
		          <label class="control-label colon" ><abbr lng-title="The telephone operator might ask your callin code in order to authorize you in case of specific help is needed." lng>Callin PIN code (optional)</abbr></label>
				  <input type="text" class="form-control" lng-placeholder="The telephone callin PIN code" name="u_callin"  ng-model="Account.u_callin" ng-pattern="/^[0-9]{5}$/" maxlength="5">
	              <p class="help-block"  ng-if="dataForm.u_callin.$error.pattern" lng>The callin code is invalid. Please use 5 digits only!</p>
				</div>
			</div>

	        <div class="text-center">
				<button  class="btn btn-success" ng-click="fire()" lng="Save"></button>
	        </div>
        </fieldset>
     </form>
