			 <form name="dataForm" novalidate>
			       <fieldset ng-disabled="isInProgress">

<div class="modal-header"><h3 class="modal-title" lng>Telephone validation</h3></div>
    <div class="modal-body" >

      <div class="form-group">
    	  <div>
            <label class="control-label colon" lng>Telephone number to be validated</label>
    	  	<div>{{::data.tel.t_human}}</div>
      </div>

      <br/>

          <mc-captcha-block model="tmp" form="dataForm"></mc-captcha-block>

			 
	<div ng-if="showValidate">
	      <div class="form-group" show-errors>
	        <label class="control-label colon" lng>Confirmation token as received in the SMS</label>
	        <input autofocus type="text" class="form-control" name="data" lng-placeholder="Confirmation token"  required ng-model="tmp.confirmation_token" >

	        <p class="help-block" ng-if="dataForm.data.$error.required" lng>Data is required</p>
	      </div>
	</div>

    </div>
    <div class="modal-footer">

		    <button ng-show="showSendSms" class="btn btn-success" ng-click="fire()" lng>Send SMS</button>
		    <button ng-show="showValidate" class="btn btn-success" ng-click="fire()" lng>Validate</button>

		    <button class="btn btn-default" ng-click="cancel()" lng>Cancel</button>
    </div>

				      </fieldset>
		      </form>
