<h2 lng>Available domains</h2>


			<table mc-grid="wds" class="table-form lastColumnThin">
			<thead>
			  <tr>
			  	<th st-sort="d_domain_name" lng>Domain name</th>
			  	<th lng>Webstore</th>
			    <th></th>
		      </tr>
			</thead>
			<tbody>

			 <tr ng-repeat="wd in displayedCollection">
			   <td><a mc-sref="mc-domain-info" mc-sref-params="wd.params">{{::wd.wd_domain_name}} <span ng-if="wd.wd_domain_canonical_name != wd.wd_domain_name">({{wd.wd_domain_canonical_name}})</span></a></td>
         <td><a ng-if="wd.wd_webhosting" mc-sref="mc-webhosting-info" mc-sref-params="{server:wd.wd_server,whId:wd.wd_webhosting}">{{ ::wd.wh_name }} ({{::wd.wd_webhosting}})</a></td>
			   <td>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a mc-sref="mc-domain-info" mc-sref-params="wd.params" lng>Information</a></li>
        <li class="divider"></li>
        <li role="menuitem" ><a mc-sref="mc-docroot-webhosting-docroots" mc-sref-params="wd.params"   lng>Web server document roots</a></li>
        <li role="menuitem" ><a mc-sref="mc-docroot-redirects" mc-sref-params="wd.params" lng>Web server redirects</a></li>
        <li class="divider"></li>
        <li role="menuitem" ><a mc-sref="mc-email-account-list-and-add" mc-sref-params="wd.params" lng>Manage e-mail accounts</a></li>
        <li role="menuitem" ><a mc-sref="mc-email-alias-list-and-add" mc-sref-params="wd.params" lng>Manage e-mail aliases</a></li>
        <li class="divider"></li>
        <li role="menuitem" ><a mc-sref="mc-dns-admin" mc-sref-params="{domain: wd.wd_domain_canonical_name, template: wd.wd_server}" lng>DNS record admin</a></li>
      </ul>
    </div>


			   </td>
			 </tr>

	        </tbody>
			</table>
