    <a href="#"><i class="fas fa-flag fa-fw"></i> <span lng>Domain controls</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a mc-sref="mc-domain-info" mc-sref-params="params" lng>Information</a>
        </li>

        <li>
            <a mc-sref="mc-attach-domain" mc-sref-params="params" lng>Attach the domain to a webstore</a>
        </li>

        <li>
            <a href="#"><span lng>Web server settings</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li mc-if-route-params="whId"><a mc-sref="mc-docroot-webhosting-docroots" mc-sref-params="params" lng>Document root entries</a></li>
                <li mc-if-route-params="whId"><a mc-sref="mc-docroot-settings" mc-sref-params="params" lng>Document root settings</a></li>
                <li mc-if-route-params="whId" class="divider"></li>
                <li><a mc-sref="mc-docroot-redirects" mc-sref-params="params" lng>Redirect web site visitors (HTTP)</a></li>
                <li><a mc-sref="mc-docroot-frames" mc-sref-params="params" lng>Redirect web site visitors (Frame)</a></li>
                <li mc-if-route-params="whId"><a mc-sref="mc-docroot-webhosting-protected-dirs-and-accounts" mc-sref-params="params" lng>Password protected directories</a></li>
                <li class="divider"></li>
                <li mc-if-route-params="whId" mc-awstats-link server="{{::params.server}}" wh-id="{{::params.whId}}" domain="{{::params.domain}}"></li>
            </ul>
        </li>


        <li mc-if-route-params="whId" metis-menu>
            <a href="#"><span lng>E-mail settings</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                    <li><a href mc-sref="mc-email-account-list-and-add" mc-sref-params="params" lng>E-mail accounts</a></li>
                    <li><a href mc-sref="mc-email-alias-list-and-add" mc-sref-params="params" lng>E-mail aliases</a></li>
                    <li><a href mc-sref="mc-email-bcc-list-and-add" mc-sref-params="params" lng>E-mail BCC</a></li>        
                    <li><a href mc-sref="mc-amavisd-dkim" mc-sref-params="params" lng>Domain keys (DKIM)</a></li>        
                    <li><a href mc-sref="mc-postfix-mailq" mc-sref-params="params" lng>Mail queue</a></li>   
            </ul>
        </li>

        <li mc-tapi-dns-edit-link2 display="{{::params.display}}" domain="{{::params.domain}}"></li>


    </ul>
