<div ng-hide="UserProfile.isLoggedIn">

    <mc-registration redirect-after="{{::redirectAfter}}"><ng-transclude></ng-transclude></mc-registration>

</div>

<div ng-show="UserProfile.isLoggedIn" lng>
  You are logged in, registration not possible
</div>
