<h2 lng>Telephone administration</h2>

  <mc-alert-box alert-type="info" message="To change your primary telephone number, you need to add a new one first, then make it primary and then you can remove the original one."></mc-alert-box>


<div ng-show="tels">

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover editAccountTelTable">
  <caption lng>Telephone numbers</caption>
    <thead>
      <tr>
        <th lng>Telephone number</th>
        <th lng>Category</th>
        <th lng>Confirmed</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tel in tels" ng-class="{ bold: tel.t_primary }">
        <td>{{ tel.t_human }}</td>
        <td lng="TEL_CAT_{{ tel.t_category }}"></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="tel.t_confirmed"></span><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-hide="tel.t_confirmed"></span></td>
        <td><button ng-show="tel.showMod" ng-click="select(tel)" class="btn btn-default" lng>Modify</button></td>
      </tr>
    </tbody>
  </table>
</div>

</div>


<div ><!-- class="col-lg-6" -->
     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

            <mc-tel-editor model="tmp" data="dataForm"></mc-tel-editor>

	        <div class="text-center">
				<button class="btn btn-success" ng-click="fire()" lng>Save as new</button>
        <button ng-show="showSetAsPrimary" class="btn btn-default" ng-click="setPrimary()" lng>Primary</button>
        <button ng-show="showValidate" class="btn btn-default" ng-click="showValidation()" lng>Validate</button>
				<button class="btn btn-danger"  ng-click="del()" confirm ng-show="showDelete" lng>Delete</button>
	        </div>
        </fieldset>
     </form>
</div>
