<div ng-if="!UserProfile.isLoggedIn">

<h2 lng>Simplified order process</h2>

<div lng>If you've ordered anything here before, please login to the system first. Once you are logged in, most of the forms will be prefilled with data you already provided.</div>
<div ng-if="callbackSupported" lng>If you prefer not to finish the complete order process now, you can request telephone callback from one of our operators.</div>

    <mc-registration uf-tos="{{::ufTos}}" shopping-cart="{{::shoppingCart}}" callback-supported="{{::callbackSupported}}" redirect-after="{{::redirectAfter}}" next-button="Proceeding with the order process"><div lng>We need the following details for your user account to enroll you in our system:</div></mc-registration>

</div>

<div ng-if="UserProfile.isLoggedIn && !UserProfile.justLoggedIn">
	  <mc-show-account save-button="Continue" redirect-after="{{::redirectAfter}}"><div lng>This is the user account for which the current order will be submitted. You can update your details and click the Continue button to proceed with your order.</div></mc-show-account>
</div>
