


<h3 lng>Domain info</h3>

<div class="panel panel-default">
		<div class="panel-heading">
            <i class="fas fa-info fa-fw"></i> <span lng>Domain info</span>
        </div>

    <div class="inner-padding">

	<div class="table-responsive">
	<table class="table table-form">
		<tbody transclude-next>
		<tr>
		  <td class="colon bold" lng>Domain</td>
		  <td>
		  	{{domain}} <span ng-if="domain!=display && display">({{display}})</span>
		  </td>
		  <td></td>
		</tr>
	    </tbody>

	  <tbody ng-if="whId">
		<tr ng-if="!dontShowWebstore">
		  <td class="colon" lng>Webstore</td>
		  <td>
		  	<div ng-if="whId">
		  	  <a  mc-sref="mc-webhosting-info" mc-sref-params="{server:server,whId:whId}">{{wh.wh_name}} ({{whId}})</a>
		    </div>
		  	<div ng-if="!whId" lng>
		  		Not attached to any webstores yet
		  	</div>
		  </td>
		  <td></td>
		</tr>

		<tr>
		  <td><abbr lng-title="The directory where the HTML content and PHP scripts shall be placed inside the webstorage">Docroot:</abbr></td>
		  <td><mc-docroot-current server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></mc-docroot-current></div></td>
		  <td></td>
		</tr>

		<tr mc-email-status-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}"></tr>
		<tr mc-email-greylist-status-row server="{{::server}}"   domain="{{::domain}}"></tr>

		<tr mc-awstats-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}"></tr>

        <tr mc-docroot-certificate-row server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" ></tr>
     </tbody>
     <tbody ng-if="!whId">
		<tr>
		  <td class="colon" lng>Webstore</td>
		  <td lng>Not attached to any webstores yet</td>
		  <td></td>
		</tr>
     </tbody>

     <tbody>
		<tr mc-tapi-dns-zone-on-off-row create-zone-allowed="true" domain="{{::domain}}"></tr>
     </tbody>

	</table>

	</div>

    </div>

</div>


