<div ng-if="captcha_expected">


  <div class="row">
    <div ng-show="recaptchaMode" >

         <div class="col-md-6">
            <recaptcha></recaptcha>
            <div class="form-group" show-errors>
               <input type="text" class="hidden form-control" name="captcha" required ng-model="model.captcha" required>
               <p class="help-block"  ng-if="form.captcha.$error.required" lng>Please fill the captcha code</p>
            </div>
         </div>

    </div>
    <div ng-show="htmlMode">
         <div class="col-md-6">
          <div class="form-group" show-errors>
            <label class="control-label colon" lng>Security captcha code</label>
            <input type="text" class="form-control" name="captcha" required ng-model="model.captcha" required>
            <p class="help-block"  ng-if="form.captcha.$error.required" lng>Please fill the captcha code</p>
          </div>
         </div>
  
  
         <div class="col-md-6">
          <div class="form-group">
            <label class="control-label colon" lng>Security captcha code</label><br/>
            <table><tr><td><span ng-bind-html="svg" class="capcha-img"></span></td><td><button class="btn btn-primary" ng-click="reloadCaptcha()"><span class="glyphicon glyphicon-refresh"></span> <lng>Reload captcha</lng></button></td></tr></table>
          </div>
        </div>
     </div>

  </div>
</div>
