  <h2 lng>Forgotten password</h2>


     <form name="forgottenPasswordSendForm" novalidate>
       <fieldset ng-disabled="isInProgress">
			<div class="form-group" show-errors>
	          <label class="control-label colon" lng>Username</label>
			  <input type="email" class="form-control" lng-placeholder="E-mail" name="email" ng-model="forgotten.email" id="email" required>
	          <p class="help-block"  ng-if="forgottenPasswordSendForm.email.$error.required" lng>Please enter your username</p>
	          <p class="help-block" ng-if="forgottenPasswordSendForm.email.$error.email" lng>The specified e-mail address is invalid</p>
			</div>

    <mc-captcha-block form="forgottenPasswordSendForm" model="forgotten" kind="registration" ></mc-captcha-block>

	        <div class="text-center">
				<button  class="btn btn-success" ng-click="send()" lng>Send</button>
	        </div>
        </fieldset>
     </form>
