  <h2 lng>E-mail verification</h2>

<mc-alert-box ng-show="showTokenError" alert-type="danger" message="The token has expired or is invalid!" heading="E-mail verification"></mc-alert-box>

<mc-alert-box ng-hide="showTokenError" alert-type="info" message="The e-mail has been verified successfully." heading="E-mail verification"></mc-alert-box>
