<h2 lng>Two factor authentication</h2>

	<mc-alert-box alert-type="info" message="We support two factor authentication to protect your account on this control panel. You can use any TOTP compliant authenticator application (like Authy or Google Authenticator) two leverage 2FA."></mc-alert-box>

     <form class="margintop" name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
       	<div ng-show="totp && totp.u_totp_active">
       		<mc-alert-box alert-type="success" message="Two factor authentication is currently active on this account."></mc-alert-box>
       	</div>
       	<div ng-show="totp && !totp.u_totp_active">
       		<mc-alert-box alert-type="info" message="Two factor authentication is currently inactive on this account. Submit the form below to activate it."></mc-alert-box>

       		<br><br>

            <center>
       		   <div id="qrcode"></div>
       	    </center>
       	</div>

            <div class="form-group" show-errors>
              <label class="control-label colon" lng>Two factor authentication token</label>
              <input type="text" required maxlength=6 minlength=6 class="form-control" name="cred_token" ng-model="t.userToken"   onkeyup="this.value=this.value.replace(/[^\d]/,'')">

              <p class="help-block"  ng-if="dataForm.cred_token.$error.required" lng>Data is required</p>
            </div>

	        <div class="text-center">
				<button ng-show="totp && !totp.u_totp_active" class="btn btn-success" ng-click="fire()" lng="Activate"></button>
				<button ng-show="totp && totp.u_totp_active" class="btn btn-danger" ng-click="fire()" lng="Deactivate"></button>
	        </div>
        </fieldset>
     </form>
