
    <div class="row">
       <div class="col-md-3">
      <div class="form-group" show-errors>
        <label class="control-label colon"><span lng>Telephone type</span> <span ng-show="optional" lng>(optional)</span></label>
        <select class="form-control" name="t_category" ng-model="model.t_category" >
          <option ng-repeat="option in ::availableTelephoneCategories" value="{{option}}" lng="TEL_CAT_{{option}}"></option>          
        </select>
    </div>
         </div>

       <div class="col-md-3">
      <div class="form-group" show-errors>
        <label class="control-label colon"><span lng>Tel country code</span> <span ng-show="optional" lng>(optional)</span></label>
        <select class="form-control" name="t_country_code" ng-model="model.t_country_code" ng-required="!optional" ng-options="tel.id as tel.value for tel in availableCountryCodes ">
        </select>
        <p class="help-block" ng-if="dataForm.t_country_code.$error.required" lng>Please select the country code</p>
    </div>
         </div>

     <div class="col-md-3">
     
      <div class="form-group" show-errors>
        <label class="control-label colon"><span lng>Tel area code</span> <span ng-show="optional" lng>(optional)</span></label>
        <input type="text" class="form-control" name="t_area_code" ng-model="model.t_area_code"  ng-required="!optional" placeholder="Körzetszám"  ng-pattern="/^[0-9]+$/" ng-maxlength="4" maxlength="4" />
        <p class="help-block" ng-if="dataForm.t_area_code.$error.required" lng>Please enter the area code</p>
    <p class="help-block" ng-if="dataForm.t_area_code.$error.minlength" lng>The length of the area code is invalid</p>
    <p class="help-block" ng-if="dataForm.t_area_code.$error.pattern" lng>The area code is invalid, please use digits only!</p>
      </div>
       </div>

     <div class="col-md-3">
     
      <div class="form-group" show-errors>
        <label class="control-label colon"><span lng>Tel number</span> <span ng-show="optional" lng>(optional)</span></label>
        <input type="text" class="form-control" name="t_phone_no" ng-model="model.t_phone_no"  ng-required="!optional" lng-placeholder="Tel number" ng-minlength="6" ng-maxlength="10" maxlength="10" ng-pattern="/^[0-9\-]+$/"  />
        <p class="help-block" ng-if="dataForm.t_phone_no.$error.required" lng>Please enter the telephone number</p>
    <p class="help-block" ng-if="dataForm.t_phone_no.$error.minlength || dataForm.telno.$error.maxlength" lng>The length of the telephone number is invalid!</p>
    <p class="help-block" ng-if="dataForm.t_phone_no.$error.pattern" lng>The telephone number is invalid, please use digits only!</p>
      </div>

     </div>
    </div>
