<h2 lng>Login notification settings</h2>

<div lng>The notifications will be delivered to the tech contact email of your account.</div>
<ng-transclude ></ng-transclude>

     <form class="margintop" name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
			<div class="checkbox" >
	          <label >
			    <input type="checkbox"  ng-model="Account.u_email_login_ok" ng-true-value="1" ng-false-value="0">
			    <span lng>Notification about successful login events</span>
			  </label>
			</div>
     
      <div ng-show="Account.u_email_login_ok" class="form-group" show-errors>
        <label class="control-label colon" lng>Subsystems</label>
        <select multiple class="form-control" name="u_email_login_ok_subsystems" ng-model="Account.u_email_login_ok_subsystems"  required="" ng-options="subsystem as subsystem for subsystem in subsystems"></select>
        <p class="help-block" ng-if="dataForm.t_area_code.$error.required" lng>Data is required</p>
      </div>
       </div>


			<div class="checkbox" >
	          <label >
				  <input type="checkbox" ng-model="Account.u_email_login_fail" ng-true-value="1" ng-false-value="0">
				  <span lng>Notification about unsuccessful login attempts</span>
			  </label>
			</div>

	        <div class="text-center">
				<button  class="btn btn-success" ng-click="fire()" lng="Save"></button>
	        </div>
        </fieldset>
     </form>
