
<h2 lng>Log of login events</h2>

<div class="form-inline">

  <div class="input-group">
      <label class="sr-only" lng>Not before</label>
      <input type="text" uib-datepicker-popup  is-open="notbefore_opened" class="form-control" ng-model="notbefore" lng-placeholder="Not before">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notbefore_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  
  <div class="input-group">
      <label class="sr-only" lng>Not after</label>
      <input type="text" uib-datepicker-popup  is-open="notafter_opened" class="form-control" ng-model="notafter" lng-placeholder="Not after">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notafter_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  
  <div class="form-group">
      <label class="sr-only" lng>Subsystem</label>
      <select class="form-control" ng-model="l_subsystem"><option ng-repeat="subsys in ::subsystems" value="{{ subsys }}" lng="LOGINLOG_SUBSYSTEM_{{::subsys}}"></option></select>
  </div>
  <div class="form-group">
      <label class="sr-only" lng>Successfullness</label>
      <select class="form-control" ng-model="l_successful"><option ng-repeat="succ in ::successfullness" value="{{ succ }}" lng="SUCCESSFUL_BOOLEAN_{{::succ}}"></option></select>
  </div>

  <button class="btn btn-default" ng-click="pipeHelper.re()" lng>Apply filter</button>

</div>

<br/>

  <table mc-grid st-pipe="refetch" class="loginlog-table">
    <caption lng>Event list</caption>
    <thead>
      <tr>
        <th st-sort="l_timestamp" lng>Timestamp</th>
        <th st-sort="l_server" lng>Server</th>
        <th st-sort="l_username" lng>Username</th>
        <th st-sort="l_ip" lng>IP address</th>
        <th st-sort="l_country" lng>Country</th>
        <th st-sort="l_subsystem" lng>Subsystem</th>
        <th st-sort="l_event_type" lng>Event type</th>
        <th st-sort="l_agent" lng>Client application</th>
        <th st-sort="l_grants" ng-if="!hideGrants" lng>Grants</th>
        <th st-sort="l_successful" lng>Successful</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in displayedCollection" >

        <td >{{event.l_timestamp}}</td>
        <td >{{event.l_server}}</td>
        <td >{{event.l_username}}</td>
        <td >{{event.l_ip}}</td>
        <td >{{event.l_country}}</td>
        <td lng="LOGINLOG_SUBSYSTEM_{{event.l_subsystem}}"></td>
        <td >{{event.l_event_type}}</td>
        <td >{{event.l_agent}}</td>
        <td ng-if="!hideGrants" >{{event.l_grants}}</td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="event.l_successful"></span><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-hide="event.l_successful"></span></td>
      </tr>
    </tbody>
  </table>

