<h2 lng>Grant administration privilege</h2>

 <mc-alert-box alert-type="info" message="You can grant administrator access to your account for someone else. Please provide the e-mail address of whom you're about to grant the access to (he/she must already have an account here)"></mc-alert-box>

     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Primary e-mail address</label>
        <input type="email" name="e_email" class="form-control" ng-model="x.grant_access_for" required lng-placeholder="E-mail" />
        <p class="help-block" ng-if="dataForm.e_email.$error.required" lng>Please enter the e-mail address</p>
        <p class="help-block" ng-if="dataForm.e_email.$error.email" lng>The specified e-mail address is invalid</p>


      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>
        </fieldset>
     </form>
