<h2 lng>User account details</h2>

<ng-transclude ></ng-transclude>

     <div class="margintop form-horizontal" >

  <div class="form-group">
    <label class="col-sm-6 control-label" lng>Name of the user account</label>
    <div class="col-sm-6">
      <p class="form-control-static" ng-bind="Account.u_name"></p>
    </div>
    </div>

  <div class="form-group">
    <label class="col-sm-6 control-label" lng>Primary e-mail address</label>
    <div class="col-sm-6">
      <p class="form-control-static" ng-bind="Account.u_primary_email"></p>
    </div>
    </div>

  <div class="form-group">
    <label class="col-sm-6 control-label" lng>Primary telephone number</label>
    <div class="col-sm-6">
      <p class="form-control-static" ng-bind="Account.u_primary_tel"></p>
    </div>
    </div>


	        <div class="text-center">
				<button  class="btn btn-success" ng-click="fire()" lng="Continue"></button>
	        </div>
     </div>
