<h2 lng>Callback request received</h2>
<div lng>
  Thank you for your interest in our service! One of our colleagues is going to get in touch with you as soon as possible to clarify any questions of yours regarding our products.
</div>
