<h3 lng>Cleanup old e-mails</h3>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Remove e-mail that are older than (days)</label>
        <input type="number" class="form-control" name="older_than_days" ng-model="data.older_than_days" lng-placeholder="Remove e-mails older than days" required >
        <p class="help-block"  ng-if="dataForm.older_than_days.$error.required" lng>Data is required</p>
      </div>


          <div class="text-center">
        <button  class="btn btn-warning" ng-click="fire()" confirm lng>Delete</button>
          </div>

        </fieldset>
     </form>
