
  <div class="margintop alert alert-info" role="alert">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        <span lng>For security reasons, access to this interface is time limited. Once the countdown is reached, you'll need to login again.</span> <button class="btn btn-default" ng-click="logout()"><span lng>Remaining seconds:</span> {{counter}}</button>
    </div>