<h3 lng>Change password</h3>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>New password</label>
        <input type="password" class="form-control" name="new_password" ng-model="data.new_password" lng-placeholder="New password" required >
        <p class="help-block"  ng-if="dataForm.new_password.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.new_password.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Repeat the new password</label>
        <input type="password" class="form-control" name="tmp_password" ng-model="tmp.new_password" lng-placeholder="Repeat the new password" same-as="data.new_password" cleanpassword required >
        <p class="help-block"  ng-if="dataForm.tmp_password.$error.required" lng>Please repeat the password</p>
        <p class="help-block"  ng-if="dataForm.tmp_password.$error['same-as']" lng>The passwords you entered don't match</p>        
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>
