<h3 lng>Whitelists and blacklists</h3>


<div  ng-if="lookupReady">
  <div class="table-responsive" ng-if="lookup.length">
  <table class="table table-striped table-hover margintop lastColumnThin">
    <caption lng>White and blacklist</caption>
        <thead>
          <tr>
            <th lng>E-mail address</th>
            <th lng>Action</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

  <tr ng-repeat="line in lookup" >
    <td>{{ line.wb_senderemail }}</td>
    <td lng="EMAIL_WHITEBLACKLIST_ACTION_{{line.wb_action}}"></td>
    <td>
       <button class="btn btn-default" ng-click="remove(line)" lng>Delete</button>
    </td>
  </tr>


  </tbody>
  </table>

  </div>

  <mc-alert-box ng-show="!lookup.length" alert-type="info" message="Nothing is configured so far."></mc-alert-box>

</div>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>E-mail address of the sender</label>
        <input type="email" class="form-control" name="wb_senderemail" ng-model="data.wb_senderemail" lng-placeholder="E-mail address of the sender" required >
        <p class="help-block"  ng-if="dataForm.wb_senderemail.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Action</label>
        <select class="form-control" name="wb_action"  ng-model="data.wb_action" required ><option ng-repeat="action in actions" value="{{ action }}"  lng="EMAIL_WHITEBLACKLIST_ACTION_{{::action}}"></option></select>
        <p class="help-block"  ng-if="dataForm.wb_action.$error.required" lng>Data is required</p>        
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>
