<h2 lng>E-mail account settings</h2>

<div ng-hide="loggedIn">

<h3 lng>Login</h3>

<mc-alert-box alert-type="info" message="For security reasons, in order to use the e-mail related admin controls below, you need to authenticate the e-mail account first."></mc-alert-box>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>E-mail account</label>
        <input type="email" class="form-control" name="ea_email" ng-model="account.ea_email" lng-placeholder="Your complete e-mail address, like yourname@yourdomain.tld" ng-disabled="email" required >
        <p class="help-block"  ng-if="dataForm.ea_email.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.ea_email.$error.email" lng>Invalid e-mail address</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>E-mail password</label>
        <input type="password" cleanpassword class="form-control" name="ea_password" ng-model="account.ea_password" lng-placeholder="The password belonging to the e-mail account to be managed" required >
        <p class="help-block"  ng-if="dataForm.ea_password.$error.required" lng>Data is required</p>
      </div>



          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Login</button>
          </div>

        </fieldset>
     </form>
</div>

<div ng-show="loggedIn" mc-view="subControls"></div>
