<h3 lng>Teaching the spam filter</h3>

<mc-alert-box alert-type="info" message="This is for advanced users. You can paste the source code of emails here to show them to the spam filtering engine for training purposes. Please note that the same effect can be achieved when moving e-mail messages into or out of the Junk folder."></mc-alert-box>

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Spam or ham</label>
           <select required class="form-control" ng-model="data.spam_or_ham" name="spam_or_ham"><option ng-repeat="option in ::spam_or_ham_options" value="{{ option }}" lng="{{::option}}"></option></select>
        <p class="help-block"  ng-if="dataForm.spam_or_ham.$error.required" lng>Data is required</p>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Source code of the e-mail</label>
        <textarea rows=10  required class="form-control" name="input" ng-model="data.input" required ></textarea>
        <p class="help-block"  ng-if="dataForm.input.$error.required" lng>Data is required</p>
      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Teach</button>
          </div>

        </fieldset>
     </form>
