<h3><span lng>Database export</span>: <span>{{::databaseName}}</span></h3>

<div lng>You can export the contents of your database. The destination file can be selected after clicking the Start button.</div>

<br/>

<center><button class="btn btn-success" ng-click="do()" lng>Start exporting</button></center>
