<h3 lng>Database connection info</h3>

<table class="table table-form">
<tr><td class="colon" lng>Hostname</td><td>{{::hostname}}</td></tr>
<tr><td class="colon" lng>Port</td><td lng>Default port of the DBMS</td></tr>
<tr><td class="colon" lng>Database name</td><td lng>As created</td></tr>
<tr><td class="colon" lng>Username</td><td lng>As created, matches database name by default</td></tr>
<tr><td class="colon" lng>Password</td><td lng>As created</td></tr>
</table>

