<h3 lng>Restore from regular backup</h3>

<mc-alert-box alert-type="info" message="The system creates regular daily backups of the databases hosted. In the list below you can pick one of them to restore your database from."></mc-alert-box>


 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Target database</label>
        <select class="form-control" name="database"  ng-model="backup.database" required ng-options="item as item for item in databases"></select>
        <p class="help-block"  ng-if="dataForm.database.$error.required" lng>Data is required</p>
      </div>


      <mc-dirlist-selectbox title="Database backup file" server="{{::server}}" wh-id="{{::whId}}" directory="{{::dbbackupDir}}" form="dataForm" model="backup" model-name="file" show-filesize="true"></mc-dirlist-selectbox>

      <mc-debug model="backup"></mc-debug>
 

          <div class="text-center">
        <button  class="btn btn-danger" ng-click="fire()" confirm lng>Restore</button>
          </div>

        </fieldset>
     </form>

