<h3 lng>List of slow database queries</h3>

<div class="form-inline">

  <div class="input-group">
      <label class="sr-only" lng>Not before</label>
      <input type="text" uib-datepicker-popup  is-open="notbefore_opened" class="form-control" ng-model="notbefore" lng-placeholder="Not before">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notbefore_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  
  <div class="input-group">
      <label class="sr-only" lng>Not after</label>
      <input type="text" uib-datepicker-popup  is-open="notafter_opened" class="form-control" ng-model="notafter" lng-placeholder="Not after">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notafter_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  

  <button class="btn btn-default" ng-click="refetch()" lng>Apply filter</button>

</div>

<br />

<table  mc-grid="slowlogs" class="margintop">
   <caption lng>Slow queries</caption>
      <thead>
        <tr>
          <th st-sort="ds_timestamp" lng>Timestamp</th>
          <th ng-if="superuser" st-sort="u_name"  lng>Account</th>
          <th ng-if="superuser" st-sort="wh_name"  lng>Webhosting</th>
          <th st-sort="ds_dbms">DBMS</th>
          <th st-sort="ds_database_name" lng>Database name</th>
          <th st-sort="ds_query" lng>Slowlog entry</th>
          <th st-sort="ds_time" lng>Time</th>
          <th st-sort="ds_locktime" lng>Locktime</th>
          <th st-sort="ds_rows_sent" lng>Rows sent</th>
          <th st-sort="ds_rows_examined" lng>Rows examined</th>
        </tr>
      </thead>
      <tbody>
<tr  ng-repeat="record in slowlogs">
  <td>{{::record.ds_timestamp }}</td>
  <td ng-if="superuser"><a href mc-switch-user-superuser="{{ record.db_user_id }}">{{ record.u_name || record.ds_user_id }}</a></td>
  <td ng-if="superuser">{{ record.wh_name }} ({{::record.ds_webhosting}})</td>
  <td>{{::record.ds_dbms }}</td>
  <td>{{::record.ds_database_name }}</td>
  <td>{{::record.ds_query }}</td>
  <td>{{::record.ds_time }}</td>
  <td>{{::record.ds_locktime }}</td>
  <td>{{::record.ds_rows_sent }}</td>
  <td>{{::record.ds_rows_examined }}</td>
</tr>


</tbody>

</table>


