
      <mc-dbms-database-list server="{{::server}}" databases="databases"></mc-dbms-database-list>

      <mc-dbms-database-create server="{{::server}}" wh-id='{{::whId}}' create-user="true"></mc-dbms-database-create>

      <mc-database-connection-info-general server="{{::server}}" wh-id="{{::whId}}"></mc-database-connection-info-general>
