<h3 lng>Database list</h3>


   <mc-alert-box alert-type="info" message="The usage stats of the databases are recalculated every night."></mc-alert-box>



<table mc-grid="dbs" class="margintop lastColumnThin">
  <caption lng>Databases</caption>
      <thead>
        <tr>
          <th ng-if="superuser" st-sort="u_name" lng>Account</th>
          <th ng-if="superuser" st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="dm_dbms_instance_name">DBMS</th>
          <th st-sort="db_database_name" lng>Database name</th>
          <th st-sort="db_tally_mb" lng>Usage (MB)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="record in displayedCollection">
  <td ng-if="superuser"><a href mc-switch-user-superuser="{{ record.db_user_id }}">{{ record.u_name || record.db_user_id }}</a></td>
  <td ng-if="superuser">{{ record.wh_name }} ({{::record.db_webhosting}})</td>
  <td>{{ record.dm_dbms_instance_name }}</td>
  <td>{{ record.db_database_name }}</td>
  <td>{{ record.db_tally_mb }}</td>
  <td>  

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a href ng-click="connectionInfo(record)" lng>Database connection info</a></li>
        <li class="divider"></li>
        <li role="menuitem" ><a href ng-click="dbusers(record)"  lng>Edit database users</a></li>
        <li role="menuitem" ><a href ng-click="export(record)"  lng>Backup</a></li>
        <li role="menuitem" ><a href ng-click="import(record)"  lng>Restore</a></li>
        <li class="divider"></li>
        <li role="menuitem" ><a href ng-click="repair(record)" confirm="This operation takes your database offline for a while. Please consider using this feature only if you suspect your tables became corrupt."  lng>Repair</a></li>
        <li role="menuitem" ><a href ng-click="delete(record)"  confirm lng>Delete database</a></li>        
      </ul>
    </div>


  </td>
</tr>


</tbody>
</table>



<div id="databaseSpecific"></div>

