      <mc-dbms-database-import-via-upload server="{{::server}}" wh-id='{{::whId}}' dbms-type="{{::dbmsType}}" database-name="{{::databaseName}}"></mc-dbms-database-import-via-upload>

      <mc-dbms-restore-from-fileman server="{{::server}}" wh-id='{{::whId}}'  database-name="{{::databaseName}}"></mc-dbms-restore-from-fileman>
