<h3 lng>Create a new database</h3>


<div ng-show="databaseCanBeCreated">

 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Name of the database</label>
        <input type="text" class="form-control" name="db_database_name" ng-model="database.db_database_name" lng-placeholder="Please give a name to your database"  required db-string>
        <p class="help-block"  ng-if="dataForm.db_database_name.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.db_database_name.$error.dbString" lng>Invalid name for database</p>
      </div>


      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Database server</label>
        <select class="form-control" name="db_dbms"  ng-model="database.db_dbms" required ng-options="item as item for item in supportedDbmsTypes"></select>
        <p class="help-block"  ng-if="dataForm.db_dbms.$error.required" lng>Data is required</p>
      </div>

      <div ng-show="createUser">

        <mc-alert-box alert-type="info" message="A database user with the same name as the database itself will be created as well. Please specify the password for it:"></mc-alert-box>

        <div class="form-group" show-errors>
          <label class="control-label colon" lng>Password for database user</label>
          <input type="password" class="form-control" name="u_password" ng-model="dbuser.u_password" required >
          <p class="help-block"  ng-if="dataForm.u_password.$error.required" lng>Data is required</p>
          <p class="help-block"  ng-if="dataForm.u_password.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
        </div>

      </div>

          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

</div>

<div ng-show="databaseCannotBeCreated">

   <mc-alert-box alert-type="warning" message="No (more) databases can be added in this webhosting package."></mc-alert-box>

</div>
