<h3 lng>Create a new database user</h3>



 <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">
 
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Name of the database user</label>
        <input type="text" class="form-control" name="u_username" ng-model="dbuser.u_username" lng-placeholder="Please give a name to your database user"  required db-string>
        <p class="help-block"  ng-if="dataForm.u_username.$error.required" lng>Data is required</p>
        <p class="help-block"  ng-if="dataForm.u_username.$error.dbString" lng>Invalid name for database</p>
      </div>


        <div class="form-group" show-errors>
          <label class="control-label colon" lng>Password for database user</label>
          <input type="password" class="form-control" name="u_password" ng-model="dbuser.u_password" required >
          <p class="help-block"  ng-if="dataForm.u_password.$error.required" lng>Data is required</p>
          <p class="help-block"  ng-if="dataForm.u_password.$error.passfield" lng>The password is weak (choose a longer one and/or use more character classes!)</p>
        </div>

      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Hostname (empty means no restriction)</label>
        <input type="text" class="form-control" name="u_hostname" ng-model="dbuser.u_hostname" >
      </div>


          <div class="text-center">
        <button  class="btn btn-success" ng-click="fire()" lng>Save</button>
          </div>

        </fieldset>
     </form>

