<h3 lng>MySQL connection info</h3>

<table class="table table-form">
<tr><td class="colon" lng>Hostname</td><td>{{::hostname}}</td></tr>
<tr><td class="colon" lng>Port</td><td>3306</td></tr>
<tr><td class="colon" lng>Database name</td><td>{{::databaseName}}</td></tr>
<tr><td class="colon" lng>Username</td><td>{{::databaseName}} <span lng>(by default)</span></td></tr>
<tr><td class="colon" lng>Password</td><td lng>As created</td></tr>
<tr><td class="colon" >phpMyAdmin</td><td><a ng-href="{{::phpMyAdminUrl}}" target="_blank">{{::phpMyAdminUrl}}</a></td></tr>
</table>

<div ng-if="phpMyAdminUrl">
  <div class="margintop alert alert-info" role="alert">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        <span lng>To import and export databases, we recommend using this administration panel instead of phpMyAdmin.</span>
    </div>
</div>


<h3 lng>Example PHP code to establish connection<h3>
<pre>
&lt;?php
$mysqli = new mysqli('{{::hostname}}', '{{::databaseName}}', '* {{::passwordLng}} *', '{{::databaseName}}');

if ($mysqli->connect_error) {
    die('Connect Error (' . $mysqli->connect_errno . ') '. $mysqli->connect_error);
}

echo 'Success... ' . $mysqli->host_info . "\n";

$mysqli->close();
?&gt;           </pre>
