<h3><span lng>Database import</span>: <span>{{::databaseName}}</span></h3>

<div lng>You can restore a backup SQL dump into your database.</div>

<div lng="DBMS_IMPORT_DESCRIPTION_{{::dbmsType}}"></div>
<br/><br/>

<div >
    <input type="file" fileread="content" filename="filename">
</div>

<br/><br/>


<center><button class="btn btn-danger" ng-click="do()" ng-disabled="!content" confirm="The contents of the selected database will be ovetwritten from the data coming from the selected dump file. Do you want to proceed?" lng>Start importing</button></center>
