<h3 ><span lng>Database users list</span>: <span>{{::databaseName}}</span></h3>


<div ng-show="dbusers && dbusers.length" class="table-responsive" >
<table class="table table-striped table-hover margintop lastColumnThin">
  <caption lng>Database users</caption>
      <thead>
        <tr>
          <th lng>Username</th>
          <th lng>Hostname</th>
          <th lng>Locked</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

<tr ng-repeat="record in dbusers">
  <td>{{ record.u_username }}</td>
  <td>{{ record.u_hostname }}</td>
  <td lng>BOOLEAN_{{::record.u_locked}}</td>
  <td>  

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li ng-if="superuser && !record.u_locked" role="menuitem" ><a href ng-click="lock(record)"  lng>Lock user</a></li>
        <li ng-if="superuser && record.u_locked" role="menuitem" ><a href ng-click="unlock(record)"  lng>Unlock user</a></li>
        <li role="menuitem" ><a href ng-click="delete(record)"  confirm lng>Delete database user</a></li>
        <li role="menuitem" ng-if="superuser" ><a href ng-click="delete(record, true)"  confirm lng>Delete database user (forced)</a></li>
      </ul>
    </div>


  </td>
</tr>


</tbody>
</table>

</div>

   <mc-alert-box ng-show="dbusers && !dbusers.length" alert-type="warning" message="No database users can be found."></mc-alert-box>
