
      <mc-dbms-dbusers-list server="{{::server}}" wh-id='{{::whId}}' database-name="{{::databaseName}}" dbusers="dbusers" superuser="{{::superuser}}"></mc-dbms-dbusers-list>

      <mc-dbms-dbusers-create server="{{::server}}" wh-id='{{::whId}}' database-name="{{::databaseName}}" superuser="{{::superuser}}"></mc-dbms-dbusers-create>
