  <td class="colon" lng>Current / max quota</td>
  <td><span ng-show="lookupFinished">{{webhosting.wh_tally_sum_storage_mb}} / {{webhosting.template.t_storage_max_quota_soft_mb}} MB</span></td>
  <td></td>
