    <a href="#"><i class="fas fa-server fa-fw"></i> <span lng>Webstore controls</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a mc-sref="mc-webhosting-info" mc-sref-params="params" lng>Information</a>
        </li>

        <li>
            <a href="#"><span lng>Dynamic content (eg. PHP)</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li><a mc-sref="mc-docker-containers" mc-sref-params="params" lng>Application containers</a></li>
                <li><a mc-sref="mc-ssh-access" mc-sref-params="params" lng>SSH access</a></li>
                <li class="divider"></li>                
                <li><a mc-sref="mc-webhosting-slowlog-list-user" mc-sref-params="params" lng>PHP slowlog</a></li>
                <li class="divider"></li>
                <li><a mc-sref="mc-webhosting-accesslog-list-user" mc-sref-params="params" lng>Web apps CPU statistics</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><span lng>File manager, FTP/SFTP</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li><a mc-sref="mc-webhosting-fileman" mc-sref-params="params" lng>File manager</a></li>
                <li><a mc-sref="mc-fileman-inter-store-copy-wizard" mc-sref-params="params" lng>Webstore copy wizard</a></li>
                <li class="divider"></li>
                <li><a mc-sref="mc-ftp-list-and-add" mc-sref-params="params" lng>FTP/SFTP accounts</a></li>
                <li><a mc-sref="mc-ftp-acl-controls" mc-sref-params="params" lng>ACL settings for the FTP server</a></li>
                <li class="divider"></li>
                <li><a mc-sref="mc-loginlog-and-settings" mc-sref-params="params" lng>Login log</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><span lng>Databases</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li><a mc-sref="mc-dbms-databases" mc-sref-params="params" lng>Manage databases</a></li>
                <li><a mc-sref="mc-dbms-slowlog-list-user" mc-sref-params="params" lng>List of slow database queries</a></li>
                <li><a mc-sref="mc-dbms-restore-from-fileman" mc-sref-params="params" lng>Restore database</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><span lng>Version control</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li><a mc-sref="mc-git-main" mc-sref-params="params">Git</a></li>
                <li><a mc-sref="mc-git-ssh-settings" mc-sref-params="params" lng>Git settings</a></li>
            </ul>
        </li>

        <li>
            <a mc-sref="mc-email-summary" mc-sref-params="params" lng>E-mail summary</a>
        </li>

        <li>
            <a mc-sref="mc-installatron-kickoff" mc-sref-params="params">Installatron</a>
        </li>

        <li>
            <a href="#"><span lng>Backups</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li mc-szar-link-web server="{{params.server}}" wh-id="{{params.whId}}"></li>
                <li><a mc-sref="mc-fileman-site-backup" mc-sref-params="params" lng>Backup web contents</a></li>
                <li><a mc-sref="mc-webhosting-restore" mc-sref-params="params" lng>Restore web contents</a></li>
                <li class="divider"></li>
                <li><a mc-sref="mc-dbms-restore-from-fileman" mc-sref-params="params" lng>Restore database</a></li>
            </ul>
        </li>


        <li>
            <a href="#"><span lng>Security</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li><a mc-sref="mc-cert-list-and-add" mc-sref-params="params" lng>SSL/TLS certificates</a></li>
                <li><a mc-sref="mc-webhosting-security" mc-sref-params="params" lng>Security settings</a></li>
                <li><a mc-sref="mc-webhosting-firewall" mc-sref-params="params" lng>Firewall</a></li>
                <li><a mc-sref="mc-docroot-webhosting-protected-dir-accounts" mc-sref-params="protectedDirParams" lng>Password protected directories</a></li>
                <li><a mc-sref="mc-ssh-access" mc-sref-params="params" lng>SSH access</a></li>
                <li><a mc-sref="mc-fileman-site-del" mc-sref-params="params" lng>Wipe storage</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><span lng>Miscallaneous</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li><a mc-sref="mc-docroot-vts-list" mc-sref-params="params" lng>Traffic statistics</a></li>
                <li><a mc-sref="mc-cron-list-and-add" mc-sref-params="params" lng>Scheduled tasks</a></li>
                <li><a mc-sref="mc-docroot-domains-of-webstore" mc-sref-params="params" lng>Document roots</a></li>
            </ul>
        </li>
    </ul>
