<h3 lng>Domains attached</h3>

<div ng-class="{panel: panel, 'panel-default': panel}">
		<div ng-if="panel" class="panel-heading">
            <i class="fab fa-font-awesome-flag fa-fw"></i> <span lng>Domains attached to this webstore</span>
        </div>

     	<div class="inner-padding">
			<div class="table-responsive">
			<table class="table table-form table-striped table-hover lastColumnThin">
			<thead>
			  <tr><th lng>Domain name</th><th></th></tr>
			</thead>
			<tbody>

			 <tr ng-repeat="domain in domains">
			   <td>{{::domain}}</td>
			   <td>

    <div class="btn-group" uib-dropdown  dropdown-append-to-body>
      <button  id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle >
        <span lng>Actions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ><a mc-sref="mc-domain-info" mc-sref-params="{domain: domain, server: server, whId: whId}" lng>Information</a></li>
        <li class="divider"></li>
        <li role="menuitem" ><a mc-sref="mc-docroot-webhosting-docroots" mc-sref-params="{server:server,domain:domain,whId:whId,display:domain}"   lng>Web server document roots</a></li>
        <li role="menuitem" ><a mc-sref="mc-docroot-redirects" mc-sref-params="{server:server,domain:domain,whId:whId,display:domain}" lng>Web server redirects</a></li>
        <li class="divider"></li>
        <li role="menuitem" ><a mc-sref="mc-email-account-list-and-add" mc-sref-params="{domain: domain, display: domain, server: server, whId: whId}" lng>Manage e-mail accounts</a></li>
        <li role="menuitem" ><a mc-sref="mc-email-alias-list-and-add" mc-sref-params="{domain: domain, display: domain, server: server, whId: whId}" lng>Manage e-mail aliases</a></li>
        <li class="divider"></li>
        <li role="menuitem" ><a mc-sref="mc-dns-admin" mc-sref-params="{domain: domain, template: server}" lng>DNS record admin</a></li>
        <li class="divider"></li>
        <li role="menuitem" ><a href confirm="If there are any mail boxes created on this storage for this domain, this operation will remove them. Do you want to proceed?" ng-click="detach(domain)"  lng>Detach domain from the webstore</a></li>
      </ul>
    </div>

			   </td>
			 </tr>

	        </tbody>
			</table>
			</div>

        <div class="text-center">
          <a mc-sref="mc-attach-domain" mc-sref-params="{server:server,whId:whId}" class="btn btn-default" lng>Attach domain to the webstore</a>
        </div>

	    </div>



</div>
