
<mc-alert-box ng-show="webhosting.wh_is_expired" alert-type="warning" message="This webhosting package has expired."></mc-alert-box>

<mc-alert-box ng-show="webhosting.wh_is_readonly" alert-type="info" message="The files on this webhosting storage are in read-only mode."></mc-alert-box>


<pre ng-show="webhosting">{{webhosting|json}}</pre>

<mc-webhosting-php-selector server="{{::server}}" wh-id="{{::whId}}"></mc-webhosting-php-selector>

<mc-webhosting-firewall server="{{::server}}" wh-id="{{::whId}}"></mc-webhosting-firewall>
