<h3 lng>Web application request statistics</h3>

<div class="form-inline">


  <div class="input-group">
      <label class="sr-only" lng>Not before</label>
      <input type="text" uib-datepicker-popup  is-open="notbefore_opened" class="form-control" ng-model="notbefore" lng-placeholder="Not before">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notbefore_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  
  <div class="input-group">
      <label class="sr-only" lng>Not after</label>
      <input type="text" uib-datepicker-popup  is-open="notafter_opened" class="form-control" ng-model="notafter" lng-placeholder="Not after">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notafter_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  

  <button class="btn btn-default" ng-click="refetch()" lng>Apply filter</button>

</div>

<br/>

<table mc-grid="accesslogs" class="margintop">
  <caption lng>Web application request statistics</caption>
      <thead>
        <tr>
          <th st-sort="al_timestamp" lng>Timestamp</th>
          <th st-sort="sl_user_id" ng-if="superuser" lng>Account</th>
          <th st-sort="wh_name" ng-if="superuser" lng>Webhosting</th>
          <th st-sort="al_vhost"  lng>Virtual host</th>
          <th st-sort="al_stat_user"  lng>User</th>
          <th st-sort="al_stat_system"  lng>System</th>
          <th st-sort="al_stat_mempeak"  lng>Mem peak</th>
          <th st-sort="al_stat_servtime"  lng>Serv time</th>
          <th st-sort="al_stat_hits"  lng>Hits</th>
        </tr>
      </thead>

<tr ng-repeat="record in displayedCollection">
  <td>{{::record.al_timestamp }}</td>
  <td ng-if="superuser"><a href mc-switch-user-superuser="{{ record.sl_user_id }}">{{ record.u_name || record.user_id }}</a></td>
  <td ng-if="superuser">{{ record.wh_name }} ({{::record.al_webhosting}})</td>
  <td >{{::record.al_vhost}}</td>
  <td >{{::record.al_stat_user}}</td>
  <td >{{::record.al_stat_system}}</td>
  <td >{{::record.al_stat_mempeak}}</td>
  <td >{{::record.al_stat_servtime}}</td>
  <td >{{::record.al_stat_hits}}</td>
</tr>

</table>



<div ng-if="superuser">
  <h3 lng>Admin options</h3>

  <center>
      <button ng-disabled="processDisabled" class="btn btn-default" ng-click="process()" lng>Process entries now</button>
  </center>

</div>