	  <td class="colon" lng>Current / max domains</td>
	  <td><span ng-show="lookupFinished">{{domains_count}} / {{::webhosting.template.t_domains_max_number_attachable}}</span></td>
	  <td ng-if="!twoColumns"></td>
