  <h3 lng>Attaching an external domain</h3>

<div ng-show="txtrecords">
<mc-alert-box ng-hide="txtrecords.required" alert-type="info" message="You can attach external domains by submitting the form below and then changing the DNS servers of the domain to ours by using the control panel where the domain was registered."></mc-alert-box>

<mc-alert-box ng-show="txtrecords.required" alert-type="warning" message="Attaching external domains is allowed only after authorization: you need to create a TXT record with a custom value at the control panel where the domain was registered. Note that delegation of DNS records might have some propagation delay, please be patient."></mc-alert-box>

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span lng>If you don't have the chance to modify the TXT records at the external service provider, or just can't manage to complete the process, please reach out to our customer support team:</span> <a ng-href="{{config.customer_service_url}}" target="_blank">{{config.customer_service_url}}</a>
</div>


</div>

  <div>
      <div class="bold" lng>DNS configuration</div>

      <table class="table table-striped table-hover">
        <tbody ng-show="!showDnsRecords">
        <tr ng-repeat="dnsServer in dnsServers">
           <td class="colon"><span lng>DNS server</span> #{{::dnsServer.i}}</td>
           <td>{{::dnsServer.hostname}}</td>
        </tr>

        </tbody>

        <tbody ng-show="showDnsRecords">
        <tr >
           <td class="colon" lng>DNS A record for the bare domain</td>
           <td>{{::txtrecords.a_record}}</td>
        </tr>

        <tr >
           <td class="colon" lng>CNAME records for the aliases (www.)</td>
           <td>{{::server}}.{{config.service_primary_domain}}</td>
        </tr>
        </tbody>


      </table>

      <input type="checkbox" id="showDnsRecords" ng-model="showDnsRecords" > <label for="showDnsRecords" lng>I prefer configuring the DNS records only</label>

  </div>

  <br/>

  <div ng-hide="txtCode">
  <form novalidate name="dataForm">
    <fieldset ng-disabled="isInProgress">


      <div class="form-group" show-errors>
          <label class="control-label colon" lng>Domain to be attached</label>
            <input type="text" name="domain" ng-model="domain" class="form-control" required pattern=".+\.[a-z0-9]{2,}$" >
            <p class="help-block"  ng-if="dataForm.domain.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="dataForm.domain.$error.pattern" lng>Domain name syntax is invalid</p>
      </div>

        <div class="text-center" ng-if="!$parent.domainsExceeded">
           <span>
             <button class="btn btn-success" ng-click="fire()" lng>Save</button>
           </span>
        </div>
  	</fieldset>
  </form>
  </div>

      <mc-alert-box ng-show="showSuccess && dnsSuccess" alert-type="success" message="The domain has been added to our systems successfully, which includes creation of DNS zones as well. To finish this operation, you're expected to change the DNS servers to to the configuration displayed above, which offers you the most seamless experience of using our service."></mc-alert-box>

      <mc-alert-box ng-show="showSuccess && !dnsSuccess" alert-type="success" message="The domain has been added to our systems successfully. To finish this operation, you're expected to change the DNS records to point the domain to this service."></mc-alert-box>


  <div ng-show="txtCode && !showSuccess">
      <table class="table table-striped table-hover">
        <tbody >
        <tr >
           <td class="colon"><span lng>TXT record for</span> {{::txtCode.bareDomain}}</td>
           <td>{{::txtCode.code}}</td>
        </tr>

        </tbody>
      </table>

      <mc-alert-box alert-type="info" message="To authorize the domain, we require the DNS TXT record with the value displayed above to be created. Once it is done, please click the Finish button below."></mc-alert-box>

        <div class="text-center">
           <span>
             <button class="btn btn-success" ng-click="fire()" lng>Finish</button>
           </span>
        </div>

  </div>
