<h3 lng>Restore webhosting contents from regular backup</h3>

<mc-alert-box ng-show="readonly.isReadonly"  message="This webhosting is in read-only mode, restoration is not possible!" ></mc-alert-box>



<div ng-hide="readonly.isReadonly">

   <mc-alert-box  message="Please navigate the browser box below to the directory you would like to restore. The restoration process is going to remove all files from the selected subfolder recursively before the backup archive is restored. Please note that this control does not change the database contents in any way." ></mc-alert-box>


      <mc-fileman  server="{{::server}}" wh-id='{{::whId}}' no-buttons="true" browse-callback="browseCallback(dir, files)"></mc-fileman>

     <form name="dataForm" novalidate>
       <fieldset ng-disabled="isInProgress">

      <div class="form-group" show-errors>
            <label class="control-label colon" lng>Backup archive to restore</label>
    <select ng-model="checkpoint" name="checkpoint" required class="form-control">
    	  <option ng-repeat="checkpoint in ::checkpoints" value="{{checkpoint}}">{{checkpoint}}</option>
    </select>
            <p class="help-block"  ng-if="dataForm.checkpoint.$error.required" lng>Data is required</p>

    </div>

    <center>
      <buttton class="btn btn-danger" ng-disabled="shouldRestoreButtonBeDisabled()" ng-click="fire()" confirm lng>Start restoring</buttton>
      <buttton class="btn btn-default" ng-click="szarWebAdmin()" lng>Browse backups</buttton>
    </center>

    </fieldset>
    </form>
</div>
