  <td class="colon" ><abbr lng-title="This feature will send out e-mail notification when any changes are deteceted in dynamic content of your storage. Monitoring is not real-time, but is executed nightly." lng>Watching content changes</abbr></td>
  <td>
     <span ng-show="webhosting && webhosting.wh_notify_script_differences" lng>Enabled</span>
     <span ng-show="webhosting && !webhosting.wh_notify_script_differences" lng>Disabled</span>
  </td>
  <td>
      <button ng-show="webhosting && !webhosting.wh_notify_script_differences" class="btn btn-default" ng-click="turn(true)" lng>Turn on</button>
      <button ng-show="webhosting && webhosting.wh_notify_script_differences" class="btn btn-default" ng-click="turn(false)" lng>Turn off</button>

  </td>
