  <h3 lng>Security settings of the webhosting package</h3>

<table class="table table-form">

        <tr mc-readonly-row server="{{::server}}" wh-id="{{::whId}}"></tr>

        <tr mc-webhosting-script-watcher-row server="{{::server}}" wh-id="{{::whId}}"></tr>

</table>

<div>
	<h3 lng>Security settings for document roots</h3>

	<div ng-repeat="domain in ::webhostingDomains">
		<mc-docroot-settings server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}" hide-page-header="true" security-only="true"></mc-docroot-settings>		
	</div>
</div>



<mc-ftp-acl-controls server="{{::server}}" wh-id='{{::whId}}'></mc-ftp-acl-controls>
