  <td class="colon" lng>Current / max size of databases</td>
  <td><span ng-show="lookupFinished">{{webhosting.wh_tally_db_storage_mb}} / {{webhosting.template.t_db_max_databases_size_mb}} MB</span></td>
  <td></td>
