
      <div class="form-group" show-errors>
        <label class="control-label colon" lng="{{::title}}"></label>
        <input type="text" class="form-control" name="{{::modelName}}" ng-model="model[modelName]" required lng-placeholder="{{::placeholder}}" uib-typeahead="path for path in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults"  autocomplete="off" >
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> <span lng>No results found</span>
    </div>

        <p class="help-block"  ng-if="form[modelName].$error.required" lng>Data is required</p>
      </div>
