<h2 lng>Attach domain to the webstore</h2>

<div ng-if="!predefinedServerWhId">
  <form name="dataForm">
    <mc-global-webhosting-selector model="whInc" change="whSelected()"></mc-global-webhosting-selector>
  </form>
</div>
<div ng-if="server && whId && !resetStuff">
<h3 lng>Target webstore</h3>
  <table class="table table-striped table-hover">
    <tr >
       <td class="colon">ID</td>
       <td>{{whId}}</td>
    </tr>

    <tr >
       <td class="colon" lng>Server</td>
       <td>{{server}}</td>
    </tr>

    <tr >
       <td class="colon" lng>Name</td>
       <td>{{wh.wh_name}}</td>
    </tr>

      <tr ng-class="{danger: domainsExceeded}" mc-webhosting-domain-row two-columns="true" server="{{server}}" wh-id="{{whId}}" ></tr>

  </table>

     <div>
      <input type="checkbox" id="initDocroot" ng-model="initDocroot" > <label for="initDocroot" lng>Initialize the webserver docroot's</label>
     </div>

     <div>
      <input type="checkbox" id="initMailSubsystem" ng-model="initMailSubsystem" > <label for="initMailSubsystem" lng>Initialize the mail subsystem</label>
    </div>

<mc-alert-box alert-type="info" message="When attaching a domain, omit the www. suffix, it will be configured by our systems automatically."></mc-alert-box>

<mc-alert-box alert-type="info" message="When DNS records need to be created along with the process, the propagation time might be slower depending on the configuration. Please be patient for at least an hour before turning to the customer support."></mc-alert-box>

  <mc-attach-domain-already-authorized server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}"></mc-attach-domain-already-authorized>

  <mc-attach-domain-subdomain server="{{::server}}" wh-id="{{::whId}}" domain="{{::domain}}"></mc-attach-domain-subdomain>

  <mc-attach-domain-external ng-if="!domain" server="{{::server}}" wh-id="{{::whId}}"></mc-attach-domain-external>
</div>
