  <td class="colon" lng>Current / max e-mail accounts</td>
  <td><span ng-show="lookupFinished">{{email_accounts_count}} / {{webhosting.template.t_email_max_number_of_accounts}}</span></td>
  <td></td>
