
      <div class="form-group" show-errors>
        <label class="control-label colon" lng>Webhosting</label>

        <div ng-show="items">
	        <div ng-show="items.length">
	          <select ng-required="required" name="webhosting_selector" class="form-control" ng-options="item as item.label for item in items" ng-model="local" ng-change="onChange()"></select>
	        </div>
	        <div ng-hide="items.length">
	          <mc-alert-box alert-type="info" message="There are no destination packages."></mc-alert-box>
	        </div>
        </div>

        <p class="help-block"  ng-if="dataForm.webhosting_selector.$error.required" lng>Data is required</p>

      </div>

  
<mc-debug model="model"></mc-debug>
