  <h3 lng>Already authorized domains</h3>

      <div ng-show="ready">
  <form name="dataForm" novalidate="">
    <fieldset ng-disabled="isInProgress">

      <div ng-show="domains.length">

      <div class="form-group" show-errors>
              <label class="control-label colon" lng>Domain to be attached</label>
        <select ng-model="domain" name="domain" required class="form-control">
        	  <option ng-repeat="dom in ::domains" value="{{dom}}">{{dom}}</option>
        </select>
              <p class="help-block"  ng-if="dataForm.domain.$error.required" lng>Data is required</p>
      </div>

      <div>
        <input type="checkbox" ng-model="resetDns" > <label for="resetDns" lng>Automatically configure the DNS zone</label>
      </div>

      </div>

      <div ng-show="allDomains.length" >
         <div ng-hide="domains.length" lng>There are no domains bound to your account that are not attached to any webstores yet.</div>
        <input ng-change="recalc()" type="checkbox" id="showAllDomains" ng-model="showAllDomains" > <label for="showAllDomains" lng>Show all domains no matter if they are already attached</label>
      </div>

      <mc-alert-box ng-show="!allDomains.length && !domain" message="There are no domains attached to your account."></mc-alert-box>
      <mc-alert-box ng-show="!allDomains.length && domain" message="You are not authorized to attach this domain to any of the webstores."></mc-alert-box>

      <div ng-show="domains.length">

        <div class="text-center" ng-if="!$parent.domainsExceeded">
           <span>
             <button class="btn btn-success" ng-click="fire()" lng>Save</button>
           </span>
        </div>
      </div>


  	</fieldset>
  </form>
    </div>
