  <td class="colon" lng>Current / max number of databases</td>
  <td><span ng-show="lookupFinished">{{dbms_length||webhosting.estimated_databases_count}} / {{webhosting.template.t_db_max_number_of_databases}}</span></td>
  <td></td>
