  <td class="colon" lng>Current / max e-mail aliases</td>
  <td><span ng-show="lookupFinished">{{email_aliases_count}} / {{webhosting.template.t_email_max_number_of_aliases}}</span></td>
  <td></td>
