

<div ng-class="{row: !rowsNotSupported}">

	<div ng-class="{'col-lg-8': !rowsNotSupported}">

<h3 lng>Webstore info</h3>

<mc-alert-box ng-show="webhosting.wh_is_expired" alert-type="warning" message="This webhosting package has expired."></mc-alert-box>

<mc-alert-box ng-show="is_readonly" alert-type="info" message="The files on this webhosting storage are in read-only mode."></mc-alert-box>

<div class="panel panel-default">
		<div class="panel-heading">
            <i class="fas fa-info fa-fw"></i> <span lng>Webstore info</span>

				<div mc-if-role="SUPERUSER" class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" >
                                        <span lng>Actions</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li mc-superuser-webhosting-edit-link server="{{::server}}" wh-id="{{::whId}}"></li>
                                    </ul>
                                </div>
                            </div>

        </div>

    <div class="inner-padding">

	<div class="table-responsive">
	<table class="table table-form">
		<thead>
			<tr>
				<th lng>Name</th>
				<th lng>Value</th>
				<th></th>
		  </tr>
		</thead>
	<tbody transclude-next>
	    <tr mc-webhosting-renamer-row server="{{::server}}" wh-id="{{::whId}}" extra-call="{{::renameExtraCall}}"></tr>

	<tr>
	  <td class="colon" >ID</td>
	  <td>{{whId}}</td>
	  <td></td>
	</tr>

	<tr>
	  <td class="colon" lng>Server</td>
	  <td>{{server}}</td>
	  <td></td>
	</tr>
	</tbody>

	<tbody>
	    <tr mc-webhosting-quota-row server="{{::server}}" wh-id="{{::whId}}" ></tr>

	    <tr mc-webhosting-domain-row server="{{::server}}" wh-id="{{::whId}}" ></tr>

	    <tr mc-webhosting-email-accounts-row server="{{::server}}" wh-id="{{::whId}}" ></tr>

	    <tr mc-webhosting-email-aliases-row server="{{::server}}" wh-id="{{::whId}}" ></tr>

	    <tr mc-webhosting-ftp-accounts-row server="{{::server}}" wh-id="{{::whId}}" ></tr>

	    <tr mc-webhosting-dbms-databases-row server="{{::server}}" wh-id="{{::whId}}" ></tr>
	    <tr mc-webhosting-dbms-sizes-row server="{{::server}}" wh-id="{{::whId}}" ></tr>

	    <tr mc-webhosting-mailpolicy-row server="{{::server}}" wh-id="{{::whId}}"  ></tr>

		<tr ng-if="webhosting.template">
		  <td class="colon" lng>Web statistics (AWStats) supported</td>
		  <td lng="BOOLEAN_{{webhosting.template.t_awstats_allowed}}"></td>
		  <td></td>
		</tr>

	    <tr mc-webhosting-script-watcher-row server="{{::server}}" wh-id="{{::whId}}" ></tr>
     <tbody>
	</table>

	</div>

    </div>

</div>

   </div>

   <div ng-class="{'col-lg-4': !rowsNotSupported}">
   	  <mc-webhosting-domains panel="true" server="{{::server}}" wh-id="{{::whId}}" ></mc-webhosting-domains>

   </div>

</div>

    <mc-webhosting-stat-chart panel="true" server="{{::server}}" wh-id="{{::whId}}" ></mc-webhosting-stat-chart>


<mc-debug model="webhosting"></mc-debug>

