  <td class="colon" lng>Webapp e-mail policy</td>
  <td><span ng-show="lookupFinished"><a href ng-click="mailList()">{{webhosting.template.t_webapp_email_quota_policy}}</a></span></td>
  <td></td>
