<div ng-show="canShow">
<h3 lng>Webstorage space usage statistics</h3>



<div ng-class="{panel: panel, 'panel-default': panel}">
		<div ng-if="panel" class="panel-heading">
            <i class="fas fa-signal fa-fw"></i> <span lng>Webstorage space usage statistics</span>
        </div>

<div class="row inner-padding">

     <div class="col-lg-6 col-md-6">

		<div class="checkbox">
		  <label><input type="checkbox" ng-checked="checked.web" ng-click="toggle('web')" ><span lng>Show web details</span></label>
		</div>

		<div class="checkbox">
		  <label><input type="checkbox" ng-checked="checked.db" ng-click="toggle('db')" ><span lng>Show database details</span></label>
		</div>

		<div class="checkbox">
		  <label><input type="checkbox" ng-checked="checked.mail" ng-click="toggle('mail')" ><span lng>Show e-mail details</span></label>
		</div>

		<div class="checkbox">
		  <label><input type="checkbox" ng-checked="checked.free" ng-click="toggle('free')" ><span lng>Show free space</span></label>
		</div>


     	
		<div class="table-responsive">
		<table class="table table-form">
		<thead>
		  <tr><th lng>Data source</th><th><span lng>Size</span> (MB)</th></tr>
		</thead>
		<tbody>

		 <tr ng-repeat="pieRow in pieData">
		   <td>{{::pieRow.label}}</td>
		   <td>{{::pieRow.value}}</td>
		 </tr>

        </tbody>
		</table>
		</div>


     </div>

     <div class="col-lg-6 col-md-6 text-center" >
       <div id="chart-area-container" style="max-width: 400px">
	      <canvas id="chart-area" width=400 height=400 ></canvas>
	   </div>
     </div>


  </div>
</div>

</div>
