<h3 lng>List of slow web application requests</h3>

<div ng-show="config.legacyPhpSlowlog">

<div class="form-inline">
  <div class="input-group">
      <label class="sr-only" lng>Not before</label>
      <input type="text" uib-datepicker-popup  is-open="notbefore_opened" class="form-control" ng-model="notbefore" lng-placeholder="Not before">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notbefore_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  
  <div class="input-group">
      <label class="sr-only" lng>Not after</label>
      <input type="text" uib-datepicker-popup  is-open="notafter_opened" class="form-control" ng-model="notafter" lng-placeholder="Not after">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notafter_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  

  <button class="btn btn-default" ng-click="refetch()" lng>Apply filter</button>

</div>

<br/>

<table mc-grid="slowlogs" class="margintop">
    <caption lng>List of slow web application requests</caption>
      <thead>
        <tr>
          <th st-sort="sl_timestamp" lng>Timestamp</th>
          <th ng-if="superuser" st-sort="u_name" lng>Account</th>
          <th ng-if="superuser" st-sort="wh_name" lng>Webhosting</th>
          <th st-sort="sl_appserver" lng>Application server</th>
          <th st-sort="sl_path" lng>Path</th>
          <th st-sort="sl_dump" lng>Stacktrace</th>
        </tr>
      </thead>
      <tbody ng-repeat="record in displayedCollection">
<tr >
  <td>{{::record.sl_timestamp }}</td>
  <td ng-if="superuser"><a href mc-switch-user-superuser="{{ record.sl_user_id }}">{{ record.u_name || record.sl_user_id }}</a></td>
  <td ng-if="superuser">{{ record.wh_name }} ({{::record.sl_webhosting}})</td>
  <td>{{::record.sl_appserver }}</td>
  <td>{{::record.sl_path }}</td>
  <td><pre>{{::record.sl_dump}}</pre></td>
</tr>

</tbody>

</table>

</div>

<div ng-hide="config.legacyPhpSlowlog">

  <mc-alert-box alert-type="info" message="The PHP-FPM log files can be found inside the webstore in the /php-fpm-logs directory."></mc-alert-box>

  <div ng-show="phpSlowlogFiles">

    <div ng-show="phpSlowlogFiles.length">
         <div class="form-group">
            <label class="control-label colon" lng>PHP slowlog file</label>
            <select ng-change="fetch()" class="form-control" ng-model="phpSlowlogFile"><option ng-repeat="phpSlowlogFile in phpSlowlogFiles" value="{{::phpSlowlogFile.fullPath}}">{{::phpSlowlogFile.name}} ({{::phpSlowlogFile.sizeHuman }})</option></select>
        </div>

        <pre ng-show="content">{{content}}</pre>
    </div>

    <div ng-hide="phpSlowlogFiles.length">
    <mc-alert-box alert-type="warning" message="No slowlog files found."></mc-alert-box>
    </div>


  </div>

  <div ng-hide="phpSlowlogFiles">
  <mc-alert-box alert-type="info" message="The files are being queried."></mc-alert-box>
  </div>

</div>