<h2 lng>Webhostings of this account</h2>

<div class="table-responsive">
<table mc-grid="webhostings" class="lastColumnThin">
  <caption lng>Webhosting packages</caption>
      <thead>
        <tr>
          <th st-sort="wh_id" lng>Webhosting ID</th>
          <th st-sort="wh_name" lng>Name</th>
          <th st-sort="w_server_name" lng>Server</th>
          <th st-sort="wh_template" lng>Webhosting package</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="records_root">

<tr ng-repeat="webhosting in displayedCollection">
  <td>{{ webhosting.wh_id }}</td>
  <td>{{ webhosting.wh_name }}</a></td>
  <td>{{ webhosting.w_server_name }}</a></td>
  <td>{{ webhosting.wh_template }}</td>
  <td><button class="btn btn-default" mc-sref="mc-webhosting-info" mc-sref-params="{server:webhosting.w_server_name,whId:webhosting.wh_id}" lng>Manage</button></td>
</tr>


</tbody>
</table>
</div>

<mc-alert-box ng-show="!showListing" alert-type="warning" message="There are no webhosting packages."></mc-alert-box>

<div id="webhosting"></div>
