  <h3 lng>Creating a subdomain</h3>
  <form novalidate name="dataForm" ng-show="domains.length">
    <fieldset ng-disabled="isInProgress">

   <div class="row">
    <div class="col-xs-6">
      <div class="form-group" show-errors>
          <label class="control-label colon" lng>Subdomain</label>
            <input type="text" pattern="^[a-z0-9\.\-]+$" lng-placeholder="The first host component of the subdomain to be created" name="subdomain" no-match="www" ng-model="subDomain" class="form-control" required >
            <p class="help-block"  ng-if="dataForm.subdomain.$error.required" lng>Data is required</p>
            <p class="help-block"  ng-if="dataForm.subdomain.$error.pattern" lng>Invalid syntax</p>
            <p class="help-block"  ng-if="dataForm.subdomain.$error.noMatch" lng>The prefix www. is handled automatically, you don't need to create it as a subdomain.</p>
      </div>
    </div>
    <div class="col-xs-1 center">
      <label class="control-label" lng>&nbsp;</label>
      <div><input type="text" readonly value="." class="form-control"></div>
    </div>
    <div class="col-xs-5">
      <div class="form-group" show-errors>
          <label class="control-label colon" lng>Main domain</label>
            <select ng-model="mainDomain" name="maindomain" required class="form-control">
                <option ng-repeat="dom in ::domains" value="{{dom}}">{{dom}}</option>
            </select>
            <p class="help-block"  ng-if="dataForm.maindomain.$error.required" lng>Data is required</p>
      </div>      
    </div>
   </div>

        <div class="text-center" ng-if="!$parent.domainsExceeded">
           <span>
             <button class="btn btn-success" ng-click="fire()" lng>Save</button>
           </span>
        </div>
  	</fieldset>
  </form>

  <mc-alert-box ng-show="!domains.length && ready" message="You are not authorized to attach this domain to any of the webstores."></mc-alert-box>
