<h3 lng>PHP version selector</h3>


    <mc-alert-box alert-type="info"  message="Changing the PHP backend does not cause any outage in the service and takes place in a minute. The change affects all the domains on the web storage (where this setting is not overridden)."></mc-alert-box>

    <mc-alert-box alert-type="info"  message="You cannot use .htaccess files to change PHP settings, but you can use PHP's <a target='_blank' href='{phpUserIniUrl}'>.user.ini</a> feature for this purpose." params="{phpUserIniUrl:phpUserIniUrl}"></mc-alert-box>

<div ng-show="mcConfig.legacyPhpSelector">

<form name="dataForm" novalidate>

    <div class="form-group" >
      <label class="control-label colon" lng>PHP version</label>
       <select ng-model="mywebhosting.wh_php_version" name="wh_php_version" class="form-control" ng-change="versionChange()" >
       <option value='' lng>Disabled</option>
       <option ng-repeat="version in supportedVersions" value='{{version.version}}' >{{version.version}}</option></select>
    </div>

    <mc-alert-box ng-show="showVersionWarning" alert-type="warning"  message="This version is deprecated, please avoid using it."></mc-alert-box>
  

   <div class="form-group">
     <div class="text-center" >
        <button  class="btn btn-success" ng-click="fire()" lng>Save settings</button>
     </div>
  </div>

</form>

</div>

<div ng-hide="mcConfig.legacyPhpSelector">


    <div class="alert alert-info" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="colon" lng>The desired PHP version can be selected by starting a new PHP container.</span> <a href mc-sref="mc-docker-containers" mc-sref-params="{server:server,whId:whId}" lng>Docker web applications</a>
    </div>


</div>
