
<h2 lng>Event log</h2>

<div class="form-inline">
  
  <div class="input-group">
      <label class="sr-only" lng>Not before</label>
      <input type="text" uib-datepicker-popup  is-open="notbefore_opened" class="form-control" ng-model="notbefore" lng-placeholder="Not before">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notbefore_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  
  <div class="input-group">
      <label class="sr-only" lng>Not after</label>
      <input type="text" uib-datepicker-popup  is-open="notafter_opened" class="form-control" ng-model="notafter" lng-placeholder="Not after">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="notafter_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>      
  </div>  
  <div class="form-group">
      <label class="sr-only" lng>Subsystem</label>
      <select class="form-control" ng-model="e_subsystem"><option ng-repeat="subsys in ::subsystems" value="{{ subsys }}" lng="EVENTLOG_SUBSYSTEM_{{::subsys}}"></option></select>
  </div>
  <div class="form-group">
      <label class="sr-only" lng>Event type</label>
      <select class="form-control" ng-model="e_event_type" ng-options="et for et in eventtypes"></select>
  </div>

  <button class="btn btn-default" ng-click="pipeHelper.re()" lng>Apply filter</button>

</div>

<br/>


  <table mc-grid st-pipe="refetch" class="loginlog-table">
    <caption lng>Event list</caption>
    <thead>
      <tr>
        <th st-sort="e_timestamp" lng>Timestamp</th>
        <th st-sort="e_username" lng>Username</th>
        <th st-sort="e_ip" lng>IP address</th>
        <th st-sort="e_subsystem" lng>Subsystem</th>
        <th st-sort="e_event_type" lng>Event</th>
        <th st-sort="e_agent" lng>Client application</th>
        <th st-sort="e_other" lng>Other info</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in displayedCollection" >

        <td >{{::event.e_timestamp}}</td>
        <td >{{::event.e_username}}</td>
        <td >{{::event.e_ip}}</td>
        <td lng="EVENTLOG_SUBSYSTEM_{{event.e_subsystem}}"></td>
        <td>{{::event.e_event_type}}</td>
        <td >{{::event.e_agent}}</td>
        <td >{{::event.e_other}}</td>
      </tr>
    </tbody>
  </table>
