<mc-superuser-fileman-in-progress server="{{::server}}"></mc-superuser-fileman-in-progress>

<h3 lng>Commander tests</h3>
<div class="text-center">
  <button class="btn btn-default" mc-files mc-files-params="multiple" mc-files-raw="doUpload(files)" ><span lng>Multiple file upload and SHA1</span></button>

  <button class="btn btn-default" ng-click="doDownload()" lng>Download</button>

  <button class="btn btn-default" ng-click="doLongReadSimple()" lng>Long response (simple)</button>
</div>


<h3 lng>Long response (while uploading)</h3>

    <div class="form-group">
    <input type="file" fileread="content"  >
    </div>

<div class="text-center">
  <button class="btn btn-default" ng-disabled="!content" ng-click="doLongReadDouble()" lng>Start</button>
</div>

